<!DOCTYPE html>

<html lang="ja"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="Content-Language" content="ja">
	<meta name="viewport" content="width=480">
	<title>美容室「Milk tea」</title>
	<meta name="title" content="美容室「Milk tea」">
	<link rel="stylesheet" type="text/css" href="/stylesheets/assets/milktea-new/style.css">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<script src="/javascripts/assets/milk-tea-new/jquery-3.3.1.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id="page-index"><div id="bgLayer">
<div id="pagetop"></div>

	<header>
		<%= render :partial=>"#{LayoutScheme.asset_root}/milk-tea-new/header" %>
	</header>

	<main>
		<section>
				<div id="profile">
					<div class="profile-in all-center-1280 sp-LR15">
						<div class="wrapper-waku">
							<div class="cover-waku">
								<div class="contents-flex">
									<div class="left">
										<% 
											photo = '//placehold.it/327x327&amp;text=No Photo'
											unless @seed.photos.blank?
												photo = reorder_by_position_photo(@seed.photos, true).first
											end
										%>
										<div class="img-cover"><%= image_tag photo.clip.url(:panel) %></div>
									</div>
									<div class="right">
										<div class="profile-text">
											<div class="profile-flex">
												<div class="name-flex">
													<div class="name"><%= @seed.name %></div>
													<div class="official-position-cover">
														<div class="official-position"><%= @seed.job_title %></div>
													</div>
												</div>
												<div class="insta-reserve-cover">
													<div class="insta-reserve">
														<div class="icon pointer1">
															<% unless @seed.social_facebook_uri.blank? %>
																<a href="<%= @seed.social_facebook_uri%>" target='_blank'><i class='fa-brands fa-facebook fa-2x'></i></a></a>
															<% end %>
															<% unless @seed.social_twitter_uri.blank? %>
																<a href="<%= @seed.social_twitter_uri %>" target='_blank'><i class='fa-brands fa-twitter fa-2x'></i></a>
															<% end %>
															<% unless @seed.social_instagram_uri.blank? %>
																<a href="<%= @seed.social_instagram_uri %>" target='_blank'><i class='fa-brands fa-instagram fa-2x'></i></a>
															<% end %>
															<% unless @seed.social_line_uri.blank? %>
																<a href="<%= @seed.social_line_uri %>" target='_blank'><i class='fa-brands fa-line fa-2x'></i></a>
															<% end %>
															<% unless @seed.social_pinterest_uri.blank? %>
																<a href="<%= @seed.social_pinterest_uri %>" target='_blank'><i class='fa-brands fa-pinterest fa-2x'></i></a>
															<% end %>
															<% unless @seed.social_tumblr_uri.blank? %>
																<a href="<%= @seed.social_tumblr_uri %>" target='_blank'><i class='fa-brands fa-tumblr fa-2x'></i></a>
															<% end %>
															<% unless @seed.web_reservation_uri.blank? %>
																<a href="<%= @seed.web_reservation_uri %>" target='_blank'><%= reservation_icon('WEB予約', 'fa-2x') %></a>
															<% end %>
																<%= hotpepper_staff_banner(@seed, false, 'vertical-align: top; padding-top: 1px;') %>
																<%= youtube_staff_banner(@seed, false) %>
														</div>
														<div class="hotpepper-cover">
															<% if @seed.id == 92 %>
																<a href="https://beauty.hotpepper.jp/slnH000230521/coupon/">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 98%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000230521&stylistId=T000367247">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 99%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000230521&stylistId=T000191268">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 569%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000230521&stylistId=T000191268">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 248%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000348459&stylistId=T000490834">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 512%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000348459&stylistId=T000610124">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 619%>
															<% elsif @seed.id == 620%>
															<% elsif @seed.id == 103%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000424555&stylistId=T000557454">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 96%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000424555&stylistId=T000511636">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 453%>
																<a href="https://beauty.hotpepper.jp/slnH000424555/coupon/">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 334%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000349275&stylistId=T000355987">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 335%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000349275&stylistId=T000383759">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 571%>
															<% elsif @seed.id == 97%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000526228&stylistId=T000685455">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 454%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000526228&stylistId=T000691762">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% elsif @seed.id == 621%>
																<a href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000536979&stylistId=T000699386">
																	<div class="hotpepper pointer1">
																		<div class="hot-logo-cover">
																			<img src="/images/assets/milk-tea-new/hpb_icon_bk.png" alt="ホットペッパー　ロゴ">
																		</div>
																			<div class="hotpepper-text">指名して予約する</div>
																	</div>
																</a>
															<% end %>
														</div>
													</div>
												</div>
											</div>
											<div class="charactor-cover">
												<div class="charactor">
													<div class="charactor-text">
														<% unless @seed.description.blank? %>
															<%= raw @seed.description %>
														<% end %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="back-cover">
									<div class="back">
										<div class="text-cover-abso">
											<a href="<%= url_for :action=>'home', :anchor=>'stylist-jump', :wkey=>@website.wsite_hash_key %>">
												<div class="detail-arrow pointer3"> 
													<div></div>
													<div class="detail">戻る</div>
													<div class="arrow">→</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	</main>

	<footer>
		<div id="inquiry">
			<div class="wrapper-waku">
				<div class="cover-waku">
					<div id="footer-under">
						<div class="wrapper-mini">
							<div class="cover-mini">
								<div class="contents-mini">c 2022 Milk tea LLC All rights Reserved.</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</footer>
	<div id="return-cover">
		<a href="#pagetop" class="return">&#8743;</a>
	</div>

</div>
</body></html>
