<%  lis  = "27ac677851db26419e0d821b37dc9e22" %>
<%  ens  = "6d747da5bf38d7171f268545b0652d1c" %>
<%  lm   = "cd32ac74ed5ca6837f8c86d4ed67a149" %>
<%  codo = "f90c2c82832eb4a51b59eb07559b7a05" %>
<%  lis_reserve  = VisualWidget.search_widget_bag_for(@website, "ed2c77df73391fca4eba611024a1bebb") %>
<%  ens_reserve  = VisualWidget.search_widget_bag_for(@website, "2b3a0b066d2afc9b033a5b834bd1c8a5") %>
<%  lm_reserve   = VisualWidget.search_widget_bag_for(@website, "6f97f4aa2ec82081cb1ccb567bfa287a") %>
<%  codo_reserve = VisualWidget.search_widget_bag_for(@website, "a0801ffa53b4042395bab083bd3acf74") %>
<%  gmap         = VisualWidget.search_widget_bag_for(@website, "7b00091b89512103948e219c48f13048") %>
<%  carousel     = VisualWidget.search_widget_bag_for(@website, "a8762216a720d76ee46a83c023f84df0") %>
<main id="main">
	<div class="container">
		<article>
			<div id="brand">
<%  if @website.wsite_hash_key == lis %>
<%      shop = "/lis" %>
				<i class="icon-lis"></i>
<%  elsif @website.wsite_hash_key == ens %>
<%      shop = "/ens" %>
				<i class="icon-ens"></i>
<%  elsif @website.wsite_hash_key == lm %>
<%      shop = "/lm" %>
				<i class="icon-lm"></i>
<%  elsif @website.wsite_hash_key == codo %>
<%      shop = "/codo" %>
				<i class="icon-codo"></i>
<%  else %>
<%      shop = "" %>
				<i class="icon-lis"></i>
<%  end %>
<% unless @website.social_instagram_uri.blank? %>
				<a href="<%= @website.social_instagram_uri %>" target="_blank">
					<i class="icon-instagram"></i>
				</a>
<% end %>
			</div>
			<div id="shop-article">
				<div id="info">
					<div id="brand2">
<%  if @website.wsite_hash_key == ens %>
				        <i class="icon-ens"></i>
<%  elsif @website.wsite_hash_key == lm %>
				        <i class="icon-lm"></i>
<%  elsif @website.wsite_hash_key == codo %>
				        <i class="icon-codo"></i>
<%  else %>
				        <i class="icon-lis"></i>
<%  end %>
<% unless @website.social_instagram_uri.blank? %>
        				<a href="<%= @website.social_instagram_uri %>" target="_blank">
        					<i class="icon-instagram"></i>
        				</a>
<% end %>
					</div>
					<ul id="subnav">
						<li>
							<a href="<%= shop %>/contact_us">
								staff
							</a>
						</li>
<%  if @website.wsite_hash_key == ens %>
<%      unless ens_reserve.blank? && !ens_reserve.is_valid? %>
						<li>
							<a href="<%= ens_reserve.data_string %>" target="_blank">
								reservation
								<img src="/assets/fleur.de-lis.com/img/hpb.png" alt="ご予約">
							</a>
						</li>
<%      end %>
<%  elsif @website.wsite_hash_key == lm %>
<%      unless lm_reserve.blank? && !lm_reserve.is_valid? %>
						<li>
							<a href="<%= lm_reserve.data_string %>" target="_blank">
								reservation
								<img src="/assets/fleur.de-lis.com/img/hpb.png" alt="ご予約">
							</a>
						</li>
<%      end %>
<%  elsif @website.wsite_hash_key == codo %>
<%      unless codo_reserve.blank? && !codo_reserve.is_valid? %>
						<li>
							<a href="<%= codo_reserve.data_string %>" target="_blank">
								reservation
								<img src="/assets/fleur.de-lis.com/img/hpb.png" alt="ご予約">
							</a>
						</li>
<%      end %>
<%  else %>
<%      unless lis_reserve.blank? && !lis_reserve.is_valid? %>
						<li>
							<a href="<%= lis_reserve.data_string %>" target="_blank">
								reservation
								<img src="/assets/fleur.de-lis.com/img/hpb.png" alt="ご予約">
							</a>
						</li>
<%      end %>
<%  end %>
<!--
						<li>
<%  if @website.wsite_hash_key == ens %>
<%      if request.host == 'sr2.swifty.jp' %>
			                <a href="https://sr2.swifty.jp/collcetions?id=3527&wkey=<%= ens %>">
<%      else %>
			                <a href="https://fleur.de-lis.com/ens/collcetions?id=3527">
<%      end %>
<%  elsif @website.wsite_hash_key == lm %>
<%      if request.host == 'sr2.swifty.jp' %>
			                <a href="https://sr2.swifty.jp/collcetions?id=3540&wkey=<%= lm %>">
<%      else %>
			                <a href="https://fleur.de-lis.com/lm/collcetions?id=3540">
<%      end %>
<%  elsif @website.wsite_hash_key == codo %>
<%      if request.host == 'sr2.swifty.jp' %>
			                <a href="https://sr2.swifty.jp/collcetions?id=3748&wkey=<%= codo %>">
<%      else %>
			                <a href="https://fleur.de-lis.com/codo/collcetions?id=3748">
<%      end %>
<%  else %>
<%      if request.host == 'sr2.swifty.jp' %>
			                <a href="https://sr2.swifty.jp/collcetions?id=3514&wkey=<%= lis %>">
<%      else %>
			                <a href="https://fleur.de-lis.com/lis/collcetions?id=3514">
<%      end %>
<%  end %>
								hair style
							</a>
						</li>
-->
						<li>
							<a href="#access">
								access
							</a>
						</li>
					</ul>
<% unless @website.wsite_description_business.blank? %>
                    <%=raw @website.wsite_description_business%>
<% end %>
				</div>
				<div id="obj">
<%  if @website.wsite_hash_key == ens %>
					<img src="/assets/fleur.de-lis.com/img/ens-back.jpg" alt="">
<%  elsif @website.wsite_hash_key == lm %>
					<img src="/assets/fleur.de-lis.com/img/lm-back.jpg" alt="">
<%  elsif @website.wsite_hash_key == codo %>
					<img src="/assets/fleur.de-lis.com/img/codo-back.jpg" alt="">
<%  else %>
					<img src="/assets/fleur.de-lis.com/img/lis-back.jpg" alt="">
<%  end %>
				</div>
			</div>
		</article>
		<aside id="shop-aside">
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/corousel" %>
			<div id="access">
				<div>
<%  if !gmap.blank? && gmap.is_valid? %>
<%=     raw gmap.data_string %>
<%  end %>
				</div>
			</div>
		</aside>
	</div>
</main>
