<!doctype html>
<%  home = "a386021cedc3584c6999c6f1c2115f48" %>
<%  lis  = "27ac677851db26419e0d821b37dc9e22" %>
<%  ens  = "6d747da5bf38d7171f268545b0652d1c" %>
<%  lm   = "cd32ac74ed5ca6837f8c86d4ed67a149" %>
<%  codo = "f90c2c82832eb4a51b59eb07559b7a05" %>
<% fbappid = VisualWidget.search_widget_bag_for(@website, "953cce676964cb38b96279606962f082") %>
<%
    shopalt = "/" + @website.alt_id
    shopalt.slice!(".fleur.de-lis.com")
    if shopalt == "/www"
        shopalt = ""
    end
%>
<html lang="ja">
<head prefix="og: http:http://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="https://<%= request.host + shopalt + url_for(:action=>'news_show', :id=>@seed) %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% key_photo = key_photo(@seed) %>
<% unless key_photo.blank? %>
<meta property="og:image"             content="https://<%= request.host + shopalt + key_photo.clip.url() %>">
<% end %>
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%  if request.host != 'sr2.swifty.jp' %>
<link href="https://<%= request.host %><%= shopalt %>/news_feed.rss" rel="alternate" title="News | fleur de lis" type="application/rss+xml" />
<link href="https://<%= request.host %><%= shopalt %>/stream_feed.rss" rel="alternate" title="BLOG | fleur de lis" type="application/rss+xml" />
<%  end %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/css" %>
</head>
<body id="news_show">
<main id="main">
	<div class="container">
		<article>
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/contents_header" %>
<!-- パンくずリスト -->
			<div id="breadcrumbs">
                <ol>
<% if request.host == 'sr2.swifty.jp' %>
                    <li><a href="https://sr2.swifty.jp/home?wkey=<%= home %>"><i class="icon-home"></i></a></li>
<%  else %>
                    <li><a href="https://fleur.de-lis.com/home"><i class="icon-home"></i></a></li>
<% end %>
<%  if @website.wsite_hash_key != home %>
<%      if request.host == 'sr2.swifty.jp' %>
                    <li><a href="https://sr2.swifty.jp/home?wkey=<%= @website.wsite_hash_key %>"><%= @website.name %></a></li>
<%      else %>
                    <li><a href="https://fleur.de-lis.com<%= shopalt %>/home"><%= @website.name %></a></li>
<%      end %>
<%  end %>
<% unless @seed.content_category.has_only_a_public_bag? %>
<%      if request.host == 'sr2.swifty.jp' %>
                    <li><a href="https://sr2.swifty.jp<%= url_for(:action=>'news_index', :id=>@seed.content_category.my_bag_root_category.parent, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      else %>
                    <li><a href="https://fleur.de-lis.com<%= shopalt %><%= url_for(:action=>'news_index', :id=>@seed.content_category.my_bag_root_category.parent) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      end %>
<% end %>
<% @seed.content_category.category_path(true).each do | category | %>
<%      if request.host == 'sr2.swifty.jp' %>
                    <li><%= link_to category.category_label, :action=>"news_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
<%      else %>
                    <li><%= link_to category.category_label, :action=>"news_list", :id=>category %></li>
<%      end %>
<% end %>
                    <li class="active">
                        <%= model_title(@seed) %>
                    </li>
                </ol>
            </div>
			<h1><%= model_title(@seed) %></h1>
			<p class="date"><i class="icon-edit"></i> <%= publish_label(@seed) %></p>
			<div id="contents">
<% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
			</div>
		</article>
	</div>
    <%= leaf_navigation(@seed) %>
</main>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/footer" %>
<!-- サイトヘッダー -->
<%  if @website.wsite_hash_key == home %>
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/home_header" %>
<%  else %>
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/header" %>
<%  end %>
<!-- main nav -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/navigation" %>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleur.de-lis.com/common_js" %>
<!-- page specific javascript -->
<!-- Instafeed js -->
<script async src="//www.instagram.com/embed.js"></script>
</body>
</html>
