<!DOCTYPE html>
<html lang="ja">
    <head>
		<title>ホーム - <%= @website.name %></title>
        <%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/head_logic" %>
    </head>
    <body>
        <div class="spinner">
        </div>
        <!--============================== header =================================-->
        <header>
	        <%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/header" %>
        </header>
        <div class="bg-content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!--============================== slider =================================-->
						<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_slider"%>
                        <span id="responsiveFlag"></span>
						<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_news_headline"%>
                    </div>
                </div>
            </div>
            <!--============================== content =================================-->
            <div id="content" class="content-extra">
                <div class="ic">
                </div>
<!--
                <div class="row-1">
                    <div class="container">
                        <div class="row">
                        	<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_gallery_list" %>
                        </div>
                    </div>
                </div>
-->
                <div class="container">
                    <div class="row">
<!--
                        <article class="span6">
                        	<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_shop_info"%>
                        </article>
                        <article class="span6">
                        	<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_latest_blogs" %>
                        </article>
-->
                        <article class="span12">
                        	<%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/home_shop_info"%>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--============================== footer =================================-->
        <footer>
	        <%= render :partial=>"#{LayoutScheme.asset_root}/cure-futamatagawa.com/footer" %>
        </footer>
    </body>
</html>
