<%= render :partial=>"layouts/tiny_mce", :locals=>{:target=>item} %>

<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">タイトル</label>
	<div class="col-sm-8">
		<%= f.text_field :title,  {class: "form-control", placeholder: "タイトルを入力", :required => true, autofocus: true}  %>
	</div>
</div>

<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">説明文</label>
	<div class="col-sm-8">
		<%= f.text_area :description_2, {value: item.description_2, class: "form-control", :rows=>"5", placeholder: "説明文を入力", autofocus: true} %>
	</div>
</div>

<div class="control-group">
	<% if @shop.enable_editor %>
		<textarea name="item[description]" style="min-height:800px;max-height:1200px" id="summernote"><%= item.description%></textarea>
		<%= render :partial=>"layouts/summernote", locals: {ref_id: item.id} %>
	<% else %>
		<%= text_area  'item', 'description', :class => "tinymce input-block-level", rows: 40, :placeholder=>"ページコンテンツを入力します。" %>
		<script type="text/javascript">
			tinyMCE.init({
				selector: 'textarea.tinymce',
				theme_advanced_toolbar_location: "top",
				theme_advanced_statusbar_location: "bottom",
				theme_advanced_buttons3_add: ["tablecontrols"],
				plugins: "table,image,code,link,forecolor,backcolor,emoticons",
				<% unless item.blank? %>
					<% unless item.photos.blank? %>
					image_list: [ 
						<%= photo_array(item.photos).html_safe %>
						],
					<% end %>
				<% end %>
				relative_urls : false,
				convert_urls: false,
				content_style: 'img { max-width: 100%; height: auto; }' ,
				resize: 'both',
				toolbar: [" image emoticons | alignleft aligncenter alignjustify  alignright | forecolor backcolor | link | formatselect | fontselect | fontsizeselect | bold italic underline| blocks | outdent indent | table | undo redo | code |"],
				language: 'ja'})
		</script>
	<% end %>
</div>
