<div class="mb-3 row">
	<label for="login" class="col-sm-4 col-form-label">サイト・キーワード</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_keywords, {class: "form-control", placeholder: "サイト・キーワードを入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="job_title" class="col-sm-4 col-form-label">サイトの説明</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_description_shop,  {class: "form-control", placeholder: "サイトの説明を入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="wsite_telephone" class="col-sm-4 col-form-label">問い合わせ電話番号</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_telephone,  {class: "form-control", placeholder: "サイトに掲示される電話番号を入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="wsite_email" class="col-sm-4 col-form-label">ホームページ表示メールアドレス</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_email,  {class: "form-control", placeholder: "サイトに掲示されるメールアドレスを入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="inquiry_email" class="col-sm-4 col-form-label">お問い合わせ通知メールアドレス</label>
	<div class="col-sm-8">
		<%= f.text_field  :inquiry_email,  {class: "form-control", placeholder: "お問い合わせ通知メールアドレスを入力", autofocus: true}  %>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<%= f.label :enable_inquiry, 'お問い合わせ機能', {class: 'form-label'} %>
		<% is_enable_inquiry = @shop.enable_inquiry %>
	</div>
	<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
		<input type="radio" class="btn-check" name="shop[enable_inquiry]" id="btnradio3" value='1' <%= 'checked' if is_enable_inquiry %>>
		<label class="btn btn-outline-primary" for="btnradio3">有効</label>

		<input type="radio" class="btn-check" name="shop[enable_inquiry]" id="btnradio4" value='0' <%= 'checked' unless is_enable_inquiry %>>
		<label class="btn btn-outline-primary" for="btnradio4">無効</label>

	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<%= f.label :enable_editor, '新編集機能', {class: 'form-label'} %>
		<% is_enable_editor = @shop.enable_editor %>
	</div>
	<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
		<input type="radio" class="btn-check" name="shop[enable_editor]" id="btnradio44" value='1' <%= 'checked' if is_enable_editor %>>
		<label class="btn btn-outline-primary" for="btnradio44">有効</label>

		<input type="radio" class="btn-check" name="shop[enable_editor]" id="btnradio45" value='0' <%= 'checked' unless is_enable_editor %>>
		<label class="btn btn-outline-primary" for="btnradio45">無効</label>

	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<%= f.label :enable_tag, 'タグ機能', {class: 'form-label'} %>
		<% is_enable_tag = @shop.enable_tag %>
	</div>
	<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
		<input type="radio" class="btn-check" name="shop[enable_tag]" id="btnradio13" value='1' <%= 'checked' if is_enable_tag %>>
		<label class="btn btn-outline-primary" for="btnradio13">有効</label>

		<input type="radio" class="btn-check" name="shop[enable_tag]" id="btnradio14" value='0' <%= 'checked' unless is_enable_tag %>>
		<label class="btn btn-outline-primary" for="btnradio14">無効</label>

	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<%= f.label :use_disqus, 'ブログコメント', {class: 'form-label'} %>
		<% is_use_disqus = @shop.use_disqus %>
	</div>
	<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
		<input type="radio" class="btn-check" name="shop[use_disqus]" id="btnradio27" value='1' <%= 'checked' if is_use_disqus %>>
		<label class="btn btn-outline-primary" for="btnradio27">使用する</label>

		<input type="radio" class="btn-check" name="shop[use_disqus]" id="btnradio28" value='0' <%= 'checked' unless is_use_disqus %>>
		<label class="btn btn-outline-primary" for="btnradio28">使用しない</label>

	</div>
</div>
<div class="mb-3 row">
	<label for="copyright_notice" class="col-sm-4 col-form-label">コピーライト</label>
	<div class="col-sm-8">
		<%= f.text_field  :copyright_notice,  {class: "form-control", placeholder: "カスタム・コピーライト表示", :required => false, autofocus: true}  %>
	</div>
</div>
