<div class="col">
  <div class="card h-100">
    <% unless photo.blank? %>
      <%= image_tag photo.clip.url(:thumb) %>
    <% else %>
      <img src="https://placehold.jp/22/cfcfcf/ffffff/320x240.png?text=No%20Photo%0A">
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= h truncate(photo.info, :length=>20) %></p>
    </div>
    <div class="card-footer">
      <%= (photo.first?)?	raw("◁"):	link_to(raw("◀"), 	:action=>"photo_shop_higher", :id=>photo) %>
      <%= photo.position %>
      <%= (photo.last?)? 	raw("▷"): link_to(raw("▶"), 	:action=>"photo_shop_lower",	:id=>photo) %>

      <span class="float-right">
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_photo_<%=photo.id%>">
            <%= edit_icon('キャプション')%><div class='d-none d-lg-inline'>&nbsp;キャプション</div>
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete_photo_<%=photo.id%>">
            <%= trash_icon('削除確認')%><div class='d-none d-lg-inline'>&nbsp;削除…</div>
          </button>
      </span>
    </div>
  </div>
</div>