<div class="col">
  <div class="card h-100">
    <% unless photo.blank? %>
      <%= image_tag photo.clip.url(:thumb), class: "card-img-top" %>
    <% else %>
      <img src="https://placehold.jp/22/cfcfcf/ffffff/320x180.png?text=No%20Photo%0A" class="card-img-top">
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= h truncate(photo.info, :length=>20) %></p>
    </div>
    <div class="card-footer">
        <%= (photo.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"),  :action=>"photo_higher", :id=>@item.id, :photo_id=>photo) %>
        <%= photo.position %>
        <%= (photo.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"),   :action=>"photo_lower",	 :id=>@item.id, :photo_id=>photo) %>
        <span class="float-right">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_photo_<%=photo.id%>">
            <%= edit_icon('キャプション')%>
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete_photo_<%=photo.id%>">
            <%= trash_icon('削除確認')%>…
            </button>
        </span>
    </div>
  </div>
</div>