<style>
    #map {
        width: 100%;
        height: 277px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "一覧", url_for(:action=>'company_show_shop', :id=>@shop)  %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@shop) %></li>
</ul>


<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<div class='d-none d-md-inline'>サイト</div>設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>


<h4>
	<span class="float-right">
		<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:action=>'company_show_shop') %>" data-turbolinks='false'>
			<%= backward_icon('戻る')%>&nbsp;戻る
		</a>
	</span>
	店舗説明文
</h4>
<br/>
<%= form_tag url_for(:action=>"company_update_shop", :id=>@shop), :class=>"xxform-horizontal", method: :patch do -%>
		<%= render :partial=>"form_shop_description", locals:{shop: @shop} %>
		<div class="form-actions text-right">
			<% url_cancel = url_for(:action=>"company_show_shop", :id=>@item) %>
			<a class="btn btn-secondary btn-sm" href="<%= url_cancel %>" data-turbolinks='false'>
				<%= cancel_icon('キャンセル')%>&nbsp;&nbsp;キャンセル
			</a>
			<button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新')%>&nbsp;&nbsp;更新</button>
		</div>
<% end -%>
