<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "一覧", url_for(:action=>'company_show_shop', :id=>@shop)  %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to "固定ページ編集", url_for(:action=>'edit_fix_page', :id=>@item)  %>&nbsp;<span class="divider">/</span></li>
  <li class="active">画像素材一覧</li>
</ul>
	
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>">店舗ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>

<h4>
	<p class="float-right">
		<a class="btn btn-sm btn-secondary" href="<%= url_for(:action=>'edit_fix_page', :id=>@item) %>" data-turbolinks='false'>
			<%= backward_icon('戻る')%>&nbsp;
			戻る
		</a>
		<a class="btn btn-info btn-sm" href="<%= url_for(:action=>'new_page_photo', :id=>@item) %>" data-turbolinks='false'>
			<i class="fa-solid fa-camera"></i>&nbsp;
			素材追加
		</a>
	</p>
	画像素材
</h4>

<div class="row">
	<% array = @item.photos.order(position: :asc).in_groups_of(3, false)%>
	<% for i in 0..(array.size-1) %>
		<% @lines = array[i] %>
	        <div class="col-sm-4">
	        	<% if @lines.size>=1 %>
					<%= render :partial=>"item_fixed_page_photo", :locals => {:photo => @lines[0]} %>
				<% end %>
			</div>		
	        <div class="col-sm-4">
	        	<% if @lines.size>=2 %>
					<%= render :partial=>"item_fixed_page_photo", :locals => {:photo => @lines[1]} %>
				<% end %>
			</div>		
	        <div class="col-sm-4">
	        	<% if @lines.size>=3 %>
					<%= render :partial=>"item_fixed_page_photo", :locals => {:photo => @lines[2]} %>
				<% end %>
			</div>
	<% end %>
</div>
