
<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "一覧", url_for(:action=>'shop_list_staffs', :id=>@item.shop)  %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@item), url_for(:action=>'shop_show_staff', :id=>@item)  %>&nbsp;<span class="divider">/</span></li>
  <li class="active">写真追加</li>
</ul>
	
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>">店舗ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>

<h4>
	<div class="float-right">
		<p>
			<% url_back = url_for(:action=>"shop_show_staff", :id=>@item) %>
			<a class="btn btn-sm btn-secondary" href="<%=url_back%>">
				<%= backward_icon('戻る') %>&nbsp;
				戻る
			</a>
		</p>
	</div>
	写真追加
	:
	<%= model_name(@item) %>
</h4>

<% if true %>
	<% item = Photo.new %>
	<%= form_tag(admin_config_create_staff_photo_path(id: @item),method: :post, class: "dropzone",id: 'dropzone') do %>
	<div class="fallback">
		<%= file_field_tag('photo[clip]') %>
	</div>
	<% end %>
	<script>
		Dropzone.options.dropzone = {
			paramName: "photo[clip]",
			maxFilesize: 20,
			acceptedFiles: "image/*",
			init: function() {
				this.on('complete', function (file) {
					//location.reload();
				})
			}
		}
	</script>
<% end %>
