<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>
	
<ul class="nav nav-tabs">
	<li>				<a href="<%= url_for(:action=>'company_show_shop') %>">店舗情報</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_staffs') %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_users') %>">店舗ユーザー</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_show_website') %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a></li>
	<li class="active">	<a href="<%= url_for(:action=>'shop_site_navigation') %>">ナビゲーション</a></li>
</ul>

<h4>
	<div class="pull-right">
		<p>
			<% url_back = url_for(:action=>"list_page_photo", :id=>@item) %>
			<a class="btn btn-small" href="<%=url_back%>">
				<i class="icon-arrow-left"></i>&nbsp;
				戻る
			</a>
		</p>
	</div>
	<%= model_title(@item) %>
	:
	画像素材追加
</h4>

<% if true %>
	<% item = Photo.new %>
	<%= form_tag(bs_config_create_page_photo_path(id: @item),method: :post, class: "dropzone",id: 'dropzone') do %>
	<div class="fallback">
		<%= file_field_tag('photo[clip]') %>
	</div>
	<% end %>
	<script>
		Dropzone.options.dropzone = {
			paramName: "photo[clip]",
			maxFilesize: 1,
			acceptedFiles: "image/*",
			init: function() {
				this.on('complete', function (file) {
					//location.reload();
				})
			}
		}
	</script>
<% end %>
