<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<% if current_user.has_permission?(User::ROLE_REGISTRAR) %>
			<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@shop) %>">
				<%= backward_icon('戻る')%>&nbsp;ダッシュボード
			</a>
		<% end %>
	</span>
	<h3>店舗設定</h3>
</header>
	
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<div class='d-none d-md-inline'>サイト</div>設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>


<header class="subhead" id="overview">
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<span class="float-right">
			<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNew">
				<%= new_icon('登録') %>&nbsp;
				スタッフ登録
			</button>
		</span>
	<% end %>
	<h4>
	店舗スタッフ一覧
	</h4>
</header>

<% if @staffs.blank? %>
	<p class="text-error">店舗スタッフが登録されていません</p>
<% else %>
	<table class="table table-hover table-xbordered">
		<thead>
			<tr>
				<th class="span4 xtable-dark"><span class="float-right"><span class="badge badge-success"><%= @staffs.size %></span></span>スタッフ名</th>
				<th class="span4 d-none d-md-table-cell">職位/タイトル</th>
				<th class="span4 d-none d-md-table-cell">ソーシャル</th>
			</tr>
		</thead>
		<tbody>
			<% @staffs.order(position: :asc).each do | staff | %>
				<tr>
					<td>
						<% if current_user.has_permission?(User::ROLE_MANAGER) %>
							<span class="float-right">
								<%= (staff.first?)?	caret_top_icon:		link_to(caret_top_icon, :action=>"staff_top",	:id=>staff) %>
								<%= (staff.first?)?	caret_up_icon:		link_to(caret_up_icon, :action=>"staff_higher",	:id=>staff) %>
								<%= (staff.last?)? 	caret_down_icon: 	link_to(caret_down_icon, :action=>"staff_lower", 	:id=>staff) %>
								<%= (staff.last?)? 	caret_bottom_icon: 	link_to(caret_bottom_icon, :action=>"staff_bottom", 	:id=>staff) %>
							</span>
						<% end %>						
						
						<% url = url_for(:action=>"shop_show_staff", :id=>staff) %>
						<a href="<%=url%>" class='text-primary'>
							<%= icon_staff_status_6(staff.staff_status) %>
							<%= model_name(staff) %>
							<%= link_to_6_icon %>
						</a>
					</td>
					<td class='d-none d-md-table-cell'><%=staff.job_title%></td>
					<td class='d-none d-md-table-cell'>
						<%= raw "<i class='fa-brands fa-facebook fa-2x'></i>"		unless staff.social_facebook_uri.blank? %>
						<%= raw "<i class='fa-brands fa-x-twitter fa-2x'></i></a>"		unless staff.social_twitter_uri.blank? %>
						<%= raw "<i class='fa-brands fa-instagram fa-2x'></i>"			unless staff.social_instagram_uri.blank? %>
						<%= raw "<i class='fa-brands fa-pinterest fa-2x'></i>"	unless staff.social_pinterest_uri.blank? %>
						<%= raw "<i class='fa-brands fa-tumblr fa-2x'></i>"		unless staff.social_tumblr_uri.blank? %>
						<%= raw "<img src='/images/assets/hpb_icon.png' style='vertical-align: top;' alt='HOTPEPPER Beauty'/>"unless staff.social_hotpepper_beauty_uri.blank? %>
						<%= raw "<i class='fa-brands fa-youtube fa-2x'></i>"		unless staff.social_youtube_uri.blank? %>
						<%= raw "<i class='fa-brands fa-line fa-2x'></i>"		unless staff.social_line_uri.blank? %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<% @staff = Staff.new %>
			<%= form_for @staff, url: admin_config_shop_create_staff_path(staff_id: @staff.id), method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">新規スタッフ登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_staff", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-success btn-sm"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
