<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "一覧", url_for(:action=>'shop_list_users', :id=>@user.shop)  %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@user) %></li>
</ul>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>">店舗ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>

<h4>
	<span class="float-right">
		<a class="btn btn-small btn-secondary" href="<%= url_for(:action=>'shop_list_users', :id=>@user.shop) %>">
		<i class="fa-solid fa-arrow-left"></i>&nbsp;
			一覧
		</a>
		<% if current_user==@user || current_user.has_permission?(User::ROLE_MANAGER) %>	
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEdit">
			<%= edit_icon('編集') %>&nbsp;編集
		</button>
		<% end %>
	</span>
	店舗ユーザー情報
</h4>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>役割</th><td width='75%'><%= label_user_role(@user.role)%></td>
		</tr>
		<tr>
			<th>表示名</th><td><%= model_name(@user)%></td>
		</tr>
		<tr <% if @user.banned? %>class="error"<%end%>>
			<th>ログイン</th>
			<td>
				<%= @user.login %>
				<% if @user.banned? %>
					<br/>
					<small>
						<i class="fa-solid fa-ban"></i>
						アカウントがブロックされています。
						ユーザー情報の更新（パスワード更新等）が必要です。
					</small>
				<% end %>
			</td>
		</tr>
		<% if true %>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<% end %>
		<% if current_user==@user || current_user.has_permission?(User::ROLE_MANAGER) %>	
		<tr>
			<th>パスワード</th>
			<td>
				<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditPassword">
						<%= update_icon('編集') %>&nbsp;パスワード再発行
				</button>
			</td>
		</tr>
		<% end %>
		<tr>
			<th>バージョン</th>
			<td>
				<%= user_ui_version_label(@user) %>
			</td>
		</tr>
	</tbody>
</table>

<% unless @user==current_user %>
	<div class="well">
		<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
			<%= trash_icon('削除確認') %>&nbsp;削除確認
		</button>
	</div>
<% end %>
				
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @user, url: admin_config_shop_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditPassword" tabindex="-1" aria-labelledby="modalEditPassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_config_shop_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">パスワード再発行</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_password", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_config_shop_delete_user_path(id: @user), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= @user.login %>」を削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<% if false %>
<!-- modalEdit -->
<div class="modal hide fade form-horizontal", id="modalEdit">
	<%= form_for @user, url: bs_config_shop_update_user_path(id: @user), method: :patch do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">ユーザー編集</h3>
		</div>
		<div class="modal-body">
			<%= render :partial=>"form_user" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<!-- modalEditPassword -->
<div  class="modal hide fade form-horizontal", id="modalEditPassword">
	<%= form_for @user, url: bs_config_shop_update_user_path(id: @user), method: :patch do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">パスワード再発行</h3>
		</div>
		<div class="modal-body">
			<%= render :partial=>"form_user_password" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<!-- modalDeleteUser -->
<div  class="modal hide fade form-horizontal", id="modalDelete">
	<%= form_for @user, url: bs_config_shop_delete_user_path(id: @user), method: :delete do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">ユーザー削除</h3>
		</div>
		<div class="modal-body">
			<p>
				「<%= @user.login %>」を削除します。<br/>
				よろしいですか？
			</p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;削除</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
		</div>
	<% end %>
</div>
<% end %>
