<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<% if current_user.has_permission?(User::ROLE_REGISTRAR) %>
			<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@shop) %>">
				<%= backward_icon('戻る')%>&nbsp;ダッシュボード
			</a>
		<% end %>
	</span>
	<h3>店舗設定</h3>
</header>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<div class='d-none d-md-inline'>サイト</div>設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>

<header class="subhead" id="overview">
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<span class="float-right">
			<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNew">
				<%= new_icon('登録') %>&nbsp;ユーザー登録
			</button>
		</span>
	<% end %>
	</h4>
	店舗ユーザー一覧
	</h4>
</header>

<% if @users.blank? %>
	<p class="text-error">ユーザーが登録されていません</p>
<% else %>
	<table class="table table-hover table-xbordered">
		<thead>
			<tr class="info">
				<th class="span2 xtable-dark">役割</th>
				<th class="span3 xtable-dark">表示名</th>
				<th class="span3 xtable-dark">ログイン</th>
				<th class="span4 d-none d-md-table-cell">Email</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do | user | %>
				<tr <% if user.banned? %>class="error"<%end%>>
					<td><%=label_user_role(user.role)%></td>
					<td><%=model_name(user)%></td>
					<td>
						<% if user.banned? %>
							<span class="float-right"><i class="icon-ban-circle"></i></span>
						<% end %>
						<% url = url_for(:action=>"shop_show_user", :id=>user) %>
						<a href="<%=url%>" class='text-primary'>
							<%= user.login %>
							<%= link_to_6_icon %>
						</a>
					</td>
					<td class='d-none d-md-table-cell'><%= user.email %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<% @user = User.new %>
			<%= form_for @user, url: admin_config_shop_create_user_path(shop_id: @shop.id), method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">新規ユーザー登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user", locals: {f: f, item: @user}  %>
					<%= render :partial=>"form_user_password", locals: {f: f, item: @user}  %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-success btn-sm"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>


<% if false %>
<!-- modalNew -->
<div class="modal hide fade form-horizontal", id="modalNew">
<%= form_for @shop, url: bs_config_shop_create_user_path(shop_id: @shop.id), method: :post do |f| -%>
	<% @user = User.new %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">新規ユーザー登録</h3>
	</div>
	<div class="modal-header">
		<%= render :partial=>"form_user" %>
		<%= render :partial=>"form_user_password" %>
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;キャンセル</button>
    	<button type="submit" class="btn btn-success btn-sm"><%= new_icon('登録') %>&nbsp;&nbsp;登録</button>
	</div>
<% end %>
</div>
<% end %>
