<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<% if current_user.has_permission?(User::ROLE_REGISTRAR) %>
			<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@shop) %>">
				<%= backward_icon('戻る')%>&nbsp;ダッシュボード
			</a>
		<% end %>
	</span>
	<h3>店舗設定</h3>
</header>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<div class='d-none d-md-inline'>サイト</div>設定</a>
	</li>
	<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
		<li class="nav-item">
			<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
		</li>
	<% end %>
</ul>

<header class="subhead" id="overview">
	<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>
		<span class="float-right">
			<a class="btn btn-sm btn-outline-primary" href="<%= url_for(:controller=>'bs_renderer', :wkey=>current_user.shop.wsite_hash_key) %>" target="_blank" data-turbolinks='false'>
				<%= share_icon('表示') %>
				サイト表示
			</a>
			<% if @shop.default_root_child.page_type==WebPage::TYPE_FIX %>
				<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ErrorTopPageAsFixPage">
					<%= error_icon %>
					サイト編集不可
				</button>
			<% else %>
				<a class="btn btn-sm btn-outline-warning" href="<%= url_for(:controller=>'bs_authoring', :action=>'index', :wkey=>current_user.shop.wsite_hash_key) %>" data-turbolinks='false'>
					<%= edit_icon('編集') %>
					サイト編集
				</a>
			<% end %>
		</span>
	<% end %>
	<h4>
	サイト設定
	</h4>
</header>

<div class="modal fade" id="ErrorTopPageAsFixPage" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><%= error_icon %> 固定ページ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					このサイトのトップ・ページは固定ページが設定されています。<br/>
					固定ページがトップ・ページの場合、デザイン編集はできません。<br/>
					デザイン編集時は、一時的にトップ・ページを「ホーム」や「ブログ」などのテンプレートページをホームにして下さい。
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">閉じる</button>
			</div>
        </div>
    </div>
</div>


<table class="table table-bordered">
	<tbody>
		<% site_status_class = (@shop.wsite_run_mode==Shop::WSITE_BLOCKED)? 'danger': ((@shop.wsite_run_mode==Shop::WSITE_TRIAL)? 'warning': 'success') %>
		<tr class="<%=site_status_class%>">
			<th width="25%">サイト・ステータス</th>
			<td width="75%">
				<p class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEdit">
						<%= edit_icon('設定編集') %>&nbsp;設定編集
					</button>
				</p>
				<%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<%= label_site_status(@shop.wsite_run_mode) %>
				<div class="muted"><small>ステータスの変更は、<%=BRAND_NAME%>担当営業までご連絡下さい。</small></div>
			</td>
		</tr>
		<tr>
			<th>サイトURL</th>
			<td><%= @shop.wsite_url %></td>
		</tr>
		<tr>
			<th>サイト・キーワード</th>
			<td><%= @shop.wsite_keywords%></td>
		</tr>
		<tr>
			<th>サイトの説明</th>
			<td><%= @shop.wsite_description_shop%></td>
		</tr>
		<tr>
			<th>問い合わせ電話番号</th>
			<td><%= @shop.wsite_telephone%></td>
		</tr>
		<tr>
			<th>ホームページ表示メールアドレス</th>
			<td><%= @shop.wsite_email%></td>
		</tr>
		<tr>
			<th>お問い合わせ通知メールアドレス</th>
			<td><%= @shop.inquiry_email%></td>
		</tr>
		<tr>
			<th>お問い合わせ機能</th>
			<td>
				<% if @shop.enable_inquiry %>
					有効
				<% else %>
					無効
				<% end %>
			</td>
		</tr>
		<% if false %>
		<tr>
			<th>新編集機能</th>
			<td>
				<% if true || @shop.enable_editor %>
					有効
				<% else %>
					無効
				<% end %>
			</td>
		</tr>
		<% end %>
		<tr>
			<th>ブログコメント機能</th>
			<td>
				<%= (@shop.use_disqus)? raw("使用する"): "使用しない"%>
				<% if @shop.use_disqus && @shop.disqus_code.blank? %>
					<p class="text-error">
						<i class="icon-warning-sign"></i>
						ブログコメント機能をサイトに導入する必要があります。
						<%=BRAND_NAME%>担当営業までご連絡下さい。	
					</p>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>コピーライト表示</th>
			<td><%= copyright_notice(@shop) %></td>
		</tr>
	</tbody>
</table>

<%
	tmp_color  = @shop.wsite_color_deploy
	tmp_layout = @shop.wsite_layout_deploy
%>
<table class="table table-bordered">
	<tbody>
		<tr class="<%=site_status_class%>">
			<th width="25%">カラー</th>
			<td width="75%">
				<b>
				<%= (tmp_color.blank?)? '未設定': model_name(tmp_color) %>
				</b>
				<% unless tmp_color.blank? %>
				(
					<%= tmp_color.repository_path %>
				)
				<% end %>
			</td>
		</tr>
		<tr class="<%=site_status_class%>">
			<th width="25%">レイアウト</th>
			<td width="75%">
				<b>
					<%= (tmp_layout.blank?)? '未設定': model_name(tmp_layout) %>
				</b>
				<% unless tmp_layout.blank? %>
					(
						<%= tmp_layout.repository_path %>
					)
				<% end %>
			</td>
		</tr>
	</tbody>
</table>


<table class="table table-bordered">
	<tbody>
		<tr>
			<th width="25%">ソーシャル</th>
			<td width="75%">
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditSocial">
						<%= setting_icon('設定') %>&nbsp;ソーシャル設定
					</button>
				</span>
				<%= raw "<a href=#{@shop.social_facebook_uri} target='_blank' title=#{@shop.social_facebook_uri}><i class='fa-brands fa-facebook fa-2x'></i></a>"		unless @shop.social_facebook_uri.blank? %>
				<%= raw "<a href=#{@shop.social_twitter_uri} target='_blank' title=#{@shop.social_twitter_uri}><i class='fa-brands fa-twitter fa-2x'></i></a>"		unless @shop.social_twitter_uri.blank? %>
				<%= raw "<a href=#{@shop.social_instagram_uri} target='_blank' title=#{@shop.social_instagram_uri}><i class='fa-brands fa-instagram fa-2x'></i></a>"		unless @shop.social_instagram_uri.blank? %>
				<%= raw "<a href=#{@shop.social_pinterest_uri} target='_blank' title=#{@shop.social_pinterest_uri}><i class='fa-brands fa-pinterest fa-2x'></i></a>"	unless @shop.social_pinterest_uri.blank? %>
				<%= raw "<a href=#{@shop.social_tumblr_uri} target='_blank' title=#{@shop.social_tumblr_uri}><i class='fa-brands fa-tumblr fa-2x'></i></a>"			unless @shop.social_tumblr_uri.blank? %>
				<%= raw "<a href=#{@shop.social_hotpepper_beauty_uri} target='_blank' title=#{@shop.social_hotpepper_beauty_uri}><img src='/images/assets/hpb_icon.png' style='vertical-align: top;' alt='HOTPEPPER Beauty'/></a>"	unless @shop.social_hotpepper_beauty_uri.blank? %>
				<%= raw "<a href=#{@shop.social_youtube_uri} target='_blank' title=#{@shop.social_youtube_uri}><i class='fa-brands fa-youtube fa-2x'></i></a>"			unless @shop.social_youtube_uri.blank? %>
				<%= raw "<a href=#{@shop.social_line_uri} target='_blank' title=#{@shop.social_line_uri}><i class='fa-brands fa-line fa-2x'></i></a>"			unless @shop.social_line_uri.blank? %>
				<%= raw "<a href=#{@shop.web_reservation_uri} target='_blank' title=#{@shop.web_reservation_uri}>#{reservation_icon('WEB予約', 'fa-2x')}</a>"			unless @shop.web_reservation_uri.blank? %>
			</td>
		</tr>
		<tr>
			<th width="25%">タグ</th>
			<td width="75%">
				<% if @shop.enable_tag %>
					<% @shop.shop_tags.order(name: :asc).each do | tag | %>
						<span class="badge badge-pill badge-primary"><%= tag_icon %>&nbsp;<%= tag_name(tag) %></span>
					<% end %>
					<% if @shop.shop_tags.blank? %>
						<span class='text-danger'><%= info_icon('タグ設定') %>&nbsp;<%= tag_title %>設定がありません。</span>
					<% end %>
					<span class="float-right">
						<a type="button" class="btn btn-info btn-sm" href="<%= tags_path%>">
							<%= setting_icon('設定') %>&nbsp;タグ設定
						</a>
					</span>
				<% else %>
				 無効
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
			<%= form_for @shop, url: admin_config_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">サイト属性編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_shop_wsite", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditSocial" tabindex="-1" aria-labelledby="modalEditSocial" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_config_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗ソーシャル設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_shop_social", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
