<style>
    #map {
        width: 100%;
        height: 450px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>
	
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin_config', :action=>'company_show_shop', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_staffs', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_list_users', :id=>@shop) %>"><div class='d-none d-md-inline'>店舗</div>ユーザー</a>
	</li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
		<li class="nav-item">
			<a class="nav-link " href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;<div class='d-none d-md-inline'>サイト</div>設定</a>
		</li>
			<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
				<li class="nav-item">
					<a class="nav-link" href="<%= url_for(:controller=>'admin_config', :action=>'shop_site_navigation', :id=>@shop) %>">ナビゲーション</a>
				</li>
			<% end %>
	<% end %>
</ul>

<div class="form-horizontal well">
	<fieldset>
		<legend>最寄りの地点を入力</legend>
		<div class="control-group">
			<label class="control-label" for="alt_id">住所/ランドマーク</label>
			<div class="controls">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input class="input-large search-query" type="text" id="address">
				<input class="btn btn-primary btn-sm" type="button" value="検索" onclick="moveMap();">
			</div>
		</div>
	</fieldset>
</div>
<br/>


<%= form_tag url_for(:action=>"shop_update_position", :id=>@shop), :class=>"form-horizontal", method: :patch do -%>
	<%= hidden_field_tag 'lat', @shop.lat %>
	<%= hidden_field_tag 'lng', @shop.lng %>
	<table class="table table-bordered">
		<tbody>
			<tr class="warning">
				<td>
					<strong><%= model_name(@shop) %></strong>
					<span class="float-right">
						<a class="btn btn-sm btn-secondary" href="<%= url_for(:action=>'company_show_shop', :id=>@shop) %>">
							<%= backward_icon('戻る')%>&nbsp;戻る
						</a>
						&nbsp;<span class="divider">|</span>&nbsp;
						<% if @shop.gps? %>
							<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeletePosition">
								<i class="fa-solid fa-eraser"></i>&nbsp;
								位置をクリア
							</button>
						<% end %>
						&nbsp;<span class="divider">|</span>&nbsp;
						<button type="submit" class="btn btn-success btn-sm"><%= submit_icon('設定')%>&nbsp;&nbsp;ピンの位置に設定</button>
					</span>
				</td>
			</tr>
			<tr>
				<td><div id="map" style='height: 600px;'></div></td>
			</tr>
		</tbody>
	</table>
<% end %>


<script>
  var map;
  var shop_marker;
  <% if @shop.gps? %>
    var latlng = { lat: <%= @shop.lat %>, lng: <%= @shop.lng %> };
  <% else %>
    var latlng = { lat: 35.681382, lng: 139.766084 };
  <% end %>
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: latlng,
      zoom: 16
    });
    shop_marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
    map.addListener('click', function(event) {
      shop_marker.setPosition(event.latLng);
      document.getElementById('lat').value = event.latLng.lat();  
      document.getElementById('lng').value = event.latLng.lng();  
    });
  }
  function moveMap() {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      'address': document.getElementById('address').value
    }, function(result, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.panTo(result[0].geometry.location);
        shop_marker.setPosition(result[0].geometry.location);
        document.getElementById('lat').value = result[0].geometry.location.lat();  
        document.getElementById('lng').value = result[0].geometry.location.lng();  
      } else {
        alert("見つかりませんでした。");
      }
    });
  }
  window.onload = function () {
    initMap();
  }
</script>


<!-- modalDeletePosition -->
<%= form_tag url_for(:action=>"shop_delete_position"), {:class=>"modal hide fade form-horizontal", :id=>"modalDeletePosition", method: :delete} do -%>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">位置をクリア</h3>
	</div>
	<div class="modal-body">
		<p>
			「<%= model_name(@shop) %>」
			の位置情報（緯度、経度）をクリアします<br/>
			よろしいですか？
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">キャンセル</button>
    	<button type="submit" class="btn btn-danger btn-sm">&nbsp;&nbsp;実行</button>
	</div>
<% end %>

<% if false %>
<script>
	<% if @shop.gps? %>
	    var latlng = new google.maps.LatLng(<%= @shop.lat %>, <%= @shop.lng %>);
	<% else %>
	    var latlng = new google.maps.LatLng(35.681382, 139.766084);
	<% end %>
    var options = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map'), options);
	
	var shop_marker; 
	<% if @shop.gps? %>
	    shop_marker = new google.maps.Marker({
	        position:latlng,
	        map: map
	    });
	<% end %>
	
	google.maps.event.addListener(map, 'click', function(event) {
			if (shop_marker!=null) { shop_marker.setMap(null); }
            shop_marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });
			document.getElementById('lat').value = event.latLng.lat();	
			document.getElementById('lng').value = event.latLng.lng();	
    })
	
    function moveMap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': document.getElementById('address').value
        }, function(result, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.panTo(result[0].geometry.location);
				/*
                var marker = new google.maps.Marker({
                    position: result[0].geometry.location,
                    map: map
                });
                */
            } else {
                alert("見つかりませんでした。");
            }
        });
    }
</script>
<% end %>
