<div class="control-group">
	<label class="control-label" for="social_facebook_uri">
		Facebook
		<i class="icon-facebook-sign icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_facebook_uri', :placeholder=>"Facebook URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_twitter_uri">
		twitter
		<i class="icon-twitter-sign icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_twitter_uri', :placeholder=>"Twitter URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_instagram_uri">
		Instagram
		<i class="icon-instagram icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_instagram_uri', :placeholder=>"Instagram URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_pinterest_uri">
		pinterest
		<i class="icon-pinterest-sign icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_pinterest_uri', :placeholder=>"pinterest URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_tumblr_uri">
		tumlr.
		<i class="icon-tumblr-sign icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_tumblr_uri', :placeholder=>"tumblr. URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_instagram_uri">
		HOTPEPPER Beauty
		<i class="icon-flag icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_hotpepper_beauty_uri', :placeholder=>"HOTPEPPER Beauty URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_youtube_uri">
		YouTube
		<i class="icon-youtube icon-large"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_youtube_uri', :placeholder=>"Youtube URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="social_line_uri">
		LINE
		<img src="/images/assets/line_icon.png" alt="LINE" />
	</label>
	<div class="controls">
		<%= text_field 'staff', 'social_line_uri', :placeholder=>"LINE URI", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="web_reservation_uri">
		WEB予約
		<i class="icon-calendar"></i>
	</label>
	<div class="controls">
		<%= text_field 'staff', 'web_reservation_uri', :placeholder=>"WEB予約 URI", :autocomplete => "off" %>
	</div>
</div>
