<div class="thumbnail">
	<%= image_tag photo.clip.url(:thumb) %>
	<div class="caption">
		<p><%=photo.info%></p>
		<p class="text-center"><a class="btn btn-danger btn-mini"  data-toggle="modal" href="#modal_delete_photo_<%=photo.id%>">	<i class="icon-trash"></i>&nbsp;削除確認</a></p>
	</div>
</div>

<div id="modal_delete_photo_<%=photo.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">削除確認</h3>
  </div>
  <div class="modal-body">
    <p>写真を削除します。よろしいですか？</p>
  </div>
  <div class="modal-footer">
	<%= form_tag({:action => 'delete_color_photo', :id=>photo}, :class=>"form-horizontal")  do %>
		<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> 削除</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
  	<%end%>  	
  </div>
</div>
