<style>
    #map {
        width: 100%;
        height: 277px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>レジストリー</h3>
</header>
	

<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 					:controller=>"dashboard", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@item.company), 	:controller=>"dashboard", :action=>"company_show", :id=>@item.company %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@item) %></li>
</ul>

<ul class="nav nav-tabs">
	<li class="active">	<a href="<%= url_for(:controller=>'dashboard', :action=>'company_show_shop', 	:id=>@item) %>">店舗情報</a></li>
	<li>				<a href="<%= url_for(:controller=>'dashboard', :action=>'shop_list_staffs', 	:id=>@item) %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:controller=>'dashboard', :action=>'shop_list_users', 		:id=>@item) %>">店舗ユーザー</a></li>
	<li>				<a href="<%= url_for(:controller=>'dashboard', :action=>'shop_show_website',	:id=>@item) %>"><%= icon_site_status(@item.wsite_run_mode) %>&nbsp;サイト属性</a></li>
</ul>

<div class="row">
	<div class="span8">
		<h4>
			<span class="pull-right">
				<a class="btn btn-small btn-warn" href="<%= url_for(:action=>'company_list_shop', :id=>@item.company) %>">
				<i class="icon-arrow-left"></i>&nbsp;戻る
				</a>
				
				<a class="btn btn-small btn-success"  data-toggle="modal" href="#modalEdit">
					<i class="icon-pencil"></i>&nbsp;編集
				</a>
			</span>
			店舗情報
		</h4>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="span3">店舗ID</td>
					<td class="span9">
						<%= model_alt_id(@item) %>
					</td>
				</tr>
				<tr>
					<td>名称</td>
					<td>
						<span class='pull-right'>
							  <div class="btn-group">
									<a class="btn btn-mini btn-info" href="<%= url_for(:controller=>'bs_renderer', :wkey=>@shop.wsite_hash_key) %>" target="_blank">
										<i class="icon-share"></i>
										サイト表示
									</a>
									<%= link_to raw("<i class='icon-signin'></i>&nbsp;&nbsp;店舗管理画面"), {:action=>'delegating', :id=>@item}, :method => :post, :class=>"btn btn-mini btn-primary" %>
									<% url_business = url_for(:action=>"company_show_shop_usage", :id=>@shop) %>
									<a href="<%=url_business%>" class="btn btn-warning btn-mini">
										<%= icon_site_status(@shop.wsite_run_mode) %>
										利用状況表示
									</a>
							  </div>
						</span>
						<%= model_name(@item) %>
					</td>
				</tr>
				<% if false %>
				<tr>
					<td>営業時間</td>
					<td>
						<%= @item.operation_from.strftime("%l:%M %p")%>
						〜
						<%= @item.operation_until.strftime("%l:%M %p")%>
					</td>
				</tr>
				<tr>
					<td>電話番号</td><td><%= @item.telephone_1 %></td>
				</tr>
				<% end %>
				<tr>
					<td>郵便番号</td><td><%= @item.postal %>&nbsp;</td>
				</tr>
				<tr>
					<td>住所</td><td><%= @item.address_1 %>&nbsp;</td>
				</tr>
			</tbody>
		</table>

		<% unless MAKE_SECRET_FUGA_OPTION %>
		<hr/>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr class="info">
					<th colspan="2">
						<span class="pull-right">
							<a class="btn btn-small btn-success"  data-toggle="modal" href="#modalEditOption">
								<i class="icon-wrench"></i>&nbsp;
									設定
							</a>
						</span>
						オプション
					</th>
				</tr>
			<thead>
			<tbody>
				<tr>
					<td class="span3">勤怠管理</td>
					<td class="span9">
						<%= (@item.option_attendance_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
					</td>
				</tr>
				<tr>
					<td>簡易予約管理</td>
					<td>
						<%= (@item.option_reservation_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
					</td>
				</tr>
				<tr>
					<td>顧客管理</td>
					<td>
						<%= (@item.option_customer_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
					</td>
				</tr>
				<% if false %>
				<tr>
					<td>売上管理</td>
					<td>
						<%= (@item.option_sales_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>		
		<% end %>

		<% if current_user.has_permission?(User::ROLE_SUPER) || @item.wsite_run_mode<Shop::WSITE_PUBLISHED %>
		<div class="well">
			<a class="btn btn-small btn-danger"  data-toggle="modal" href="#modalDelete">
			<i class="icon-trash"></i>&nbsp;
				削除確認
			</a>
		</div>
		<% end %>
				
	</div>
	<div class="span4">

		<h5>
			<span class="pull-right">
				<% url_edit_position = url_for(:action=>"shop_edit_position", :id=>@item) %>							
		  		<a class="btn btn-mini btn-info" href="<%= url_edit_position %>">
					<i class="icon-globe"></i>&nbsp;
		  			設定
				</a>
			</span>
			位置情報
		</h5>
		
		<% if @shop.gps? %>
			<div id="map"></div>
		<% else %>
			<div class="alert alert-block">
			  <h4>Warning!</h4>
			  位置情報が未設定です。
			</div>
		<% end%>
	</div>
</div>


<!-- modalEdit -->
<div class="modal hide fade form-horizontal", id="modalEdit">
	<%= form_for @shop, url: dashboard_company_update_shop_path(id: @shop), method: :patch do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">店舗情報編集</h3>
		</div>
		<div class="modal-body">
			<%= render :partial=>"form_shop" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>

<!-- modalEditOption -->
<%= form_tag url_for(:action=>"company_update_shop", :id=>@shop), {:class=>"modal hide fade form-horizontal", :id=>"modalEditOption", method: :patch} do -%>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">オプション設定</h3>
	</div>
	<div class="modal-body">
		<%= render :partial=>"form_shop_option" %>
	</div>
	<div class="modal-footer">
    	<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;設定</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
	</div>
<% end %>

<!-- modalDeleteShop -->
<div class="modal hide fade form-horizontal", id="modalDelete">
	<%= form_for @item, url: dashboard_company_delete_shop_path(id: @item), method: :delete do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">店舗削除</h3>
		</div>
		<div class="modal-body">
			<p>
				「<%= @item.name %>」を削除します。<br/>
				この店舗に関連する情報も削除されます。<br/>
				よろしいですか？
			</p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;削除</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
		</div>
	<% end %>
</div>

<script>
    var latlng = new google.maps.LatLng(<%= @item.lat %>, <%= @item.lng %>);
    var options = {
        zoom: 14,
        center: latlng,
		disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map'), options);

	var marker = new google.maps.Marker({
            position: latlng,
            map: map
        });	
    
    function moveMap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': document.getElementById('address').value
        }, function(result, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.panTo(result[0].geometry.location);
                var marker = new google.maps.Marker({
                    position: result[0].geometry.location,
                    map: map
                });
            } else {
                alert("見つかりませんでした。");
            }
        });
    }
</script>
