<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>レジストリー</h3>
</header>
	
<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 	:controller=>"dashboard", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@item) %></li>
</ul>

<ul class="nav nav-tabs">
	<li>				<a href="<%= url_for(:controller=>'dashboard', :action=>'company_show', 		:id=>@item) %>">レジストリー</a></li>
	<li>				<a href="<%= url_for(:controller=>'dashboard', :action=>'company_list_shop', 	:id=>@item) %>">登録店舗</a></li>
	<li class="active">	<a href="<%= url_for(:controller=>'dashboard', :action=>'company_list_user', 	:id=>@item) %>">オーナー・ユーザー</a></li>
</ul>

<h4>
	<p class="pull-right">
		<a class="btn btn-small btn-success"  data-toggle="modal" href="#modalNew">
			<i class="icon-plus"></i>&nbsp;
			オーナー・ユーザー登録
		</a>
	</p>
	オーナー・ユーザー一覧
	<%= current_user.name%>
</h4>
<% if @users.blank? %>
	<p class="text-error">ユーザーが登録されていません</p>
<% else %>
	<table class="table table-hover table-bordered">
		<thead>
			<tr class="info">
				<th class="span4">表示名</th>
				<th class="span4"><span class="pull-right"><span class="badge badge-success"><%= @users.size %></span></span>ログイン</th>
				<th class="span4">連絡先</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do | user | %>
				<tr <% if user.banned? %>class="error"<%end%>>
					<td><%= model_name(user) %></td>
					<td>
						<% if user.banned? %>
							<span class="pull-right"><i class="icon-ban-circle"></i></span>
						<% end %>
						<% url = url_for(:action=>"company_show_user", :id=>user) %>
						<a href="<%=url%>">
							<i class='icon-chevron-sign-right'></i>
							<%= user.email %>
						</a>
					</td>
					<td><%= user.email %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>


<!-- modalNew -->
<div class="modal hide fade form-horizontal", id="modalNew">
	<%= form_for @item, url: dashboard_company_create_user_path(id: @item), method: :post do |f| -%>
		<% 
			@user = User.new 
			@user.role = User::ROLE_OWNER
		%>
		<%= hidden_field 'user', 'role'%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">オーナー・ユーザー登録</h3>
		</div>
		<div class="modal-header">
			<%= render :partial=>"form_user_owner" %>
			<%= render :partial=>"form_user_password" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;登録</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
