<!-- === Masthead === -->
<header class="subhead" id="overview">
	<p class="pull-right">
		<a class="btn btn-small" href="<%= url_for(:action=>'manage_widget') %>" data-turbolinks='false'>
			<i class="icon-arrow-left"></i>
			戻る
		</a>
	</p>
	<h3>
		<%= @widget_bag.visual_widget.position %>
		:
		[<%= widget_type_string(@widget_bag.visual_widget.widget_type) %>]
		<%= model_title(@widget_bag.visual_widget) %>
	</h3>
	<blockquote><%= h @widget_bag.visual_widget.description %></blockquote>


	<% item = Photo.new %>
	<%= form_tag(bs_authoring_create_widget_bag_photo_path(id: @widget_bag),method: :post, class: "dropzone",id: 'dropzone') do %>
		<div class="fallback">
			<%= file_field_tag('photo[clip]') %>
		</div>
	<% end %>
	<script>
		Dropzone.options.dropzone = {
			paramName: "photo[clip]",
			maxFilesize: 20,
			acceptedFiles: 'image/*,.webp',
			init: function() {
				this.on('complete', function (file) {
					//location.reload();
				})
			}
		}
	</script>
