<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title>施術料金表 | <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/css" %>
</head>
<body>
<div id="body" class="scroolwrap">
    <div class="scrooler">
        <div id="main" class="container" role="main">
                    <h1 class="en"><%= model_name(@seed) %> <SPAN>施術料金</span></h1>
                    <!-- <h1><%= model_name(@seed) %></h1> -->
                    <article id="menu">
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/portfolio_leafs", :locals=>{:seed=>@seed} %>
                    </article>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/footer" %>
    </div>
</div>
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/header" %>
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav" class="scroolwrap">
    <div class="scrooler">
<% logomark = VisualWidget.search_widget_bag_for(@website, "62aa95cab0dd63e669fa466996f2b97b") %>
<% if !logomark.blank? && logomark.is_valid? %>
        <div id="tnav_logo">
            <img src="//<%= request.host %><%= url_for_file_column(logomark.photos[0], :image) %>" alt="logomark">
        </div>
<% end %>
        <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/navigation" %>
            <li>
<%      if request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=08ebd0bbcad881d718362fef54ee81e8">MORI<span> BEAUTY CORPORATION</span></a>
<%      else %>
                <a href="http://www.mori-bc.co.jp/">MORI<span> BEAUTY CORPORATION</span></a>
<%      end %>
            </li>
        </ul>
    </div>
</aside>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
