<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%=model_title(@seed) %> - <%= @website.name %></title>
    <%= render :partial=>"#{LayoutScheme.asset_root}/stylish-portfolio-speed/head_logic" %>

    <!-- Add custom CSS here -->
    <style>
		body {margin-top: 60px;}
		footer {margin-top: 60px;}
		#myTab {margin-bottom:30px;}
	</style>

  </head>

  <body>
	<br/>
	<%= render :partial=>"#{LayoutScheme.asset_root}/stylish-portfolio-speed/navigation" %>
    
    <div class="container">
		<%= yield %>
    <%= leaf_navigation(@seed) %>
    </div>

    <div class="container">
	  <%= render :partial=>"#{LayoutScheme.asset_root}/stylish-portfolio-speed/footer" %>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
