        <ul class="contentslist">
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_information" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_info.jpg" alt="Imformation image">
                    </div></div>
                    <h3>Imformation</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_products" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_products.jpg" alt="The products image">
                    </div></div>
                    <h3>The products</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_trend" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_trend.jpg" alt="Trend image">
                    </div></div>
                    <h3>Trend</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_laboratoryn" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_labn.jpg" alt="Laboratory N image">
                    </div></div>
                    <h3>Laboratory.N</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_education" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_educa.jpg" alt="Education image">
                    </div></div>
                    <h3>Education</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_management" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_man.jpg" alt="Management image">
                    </div></div>
                    <h3>Management</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_lifestyle" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_life.jpg" alt="Life style image">
                    </div></div>
                    <h3>Life style</h3>
                </a>
            </li>
            <li>
<%= render :partial=>"#{LayoutScheme.asset_root}/view/anker_photocontest" %>
                    <div class="imgbox"><div>
                        <img src="/assets/imgs/contents_photocon.jpg" alt="Photo contest image">
                    </div></div>
                    <h3>Photo contest</h3>
                </a>
            </li>
        </ul>
