    <aside>
        <img src="/assets/imgs/head_products.jpg" alt="The products">
    </aside>
    <article id="article">
        <header>
            <h1>The products</h1>
            <div>商品情報</div>
        </header>
        <div class="header">
            <h2>category</h2>
        </div>
        <ul class="categorylist">
            <li>
<%  if request.host == 'staffroom.swifty.jp' %>
                <a href="https://<%= request.host %>/news?id=4221&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="https://<%= request.host %>/news?id=4221">
<%  end %>
                    hair care
                </a>
            </li>
            <li>
                <img src="/assets/imgs/category_slash5.png" alt="">
            </li>
            <li>
<%  if request.host == 'staffroom.swifty.jp' %>
                <a href="https://<%= request.host %>/news?id=4222&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="https://<%= request.host %>/news?id=4222">
<%  end %>
                    hair color
                </a>
            </li>
            <li>
                <img src="/assets/imgs/category_slash5.png" alt="">
            </li>
            <li>
<%  if request.host == 'staffroom.swifty.jp' %>
                <a href="https://<%= request.host %>/news?id=4223&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="https://<%= request.host %>/news?id=4223">
<%  end %>
                    perm
                </a>
            </li>
            <li>
                <img src="/assets/imgs/category_slash5.png" alt="">
            </li>
            <li>
<%  if request.host == 'staffroom.swifty.jp' %>
                <a href="https://<%= request.host %>/news?id=4224&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="https://<%= request.host %>/news?id=4224">
<%  end %>
                    cosme
                </a>
            </li>
            <li>
                <img src="/assets/imgs/category_slash5.png" alt="">
            </li>
            <li>
<%  if request.host == 'staffroom.swifty.jp' %>
                <a href="https://<%= request.host %>/news?id=4225&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="https://<%= request.host %>/news?id=4225">
<%  end %>
                    other
                </a>
            </li>
        </ul>
<%
    @max = 30
    type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    navigation = type_root.web_page
    bag_categories = type_root.children.where('is_public=?', true)

    public_categories  = []
    bag_categories.each do | cat |
        public_categories.concat(cat.sons)
        public_categories << cat
    end
    latest_leafs = @website.public_leafs.where("content_category_id IN (?)", public_categories).order(publish_from: :desc).limit(@max)
    #c = ContentLeaf.public_leafs_condition
    #c.and "content_category_id", public_categories
    #latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<%  unless latest_leafs.blank? %>
        <ul class="articlelist">
<%
        latest_leafs.each do | leaf |
            if leaf.content_category_id >= 4221 && leaf.content_category_id <= 4225
                if request.host == 'staffroom.swifty.jp'
                    page_url  = url_for(:action=>'news_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
                else
                    page_url  = url_for(:action=>'news_show', :id=>leaf)
                end
                publish   = leaf.publish_from.strftime("%Y-%m-%d")
                key_photo = key_photo(leaf)
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.jp/24/eeeeee/424242/320x180.png?text=Click'
                end
%>
            <li>
<%              if leaf.content_category_id == 4221 %>
                <div class="category">hair care</div>
<%              elsif leaf.content_category_id == 4222 %>
                <div class="category">hair color</div>
<%              elsif leaf.content_category_id == 4223 %>
                <div class="category">perm</div>
<%              elsif leaf.content_category_id == 4224 %>
                <div class="category">cosme</div>
<%              else %>
                <div class="category">other</div>
<%              end %>
                <a href="<%= page_url %>">
                    <div class="imgbox"><div>
                        <img src="<%= image_url %>" alt="<%= model_title(leaf) %>">
                    </div></div>
                    <div class="date"><%= publish %></div>
                    <h3><%= model_title(leaf) %></h3>
                </a>
            </li>
<%          end %>
<%      end %>
        </ul>
<%  end %>
    </article>
