    <aside id="whats">
        <header>
            <h2>what&apos;s new</h2>
        </header>
<%
    @max = 6
    type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    navigation = type_root.web_page
    bag_categories = type_root.children.find(:all, :conditions=>["is_public=?", true])

    public_categories  = []
    bag_categories.each do | cat |
        public_categories.concat(cat.sons)
        public_categories << cat
    end
    c = ContentLeaf.public_leafs_condition
    c.and "content_category_id", public_categories
    latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<%  unless latest_leafs.blank? %>
        <ul class="articlelist">
<%
        latest_leafs.each do | leaf |
            if request.host == 'staffroom.swifty.jp'
                page_url  = url_for(:action=>'news_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
            else
                page_url  = url_for(:action=>'news_show', :id=>leaf)
            end
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = url_for_file_column(key_photo, :image, 'panel')
            else
                image_url = '//placehold.jp/24/eeeeee/424242/320x180.png?text=Click'
            end
%>
            <li>
<%          if leaf.content_category_id == 4216 %>
                <div class="category">Information</div>
<%          elsif leaf.content_category_id == 4221 %>
                <div class="category">The products - hair care</div>
<%          elsif leaf.content_category_id == 4222 %>
                <div class="category">The products - hair color</div>
<%          elsif leaf.content_category_id == 4223 %>
                <div class="category">The products - perm</div>
<%          elsif leaf.content_category_id == 4224 %>
                <div class="category">The products - cosme</div>
<%          elsif leaf.content_category_id == 4225 %>
                <div class="category">The products - other</div>
<%          elsif leaf.content_category_id == 4226 %>
                <div class="category">Trend - hair</div>
<%          elsif leaf.content_category_id == 4230 %>
                <div class="category">Trend - make</div>
<%          elsif leaf.content_category_id == 4231 %>
                <div class="category">Trend - fashion</div>
<%          elsif leaf.content_category_id == 4232 %>
                <div class="category">Laboratory.N</div>
<%          elsif leaf.content_category_id == 4233 %>
                <div class="category">Education</div>
<%          elsif leaf.content_category_id == 4234 %>
                <div class="category">Management</div>
<%          elsif leaf.content_category_id == 4235 %>
                <div class="category">Life style</div>
<%          elsif leaf.content_category_id == 4236 %>
                <div class="category">Photo contest</div>
<%          else %>
                <div class="category">other</div>
<%          end %>
                <a href="<%= page_url %>">
                    <div class="imgbox"><div>
                        <img src="<%= image_url %>" alt="<%= model_title(leaf) %>">
                    </div></div>
                    <div class="date"><%= publish %></div>
                    <h3><%= model_title(leaf) %></h3>
                </a>
            </li>
<%      end %>
        </ul>
<%  end %>
    </aside>
