<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% else %>
<% fbappid = VisualWidget.search_widget_bag_for(@website, "771773aec444b42e2e7dafa0fcb96841") %>
<% unless fbappid.blank? || fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="article">
<% if false %>
    <meta property="og:url"               content="https://<%= request.host + url_for(:action=>'gallery_show', :id=>@seed) %>">
<% end %>
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/triad/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/style" %>
</head>
<!--[if !IE]><!-->
<body>
<!--<![endif]-->
<!--[if IE]>
<body id="ie">
<div id="browserupgrade">あなたは<strong>古い</strong>アプリケーションをご利用のようです。<a href="http://browsehappy.com/">最新のブラウザ</a>に更新して快適なインターネットをお楽しみ下さい。</div>
<![endif]-->
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/header" %>
<!-- グローバルナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/navigation" %>
        <div>
            <div class="container">
<!-- パンくずリスト -->
                    <aside id="breadcrumbs">
                        <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
                            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                            <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.content_category.has_only_a_public_bag? %>
<%      if true || request.host == 'sr2.swifty.jp' %>
                            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.content_category.my_bag_root_category.parent, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      else %>
                            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.content_category.my_bag_root_category.parent) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      end %>
<% end %>
<% @seed.content_category.category_path(true).each do | category | %>
<%      if true || request.host == 'sr2.swifty.jp' %>
                            <li><%= link_to category.category_label, :action=>"gallery_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
<%      else %>
                            <li><%= link_to category.category_label, :action=>"gallery_list", :id=>category %></li>
<%      end %>
<% end %>
                            <li class="active">
                                <%= model_title(@seed) %>
                            </li>
                        </ol>
                    </aside>
                    <!-- <h1><%= model_title(@seed.content_category.my_bag_root_category.parent) %></h1> -->
                    <article id="article" class="wrapper">
                        <div class="col-1p2">
                            <div id="gallery">
<% @photos = @seed.photos %>
<% unless @photos.blank? %>
                                <ul>
    <% @photos.each do | photo | %>
                                    <li>
                                        <img src="<%= photo.clip.url() %>" alt="">
        <% unless photo.info.blank? %>
                                        <div class="caption"><%=h photo.info%></div>
        <% end %>
                                    </li>
    <% end %>
                                </ul>
                                <div id="gallery_prev"><i class="fa fa-chevron-circle-left"></i></div>
                                <div id="gallery_next"><i class="fa fa-chevron-circle-right"></i></div>
<% end %>
                            </div>
                        </div>
                        <div class="col-1p2">
                            <header>
                                <h1><%= model_title(@seed) %></h1>
<% unless @seed.staff.blank? || @seed.staff.staff_status==Staff::STAFF_BLOCKED %>
                                <div class="publish">
                                    <i class="fa fa-user"></i> <a href="<%= url_for(:action=>'staff', :id=>@seed.staff) %>"><%= h model_name(@seed.staff) %></a>
                                </div>
<% end %>
                            </header>
<% unless @seed.description.blank? %>
                            <div id="contents">
                                <%= raw @seed.description %>
                                <% tag_cloud(@seed.tags.order(name: :asc), %w(css1 css2 css3 css4)) do |tag| %>
                                    <% @seed.content_category.category_path(true).each do | category | %>
                                    <% cat_url = url_for(:action=>'news_list', :id=>category, search_tags: [tag.name])%>
                                        <a href='<%= cat_url %>'>
                                            <span class='badge badge-primary '>
                                                #<%= tag3_icon %>&nbsp;<%= tag_name(tag) %>
                                            </span>
                                        </a>
                                    <% end %>
                                <% end %>
                            </div>
<% end %>
                        </div>
                    </article>
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/sns_btn" %>
            </div>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/triad-speed/gallery.js"></script>
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/social_js" %>
<!-- google maps javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/triad-speed/gmaps_js" %>
</body>
</html>
