<%  logo = VisualWidget.search_widget_bag_for(@website, "be66352d4a310bec3b63677786599fed") %>
<header id="header" class="">
    <div id="brand">
<%  if logo.blank? || !logo.is_valid? %>
<%      if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="//placehold.jp/190x61.png?text=OKA" alt="logo"></a>
<%      else %>
        <a href="/home><img src="//placehold.jp/190x61.png?text=OKA" alt="logo"></a>
<%      end %>
<%  else %>
<%      if request.host == 'sr2.swifty.jp' %>
        <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="<%= logo.photos[0].clip.url(:image) %>" alt="logo"></a>
<%      else %>
        <a href="/home"><img src="<%= logo.photos[0].clip.url(:image) %>" alt="logo"></a>
<%      end %>
<% end %>
    </div>
<%= render :partial=>"#{LayoutScheme.asset_root}/beautysalon-oka.com/sns_links" %>
    <div id="overlay"></div>
    <nav id="nav">
        <div id="navbrand">
<%  if logo.blank? || !logo.is_valid? %>
<%      if request.host == 'sr2.swifty.jp' %>
            <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="//placehold.jp/190x61.png?text=OKA" alt="logo"></a>
<%      else %>
            <a href="/home><img src="//placehold.jp/190x61.png?text=OKA" alt="logo"></a>
<%      end %>
<%  else %>
<%      if request.host == 'sr2.swifty.jp' %>
            <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="<%= logo.photos[0].clip.url(:image) %>" alt="logo"></a>
<%      else %>
            <a href="/home"><img src="<%= logo.photos[0].clip.url(:image) %>" alt="logo"></a>
<%      end %>
<% end %>
        </div>
        <div id="navscroller">
            <ul class="navlist">
<%= render :partial=>"#{LayoutScheme.asset_root}/beautysalon-oka.com/navigation" %>
            </ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/beautysalon-oka.com/sns_links" %>
        </div>
    </nav>
    <div id="navopener">
        <div></div>
        <div></div>
        <div>menu</div>
    </div>
</header>
