<% logomark1 = VisualWidget.search_widget_bag_for(@website, "cf2366606895e69b9983acdbe31a1416") %>
        <footer id="footer">
            <div class="container">
                <div id="footer_nav_copy">
                    <div id="footer_nav_area">
                        <ul id="footer_nav">
<%= render :partial=>"#{LayoutScheme.asset_root}/labeau.co.jp2/footer_nav" %>
                        </ul>
                    </div>
                    <div id="copyright">
                        Copyright&nbsp;&copy;&nbsp;<%= Time.now.year.to_s %>&nbsp;LA・BEAU
                    </div>
                </div>
                <div id="footer_logo">
<% if logomark1.blank? || !logomark1.is_valid? %>
<%      if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
<%      else %>
                    <a href="/home"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
<%      end %>
<% else %>
<%      if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img src="<%= logomark1.photos[0].clip.url() %>" alt="logo mark"></a>
<%      else %>
                    <a href="/home"><img src="<%= logomark1.photos[0].clip.url() %>" alt="logo mark"></a>
<%      end %>
<% end %>
                </div>
            </div>
        </footer>
