        <aside>
            <div class="container">
                <h1>Our Salons</h1>
                <div id="home_salon">
                    <ul class="wrapper">
<!-- LA BEAU 駒込店 -->
                        <li class="col-1p5">
                            <div class="col-in">
                                <div class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=966&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/2586/original/komagome.png" alt="駒込店"></a>
<% else %>
                                    <a href="/fix?id=966"><img src="/photo/image/clip/2586/original/komagome.png" alt="駒込店"></a>
<% end %>
                                </div>
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://hpsm.jp/index.php?corpstr=labeau&get=6a5e647258646c362e23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/2589/original/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://wrsv.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/2590/original/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
<!-- LA BEAU 赤羽店 -->
                        <li class="col-1p5">
                            <div class="col-in">
                                <div class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=967&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/2584/original/akabane.png" alt="赤羽店"></a>
<% else %>
                                    <a href="/fix?id=967"><img src="/photo/image/clip/2584/original/akabane.png" alt="赤羽店"></a>
<% end %>
                                </div>
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://hpsm.jp/index.php?corpstr=labeau&get=6a5e647258646c362e23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/2589/original/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://wrsv.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/2590/original/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
<!-- LA BEAU 大塚店 -->
                        <li class="col-1p5">
                            <div class="col-in">
                                <div class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=968&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/2587/original/otuka.png" alt="大塚店"></a>
<% else %>
                                    <a href="/fix?id=968"><img src="/photo/image/clip/2587/original/otuka.png" alt="大塚店"></a>
<% end %>
                                </div>
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://hpsm.jp/index.php?corpstr=labeau&get=6a5e647258646c362e23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/2589/original/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://wrsv.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/2590/original/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
<!-- bird -->
                        <li class="col-1p5">
                            <div class="col-in">
                                <div class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=969&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/2767/original/bird.png" alt="bird"></a>
<% else %>
                                    <a href="/fix?id=969"><img src="/photo/image/clip/2767/original/bird.png" alt="bird"></a>
<% end %>
                                </div>
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://hpsm.jp/index.php?corpstr=labeau&get=6a5e647258646c362e23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/2589/original/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://wrsv.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/2590/original/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
<!-- petitbois -->
                        <li class="col-1p5">
                            <div class="col-in">
                                <div class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=970&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/2588/original/prtitboi.png" alt="petitbois"></a>
<% else %>
                                    <a href="/fix?id=970"><img src="/photo/image/clip/2588/original/prtitboi.png" alt="petitbois"></a>
<% end %>
                                </div>
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://hpsm.jp/index.php?corpstr=labeau&get=6a5e647258646c362e23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/2589/original/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://wrsv.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/2590/original/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
