        <aside>
            <div class="container">
                <h1>Our Salons</h1>
                <div id="home_salon">
                    <ul class="wrapper">
<!-- LA BEAU 駒込店 -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=966&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/3950/komagome.png" alt="駒込店"></a>
<% else %>
                                    <a href="/fix?id=966"><img src="/photo/image/clip/14894/komagome.png" alt="駒込店"></a>
<% end %>
                                </div>
                            </div>
                        </li>
<!-- LA BEAU 赤羽店 -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=967&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/24886/akabane2020.png" alt="赤羽店"></a>
<% else %>
                                    <a href="/fix?id=967"><img src="/photo/image/clip/24886/akabane2020.png" alt="赤羽店"></a>
<% end %>
                                </div>
                            </div>
                        </li>
<!-- LA BEAU 大塚店 -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=968&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/3952/otuka.png" alt="大塚店"></a>
<% else %>
                                    <a href="/fix?id=968"><img src="/photo/image/clip/3952/otuka.png" alt="大塚店"></a>
<% end %>
                                </div>
                            </div>
                        </li>
<!-- bird -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=969&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/3949/bird.png" alt="bird"></a>
<% else %>
                                    <a href="/fix?id=969"><img src="/photo/image/clip/3949/bird.png" alt="bird"></a>
<% end %>
                                </div>
                            </div>
                        </li>
<!-- petitbois -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=970&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/3953/petitbois.png" alt="petitbois"></a>
<% else %>
                                    <a href="/fix?id=970"><img src="/photo/image/clip/3953/petitbois.png" alt="petitbois"></a>
<% end %>
                                </div>
                            </div>
                        </li>
<!-- SABO -->
                        <li class="col-1p6">
                            <div class="col-in">
                                <div class="text-center">
<% if request.host == 'sr2.swifty.jp' %>
                                    <a href="/fix?id=2622&wkey=<%= @website.wsite_hash_key %>"><img src="/photo/image/clip/3954/sabo.png" alt="SABO"></a>
<% else %>
                                    <a href="/fix?id=2622"><img src="/photo/image/clip/3954/sabo.png" alt="SABO"></a>
<% end %>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="wrapper">
                        <div class="col-1p2">
                            <div class="col-in text-center" style="font-size:14px;">
<!--
                                営業時間／ 10:00 - 20:00 (受付 19:00) 月曜日 10:00 - 14:00<br>
                                定休日／ 毎週火曜日、第３火曜・水曜日連休
-->
営業時間／ 10:00 - 受付18:00 月曜日 9:00 - 14:00<br>
petitbois 9:30 - 17:00 月曜日 9:30 - 14:00<br>
SABO Cafe 11:00 - L.O.17:00 月曜日／10:30 - 14:30<br>
定休日／ 毎週火曜日、第2水曜日・第3水曜日
                            </div>
                        </div>
                        <div class="col-1p2">
                            <div class="col-in text-center">
                                <div class="wrapper">
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://appt.salondenet.jp/labeau/" target="_blank"><img src="/photo/image/clip/3036/reserve-first.png" alt="初めてのご予約"></a>
                                        </div>
                                    </div>
                                    <div class="col-1p2">
                                        <div class="col-in text-center">
                                            <a href="https://appt.salondenet.jp/index.php?corpstr=labeau&get=6a5e647258646c362d23665b6b6e556d5a6a715e686b3669766c6a6266" target="_blank"><img src="/photo/image/clip/3037/reserve-menber.png" alt="会員のご予約"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
