<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>ニュース</h3>
</header>

<ul class="breadcrumb">
  <li><%= link_to "ストリーム", :action=>"content_root" %>&nbsp;<span class="divider">/</span></li>
  <% @item.content_category.category_path(true).each do |category | %>
	  <li><%= link_to category.category_label, :action=>"content_category", :id=>category %>&nbsp;<span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= @item.title%></li>
</ul>

<%= form_tag url_for(:action=>"update_leaf", :id=>@item), :class=>"form-horizontal well", method: :patch do -%>
	<fieldset>
		<legend>記事編集</legend>
		<%= render :partial=>"form_leaf" %>
		<div class="form-actions">
        	<button type="submit" class="btn btn-small btn-success"><i class="icon-refresh"></i>&nbsp;&nbsp;更新</button>
			<% url_cancel = url_for(:action=>"show_leaf", :id=>@item) %>							
	  		<a class="btn btn-small" href="<%= url_cancel %>"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</a>
      	</div>
	</fieldset>
<% end -%>
