<% shopalt = "/"+@website.alt_id %>
<% shopalt.slice!(".hs-picasso.jp") %>
<% logomark = VisualWidget.search_widget_bag_for(@website, "adc2eece660872225dd53165da6e9058") %>
<% shopname = VisualWidget.search_widget_bag_for(@website, "c49e30805fbc3a04404514c5d5cb3a48") %>
        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://browsehappy.com/">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <header id="header">
            <div class="container">
                <div id="header_img">
<% if logomark.blank? || !logomark.is_valid? %>
    <% if true || request.host == 'staffroom.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="//placehold.it/240x120" alt="logo mark"></a>
    <% else %>
                    <a href="<%= shopalt %>/home" id="brand"><img src="//placehold.it/240x120" alt="logo mark"></a>
    <% end %>
<% else %>
    <% if true || request.host == 'staffroom.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
    <% else %>
                    <a href="<%= shopalt %>/home" id="brand"><img src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
    <% end %>
<% end %>
                    <a id="tnav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
                </div>
                <div id="shop_phone" style="margin-bottom:0;">
                    <div>
<% if shopname.data_string.blank? %>
                    <span><%= model_name(@website) %></span>
<% else %>
                    <span><%= shopname.data_string %></span>
<% end %>
<% unless @website.wsite_telephone.blank? %>
                    　TEL.<a href="tel:<%= @website.wsite_telephone %>"><%= @website.wsite_telephone %></a>
<% end %>
                    </div>
                    <div style="text-align:right;">
<% unless @website.wsite_telephone.blank? %>
                    <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.wsite_email.blank? %>
                    <a href="mailto:<%= @website.wsite_email %>"><i class="fa fa-envelope" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_facebook_uri.blank? %>
                    <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_twitter_uri.blank? %>
                    <a href="<%= @website.social_twitter_uri %>" target="_blank"><i class="fa fa-twitter-square" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_gplus_uri.blank? %>
                    <a href="<%= @website.social_gplus_uri %>" target="_blank"><i class="fa fa-google-plus-square" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_instagram_uri.blank? %>
                    <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fa fa-instagram" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_line_uri.blank? %>
                    <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
<% end %>
<% unless @website.social_pinterest_uri.blank? %>
                    <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fa fa-pinterest-square" style="font-size:40px;"></i></a>
<% end %>
<% unless @website.social_tumblr_uri.blank? %>
                    <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fa fa-tumblr-square" style="font-size:40px;"></i></a>
<% end %>
                    </div>
                </div>
            </div>
        </header>
