<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% shopalt = "/"+@website.alt_id %>
<% shopalt.slice!(".hs-picasso.jp") %>
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/picasso-shop/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav">
    <ul id="scrooler">
        <li>- MENU</li>
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/navigation" %>
    </ul>
</aside>
<!-- 主ウインドウ -->
<div id="body">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/header" %>
<!-- グローバルナビゲーション -->
        <nav id="gnav">
            <div class="container">
                <ul id="gnav_main">
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/navigation" %>
                </ul>
            </div>
        </nav>
        <div>
            <div class="container">
                <div class="content_box">
<!-- パンくずリスト -->
                    <aside id="breadcrumbs">
                        <ol>
<% if true || request.host == 'staffroom.swifty.jp' %>
                            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                            <li><a href="<%= shopalt %>/home"><i class="fa fa-home"></i></a></li>
<% end %>
                            <li><%= model_title(@seed) %></li>
                        </ol>
                    </aside>
                    <h1><%= model_title(@seed) %></h1>
                    <section id="streem_table">
                        <ul class="wrapper">
<%
    @public_bag =  @seed.public_bags
    unless @public_bag.blank?
        @public_bag.each do | bag |
            unless bag.blank?
                key_photo = bag.photos.first
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.it/327x327&amp;text=No Photo'
                end
                if true || request.host == 'staffroom.swifty.jp'
                    content_url = url_for(:action=>'portfolio_list', :id=>bag, :wkey=>@website.wsite_hash_key)
                else
                    content_url = shopalt+url_for(:action=>'portfolio_list', :id=>bag)
                end
%>
                            <li class="col-1p2">
                                <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                                    <a href="<%= content_url %>"><img src="<%= image_url %>"></a>
                                </div></div>
                                <h1>
                                    <a href="<%= content_url %>"><%= truncate(model_name(bag)) %></a>
                                </h1>
                            </li>
<%          end %>
<%      end %>
<%  end %>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso-shop/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
