<div class="thumbnail">
    <div class="caption">
        <p style="text-align:center;">
            <%= (temp_local.first?)?	raw("<i class='icon-fast-backward icon-large'></i>"):	link_to(raw("<i class='icon-backward icon-large'></i>"), {:action=>"content_category_higher",	:id=>temp_local}, :title=>"表示順を前に") %>
            <%= temp_local.position %>
            <%= (temp_local.last?)? 	raw("<i class='icon-fast-forward icon-large'></i>"): 	link_to(raw("<i class='icon-forward icon-large'></i>"), 	{:action=>"content_category_lower",		:id=>temp_local}, :title=>"表示順を後ろに") %>				
        </p>
    </div>
    <a href="<%= url_for(:action=>'content_category_tree', :id=>temp_local) %>">
        <div class="caption">
                <h4>
                    <span class='pull-right'><span class="badge badge-success"><%= temp_local.content_leafs.size %></span></span>
                    <i class="icon-folder-close"></i>
                    <%= truncate(temp_local.title, :length=>50) %>
                </h4>
            <p><%= h truncate(strip_tags(temp_local.description), :length=>20) unless temp_local.description.blank?%></p>
            <p class="text-right">
                <a class="btn btn-info btn-mini"  		data-toggle="modal" href="#modal_edit_<%=temp_local.id%>"><i class="icon-wrench"></i></a>
                <a class="btn btn-danger btn-mini"		data-toggle="modal" href="#modal_delete_<%=temp_local.id%>"><i class="icon-trash"></i></a>
            </p>
        </div>
    </a>
</div>

<!-- modalEdit -->
<div class="modal hide fade form-horizontal", id="modal_edit_<%=temp_local.id%>">
    <%= form_for temp_local, url: bs_content_stream_content_category_update_path(id: temp_local.id), method: :patch do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">カテゴリー名編集</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="item_title">カテゴリー名</label>
				<div class="controls controls-row">
					<%= text_field 'item', 'title', :value=>temp_local.category_label, :placeholder=>"カテゴリー名称", :autocomplete => "off" %>
				</div>
			</div>
            <% if false %>
                <div class="control-group">
                    <label class="control-label" for="item_alt_id">カテゴリー</label>
                    <div class="controls">
                        <%
                            ancestors = ancestors_for(temp_local)
                            options = ancestors.map{ | c | [ c.name, c.id] }
                        %>
                        <%= f.collection_select(:parent_id, options, :last, :first, {prompt: false}, {class: "form-control"})%>
                            <%
                            cat_options = Array.new
                            cat_options << temp_local.category_path(true)[0]
                            %>
                            <%= tree_select(cat_options, 'item', 'parent_id', temp_local.parent.id) %>
                    </div>
                </div>
            <% end %>
                <div class="control-group">
                    <label class="control-label" for="item_alt_id">所属カテゴリー</label>
                    <div class="controls">
                        <%
                            ancestors = ancestors_for(temp_local)
                            options = ancestors.map{ | c | [ c.name, c.id] }
                        %>
                        <%= tree_select_with_filter([temp_local.category_path(true)[0]], 'item', 'parent_id', temp_local.parent_id, 0, true, (temp_local.parent.blank?)? []: temp_local.sons<<temp_local)%>
                    </div>
                </div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<!-- modalDeleteUser -->
<div  class="modal hide fade form-horizontal", id="modal_delete_<%=temp_local.id%>">
	<%= form_tag({:action => 'content_category_delete', :id=>temp_local}, :class=>"form-horizontal", method: :delete)  do %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">カテゴリー削除</h3>
		</div>
		<div class="modal-body">
			<p>
				<%= temp_local.category_label %>を削除します。<br/>
				よろしいですか？
			</p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;削除</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
		</div>
	<% end %>
</div>
