<%
    type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    news_bags =  type_root.public_bags
    unless news_bags.blank?
        news_bags.each do | leaf |
%>
        <li><a href="<%= url_for(:action=>'news_list', :id=>leaf, :wkey=>@website.wsite_hash_key) %>"><%= leaf.name %></a></li>
<%      end %>
<%  end %>
    <li>
        <% if @website.enable_inquiry %>
            <%= link_to "お問い合わせ".html_safe, inquiry_new_path %>
        <% end %>
    </li>
<% if @author_mode %>
        <li>
            <i class="fa fa-cog"></i> 設定
            <ul>
<!--
                <li><a href="<%= url_for(:action=>'list_color_schemes')%>">カラー</a></li>
-->
                <% unless @website.wsite_layout_deploy.is_public.blank? %>
                    <li><a href="<%= url_for(:action=>'list_layout_schemes')%>">デザイン</a></li>
                <% end %>
                <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
                <% if current_user.is_fuga_3? %>
                    <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
                <% else %>
                    <li><a href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
                <% end %>
            </ul>
        </li>
<% end %>
