<%
    sons = seed.sons
    sons << seed
    @leafs = seed.public_leafs.order(position: :asc)
    #c = ContentLeaf.public_leafs_condition
    #@leafs = seed.content_leafs.find(:all, :conditions=>c.where, :order=>'position asc')
    unless @leafs.blank?
        #♠ head spa salon teateの価格表の並べ替え
        @leafs = ContentLeaf.where("id IN (?)", @leafs.map{|l| l.id}).order(position: :asc) #if @website.id == 170
%>
        <section>
            <h1><%= model_name(seed) %></h1>
<%      unless seed.description.blank? %>
            <p><%= raw seed.description %></p>
<%      end %>
            <ul>
<%      @leafs.each do | leaf | %>
                <li>
                    <div class="menu_name"><%= model_title(leaf) %></div>
                    <div class="price"><%= raw leaf.description_2 %></div>
<%          unless leaf.description.blank? %>
                    <div class="menu_note"><%= raw leaf.description %></div>
<%          end %>
                </li>
<%      end %>
            </ul>
        </section>
<%  end %>
<%  seed.children.each do |sub| %>
<%=     render :partial=>"#{LayoutScheme.asset_root}/albino/portfolio_leafs", :locals=>{:seed=>sub} %>
<%  end %>
