<style>
ahtml, abody {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
#wrapper {
  position: relative;
  width: 760px;
  min-height:200px;
  margin: 100px auto 0;
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0.50);
  padding:20px 30px;
}
</style>
<%= image_tag("backgrounds/#{Time.now.to_i%5}.jpg", :id=>"full-screen-background-image") %>
<!-- === Masthead === -->
<header class="jumbotron subhead" id="overview">
    <h2></h2>
    <p class="lead"></p>
</header>
<%= form_for(resource, as: resource_name, html: { class: "well" }, url: session_path(resource_name)) do |f| %>
  <h3>ログイン</h3>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class='well'>
  <%= render "users/shared/links" %>
</div>
