        <div id="brandup">
            <div id="brand">
<% logomark = VisualWidget.search_widget_bag_for(@website, "e5ae2655654d0c9d0f467e59dc10a772") %>
<% if logomark.blank? || !logomark.is_valid? %>
    <% if request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="logomark"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% else %>
                <a href="/home" id="logomark"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% end %>
<% else %>
    <% if request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="logomark"><img src="<%= logomark.photos[0].clip.url(:image) %>" alt="logo mark"></a>
    <% else %>
                <h1><a href="/home" id="logomark"><img src="<%= logomark.photos[0].clip.url(:image) %>" alt="logo mark"></a></h1>
    <% end %>
<% end %>
                <div id="brand_job">
                    Hair Salon, Eyelash Extensions, Esthetic, Photo Salon.
                </div>
<% widget_bag = VisualWidget.search_widget_bag_for(@website, "5fb8fe0c0a5575c83e156ad28cd4dc24") %>
<% if !widget_bag.blank? %>
                <div id="brand_summary">
                    <span><%= widget_bag.data_string %></span>
                </div>
<% end %>
            </div>
            <div id="tnav_open"><i class="fa fa-bars"></i><span>MENU</span></div>
        </div>
        <div id="header_side">
            <div id="header_contents">
                <div id="site_summary">
                    Hair Salon, Eyelash Extensions, Esthetic, Photo Salon
<% if !widget_bag.blank? %>
                    <span><br><%= widget_bag.data_string %></span>
<% end %>
                </div>
                <div id="header_sns">
                    <div id="header_sns_links">
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/top/sns_links" %>
                    </div>
                    <div id="header_sns_text">モリのSNS</div>
                </div>
            </div>
            <nav id="nav">
                <ul id="gnav_main" class="clearfix">
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/top/navigation" %>
                </ul>
            </nav>
        </div>
