<%  key_photo = temp_local.photos.find(:first) %>
<%  page_url  = url_for(:action=>'gallery_list', :id=>temp_local) %>
<%  image_url = url_for_file_column(key_photo, :image, 'panel') %>
                            <div class="col-in">
                                <div class="imgbox">
                                    <div style="background-image:url('<%= image_url %>')">
                                        <a href="<%= page_url %>">
                                            <img src="<%= image_url %>" alt="<%= truncate(model_name(temp_local)) %>">
                                        </a>
                                    </div>
                                </div>
                                <h4 class="en"><a href="<%= page_url %>"><%= truncate(model_name(temp_local)) %></a></h4>
                            </div>
