<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/style" %>
</head>
<body>
<!-- 主ウインドウ -->
<main id="body" class="scroolWrapper">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/header" %>
<!-- ページヘッダー -->
        <div id="page-header">
            <div class="container">
                <h1 class="ribbon"><%= model_name(@seed) %></h1>
            </div>
        </div>
        <div id="contents">
            <div class="container">
                    <article id="menu">
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/portfolio_leafs", :locals=>{:seed=>@seed} %>
                    </article>
            </div>
        </div>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/footer" %>
    </div>
</main>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/smart" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/common_js" %>
</body>
</html>
