<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/style" %>
</head>
<body>
<!-- 主ウインドウ -->
<main id="body" class="scroolWrapper">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/header" %>
<!-- ページヘッダー -->
        <div id="page-header">
            <div class="container">
                <h1 class="ribbon"><%= model_name(@seed) %></h1>
            </div>
        </div>
        <div id="contents">
            <div class="container">
                    <section id="contents_list">
                        <ul>
<%
    sons = @seed.sons
    sons << @seed
     @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)", sons).order(publish_from: :desc).order(created_at: :desc).paginate(:page => params[:page], :per_page=>PER_PAGE)
    @leafs = (@search_tags.blank?)? @leafs.all: @leafs.tagged_with(@search_tags)
    #c = ContentLeaf.public_leafs
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'publish_from desc')
    @leafs.each do | leaf | @leaf = leaf
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.jp/ffffff/cccccc/256x256.jpg?text='+publish
            end
            if true || request.host == 'sr2.swifty.jp'
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page)
            end
%>
                            <li class="wrapper">
                                <div class="col-1p3">
                                    <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                                        <a href="<%= content_url %>"><img src="<%= image_url %>" alt=""></a>
                                    </div></div>
                                </div>
                                <div class="col-2p3">
                                    <h1><a href="<%= content_url %>"><%= h model_title(@leaf) %></a></h1>
                                    <p class="publish"><i class="fa fa-calendar"></i> <%= publish_label(@leaf) %></p>
                                    <div><%= raw truncate(strip_tags(@leaf.description), :length=>150) unless @leaf.description.blank? %></div>
                                </div>
                            </li>
<%  end %>
                        </ul>
                    </section>
                    <aside class="pagination text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% else %>
                            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% end %>
                    </aside>
            </div>
        </div>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/footer" %>
    </div>
</main>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/smart" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/salud-hair.jp/common_js" %>
</body>
</html>
