<%
    logo1 = VisualWidget.search_widget_bag_for(@website, "c53c2dc7b7f2d487cabf84c8743da87b")
    free1 = VisualWidget.search_widget_bag_for(@website, "3ecdf8be8b1a4e3e266c8b04dfc11454")
%>
<header id="header">
    <div class="container clearfix">
        <div class="header_shop">
            <div class="header_img">
                <% if logo1.photos[0].blank? %>
                    <% if request.host == 'staffroom.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="//placehold.it/260x120" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="//placehold.it/260x120" alt="logo mark"></a>
                    <% end %>
                <% else %>
                    <% if request.host == 'staffroom.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo1.photos[0].clip.url(:image) %>" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="<%= logo1.photos[0].clip.url(:image) %>" alt="logo mark"></a>
                    <% end %>
                <% end %>
            </div>
            <div class="sns_links">
                <% unless @website.wsite_telephone.blank? %>
                <a href="tel:<%= @website.wsite_telephone %>"><i class="icon-phone-sign"></i></a>
                <% end %>
                <% unless @website.wsite_email.blank? %>
                <a href="mailto:<%= @website.wsite_email %>"><i class="icon-envelope"></i></a>
                <% end %>
                <% unless @website.social_facebook_uri.blank? %>
                <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="icon-facebook-sign"></i></a>
                <% end %>
                <% unless @website.social_twitter_uri.blank? %>
                <a href="<%= @website.social_twitter_uri %>" target="_blank"><i class="icon-twitter-sign"></i></a>
                <% end %>
                <% unless @website.social_gplus_uri.blank? %>
                <a href="<%= @website.social_gplus_uri %>" target="_blank"><i class="icon-google-plus-sign"></i></a>
                <% end %>
                <% unless @website.social_instagram_uri.blank? %>
                <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="icon-instagram"></i></a>
                <% end %>
                <% unless @website.social_line_uri.blank? %>
                <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                <% end %>
                <% unless @website.social_pinterest_uri.blank? %>
                <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="icon-pinterest-sign"></i></a>
                <% end %>
                <% unless @website.social_tumblr_uri.blank? %>
                <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="icon-tumblr-sign"></i></a>
                <% end %>
            </div>
            <div class="header_address">
            <% unless @website.address_1.blank? %>
                <div class="header_add"><%= @website.address_1 %></div>
            <% end %>
                <div class="header_tel">
            <% unless @website.wsite_telephone.blank? %>
                    <i class="fa fa-phone"></i> <a href="tel:<%= @website.wsite_telephone %>" class="header_tel"><%= @website.wsite_telephone %></a>
            <% end %>
            <% unless free1.data_string.blank? %>
                    フリーダイヤル <a href="tel:<%= free1.data_string %>" class="header_tel"><%= free1.data_string %></a>
            <% end %>
                </div>
            </div>
        </div>
        <div class="header_nav">
            <a id="nav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
<!--
            <a id="nav_open_btn"><img src="/photo/image/0002/0740/menu.png" alt="menu"></a>
-->
        </div>
    </div>
</header>
