<!doctype html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% fbappid = VisualWidget.search_widget_bag_for(@website, "41dc33042ed882f0d5bb2601e3cd5c3d") %>
<% unless fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="https://<%= request.host + url_for(:action=>'gallery_show', :id=>@seed) %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% else %>
<meta property="article:publisher"    content="<%= model_name(@website.company) %>">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/style" %>
</head>
<body id="gallery_show">
<div id="top">
</div>
<aside id="breadcrumbs">
    <div class="container">
        <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="pico-home"></i></a></li>
<% else %>
            <li><a href="/home"><i class="pico-home"></i></a></li>
<% end %>
<% unless @seed.content_category.has_only_a_public_bag? %>
<%      if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.content_category.my_bag_root_category.parent, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      else %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.content_category.my_bag_root_category.parent) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      end %>
<% end %>
<% @seed.content_category.category_path(true).each do | category | %>
<%      if true || request.host == 'sr2.swifty.jp' %>
            <li><%= link_to category.category_label, :action=>"gallery_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
<%      else %>
            <li><%= link_to category.category_label, :action=>"gallery_list", :id=>category %></li>
<%      end %>
<% end %>
            <li><%= model_title(@seed) %></li>
        </ol>
    </div>
</aside>
<article>
    <div class="container">
        <div class="wrapper">
            <div class="m1p2">
                <div id="gallery">
<%  @photos = @seed.photos %>
<%  unless @photos.blank? %>
                    <ul>
<%      @photos.each do | photo | %>
                        <li>
                            <img src="<%= photo.clip.url() %>" alt="">
<%          unless photo.info.blank? %>
                            <div class="caption"><%=h photo.info%></div>
<%          end %>
                        </li>
<%      end %>
                    </ul>
                    <div id="gallery_prev"><div></div></div>
                    <div id="gallery_next"><div></div></div>
<%  else %>
                    <ul>
                        <li><img src="//placehold.jp/500x670.png?text=No Photo"></li>
                    </ul>
<%  end %>
                </div>
            </div>
            <div class="m1p2">
                <h1 class="staff"><%= model_title(@seed) %></h1>
<% unless @seed.staff.blank? || @seed.staff.staff_status==Staff::STAFF_BLOCKED %>
                <div class="publish">
                    <i class="pico-user"></i> <a href="<%= url_for(:action=>'staff', :id=>@seed.staff) %>"><%= h model_name(@seed.staff) %></a>
                </div>
<% end %>
<% unless @seed.description.blank? %>
                <div class="contents">
                    <%= raw @seed.description %>
                </div>
<% end %>
            </div>
        </div>
    </div>
</article>
<!-- Footer sns links -->
<aside id="footsns">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/sns_links" %>
</aside>
<!-- Footer nav -->
<aside id="footnav">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/navigation" %>
</aside>
<!-- Footer -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/footer" %>
<!-- Header -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/header" %>
<div id="gotop"><a href="#top"></a></div>
<!-- Navigation -->
<div id="gnav" class="">
	<div class="container">
	    <h1>- site navigation -</h1>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/navigation" %>
		<div id="navcloser"></div>
		<div id="scguide">SCROLL</div>
	</div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/stylish_portfolio3/gallery.js?v=0"></script>
<!-- Instafeed js -->
<script async src="//www.instagram.com/embed.js"></script>
</body>
</html>
