<% @staffs = @website.public_staffs %>
<% unless @staffs.blank? %>
<aside>
    <div class="container">
        <h1 class="page_head"><a href="https://www.area-web.jp/contact_us">スタッフ紹介</a></h1>
        <div id="streem_table">
            <ul class="wrapper">
    <% @staffs.each do | staff | @staff = staff %>
                <li class="col-1p4">
        <% key_photo = key_photo(@staff) %>
        <% unless key_photo.blank? %>
                    <div class="imgbox"><div style="background-image:url('<%= key_photo.clip.url(:panel) %>');">
                        <a href="<%= url_for(:action=>'staff', :id=>@staff) %>"><img src="<%= key_photo.clip.url(:panel) %>"></a>
                    </div></div>
        <% else %>
                    <div class="imgbox"><div style="background-image:url('//placehold.it/480x360/ffffff/cccccc&amp;text=No Photo');">
                        <a href="<%= url_for(:action=>'staff', :id=>@staff) %>"><img src="//placehold.it/480x360/ffffff/cccccc&amp;text=No Photo"></a>
                    </div></div>
        <% end %>
                    <h1>
                        <a href="<%= url_for(:action=>'staff', :id=>@staff) %>">
                            <%= model_name(@staff) %>
                            <span><%= h @staff.job_title %></span>
                        </a>
                    </h1>
                </li>
    <% end %>
            </ul>
        </div>
    </div>
</aside>
<% end %>
