<div class="col">
    <div class="card h-100">
        <div class="card-header text-center">
            <small>
                <%= (layout.first?)?	move_to_higher_icon(false):	link_to(move_to_higher_icon, 	:action=>"layout_higher", :id=>layout) %>
                <%= layout.position %>
                <%= (layout.last?)? 	move_to_lower_icon(false): 	link_to(move_to_lower_icon, 	:action=>"layout_lower",	:id=>layout) %>
            </small>
        </div>

        <% key_photo = layout.photo %>
        <% unless key_photo.blank? %>
            <%= image_tag key_photo.clip.url(:thumb) %>
        <% else %>
            <img src="https://placehold.jp/22/cfcfcf/ffffff/320x180.png?text=No%20Photo%0A">
        <% end %>

        <div class="card-body">
            <h5 class="card-title">
                <%= truncate(model_name(layout), :length=>50) %>
            </h5>
            <p class="card-text">
                <small>
                    <%= icon_scheme_state(layout) %>
                    <%= h truncate(layout.description, :length=>20) %>
                </small>
            </p>
        </div>

        <div class="card-footer">
            <span class='float-right'>
                <% if layout.position==1 %>
                    <i class='fa-solid fa-spinner fa-spin'></i>
                    &nbsp;
                <% end %>
                <a href="<%= url_for(:action=>'layout_show', :id=>layout) %>" class="btn btn-sm  btn-outline-primary"><%= link_to_6_icon %></a>
            </span>
        </div>
    </div>
</div>
