<table class="table table-bordered">
	<thead>
		<tr>
			<th class="span4 table-dark">保存容量</th>
			<th class="span4 table-dark">ファイル</th>
			<th class="span4 table-dark">固定ページ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div  class="text-right">
					<%= (@shop.room_size_mb.blank?)? "無制限": number_to_human_size(@shop.room_size_mb*1024*1024) %>
					<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditRoom">
						<%= edit_icon('変更') %>&nbsp;変更
					</button>
				</div>
			</td>
			<td>
				<div  class="text-right">
					<% total_photos = @shop.photos%>
					<%= total_photos.size%>
					<%
						photo_sum_size = Photo.total_file_size(total_photos)
						#total_photos.each{ |photo|  photo_sum_size+=photo.clip_file_size : photo_sum_size+=photo.my_size}	unless total_photos.blank?
						#total_photos.each{ |photo|  photo_sum_size+=photo.my_size }	unless total_photos.blank?
					%>
					【<%= number_to_human_size(photo_sum_size)  %>】
				</div>
			</td>
			<td>
				<div  class="text-right">
					<% fix_pages_bag = ContentBag.retrieve_fixed_page_bag(@shop) %>
					<%= fix_pages_bag.content_leafs.size %>
					ページ
				</div>
			</td>
		</tr>
	</tbody>
</table>
<% rate = (@shop.room_size_mb.blank?||@shop.room_size_mb==0)? 0 : (photo_sum_size*100)/(@shop.room_size_mb*1024*1024) %>
<%
	bar_class = "bg-info"
	bar_class = "bg-warning"	if rate>60
	bar_class = "bg-danger"	if rate>80
%>
<span class="label"><%= rate.to_i%>%</span>
</span>
<div class="progress">
	<div class="progress-bar <%=bar_class%>" role="progressbar" style="width: <%= rate %>%;" aria-valuenow="<%= rate %>" aria-valuemin="0" aria-valuemax="100">
		利用率 : <%= rate.to_i%>%
		<div class="bar" style="width: <%=rate.to_i%>%;"></div>
	</div>
</div>

<div class="modal fade" id="modalEditRoom" tabindex="-1" aria-labelledby="modalEditRoom" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_company_update_shop_room_path(id: @shop.id), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗情報編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div class="mb-3 row">
						<label for="name" class="col-sm-4 col-form-label">利用容量</label>
						<div class="col-sm-8">
							<%= f.text_field  :room_size_mb,  {class: "form-control", placeholder: "MB単位で入力 (1024=1GB)", :required => true, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
		</div>
    </div>
</div>

<% if false %>
<!-- modalEdit -->
<%= form_tag url_for(:action=>"company_update_shop_room", :id=>@shop), {:class=>"modal hide fade form-horizontal", :id=>"modalEditRoom"} do -%>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">店舗情報編集</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="shop_alt_id">利用容量</label>
			<div class="controls">
				<%= text_field 'shop', 'room_size_mb', :placeholder=>"MB単位で入力 (1024=1GB)", :autocomplete => "off" %>
			</div>
		</div>
	</div>
	<div class="modal-footer">
    	<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
	</div>
<% end %>
<% end %>
