<div class="mb-3 row">
	<label for="shop_wsite_run_mode" class="col-sm-4 col-form-label">サイト・ステータス</label>
	<div class="col-sm-8">
		<select class="form-select" aria-label="Default select example" name="shop[wsite_run_mode]" id="wsite_run_mode">
			<option <% if @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>selected<% end %> value="<%=Shop::WSITE_BLOCKED%>">	<%=label_site_status(Shop::WSITE_BLOCKED)%></option>
			<option <% if @shop.wsite_run_mode==Shop::WSITE_TRIAL %>selected<% end %> 	value="<%=Shop::WSITE_TRIAL%>">		<%=label_site_status(Shop::WSITE_TRIAL)%></option>
			<option <% if @shop.wsite_run_mode===Shop::WSITE_PUBLISHED %>selected<% end %> 	value="<%=Shop::WSITE_PUBLISHED%>">	<%=label_site_status(Shop::WSITE_PUBLISHED)%></option>
		</select>
	</div>
</div>

<div class="mb-3 row">
	<label for="login" class="col-sm-4 col-form-label">サイト・キーワード</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_keywords, {class: "form-control", placeholder: "サイト・キーワードを入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="job_title" class="col-sm-4 col-form-label">サイトの説明</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_description_shop,  {class: "form-control", placeholder: "サイトの説明を入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="wsite_telephone" class="col-sm-4 col-form-label">問い合わせ電話番号</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_telephone,  {class: "form-control", placeholder: "サイトに掲示される電話番号を入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="wsite_email" class="col-sm-4 col-form-label">ホームページ表示メールアドレス</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_email,  {class: "form-control", placeholder: "サイトに掲示されるメールアドレスを入力", autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="inquiry_email" class="col-sm-4 col-form-label">お問い合わせ通知メールアドレス</label>
	<div class="col-sm-8">
		<%= f.text_field  :inquiry_email,  {class: "form-control", placeholder: "お問い合わせ通知メールアドレスを入力", autofocus: true}  %>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<%= f.label :enable_inquiry, 'お問い合わせ機能', {class: 'form-label'} %>
	</div>
	<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
		<input type="radio" class="btn-check" name="shop[enable_inquiry]" id="btnradio3" value='1' checked>
		<label class="btn btn-outline-primary" for="btnradio3">有効</label>

		<input type="radio" class="btn-check" name="shop[enable_inquiry]" id="btnradio4" value='0'>
		<label class="btn btn-outline-primary" for="btnradio4">無効</label>

	</div>
</div>
<div class="mb-3 row">
	<label for="wsite_layout_pc_specific_basename" class="col-sm-4 col-form-label">オプション</label>
	<div class="col-sm-8">
		<%= f.text_field  :wsite_layout_pc_specific_basename,  {class: "form-control", placeholder: "レイアウトフォルダー名", :required => false, autofocus: true}  %>
		<span class="help-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非スマートフォン向けレイアウト</span>
	</div>
</div>
