<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-facebook fa-lg'></i>Facebook</label>
	<div class="col-sm-8">
		<%= f.text_field :social_facebook_uri,  {class: "form-control", placeholder: "Facebook URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-google-plus fa-lg'></i>Google+</label>
	<div class="col-sm-8">
		<%= f.text_field :social_gplus_uri,  {class: "form-control", placeholder: "Google+ URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-twitter fa-lg'></i>twitter</label>
	<div class="col-sm-8">
		<%= f.text_field :social_twitter_uri,  {class: "form-control", placeholder: "Twitter URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-instagram fa-lg'></i>Instagram</label>
	<div class="col-sm-8">
		<%= f.text_field :social_instagram_uri,  {class: "form-control", placeholder: "Instagram URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-pinterest fa-lg'></i>pinterest</label>
	<div class="col-sm-8">
		<%= f.text_field :social_pinterest_uri,  {class: "form-control", placeholder: "pinterest URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-tumblr fa-lg'></i>tumblr.</label>
	<div class="col-sm-8">
		<%= f.text_field :social_tumblr_uri,  {class: "form-control", placeholder: "tumblr. URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><img src="/images/assets/hotpepperlogosmall.png" alt="HOTPEPPER Beauty" />HOTPEPPER Beauty</label>
	<div class="col-sm-8">
		<%= f.text_field :social_hotpepper_beauty_uri,  {class: "form-control", placeholder: "HOTPEPPER Beauty URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-youtube fa-lg'></i>YouTube</label>
	<div class="col-sm-8">
		<%= f.text_field :social_youtube_uri,  {class: "form-control", placeholder: "YouTube URI", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label"><i class='fa-brands fa-line fa-lg'></i>LINE</label>
	<div class="col-sm-8">
		<%= f.text_field :social_line_uri,  {class: "form-control", placeholder: "LINE", :required => false, autofocus: true}  %>
	</div>
</div>
