<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">レジストリーID</label>
	<div class="col-sm-8">
		<%= f.text_field  :alt_id, {class: "form-control", placeholder: "レジストリーIDを入力", :required => true, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="name" class="col-sm-4 col-form-label">レジストリー名</label>
	<div class="col-sm-8">
		<%= f.text_field  :name,  {class: "form-control", placeholder: "レジストリー名を入力", :required => true, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="telephone_1" class="col-sm-4 col-form-label">電話番号</label>
	<div class="col-sm-8">
		<%= f.text_field :telephone_1,  {class: "form-control", placeholder: "電話番号を入力", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="postal" class="col-sm-4 col-form-label">郵便番号</label>
	<div class="col-sm-8">
		<%= f.text_field :postal,  {class: "form-control", placeholder: "郵便番号を入力", :required => false, autofocus: true}  %>
	</div>
</div>
<div class="mb-3 row">
	<label for="item_address_1" class="col-sm-4 col-form-label">住所</label>
	<div class="col-sm-8">
		<%= f.text_field :address_1,  {class: "form-control", placeholder: "住所を入力", :required => false, autofocus: true}  %>
	</div>
</div>

<% if false %>
<div class="mb-3 row">
	<label for="item_address_1" class="col-sm-4 col-form-label">新操作画面</label>
	<div class="col-sm-8">
		<label class="radio inline">
			<input type="radio" id="company[new_ui]" name="company[new_ui]" value="1" <% if item.new_ui %>checked<% end %>>
			有効
		</label>
		<label class="radio inline">
			<input type="radio" id="company[new_ui]" name="company[new_ui]" value="0" <% if !item.new_ui %>checked<% end %>>
			無効
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="company[new_ui]">新操作画面</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="company[new_ui]" name="company[new_ui]" value="1" <% if item.new_ui %>checked<% end %>>
			有効
		</label>
		<label class="radio inline">
			<input type="radio" id="company[new_ui]" name="company[new_ui]" value="0" <% if !item.new_ui %>checked<% end %>>
			無効
		</label>
	</div>
</div>
<% end %>
