<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('カラー', color_list_path) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@color) %></li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<p class='float-right'%>
		<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:action=>'color_list') %>">
		<%= backward_icon('戻る')%>&nbsp;
			戻る
		</a>
	</p>
	<h3><%= model_name(@color) %></h3>
</header>


<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='30%'>公開設定</th>
			<td width='70%'>
				<%= icon_scheme_state(@color) %>
			</td>
		</tr>
		<tr>
			<th class="span3">表示名</th>
			<td class="span9"><%= model_name(@color) %></td>
		</tr>
		<tr>
			<th class="span3">説明文</th>
			<td class="span9">
				<% unless @color.description.blank? %>
				<pre><%= h @color.description %></pre>
				<% end %>
			</td>
		</tr>
		<% unless @color.wsite_color_deploys.blank? %>
			<tr>
				<th class="span3">
					運用サイト
					<span class="float-right">
						<% unless @color.wsite_color_deploys.blank? %>
							<span class="label label-success">運用中 : <%= @color.wsite_color_deploys.size %></span>
						<% end %>
						<% if false %>
							<% unless @color.wsite_color_edits.blank? %>
								<span class="label">編集中 : <%= @color.wsite_color_edits.size %></span>
							<% end %>
						<% end %>
					</span>
				</th>
				<td class="span9">
					<ul>
						<% @color.wsite_color_deploys.each do |s| %>
							<li>
								<% url = url_for(:action=>"company_show_shop", :id=>s) %>
								<a href="<%=url%>" class='text-primary'>
									<%= model_name(s.company) %>: <%=model_name(s)%>
									<%= link_to_6_icon %>
								</a>
							</li>
						<% end %>
					</ul>
				</td>
			</tr>
		<% end %>
		<tr>
			<th>アセット・パス</th>
			<td><%= @color.repository_path %></td>
		</tr>
	</tbody>
</table>

<p class='text-right'>
	<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
		<%= trash_icon('削除確認') %>&nbsp;削除確認
	</button>
	|
	<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEdit">
		<%= edit_icon('編集') %>&nbsp;編集
	</button>
</p>

<div class="row-fluid">
	<% unless @color.photo.blank? %>
	    <ul class="thumbnails">
	        <li class="span4">
				<%= render :partial=>"item_color_photo", :locals => {:photo => @color.photo} %>
			</li>
		</ul>
	<% else %>
		<p>
			<a class="btn btn-success btn-sm" href="<%= url_for(:action=>'new_color_photo', :id=>@color) %>">
				<i class="fa-solid fa-camera"></i>&nbsp;
				写真追加
			</a>
		</p>
	<% end %>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @color, url: color_update_path(id: @color.id), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">カラー・スキーム編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_color", locals: {f: f, item: @color } %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
           <% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @color, url: color_delete_path(id: @color.id), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">カラー・スキーム削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= model_name(@color) %>」を削除します。<br/>
						運用サイトのカラー設定は、デフォルトのカラー・スキームに差し替えられます。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
