<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
	<li><%= link_to "レジストリー",	:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
    <li class="breadcrumb-item active" aria-current="page">カラー</li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon %>&nbsp;カラー登録
		</button>
	</span>
	<h4>カラー・スキーム管理</h4>
</header>

<% if @colors.blank? %>
	<div class="alert alert-block">
		 <%= info_icon %> 項目がありません。
	</div>
<% else %>
	<% if false %>
	<div class="row">
		<% array = @colors.in_groups_of(3, false)%>
		<% for i in 0..(array.size-1) %>
			<% @lines = array[i] %>
			<div class="col-sm-4"><%= render :partial=>"item_color", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %></div>
			<div class="col-sm-4"><%= render :partial=>"item_color", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %></div>
			<div class="col-sm-4"><%= render :partial=>"item_color", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %></div>
			<hr/>
		<% end %>
	</div>
	<% end %>

	<br/>
	<div class="row row-cols-2 row-cols-md-4 g-2">
		<% @colors.each do |color| %>
			<%= render partial: 'box_color', locals: {color: color} %>
		<% end %>
	</div>
<% end %>

<!-- modalNew -->
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<% item = ColorScheme.new %>
		<%= form_for item, url: color_create_path, method: :post do |f| -%>
			<div class="modal-header">
				<h5 class="modal-title">カラー・スキーム登録</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<%= render :partial=>"form_color", locals: {f: f, item: item } %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				<button type="submit" class="btn btn-sm btn-success"><%= new_icon %>&nbsp;登録</button>
			</div>
		<% end %>
		</div>
	</div>
</div>
