<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">レジストリー</li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<% if current_user.role==User::ROLE_SUPER %>
		<p class="float-right">
			<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
				<%= new_icon %>&nbsp;登録
			</button>
			|
		    <% seach_btn_class = (@search_word.blank?)? 'btn xbtn-sm btn-info': 'btn xbtn-sm btn-warning' %>
			<button type="button" class="<%= seach_btn_class %>" data-bs-toggle="modal" data-bs-target="#modalSearch">
				<%= search_icon %>&nbsp;検索
			</button>
		</p>
	<% end %>
	<h3>レジストリー</h3>
</header>

<% if @items.blank? %>
	<p class="text-error">レジストリーが見つかりません。</p>
<% else %>
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th class='table-dark' width='40%'>
					<span class="float-right"><span class="badge badge-success"><%= Company.count %></span></span>
					レジストリー名
				</th>
				<th class='table-dark' width='10%'><strong><span class="float-right"><span class="badge badge-success"><%= Shop.count %></span></span>店舗数</th>
				<th class='table-dark' width='25%'>ストレージ</th>
				<th class='table-dark' width='25%'>固定ページ</th>
			</tr>
		<head>
		<tbody>
			<% @items.each do | company | @company = company %>
				<tr>
					<td style="vertical-align: middle">
						<% url = url_for(:action=>"company_show", :id=>@company) %>
						<a href="<%=url%>" class='text-primary'>
							<%= model_name(@company) %>
							<i class="fa-solid fa-chevron-right"></i>
						</a>
						<span class='float-right text-danger'>
							<%
								e_cat = ContentCategory.where('shop_id IN (?) AND content_categories.id = content_categories.parent_id', @company.shops.map{|s| s.id})
							%>
							<% unless e_cat.blank? %>
								<i class="fas fa-exclamation-triangle" title='カテゴリーエラー'></i>
							<% end %>
						</span>
					</td>
					<td style="vertical-align: middle; text-align:right">
						<%= @company.shops.size %>
					</td>

					<%
						company_room_size_mb = @company.room_size_mb
						company_photo_size 	 = @company.photo_size
						rate = (company_room_size_mb.blank?||company_room_size_mb==0)? 0 : (company_photo_size*100)/(company_room_size_mb*1024*1024)

						pbar_class = "bg-success"
						pbar_class = "bg-warning"	if rate>60
						pbar_class = "bg-danger"	if rate>80
					%>
					<td style=" vertical-align: middle; text-align:right">
						<% url = url_for(:action=>"company_list_shop", :id=>@company) %>
						<a href="<%=url%>">
							<%= number_to_human_size(company_photo_size)  %>
							/
							<%= (company_room_size_mb.blank?)? "無制限": number_to_human_size(company_room_size_mb*1024*1024) %>
						</a>
						<span class="label"><%= rate.to_i%>%</span>
						</span>
						<div class="progress">
							<div class="progress-bar <%= pbar_class %>" role="progressbar" style="width: <%= rate %>%;" aria-valuenow="<%= rate %>" aria-valuemin="0" aria-valuemax="100"><%= rate %>%</div>
						</div>
					</td>
					<td style=" vertical-align: middle; text-align:right">
						<%
						 	f_pages = 0
						 	@company.shops.each do | shop |
					 		fix_pages_bag = ContentBag.retrieve_fixed_page_bag(shop)
					 		f_pages += fix_pages_bag.content_leafs.size
					 		end
						%>
						<%= f_pages %>
						ページ
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= paginate @items, theme: 'bootstrap-5' %>
<% end %>

<!-- modalNewShop -->
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<% item = Company.new %>
			<%= form_for item, url: admin_company_create_path, method: :post do |f| %>
				<div class="modal-header">
					<h5 class="modal-title">新規レジストリー登録</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<%= render partial: "form_company", locals: {f: f, item: item } %>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><%= new_icon %>&nbsp;登録</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="xmodalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<% item = Company.new %>
			<%= form_for item, url: dashboard_company_create_path, method: :post do |f| -%>
				<div class="modal-header">
					<h5 class="modal-title">新規レジストリー登録</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<%= render partial: "form_company", locals: {f: f, item: item } %>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><%= new_icon('新規登録') %>&nbsp;登録</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="modalSearch" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<%= form_tag(admin_index_path, :method => 'get') do %>
				<div class="modal-header">
					<h5 class="modal-title">レジストリー検索</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<%= text_field_tag :search_word, @search_word,{class: "form-control form-control-lg", placeholder: "検索文字列", autofocus: true} %>
				</div>
				<div class="modal-footer">
					<% unless @search_word.blank? %>
			            <%= link_to reset_search_icon+' リセット', admin_index_path, class: 'btn btn-outline-dark' %>
						|
					<% end %>
					<button type="submit" class="btn btn-info"><%= search_icon %>&nbsp;検索</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
