<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>レジストリー</h3>
</header>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'レジストリ', admin_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@item) %></li>
  </ol>
</nav>

<ul class="nav nav-tabs"  style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show',:id=>@item) %>">レジストリー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'company_list_shop',:id=>@item) %>">登録店舗</a>
	<li class="nav-item">
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_list_user', :id=>@item.company) %>">オーナー・ユーザー</a>
	</li>
</ul>

<h4>
	<span class="float-right">
		<a class="btn btn-sm btn-secondary" href="<%= url_for(:action=>'company_list_shop', :id=>@item.company) %>">
		<%= backward_icon('戻る')%>&nbsp;
			戻る
		</a>
	</span>
	<%= site_status_icon(@shop.wsite_run_mode) %>
	<%=model_name(@item)%>
	利用状況
</h4>

<hr/>
<h5>▶ 全体</h5>
<%= render :partial=>'company_show_shop_usage' %>

<hr/>
<h5>▶ CMS</h5>
<%= render :partial=>'company_show_shop_cms_usage' %>
<% @anchor = ContentCategory.type_root(@shop, ContentCategory::TYPE_NEWS) %>
<%= render :partial=>'company_show_shop_cms_usage_by_category' %>
<% @anchor = ContentCategory.type_root(@shop, ContentCategory::TYPE_STREAM) %>
<%= render :partial=>'company_show_shop_cms_usage_by_category' %>
<% @anchor = ContentCategory.type_root(@shop, ContentCategory::TYPE_GALLERY) %>
<%= render :partial=>'company_show_shop_cms_usage_by_category' %>
<% @anchor = ContentCategory.type_root(@shop, ContentCategory::TYPE_PORTFOLIO) %>
<%= render :partial=>'company_show_shop_cms_usage_by_category' %>

<% if true || current_user.has_permission?(User::ROLE_OPERATOR) %>
	<hr/>
	<h5>▶ オプション</h5>

	<table class="table table-bordered">
		<thead>
			<tr class="table-info">
				<th colspan="2">
					オプション
				</th>
			</tr>
		<thead>
		<tbody>
			<tr>
				<th width='50%' class="span3">勤怠管理</th>
				<td width='50%' class="span9">
					<%= (@shop.option_attendance_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
				</td>
			</tr>
			<tr>
				<th>予約管理</th>
				<td>
					<%= (@shop.option_reservation_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
<% if false %>
		<tr>
			<td>予約管理</td>
			<td>
				<%= (@shop.option_reservation_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
			</td>
		</tr>
		<tr>
			<td>顧客管理</td>
			<td>
				<%= (@shop.option_customer_management)? raw( "<i class='icon-check'></i'>&nbsp;利用中"): raw( "<i class='icon-check-empty'></i'>&nbsp;未使用") %>
			</td>
		</tr>
		<% if false %>
		<tr>
			<td>売上管理</td>
			<td>
				<%= (@shop.option_sales_management)? raw("<i class='icon-check'></i'>&nbsp;利用中"): raw("<i class='icon-check-empty'></i'>&nbsp;未使用") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>		
<% end %>
