<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>レジストリー</h3>
</header>
	
<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 	:controller=>"dashboard", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@user.company) %></li>
</ul>

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show',:id=>@user.company) %>">レジストリー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link " href="<%= url_for(:controller=>'admin', :action=>'company_list_shop',:id=>@user.company) %>">登録店舗</a>
	<li class="nav-item">
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'company_list_user', :id=>@user.company) %>">オーナー・ユーザー</a>
	</li>
</ul>
<br/>

<h4>
	<span class="float-right">
		<a class="btn btn-small btn-secondary" href="<%= url_for(:action=>'company_list_user', :id=>@user.company) %>">
		<i class="fa-solid fa-arrow-left"></i>&nbsp;
			一覧
		</a>
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEdit">
				<%= edit_icon('編集') %>&nbsp;編集
		</button>
	</span>
	ユーザー情報	
</h4>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>表示名</th>
			<td width='75%'><%= model_name(@user) %></td>
		</tr>
		<tr <% if @user.banned? %>class="error"<%end%>>
			<th>ログイン</th>
			<td>
				<%= @user.login %>
				<% if @user.banned? %>
					<br/>
					<small>
						<i class="icon-ban-circle"></i>
						アカウントがブロックされています。
						ユーザー情報の更新（パスワード更新等）が必要です。
					</small>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditPassword">
						<%= update_icon('編集') %>&nbsp;パスワード再発行
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="well">
	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
			<%= trash_icon('削除確認') %>&nbsp;削除確認
	</button>
</div>
				
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_company_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_owner", locals: {f: f, item: @user} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditPassword" tabindex="-1" aria-labelledby="modalEditPassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_company_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">パスワード再発行</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_password", locals: {f: f, item: @user} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_company_delete_user_path(id: @user), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= @user.login %>」を削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
