<style>
    #map {
        width: 100%;
        height: 277px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<!-- === Masthead === -->

<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 					:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@item.company), 	:controller=>"admin", :action=>"company_show", :id=>@item.company %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@item) %></li>
</ul>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link  active" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@item) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@item) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@item) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@item) %>"><%= icon_site_status(@item.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>
<div class="row">
	<div>
		<h4>
			<span class="float-right">
				<a class="btn btn-small btn-secondary" href="<%= url_for(:action=>'company_list_shop', :id=>@item.company) %>">
				<%= backward_icon('戻る')%>&nbsp;戻る
				</a>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEdit">
					<%= edit_icon('編集') %>&nbsp;編集
				</button>
			</span>
			店舗情報
		</h4>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th width='25%'>店舗ID</th>
					<td width='75%'>
						<%= model_alt_id(@item) %>
					</td>
				</tr>
				<tr>
					<th>名称</th>
					<td>
						<span class='float-right'>
							  <div class="btn-group">
									<a class="btn btn-mini btn-info" href="<%= url_for(:controller=>'bs_renderer', :wkey=>@shop.wsite_hash_key) %>" target="_blank">
										<%= share_icon('サイト表示')%>
										サイト表示
									</a>
									<%= link_to raw("<i class='fa-solid fa-right-to-bracket'></i>&nbsp;&nbsp;店舗管理画面"), {:action=>'delegating', :id=>@item}, :method => :post, :class=>"btn btn-mini btn-primary" %>
									<% url_business = url_for(:action=>"company_show_shop_usage", :id=>@shop) %>
									<a href="<%=url_business%>" class="btn btn-warning btn-mini">
										<%= site_status_icon(@shop.wsite_run_mode) %>
										利用状況表示
									</a>
							  </div>
						</span>
						<%= model_name(@item) %>
					</td>
				</tr>
				<% if false %>
				<tr>
					<th>営業時間</th>
					<td>
						<%= @item.operation_from.strftime("%l:%M %p")%>
						〜
						<%= @item.operation_until.strftime("%l:%M %p")%>
					</td>
				</tr>
				<tr>
					<th>電話番号</th><td><%= @item.telephone_1 %></td>
				</tr>
				<% end %>
				<tr>
					<th>郵便番号</th><td><%= @item.postal %>&nbsp;</td>
				</tr>
				<tr>
					<th>住所</th><td><%= @item.address_1 %>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<% if current_user.has_permission?(User::ROLE_OPERATOR) %>
			<hr/>
			<table class="table table-condensed table-bordered">
				<thead>
					<tr class="info">
						<th colspan="2">
							<span class="float-right">
								<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalEditOption">
									<%= setting_icon('設定') %>&nbsp;設定
								</button>
							</span>
							オプション
						</th>
					</tr>
				<thead>
				<tbody>
					<tr>
						<th width="25%">勤怠管理</th>
						<td width="75%">
							<%= (@item.option_attendance_management)? raw("<i class='fa-solid fa-check' ></i>&nbsp;利用中"): raw("<i class='fa-solid fa-empty-set'></i>&nbsp;未使用") %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>
		<% unless MAKE_SECRET_FUGA_OPTION %>
		<hr/>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr class="info">
					<th colspan="2">
						<span class="float-right">
							<a class="btn btn-small btn-success"  data-toggle="modal" href="#modalEditOption">
								<%= setting_icon('設定') %>&nbsp;
									設定
							</a>
						</span>
						オプション
					</th>
				</tr>
			<thead>
			<tbody>
				<tr>
					<th width="25%">勤怠管理</th>
					<td width="75%">
						<%= (@item.option_attendance_management)? raw("<i class='fa-solid fa-check' ></i>&nbsp;利用中"): raw("<i class='fa-solid fa-empty-set'></i>&nbsp;未使用") %>
					</td>
				</tr>
				<tr>
					<th>簡易予約管理</th>
					<td>
						<%= (@item.option_reservation_management)? raw("<i class='fa-solid fa-check' ></i>&nbsp;利用中"): raw("<i class='fa-solid fa-empty-set'></i>&nbsp;未使用") %>
					</td>
				</tr>
				<tr>
					<th>顧客管理</th>
					<td>
						<%= (@item.option_customer_management)? raw("<i class='fa-solid fa-check' ></i>&nbsp;利用中"): raw("<i class='fa-solid fa-empty-set'></i>&nbsp;未使用") %>
					</td>
				</tr>
				<% if false %>
				<tr>
					<th>売上管理</th>
					<td>
						<%= (@item.option_sales_management)? raw("<i class='fa-solid fa-check' ></i>&nbsp;利用中"): raw("<i class='fa-solid fa-empty-set'></i>&nbsp;未使用") %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>		
		<% end %>

		<% if current_user.has_permission?(User::ROLE_SUPER) || @item.wsite_run_mode<Shop::WSITE_PUBLISHED %>
		<p class="text-right">
			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
				<%= trash_icon('削除確認')%>&nbsp;
				削除確認
			</button>
		</p>
		<% end %>
	</div>
	<hr/>
	<div class="span4">

		<h4>
			<span class="float-right">
				<% url_edit_position = url_for(:action=>"shop_edit_position", :id=>@item) %>							
		  		<a class="btn btn-mini btn-info" href="<%= url_edit_position %>">
					<i class="fa-solid fa-gears"></i>&nbsp;
		  			設定
				</a>
			</span>
			位置情報
		</h4>
		
		<% if @shop.gps? %>
			<div id="map" style='height: 400px;'></div>
		<% else %>
			<div class="alert alert-warning">
			  <%= info_icon('注意')%>&nbsp;Warning!位置情報が未設定です。
			</div>
		<% end%>
	</div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_company_update_shop_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗情報編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_shop", locals: {f: f, shop: @shop} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>



<!-- modalEditOption -->
<div class="modal fade" id="modalEditOption" tabindex="-1" aria-labelledby="modalEditOption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_company_update_shop_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗情報編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_shop_option", locals:{f: f, shop: @shop} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= setting_icon('設定') %>&nbsp;設定</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<!-- modalDeleteShop -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @item, url: admin_company_delete_shop_path(id: @item), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= @item.name %>」を削除します。<br/>
						この店舗に関連する情報も削除されます。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
			<% end %>
        </div>
    </div>
</div>


<script>
	var map;
  	var shop_marker;
    <% if @item.gps? %>
	    var latlng = { lat: <%= @item.lat %>, lng: <%= @item.lng %> };
	<% else %>
	    var latlng = { lat: 35.681382, lng: 139.766084 };
	<% end %>

    function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: latlng,
			zoom: 16
		});
		shop_marker = new google.maps.Marker({
			position: latlng,
			map: map
		});
	}
    function moveMap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': document.getElementById('address').value
        }, function(result, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.panTo(result[0].geometry.location);
                var marker = new google.maps.Marker({
                    position: result[0].geometry.location,
                    map: map
                });
            } else {
                alert("見つかりませんでした。");
            }
        });
    }
	window.onload = function () {
		initMap();
	}
</script>
