<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'レジストリ', admin_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@item) %></li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3><%= model_name(@item) %>&nbsp;<small><%= model_alt_id(@item) %></small></h3>
</header>

<ul class="nav nav-tabs"  style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show',:id=>@item) %>">レジストリー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link " href="<%= url_for(:controller=>'admin', :action=>'company_list_shop',:id=>@item) %>">登録店舗</a>
	<li class="nav-item">
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'company_list_user', :id=>@item) %>">オーナー・ユーザー</a>
	</li>
</ul>

<h4>
	<p class="float-right">
		<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon %>&nbsp;オーナー・ユーザー登録
		</button>
	</p>
	オーナー・ユーザー一覧
</h4>
<% if @users.blank? %>
	<p class="text-error">ユーザーが登録されていません</p>
<% else %>
	<table class="table table-hover table-bordered">
		<thead>
			<tr class="info">
				<th class="table-dark span4">表示名</th>
				<th class="table-dark span4"><span class="float-right"><span class="badge badge-success"><%= @users.size %></span></span>ログイン</th>
				<th class="table-dark span4">Email</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do | user | %>
				<tr <% if user.banned? %>class="error"<%end%>>
					<td><%= model_name(user) %></td>
					<td>
						<% if user.banned? %>
							<span class="float-right"><i class="fa-solid fa-ban"></i></span>
						<% end %>
						<% url = url_for(:action=>"company_show_user", :id=>user) %>
						<a href="<%=url%>" class='text-primary'>
							<%= user.login %>
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</td>
					<td><%= user.email %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<% 
				@user = User.new 
				@user.role = User::ROLE_OWNER
			%>
			<%= form_for @user, url: admin_company_create_user_path(id: @item.id), method: :post do |f| -%>
				<%= hidden_field 'user', 'role'%>
                <div class="modal-header">
                    <h5 class="modal-title">オーナー・ユーザー登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render partial: "form_user_owner", locals: {f: f, item: @user} %>
					<%= render partial: "form_user_password", locals: {f: f, item: @user} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-success"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<% if false %>
<!-- modalNew -->
<div class="modal hide fade form-horizontal", id="modalNew">
	<%= form_for @item, url: dashboard_company_create_user_path(id: @item), method: :post do |f| -%>
		<% 
			@user = User.new 
			@user.role = User::ROLE_OWNER
		%>
		<%= hidden_field 'user', 'role'%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">オーナー・ユーザー登録</h3>
		</div>
		<div class="modal-header">
			<%= render :partial=>"form_user_owner" %>
			<%= render :partial=>"form_user_password" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;登録</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<% end %>
