<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'レジストリ', admin_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@item) %></li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3><%= model_name(@item) %>&nbsp;<small><%= model_alt_id(@item) %></small></h3>
</header>

<ul class="nav nav-tabs"  style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show',:id=>@item) %>">レジストリー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'company_list_shop',:id=>@item) %>">登録店舗</a>
	<li class="nav-item">
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_list_user', :id=>@item) %>">オーナー・ユーザー</a>
	</li>
</ul>

<h4>
	<% if current_user.role==User::ROLE_SUPER %>
		<p class="float-right">
			<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNewShop">
				<%= new_icon %>&nbsp;店舗登録
			</button>
		</p>
	<% end %>
	登録店舗一覧
</h4>

<% @shops = @item.shops %>
<% if @shops.blank? %>
	<p class="alert alert-warning">店舗が登録されていません</p>
<% else %>
	<table class="table table-hover table-bordered">
		<thead>
			<tr class="info">
				<th class='xtable-dark span6'>
					<span class="float-right"><span class="badge badge-success"><%= @item.shops.size %></span></span>
					店舗名
				</th>
				<th class='d-none d-md-table-cell'>ディスク容量</th>
				<th class='d-none d-md-table-cell'>ディスク使用率</th>
				<th class='d-none d-md-table-cell'>固定ページ</th>
				<th class='xtable-dark span2'>サイト表示</th>
			</tr>
		</thead>
		<tbody>
			<% @shops.each do | shop | %>
				<tr>
					<td style='vertical-align: middle;'>

					<%= site_status_icon(shop.wsite_run_mode) %>

						<%= model_name(shop) %>
						<span class="float-right">
							<% url = url_for(:action=>"company_show_shop", :id=>shop) %>
							<a href="<%=url%>" class='text-primary'>
								<%= setting_icon %><div class='d-none d-md-inline'> 設定</div>
							</a>
							|
							<%= (shop.first?)?	"△":	link_to("▲", :action=>"shop_higher",	:id=>shop) %>
							<%= (shop.last?)? 	"▽": 	link_to("▼", :action=>"shop_lower", 	:id=>shop) %>
						</span>
					</td>
					<td class='d-none d-md-table-cell' style="text-align:right; vertical-align: middle;">
						<%= (shop.room_size_mb.blank?)? "無制限": number_to_human_size(shop.room_size_mb*1024*1024, :locale=>I18n.locale) %>
						<a href="<%= url_for(:action=>"company_show_shop_usage", :id=>shop) %>" class="btn btn-outline-info btn-sm">
							<%= info_icon('情報')%>
						</a>
					</td>
					<td class='d-none d-md-table-cell' style="text-align:right; vertical-align: middle;">
						<% 
							total_photos = shop.photos
							photo_sum_size = Photo.total_file_size(total_photos)
							#total_photos.each{ |photo|  photo_sum_size+=photo.my_size }	unless total_photos.blank?
							rate = (shop.room_size_mb.blank?||shop.room_size_mb==0)? nil : (photo_sum_size*100)/(shop.room_size_mb*1024*1024) 
						%>
						利用率 : <%= (rate.blank?)? "-": rate.to_i %>%
					</td>
					<td class='d-none d-md-table-cell' style="text-align:right; vertical-align: middle;">
						<% fix_pages_bag = ContentBag.retrieve_fixed_page_bag(shop) %>
						<%= fix_pages_bag.content_leafs.size %>
						ページ
					</td>
					<%= form_tag admin_delegating_path(id: shop), method: :post, class: '' do %>
					<td class='text-center'style="vertical-align: middle;">
						<a class="btn btn-sm btn-outline-info" href="<%= url_for(:controller=>'bs_renderer', :wkey=>shop.wsite_hash_key) %>" target="_blank">
							<%= share_icon('サイト表示')%>
							<div class='d-none d-md-inline'>サイト</div>表示
						</a>
						|
						<button type='submit' class='btn btn-sm btn-outline-primary'>
							<div class='d-none d-md-inline'>店舗</div>管理
							<%= link_to_6_icon %>
						</button>
					</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNewShop" tabindex="-1" aria-labelledby="modalNewShop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<% @shop = Shop.new %>
			<%= form_for @shop, url: admin_company_create_shop_path(company_id: @item.id), method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">新規店舗登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render partial: "form_shop", locals: {f: f, shop: @shop} %>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-success"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<% if false %>
<!-- modalNewShop -->
<div class="modal hide fade form-horizontal", id="xxxmodalNewShop">
	<% @shop = Shop.new %>
	<%= form_for @shop, url: dashboard_company_create_shop_path(company_id: @item.id), method: :post do |f| -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">新規店舗登録</h3>
		</div>
		<div class="modal-body">
			<%= render :partial=>"form_shop" %>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;登録</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<% end %>
