

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'レジストリ', admin_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@item) %></li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3><%= model_name(@item) %>&nbsp;<small><%= model_alt_id(@item) %></small></h3>
</header>



<ul class="nav nav-tabs"  style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'company_show',:id=>@item) %>">レジストリー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_list_shop',:id=>@item) %>">登録店舗</a>
	<li class="nav-item">
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_list_user', :id=>@item) %>">オーナー・ユーザー</a>
	</li>
</ul>

<h4>
	<% if current_user.role==User::ROLE_SUPER %>
		<p class="float-right">
			<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEdit">
				<%= edit_icon('編集') %>&nbsp;編集
			</button>
		</p>
	<% end %>
	レジストリー情報
</h4>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>レジストリーID</th>
			<td width='75%'><%= model_alt_id(@item) %></td>
		</tr>
		<tr>
			<th>レジストリー名称</th>
			<td><%= model_name(@item) %></td>
		</tr>
		<tr>
			<th>電話番号</th><td><%= @item.telephone_1 %></td>
		</tr>
		<tr>
			<th>郵便番号</th><td><%= @item.postal %> </td>
		</tr>
		<tr>
			<th>住所</th><td><%= @item.address_1 %></td>
		</tr>
	</tbody>
</table>

<% if current_user.has_permission?(User::ROLE_SUPER) %>
	<p class="text-right">
		<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
			<%= trash_icon('削除') %>&nbsp;削除…
		</button>
	</p>
<% end %>

<!-- modalEdit -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<%= form_for @item, url: admin_company_update_path(id: @item), method: :patch do |f| -%>
				<div class="modal-header">
					<h5 class="modal-title">レジストリー編集</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<%= render partial: "form_company", locals: {f: f, item: @item } %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新') %>&nbsp;更新</button>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- modalDelete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
  <div class="modal-dialog">
		<div class="modal-content">
			<%= form_for @item, url: admin_company_delete_path(id: @item), method: :delete do |f| -%>
				<div class="modal-header">
					<h5 class="modal-title">レジストリー削除</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						「<%= model_name(@item) %>」を削除します。<br/>
						このレジストリーに関連するすべての情報が削除されます。<br/>
						よろしいですか？
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="submit" class="btn btn-sm btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
