<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">レイアウト</li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon %>&nbsp;レイアウト登録
		</button>
	</span>
	<h3>レイアウト・スキーム管理</h3>
</header>

<% if @layouts.blank? %>
	<div class="alert alert-block">
		 <strong>Warning!</strong> 項目がありません。
	</div>
<% else %>
	<div class="row">
		<% array = @layouts.in_groups_of(3, false)%>
		<% for i in 0..(array.size-1) %>
			<% @lines = array[i] %>
			<div class="col-sm-4"><%= render :partial=>"item_layout", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %></div>
			<div class="col-sm-4"><%= render :partial=>"item_layout", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %></div>
			<div class="col-sm-4"><%= render :partial=>"item_layout", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %></div>
			<hr/>
		<% end %>
	</div>
<% end %>

<!-- modalNew -->
<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<%= form_tag url_for(:action=>"layout_create"), {:class=>"form-horizontal"} do -%>
			<% 
				@layout = LayoutScheme.new
			%>
			<div class="modal-header">
				<h5 class="modal-title">レイアウト・スキーム登録</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<%= render :partial=>"form_layout" %>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;登録</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
			</div>
		<% end %>
		</div>
	</div>
</div>
