<!-- === Masthead === -->

<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 					  :controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li><%= link_to model_name(@user.shop.company), 	:controller=>"admin", :action=>"company_show", :id=>@user.shop.company %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li><%= link_to model_name(@user.shop), 			:controller=>"admin", :action=>"shop_list_users", :id=>@user.shop %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li class="active"><%= model_name(@user) %></li>
</ul>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@user.shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@user.shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@user.shop) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@user.shop) %>"><%= icon_site_status(@user.shop.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>

<header class="subhead" id="overview">
	<span class="float-right">
		<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:action=>'shop_list_users', :id=>@user.shop) %>">
			<%= backward_icon('戻る')%>
			一覧
		</a>
		<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEdit">
			<%= edit_icon('編集') %>&nbsp;編集
		</button>
	</span>
	<h4>ユーザー情報</h4>
</header>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>役割</th><td width='75%'><%= label_user_role(@user.role)%></td>
		</tr>
		<tr>
			<th>表示名</th><td><%= model_name(@user)%></td>
		</tr>
		<tr>
			<th >ログイン</th>
			<td><%= @user.login %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>バージョン</th>
			<td>
				<%= user_ui_version_label(@user) %>
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditPassword">
						<%= update_icon('編集') %>&nbsp;パスワード再発行
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="well">
	<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDelete">
			<%= trash_icon('削除確認') %>&nbsp;削除確認
	</button>
</div>
				

<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @user, url: admin_shop_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditPassword" tabindex="-1" aria-labelledby="modalEditPassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_shop_update_user_path(id: @user), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">パスワード再発行</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_password", locals:{f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_shop_delete_user_path(id: @user), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ユーザー削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= @user.login %>」を削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-danger btn-sm"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
