<!-- === Masthead === -->


<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 					:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@item.company), 	:controller=>"admin", :action=>"company_show", :id=>@item.company %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@item) %></li>
</ul>


<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@item) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@item) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@item) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@item) %>"><%= icon_site_status(@item.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>

<h4>
	<p class="float-right">
		<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon('登録') %>&nbsp;ユーザー登録
		</button>
	</p>
	店舗ユーザー一覧
</h4>
<% if @users.blank? %>
	<p class="text-error">ユーザーが登録されていません</p>
<% else %>
	<table class="table table-hover table-bordered">
		<thead>
			<tr class="info">
				<th class="table-dark span2">役割</th>
				<th class="table-dark span3"><span class="float-right"><span class="badge badge-success"><%= @users.size %></span></span>表示名</th>
				<th class="table-dark span3"><span class="float-right"><span class="badge badge-success"><%= @users.size %></span></span>ログイン</th>
				<th class="table-dark span4">Email</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do | user | %>
				<tr>
					<td><%=label_user_role(user.role)%></td>
					<td><%=model_name(user)%></td>
					<td>
						<% url = url_for(:action=>"shop_show_user", :id=>user) %>
						<a href="<%=url%>" class='text-primary'>
							<%= user.login %>
							<%= link_to_6_icon %>
						</a>
					</td>
					<td><%= user.email %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<% @user = User.new %>
			<%= form_for @user, url: admin_shop_create_user_path(shop_id: @item), method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">新規ユーザー登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user", locals: {f: f, item: @user}  %>
					<%= render :partial=>"form_user_password", locals: {f: f, item: @user}  %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-success btn-sm"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<% if false %>
<!-- modalNew -->
<div class="modal hide fade form-horizontal", id="modalNew">
<%= form_for @item, url: dashboard_shop_create_user_path(shop_id: @item), method: :post do |f| -%>
	<% @user = User.new %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">新規ユーザー登録</h3>
	</div>
	<div class="modal-header">
		<%= render :partial=>"form_user", locals: {f: f, item: @user}  %>
		<%= render :partial=>"form_user_password", locals: {f: f, item: @user}  %>
	</div>
	<div class="modal-footer">
    	<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;登録</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
	</div>
<% end %>
</div>
<% end %>
