<!-- === Masthead === -->


<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 				:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li><%= link_to model_name(@item.company),  :controller=>"admin", :action=>"company_show", :id=>@item.company %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li class="active"><%= model_name(@item) %></li>
</ul>

<header class="subhead" id="overview">
	<h3>ダッシュボード</h3>
</header>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@item) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@item) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@item) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@item) %>"><%= icon_site_status(@item.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>

<header class="subhead" id="overview">
	<span class="float-right">
		<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon('登録') %>&nbsp;スタッフ登録
		</button>
	</span>
	<h4>店舗スタッフ一覧</h4>
</header>

<% if @staffs.blank? %>
	<p class="text-error">店舗スタッフが登録されていません</p>
<% else %>
	<table class="table table-hover table-xxbordered">
		<thead>
			<tr>
				<th width='30%' xclass='table-dark' ><span class="float-right"><span class="badge badge-success"><%= @staffs.size %></span></span>スタッフ名</th>
				<th width='20%'></th>
				<th width='25%' xclass='table-dark' >職位/タイトル</th>
				<th width='15%' xclass='table-dark' >ソーシャル</th>
			</tr>
		</thead>
		<tbody>
			<% @staffs.each do | staff | %>
				<tr>
					<td style="vertical-align: middle;">
						<% url = url_for(:action=>"shop_show_staff", :id=>staff) %>
						<a href="<%=url%>" class='text-primary'>
							<%= icon_staff_status_6(staff.staff_status) %>
							<%= model_name(staff) %>
							<%= link_to_6_icon %>
						</a>
						<span class='float-right'>
							<small>
								<%= label_staff_status(staff.staff_status)%>
							</small>
						</span>
					</td>
					<td class='text-center' style="vertical-align: middle;">
						<%= (staff.first?)?	caret_top_icon:		link_to(caret_top_icon, 	:action=>"staff_top",	:id=>staff) %>
						<%= (staff.first?)?	caret_up_icon:		link_to(caret_up_icon, 		:action=>"staff_higher",	:id=>staff) %>
						<%= (staff.last?)? 	caret_down_icon: 	link_to(caret_down_icon, 	:action=>"staff_lower", 	:id=>staff) %>
						<%= (staff.last?)? 	caret_bottom_icon: 	link_to(caret_bottom_icon, 	:action=>"staff_bottom", 	:id=>staff) %>
					</td>
					<td style="vertical-align: middle;"><%=staff.job_title%></td>
					<td style="vertical-align: top;">
						<%= raw "<i class='fa-brands fa-facebook fa-2x'></i>"		unless staff.social_facebook_uri.blank? %>
						<%= raw "<i class='fa-brands fa-x-twitter fa-2x'></i></a>"		unless staff.social_twitter_uri.blank? %>
						<%= raw "<i class='fa-brands fa-instagram fa-2x'></i>"			unless staff.social_instagram_uri.blank? %>
						<%= raw "<i class='fa-brands fa-pinterest fa-2x'></i>"	unless staff.social_pinterest_uri.blank? %>
						<%= raw "<i class='fa-brands fa-tumblr fa-2x'></i>"		unless staff.social_tumblr_uri.blank? %>
						<%= raw "<img src='/images/assets/hpb_icon.png' style='vertical-align: top;' alt='HOTPEPPER Beauty'/>"unless staff.social_hotpepper_beauty_uri.blank? %>
						<%= raw "<i class='fa-brands fa-youtube fa-2x'></i>"		unless staff.social_youtube_uri.blank? %>
						<%= raw "<i class='fa-brands fa-line fa-2x'></i>"		unless staff.social_line_uri.blank? %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<% @shop = Shop.new %>
			<% @staff = Staff.new %>
			<%= form_for @staff, url: admin_shop_create_staff_path(shop_id: @item.id), method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">新規スタッフ登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render partial: "form_staff", locals: {f: f, staff: @staff }  %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-success btn-sm"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
