<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 				:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li><%= link_to model_name(@shop.company),  :controller=>"admin", :action=>"company_show", :id=>@shop.company %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <li class="active"><%= model_name(@shop) %></li>
</ul>

<header class="subhead" id="overview">
	<h3>ダッシュボード</h3>
</header>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@shop) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>


<header class="subhead" id="overview">
	<span class="float-right">
		<% url_business = url_for(:action=>"company_show_shop_usage", :id=>@shop) %>
		<a href="<%=url_business%>" class="btn btn-outline-warning btn-sm">
			<%= site_status_icon(@shop.wsite_run_mode) %>
			利用状況表示
		</a>
		|
		<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEdit">
			<%= edit_icon('編集') %>&nbsp;編集
		</button>
	</span>
	<h4>サイト属性</h4>
</header>

<table class="table table-bordered">
	<tbody>
		<% site_status_class = (@shop.wsite_run_mode==Shop::WSITE_BLOCKED)? 'error': ((@shop.wsite_run_mode==Shop::WSITE_TRIAL)? 'warning': 'success') %>
		<tr class="<%=site_status_class%>">
			<th width='25%'>サイト・ステータス</th>
			<td width='75%'>
				<span class='float-right'>
						<a class="btn btn-sm btn-outline-info" href="<%= url_for(:controller=>'bs_renderer', :wkey=>@shop.wsite_hash_key) %>" target="_blank">
							<%= share_icon('サイト表示')%>
							サイト表示
						</a>
						|
						<%= link_to raw('店舗管理画面' + ' ') + link_to_6_icon, {:action=>'delegating', :id=>@shop}, :method => :post, :class=>"btn btn-sm btn-outline-primary" %>
				</span>
				<%= site_status_icon(@shop.wsite_run_mode) %>&nbsp;<%= label_site_status(@shop.wsite_run_mode) %>
			</td>
		</tr>
		<tr>
			<th>サイトURL</th>
			<td><%= @shop.wsite_url %></td>
		</tr>
		<tr>
			<th>サイト・キーワード</th>
			<td><%= @shop.wsite_keywords%></td>
		</tr>
		<tr>
			<th>サイトの説明</th>
			<td><%= @shop.wsite_description_shop%></td>
		</tr>
		<tr>
			<th>問い合わせ電話番号</th>
			<td><%= @shop.wsite_telephone%></td>
		</tr>
		<tr>
			<th>ホームページ表示メールアドレス</th>
			<td><%= @shop.wsite_email%></td>
		</tr>
		<tr>
			<th>お問い合わせ通知メールアドレス</th>
			<td><%= @shop.inquiry_email%></td>
		</tr>
		<tr>
			<%
				tmp_color  = @shop.wsite_color_deploy
				tmp_layout = @shop.wsite_layout_deploy
			%>
			<th>カラー</th>
			<td>
				<span class="float-right">
					<a href='<%= url_for(controller: 'bs_authoring', action: 'list_color_schemes') %>' class="btn btn-primary btn-sm">
						<%= edit_icon('設定編集') %>&nbsp;設定編集
					</a>
				</span>
				<b>
				<%= (tmp_color.blank?)? '未設定': model_name(tmp_color) %>
				</b>
				<% unless tmp_color.blank? %>
				(
					<%= tmp_color.repository_path %>
				)
				<% end %>
			</td>
		</tr>
		<tr>
			<th>レイアウト</th>
			<td>
				<span class="float-right">
					<a href='<%= url_for(controller: 'bs_authoring', action: 'list_layout_schemes') %>' class="btn btn-primary btn-sm">
						<%= edit_icon('設定編集') %>&nbsp;設定編集
					</a>
				</span>
				<b>
				<%= (tmp_layout.blank?)? '未設定': model_name(tmp_layout) %>
				</b>
				<% unless tmp_layout.blank? %>
					(
						<%= tmp_layout.repository_path %>
					)
				<% end %>
			</td>
		</tr>
		<tr>
			<th>お問い合わせ機能</th>
			<td>
				<% if @shop.enable_inquiry? %>
					有効
				<% else %>
					無効
				<% end %>
			</td>
		</tr>
		<tr>
			<th>非スマートフォン向けレイアウト</th>
			<td><%= h @shop.wsite_layout_pc_specific_basename %></td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'><i class="icon-google-plus"></i>&nbsp;店舗カレンダー</th>
			<td width='75%'>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalGCalendar">
						<%= new_icon('設定')%>&nbsp;
			  			設定
					</button>
				</span>
				<% unless @shop.google_calendar_url.blank? %><p><i class="icon-calendar"></i>&nbsp;<%= h truncate(@shop.google_calendar_url, :length=>50) %></p><% end %>
			</td>
		</tr>
		<tr>
			<th><i class="icon-google-plus"></i>&nbsp;店舗カレンダー埋込コード</th>
			<td>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalGCalendarCode">
						<%= new_icon('設定')%>&nbsp;
			  			設定
					</button>
				</span>
				<% unless @shop.google_calendar_emb_frame_code.blank? %><p><%=h truncate(@shop.google_calendar_emb_frame_code, :length=>100) %></p><% end %>
			</td>
		</tr>
		<tr>
			<th><i class="icon-google-plus"></i>&nbsp;アクセス解析コード</th>
			<td>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalGAnalytics">
						<%= new_icon('設定')%>&nbsp;
			  			設定
					</button>
				</span>
				<% unless @shop.analytics_code.blank? %><p><%= @shop.analytics_code %></p><% end %>
			</td>
		</tr>
		<tr>
			<th><i class="icon-globe"></i>&nbsp;カスタム・メタタグ</th>
			<td>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalMetaTags">
						<%= new_icon('設定')%>&nbsp;
			  			設定
					</button>
				</span>
				<% unless @shop.custom_metas.blank? %><p><%=h truncate(@shop.custom_metas, :length=>100) %></p><% end %>
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>ブログコメント機能</th>
			<td width='75%'>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDisqusMode">
						<%= new_icon('設定')%>&nbsp;
			  			設定
					</button>
				</span>
				<%= (@shop.use_disqus)? raw("使用する (by &copy;&nbsp;DISQUS)"): "使用しない"%>
			</td>
		</tr>
		<% if @shop.use_disqus %>
			<tr>
				<th width='25%'>DISQUS CODE</th>
				<td width='75%'>
					<span class="float-right">
						<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDisqusCode">
							<%= new_icon('設定')%>&nbsp;
							設定
						</button>
					</span>
					<% if @shop.use_disqus && @shop.disqus_code.blank? %>
						<p class="text-error">
							<i class="icon-warning-sign"></i>
							<a href="https://disqus.com/profile/login/?next=https://disqus.com/" target="_blank">DISQUS</a>
							からユニバーサルコードを取得して設定する必要があります。
						</p>
					<% else %>
						<%= h truncate(@shop.disqus_code, :length=>100) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="modal fade" id="modalDisqusMode" tabindex="-1" aria-labelledby="modalDisqusMode" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ブログコメント機能</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
				<div class="form-group row">
					<div class="col-sm-4">
						<%= f.label :use_disqus, 'アクション', {class: 'form-label'} %>
					</div>
					<div class="col-sm-8 btn-group" role="group" aria-label="Basic radio toggle button group">
						<input type="radio" class="btn-check" name="shop[use_disqus]" id="btnradio1" value='1' autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio1">使用する</label>

						<input type="radio" class="btn-check" name="shop[use_disqus]" id="btnradio2" value='0' autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio2">使用しない</label>

					</div>
				</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= setting_icon('設定') %>&nbsp;設定</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDisqusCode" tabindex="-1" aria-labelledby="modalDisqusCode" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_set_disqus_code_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">DISQUSコード設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div class="mb-3 row">
						<label for="job_title" class="col-sm-4 col-form-label">コード</label>
						<div class="col-sm-8">
							<%= f.text_area :disqus_code, {value: @shop.disqus_code, class: "form-control", placeholder: "DISQUS ユニバーサルコードを入力", :required => false, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>



<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='25%'>HashKey</th>
			<td width='75%'><%= @shop.wsite_hash_key%></td>
		</tr>
		<tr>
			<th>QRコード</th>
			<td>
				<%
				    mypage_url = url_for(:controller=>'bs_renderer', :wkey=>@shop.wsite_hash_key, :only_path=>false)
					@encode_url = URI.encode(mypage_url)
				%>		
				<img src="https://chart.googleapis.com/chart?chs=256x256&amp;cht=qr&amp;chl=<%= @encode_url %>&amp;choe=UTF-8" alt="<%=model_name(@shop) %>" /><br/>
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered">
	<tbody>
		<% @icon = @shop.favicon %>
		<tr>
			<th width='25%'>favicon.png</th>
			<td width='75%'>
				<% if @icon.blank? %>
					<small class='text-danger'>画像のファイル名は'favicon.png'。画像の種類は「PNG形式」。</small>
					<span class="float-right">
						<a class="btn btn-sm btn-outline-primary" href="<%= url_for(:action=>'shop_new_favicon', :id=>@shop) %>">
							<%= share_icon('設定')%>&nbsp;
				  			設定
						</a>
					</span>
				<% else %>
					<span class="float-right">
						<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeleteFavicon">
							<i class="fa-solid fa-eraser"></i>&nbsp;
				  			クリア
						</button>
					</span>
					<%= image_tag @icon.clip.url() %>
					<% unless @icon.clip_file_name == 'favicon.png' || @icon.clip_file_name == 'favicon.ico' %>
						<small>ファイル名が「favicon.png」ではありません</small>
					<% end %>
				<% end %>
			</td>
		</tr>
		<% @icon = @shop.apple_touch_icon %>
		<tr>
			<th>WebClip画像</th>
			<td>
				<% if @icon.blank? %>
					<small>
					画像のファイル名は'apple-touch-icon-precomposed.png'。<br/>
					画像のサイズは「114x114ピクセル」以上の正方形。
					画像の種類は「PNG形式」。	
					</small>
					<span class="float-right">
						<a class="btn btn-sm btn-outline-primary" href="<%= url_for(:action=>'shop_new_apple_touch_icon', :id=>@shop) %>">
							<%= share_icon('設定')%>&nbsp;
				  			設定
						</a>
					</span>
				<% else %>
					<span class="float-right">
						<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeleteAppleTouchIcon">
							<i class="fa-solid fa-eraser"></i>&nbsp;
				  			クリア
						</button>
					</span>
					<%= image_tag @icon.clip.url() %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th style="vertical-align: middle;">ソーシャル</th>
			<td style="vertical-align: top;">
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditSocial">
						<%= new_icon('設定')%>&nbsp;
						ソーシャル設定
					</button>
				</span>
				<%= raw "<a href=#{@shop.social_facebook_uri} target='_blank' title=#{@shop.social_facebook_uri}><i class='fa-brands fa-facebook fa-2x'></i></a>"		unless @shop.social_facebook_uri.blank? %>
				
				<%= raw "<a href=#{@shop.social_twitter_uri} target='_blank' title=#{@shop.social_twitter_uri}><i class='fa-brands fa-twitter fa-2x'></i></a>"		unless @shop.social_twitter_uri.blank? %>
				<%= raw "<a href=#{@shop.social_instagram_uri} target='_blank' title=#{@shop.social_instagram_uri}><i class='fa-brands fa-instagram fa-2x'></i></a>"		unless @shop.social_instagram_uri.blank? %>
				<%= raw "<a href=#{@shop.social_pinterest_uri} target='_blank' title=#{@shop.social_pinterest_uri}><i class='fa-brands fa-pinterest fa-2x'></i></a>"	unless @shop.social_pinterest_uri.blank? %>
				<%= raw "<a href=#{@shop.social_tumblr_uri} target='_blank' title=#{@shop.social_tumblr_uri}><i class='fa-brands fa-tumblr fa-2x'></i></a>"			unless @shop.social_tumblr_uri.blank? %>
				<%= raw "<a href=#{@shop.social_hotpepper_beauty_uri} target='_blank' title=#{@shop.social_hotpepper_beauty_uri}><img src='/images/assets/hpb_icon.png' style='vertical-align: top;' alt='HOTPEPPER Beauty'/></a>"	unless @shop.social_hotpepper_beauty_uri.blank? %>
				<%= raw "<a href=#{@shop.social_youtube_uri} target='_blank' title=#{@shop.social_youtube_uri}><i class='fa-brands fa-youtube fa-2x'></i></a>"			unless @shop.social_youtube_uri.blank? %>
				<%= raw "<a href=#{@shop.social_line_uri} target='_blank' title=#{@shop.social_line_uri}><i class='fa-brands fa-line fa-2x'></i></a>"			unless @shop.social_line_uri.blank? %>
				<%= raw "<a href=#{@shop.web_reservation_uri} target='_blank' title=#{@shop.web_reservation_uri}>#{reservation_icon('WEB予約', 'fa-2x')}</a>"			unless @shop.web_reservation_uri.blank? %>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">サイト属性編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= render partial: "form_shop_wsite", locals: {f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGCalendar" tabindex="-1" aria-labelledby="modalGCalendar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗カレンダー</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
						<label for="google_calendar_url" class="col-sm-4 col-form-label">店舗カレンダー</label>
						<div class="col-sm-8">
							<%= f.text_field :google_calendar_url,  {class: "form-control", placeholder: "店舗カレンダーのアドレスを入力", :required => false, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGCalendarCode" tabindex="-1" aria-labelledby="modalGCalendarCode" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗カレンダー埋込コード</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
						<label for="google_calendar_url" class="col-sm-4 col-form-label">店舗カレンダー埋込コード</label>
						<div class="col-sm-8">
							<%= f.text_area :google_calendar_emb_frame_code, {value: @shop.google_calendar_emb_frame_code, class: "form-control", placeholder: "店舗カレンダーの埋込コードを入力", :required => false, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGAnalytics" tabindex="-1" aria-labelledby="modalGAnalytics" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">アクセス解析コード</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
						<label for="google_calendar_url" class="col-sm-4 col-form-label">アクセス解析コード</label>
						<div class="col-sm-8">
							<%= f.text_area :analytics_code, {value: @shop.analytics_code, class: "form-control", placeholder: "アクセス解析コードを入力", :required => false, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMetaTags" tabindex="-1" aria-labelledby="modalMetaTags" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">カスタム・メタタグ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
						<label for="google_calendar_url" class="col-sm-4 col-form-label">カスタム・メタタグ</label>
						<div class="col-sm-8">
							<%= f.text_area :custom_metas, {value: @shop.custom_metas, class: "form-control", placeholder: "<HEAD>エリアに挿入したいコードを入力", :required => false, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditSocial" tabindex="-1" aria-labelledby="modalEditSocial" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_update_website_path(id: @shop), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">店舗ソーシャル設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= render :partial=>"form_shop_social", locals: {f: f} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-primary btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteFavicon" tabindex="-1" aria-labelledby="modalDeleteFavicon" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_reset_favicon_path(id: @shop), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">FAVICON削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
						FAICON.ICOを削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-danger btn-sm"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteAppleTouchIcon" tabindex="-1" aria-labelledby="modalDeleteAppleTouchIcon" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @shop, url: admin_shop_reset_apple_touch_icon_path(id: @shop), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">WebClip画像削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
						WebClip画像を削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-danger btn-sm"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
