<!-- === Masthead === -->
	

<ul class="breadcrumb">
  <li><%= link_to "レジストリー", 					:controller=>"admin", :action=>"company_index" %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@shop.company), 	:controller=>"admin", :action=>"company_show", :id=>@shop.company %>&nbsp;<span class="divider">/</span></li>
  <li><%= link_to model_name(@shop), 	:controller=>"admin", :action=>"shop_show_website", :id=>@shop %>&nbsp;<span class="divider">/</span></li>
  <li class="active">WebClip画像設定</li>
</ul>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'company_show_shop', :id=>@shop) %>">店舗情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_staffs', :id=>@shop) %>">店舗スタッフ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'shop_list_users', :id=>@shop) %>">店舗ユーザー</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'shop_show_website',	:id=>@shop) %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト属性</a>
	</li>
</ul>

<h4>
	<span class="float-right">
		<a class="btn btn-sm btn-outline-dark" href="<%= url_for(:action=>'shop_show_website', :id=>@shop) %>">
		<%= backward_icon('戻る')%>&nbsp;
			戻る
		</a>
	</span>
	WebClip画像
</h4>

<% if true %>
	<% item = Photo.new %>
	<%= form_tag(dashboard_shop_create_apple_touch_icon_path(id: @shop),method: :post, class: "dropzone",id: 'dropzone') do %>
	<div class="fallback">
		<%= file_field_tag('photo[clip]') %>
	</div>
	<% end %>
	<script>
		Dropzone.options.dropzone = {
			paramName: "photo[clip]",
			maxFilesize: 20,
			acceptedFiles: "image/*",
			init: function() {
				this.on('complete', function (file) {
					//location.reload();
				})
			}
		}
	</script>
<% end %>

<div class="alert alert-info">
	画像のファイル名は'apple-touch-icon-precomposed.png'。
	画像のサイズは「114x114ピクセル」以上の正方形。
	画像の種類は「PNG形式」。	
</div>
