<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
	<li class="breadcrumb-item"><%= link_to "管理ユーザー一覧",	admin_user_list_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= model_name(@user) %></li>
  </ol>
</nav>

<!-- === Masthead === -->
<header class="subhead" id="overview">
	<p class='float-right'%>
		<a class="btn btn-small btn-secondary" href="<%= url_for(:action=>'user_list') %>">
			<%= backward_icon('戻る')%>&nbsp;戻る
		</a>
	</p>
	<h3><%= model_name(@user) %></h3>
</header>

<table class="table table-bordered">
	<tbody>
		<tr>
			<th width='30%'>表示名</th>
			<td width='70%'><%= model_name(@user) %></td>
		</tr>
		<tr <% if @user.banned? %>class="error"<%end%>>
			<th>ログイン</th>
			<td>
				<%= @user.email %>
				<% if @user.banned? %>
					<br/>
					<small>
						<i class="icon-ban-circle"></i>
						アカウントがブロックされています。
						ユーザー情報の更新（パスワード更新等）が必要です。
					</small>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>ロール</th><td><%= label_user_role(@user.role)%></td>
		</tr>
		<tr>
			<th>連絡先</th>
			<td><%= @user.email_org %></td>
		</tr>
		<tr>
			<th>バージョン</th>
			<td>
				<%= user_ui_version_label(@user) %>
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditPassword">
					<%= update_icon('パスワード再発行')%>&nbsp;パスワード再発行
				</button>
			</td>
		</tr>
	</tbody>
</table>

<p class='text-right'>
	<% if false && current_user==@user %>
		<button type='button' class='btn bt-sm btn-secondary' disabled>
			<%= trash_icon('削除') %>&nbsp;削除確認
		</button>
	<% else %>
		<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
			<%= trash_icon('削除') %>&nbsp;削除確認
		</button>
	<% end %>
	<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEdit">
		<%= edit_icon('編集') %>&nbsp;編集
	</button>
</p>

<!-- EditModal -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @user, url: admin_user_update_path(id: @user.id), method: :patch do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">管理ユーザー編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_super", locals: {f: f, item: @user} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            <% end %>
        </div>
    </div>
</div>

<!-- NewPasswordModal -->
<div class="modal fade" id="modalEditPassword" tabindex="-1" aria-labelledby="modalEditPassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_user_update_path(id: @user.id), method: :patch do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">パスワード再発行</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_user_password", locals: {f: f, item: @user} %>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><%= update_icon('更新') %>&nbsp;更新</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            <% end %>
        </div>
    </div>
</div>

<!-- DeleteModal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @user, url: admin_user_delete_path(id: @user.id), method: :delete do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">管理ユーザー削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						「<%= model_name(@user) %>」を削除します。
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
