<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>レイアウト管理</h3>
</header>


<ul class="breadcrumb">
  <li>					<%= link_to "一覧",	:controller=>"admin", :action=>"layout_list" %>&nbsp;<span class="divider">/</span></li>
  <li class="active">	<%= model_name(@layout) %></li>
</ul>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="nav-item">
		<a class="nav-link" href="<%= url_for(:controller=>'admin', :action=>'layout_show', :id=>@layout) %>">レイアウト情報</a>
	</li>
	<li  class="nav-item">
		<a class="nav-link active" href="<%= url_for(:controller=>'admin', :action=>'widget_list', :id=>@layout) %>">Visual Widget</a>
	</li>
</ul>


<header class="subhead" id="overview">
	<span class="pull-right">
		<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon('登録')%>&nbsp;
			Widget 登録
		</button>
	</span>
	<h4>
		Widget リスト
	</h3>
</header>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-dark span4">Widgetキー</th>
			<th class="table-dark span2">タイプ</th>
			<th class="table-dark span6">タイトル</th>
		</tr>
	</thead>
	<tbody>
		<% @layout.visual_widgets.order(position: :asc).each do | widget | %>
			<tr>
				<td>
					<%= (widget.first?)?	"△":	link_to("▲", :action=>"widget_higher",	:id=>widget) %>
					<%= (widget.last?)? 	"▽": 	link_to("▼", :action=>"widget_lower", 	:id=>widget) %>
					<%= widget.hash_key %>
				</td>
				<td><%= widget_type_string(widget.widget_type) %></td>
				<td>
					<span class="float-right">
						<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEdit_<%= widget.id %>">
							<%= edit_icon('編集') %>&nbsp;編集
						</button>
						<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete_<%= widget.id %>">
							<%= trash_icon('削除') %>&nbsp;削除
						</button>
					</span> 
					<strong><%= model_title(widget) %></strong>
					<% unless widget.description.blank? %>
						<br/><br/>
						<pre><%= h widget.description %></pre>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<% 
				@item = VisualWidget.new
				@item.layout_scheme = @layout
			%>
			<%= form_for @item, url: admin_widget_create_path(id: @layout.id), method: :post do |f| -%>
				<%= f.hidden_field :layout_scheme_id, value: @item.layout_scheme.id %>
                <div class="modal-header">
                    <h5 class="modal-title">Visual Widget 登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<%= render :partial=>"form_visual_widget", locals:{f: f, item: @item} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-success"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<% @layout.visual_widgets.each do | item | @item = item %>
	<div class="modal fade" id="modalEdit_<%= @item.id %>" tabindex="-1" aria-labelledby="modalEdit_<%= @item.id %>" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<%= hidden_field 'item', 'layout_scheme_id' %>
				<%= form_for @item, url: admin_widget_update_path(id: @item.id), method: :patch do |f| -%>
					<div class="modal-header">
						<h5 class="modal-title">Visual Widget 編集</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= render :partial=>"form_visual_widget", locals:{f: f, item: @item} %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
						<button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新') %>&nbsp;更新</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalDelete_<%= @item.id %>" tabindex="-1" aria-labelledby="modalDelete_<%= @item.id %>" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<%= form_for @item, url: admin_widget_delete_path(id: @item.id), method: :delete do |f| -%>
					<div class="modal-header">
						<h5 class="modal-title">Visual Widget 設定</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							「<%= model_title(@item) %>」を削除します。<br/>
							利用者がこのWidgetに設定した全ての要素も削除されます。<br/>
							よろしいですか？
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
						<button type="submit" class="btn btn-sm btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>


<% if false %>
<% @layout.visual_widgets.each do | item | @item = item %>
	<!-- modalEdit -->
	<%= form_tag url_for(:action=>"widget_update", :id=>@item), {:class=>"modal hide fade form-horizontal", :id=>"modalEdit_#{@item.id}", method: :patch} do -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">Visual Widget 設定</h3>
		</div>
		<div class="modal-body">
			<%= render :partial=>"form_visual_widget" %>
		</div>
		<div class="modal-footer">
	    	<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;設定</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
	
	<!-- modalDelete -->
	<%= form_tag url_for(:action=>"widget_delete", :id=>@item), {:class=>"modal hide fade form-horizontal", :id=>"modalDelete_#{@item.id}", method: :delete} do -%>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">Visual Widget 設定</h3>
		</div>
		<div class="modal-body">
			<p>
				「<%= model_title(@item) %>」を削除します。<br/>
				利用者がこのWidgetに設定した全ての要素も削除されます。<br/>
				よろしいですか？
			</p>
		</div>
		<div class="modal-footer">
	    	<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;削除</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
		</div>
	<% end %>
<% end %>
<% end %>
