<div class="modal fade" id="modal_delete_photo_<%=photo.id%>" tabindex="-1" aria-labelledby="modal_delete_photo_<%=photo.id%>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for photo, url: admin_content_news_delete_photo_path(id: photo.id), method: :delete do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">削除確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>写真を削除します。よろしいですか？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
