<div class="col">
    <div class="card h-100">

        <div class="card-header text-center">
            <small>
                <%= (stream.first?)?	move_to_higher_icon(false):	link_to(move_to_higher_icon, 	:action=>"bag_category_higher", :id=>stream) %>
                <%= stream.position %>
                <%= (stream.last?)? 	move_to_lower_icon(false): 	link_to(move_to_lower_icon, 	:action=>"bag_category_lower",	:id=>stream) %>
            </small>
        </div>

        <a href="<%= url_for(:action=>'content_category', :id=>stream) %>">
            <% leaf = stream.latest_news_article %>
            <% unless leaf.blank? %>
                <% key_photo = key_photo(leaf) %>
                <% unless key_photo.blank? %>
                    <%= image_tag key_photo.clip.url(:thumb), class: "card-img-top" %>
                <% else %>
                    <img class="card-img-top" src="https://placehold.jp/20/cfcfcf/ffffff/320x180.png?text=<%=leaf.publish_from.strftime('%Y-%m-%d')%>">
                <% end %>
            <% else %>
                <img class="card-img-top" src="https://placehold.jp/22/cfcfcf/ffffff/320x180.png?text=No%20Public%20Article%0A">
            <% end %>
        </a>

        <div class="card-body">
            <h5 class="card-title">
                <%= truncate(model_name(stream), :length=>50) %>
            </h5>
            <%= icon_scheme_state(stream) %>
        </div>

        <div class="card-footer">
            <span class='float-right'>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_<%=stream.content_bag.id%>">
                    <%= edit_icon('編集')%>
                </button>
                <% unless stream.is_public %>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete_<%=stream.content_bag.id%>">
                        <%= trash_icon('削除')%>
                    </button>
                <% else %>
                    <button type='button' class='btn btn-secondary btn-sm' disabled><%= trash_icon('削除')%></button>
                <% end %>
                |
                <a href="<%= url_for(:action=>'content_category', :id=>stream) %>" class="btn btn-sm btn-outline-primary"><%= link_to_6_icon('表示')%></a>
            </span>
        </div>
    </div>
</div>
