<div class="card">
    <div class="card-body">
        <p style="text-align:center;">
            <%= (temp_local.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"), {:action=>"content_category_higher",	:id=>temp_local}, :title=>"表示順を前に") %>
            <%= temp_local.position %>
            <%= (temp_local.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"), 	{:action=>"content_category_lower",		:id=>temp_local}, :title=>"表示順を後ろに") %>				
        </p>
    </div>
    <div class="card-body">
        <a href="<%= url_for(:action=>'content_category_tree', :id=>temp_local) %>">
            <h4>
                <span class='float-right'><span class="badge badge-success"><%= temp_local.content_leafs.size %></span></span>
                <i class="fa-solid fa-folder"></i>
                <%= truncate(temp_local.title, :length=>50) %>
            </h4>
        </a>
        <p><%= h truncate(strip_tags(temp_local.description), :length=>20) unless temp_local.description.blank?%></p>
        <p class="text-right">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_<%=temp_local.id%>">
                <%= edit_icon('編集')%>
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete_<%=temp_local.id%>">
                <%= trash_icon('削除')%>
            </button>
        </p>
    </div>
</div>

<!-- modalEdit -->
<div class="modal fade" id="modal_edit_<%=temp_local.id%>" tabindex="-1" aria-labelledby="modal_edit_<%=temp_local.id%>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for temp_local, url: admin_content_news_content_category_update_path(id: temp_local.id), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">カテゴリー名編集</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">カテゴリー名</label>
                        <div class="col-sm-8">
                            <%= f.text_field :title,  {class: "form-control", placeholder: "カテゴリー名称", :required => false, autofocus: true}  %>
                        </div>
                    </div>
                    <% if false %>
                    <div class="mb-3 row">
                        <label for="wsite_keywords" class="col-sm-4 col-form-label">カテゴリー</label>
                        <div class="col-sm-8">
                            <%
                                ancestors = ancestors_for(temp_local)
                                options = ancestors.map{ | c | [ c.name, c.id] }
                            %>
                            <%= f.collection_select(:parent_id, options, :last, :first, {prompt: false}, {class: "form-control"})%>
                            <% if false %>
                                <%
                                cat_options = Array.new
                                cat_options << temp_local.category_path(true)[0]
                                %>
                                <%= tree_select(cat_options, 'content_category', 'parent_id', temp_local.parent.id) %>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                    <div class="mb-3 row">
                        <label for="wsite_keywords" class="col-sm-4 col-form-label">所属カテゴリー</label>
                        <div class="col-sm-8">
                            <%
                                ancestors = ancestors_for(temp_local)
                                options = ancestors.map{ | c | [ c.name, c.id] }
                            %>
                            <%= tree_select_with_filter([temp_local.category_path(true)[0]], 'content_category', 'parent_id', temp_local.parent_id, 0, true, (temp_local.parent.blank?)? []: temp_local.sons<<temp_local)%>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-primary"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_delete_<%=temp_local.id%>" tabindex="-1" aria-labelledby="modal_delete_<%=temp_local.id%>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= form_for temp_local, url: admin_content_news_content_category_delete_path(id: temp_local.id), method: :delete do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">カテゴリー削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <%= temp_local.category_label %>を削除します。<br/>
                        よろしいですか？
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
            <% end %>
        </div>
    </div>
</div>


<% if false %>
<div class="modal hide fade form-horizontal", id="modal_edit_<%=temp_local.id%>">
	<%= form_tag({:action => 'content_category_update', :id=>temp_local.id}, :class=>"form-horizontal", method: :patch)  do %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">カテゴリー名編集</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="item_title">カテゴリー名</label>
				<div class="controls controls-row">
					<%= text_field 'item', 'title', :value=>temp_local.category_label, :placeholder=>"カテゴリー名称", :autocomplete => "off" %>
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="item_alt_id">カテゴリー</label>
                <div class="controls">
                    <%
                    cat_options = Array.new
                    cat_options << temp_local.category_path(true)[0]
                    %>
                    <%= tree_select(cat_options, 'item', 'parent_id', temp_local.id) %> 
                </div>
            </div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;更新</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
		</div>
	<% end %>
</div>
<!-- modalDeleteUser -->
<div  class="modal hide fade form-horizontal", id="modal_delete_<%=temp_local.id%>">
	<%= form_tag({:action => 'content_category_delete', :id=>temp_local}, :class=>"form-horizontal", method: :delete)  do %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="myModalLabel">カテゴリー削除</h3>
		</div>
		<div class="modal-body">
			<p>
				<%= temp_local.category_label %>を削除します。<br/>
				よろしいですか？
			</p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;削除</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
		</div>
	<% end %>
</div>
<% end %>
