<div class="col">
    <div class="card h-100">
        <%= image_tag photo.clip.url(:thumb), class: 'card-img-top' %>
        <div class="card-footer text-center">
			<%= (photo.first?)?	move_to_top_icon :	link_to(move_to_top_icon, :action=>"photo_to_bottom",	:id=>photo) %>
			<%= (photo.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"), :action=>"photo_higher",	:id=>photo) %>
			<%= photo.position %>
			<%= (photo.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"), 	:action=>"photo_lower",		:id=>photo) %>
			<%= (photo.last?)? 	move_to_bottom_icon : 	link_to(move_to_bottom_icon, 	:action=>"photo_to_top",	:id=>photo) %>
        </div>
    </div>
</div>
