<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "トップ", :action=>"content_root" %>&nbsp;<span class="divider">/</span></li>
  <% @parent_category.category_path.each do | category | %>
	  <li><%= link_to category.category_label, :action=>"content_category", :id=>category %>&nbsp;<span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= @parent_category.category_label %></li>
</ul>

<div class="float-right">
	<% @bag_roots = [@parent_category.my_bag_root_category] %>
	<% unless @bag_roots.blank? %>
		<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_category_select">
			<i class="fa-solid fa-folder-open"></i>
		</button>
	<%end%>
	<% url_new = url_for(:action=>"new_leaf", :content_category=>@parent_category) %>
	<a class="btn btn-success btn-sm" href="<%=url_new%>" data-turbolinks='false'>
		<%= new_icon('登録')%>&nbsp;
		記事登録
	</a>
	<% if @parent_category.category_type==ContentCategory::TYPE_BAG_ROOT %>
		<% url_edit = url_for(:action=>"content_category_tree", :id=>@parent_category) %>
		<a class="btn btn-warning btn-sm" href="<%=url_edit%>">
			<%= setting_icon('カテゴリー')%>&nbsp;
			カテゴリー
		</a>
	<% end %>
</div>



<% if @parent_category.my_bag_root_category.content_bag.is_public==false  %>
	<div class="alert alert-warning">
		 <%= info_icon('情報')%>&nbsp;非公開ストリームです。
	</div>
<% end %>

<h4>項目一覧</h4>
<% if @leafs.blank? %>
		<div class="alert alert-info">
			 <%= info_icon('情報')%>&nbsp;項目がありません。
		</div>
<% else %>
	<% @total_size = @parent_category.content_leafs.size %>
	<div class='d-none d-sm-block'>
		<%= render partial: "category_box_leaf", locals: {leafs: @leafs } %>
	</div>
	<div class='d-sm-none'>
		<%= render partial: "category_list_leaf", locals: {leafs: @leafs } %>
	</div>
<% end %>

<% unless @bag_roots.blank? %>
	<div class="modal fade" id="modal_category_select" tabindex="-1" aria-labelledby="modal_category_select" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<%= form_tag({:action=>"content_category", :id=>nil}, :class=>"form-horizontal", method: :patch)  do %>
					<div class="modal-header">
						<h5 class="modal-title">カテゴリー選択</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3 row">
							<label for="wsite_keywords" class="col-sm-4 col-form-label">カテゴリー</label>
							<div class="col-sm-8">
								<%= tree_select_tag(@bag_roots, 'id', (@parent_category.blank?)? "": @parent_category.id)   %> 
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
						<button type="submit" class="btn btn-sm btn-success"><i class="fa-solid fa-share-from-square"></i>&nbsp;移動</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<%end%>  	
