<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= @bag_title %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>

</ul>
<header class="subhead" id="overview">
	<% if current_user.role==User::ROLE_SUPER %>
		<div class="float-right">
			<div class="btn-toolbar" style="margin: 0;">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modal_new">
					<%= new_icon('追加') %>&nbsp;
					ストリーム
				</button>
				</div><!-- /btn-group -->
			</div>
		</div>
	<% end %>
	<h4><%=@bag_title %>・ストリーム</h4>
</header>

<% if @items.blank?  %>
	<div class="alert alert-block">
		<h4>Warning!</h4>
		<p>ストリームが登録されていません。</p>
	</div>
<% end %>

<% if false %>
<div class="row">
	<% array = @items.in_groups_of(3, false)%>
	<% for i in 0..(array.size-1) %>
		<% @lines = array[i] %>
	        <div class="col-sm-4">
	        	<%= render :partial=>"item_bag", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %>
			</div>
	        <div class="col-sm-4">
	        	<%= render :partial=>"item_bag", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %>
			</div>
	        <div class="col-sm-4">
	        	<%= render :partial=>"item_bag", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %>
			</div>
	<% end %>
</div>
<% end %>

<br/>
<div class="row row-cols-2 row-cols-md-4 g-4">
	<% @items.each do |stream| %>
		<%= render partial: 'item_bag_card', locals: {stream: stream} %>
	<% end %>
</div>
<% @items.each do |stream| %>
	<%= render partial: 'dlg_bag_edit', 	locals: {stream: stream} %>
	<%= render partial: 'dlg_bag_delete', 	locals: {stream: stream} %>
<% end %>

<div class="modal fade" id="modal_new" tabindex="-1" aria-labelledby="modal_new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<% 
				@item 				= ContentBag.new
				@item.shop 			= current_user.shop
			%>
			<%= form_for @item, url: admin_content_news_create_bag_path, method: :post do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">ストリーム登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					 <%= render :partial=>"form_bag", locals:{f: f, item: @item}%>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal"><%= cancel_icon('キャンセル') %>&nbsp;キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-success"><%= new_icon('追加') %>&nbsp;追加</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
