<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<%
    if request.host == 'staffroom.swifty.jp'
        fix_url = url_for(:action=>'fix', :id=>@seed, :wkey=>@website.wsite_hash_key)
    else
        fix_url = url_for(:action=>'fix', :id=>@seed)
    end
%>
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% fbappid = VisualWidget.search_widget_bag_for(@website, "ab81113c316f011b80bf97aa53180a0c") %>
<% unless fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="http://<%= request.host + fix_url %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<!-- Twitter card も入れる？ -->
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="/stylesheets/assets/wop/style.css">
</head>
<body id="body">
<div id="overall">
<header id="header">
    <h1>
        <a href="/home">
            <img src="/photo/image/clip/24329/site_title.png" alt="次世代を担う美容師さんを応援するウェッブマガジン、W.O.P!">
        </a>
    </h1>
    <nav id="gnav">
        <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/wop/navigation" %>
        </ul>
    </nav>
    <div id="nav_opener">
        <img src="/photo/image/clip/24325/menu.png" alt="MENU">
    </div>
</header>
<div class="container">
<!-- ページタイトル画像 -->
    <div id="page_image">
    <% if @seed.id == 9930 %>
    <img src="/photo/image/clip/24310/photo.png" alt="PHOTO CON">
    <% end %>
    </div>
    <article id="article">
        <% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
    </article>
</div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/wop/footer" %>
</div>
<div id="mnav_back"></div>
<ul id="mnav">
<%= render :partial=>"#{LayoutScheme.asset_root}/wop/navigation" %>
</ul>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/wop/common_js" %>
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/wop/social_js" %>
</body>
</html>
