<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<% top_circle_image = VisualWidget.search_widget_bag_for(@website, "878af25ace8ae2602311ac69333fb423") %>
<% slide_photos = VisualWidget.search_widget_bag_for(@website, "3c1e294c0518b6b7e5e3b154853c88c4") %>

<% sec1_title = VisualWidget.search_widget_bag_for(@website, "917b8cc2d6b95278bd66154cb1f339ae") %>
<% sec1_row1 = VisualWidget.search_widget_bag_for(@website, "1c233448052f335818a946a4bf6201d4") %>
<% sec1_row2 = VisualWidget.search_widget_bag_for(@website, "13238b6667a727b04edd7c9ca097c56f") %>
<% sec2_title = VisualWidget.search_widget_bag_for(@website, "30d2e6f7a052f5f51b13f21181ca8e2c") %>
<% sec2_row = VisualWidget.search_widget_bag_for(@website, "5c10aba648771fc8740ab4b2b240cbb0") %>
<% sec3_title = VisualWidget.search_widget_bag_for(@website, "a93eb15cccb697ba317f7b60376047a8") %>
<% sec3_row = VisualWidget.search_widget_bag_for(@website, "012b0122b6b2a978ae895fe1216e81f8") %>
<% sec4_title = VisualWidget.search_widget_bag_for(@website, "819326af783a0d42135c8b6f6189d2e5") %>
<% sec4_row = VisualWidget.search_widget_bag_for(@website, "973a82a0296dfcd6acfd039f88ecf2a1") %>
<html>
	<%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one_speed/head" %>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one_speed/header" %>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2><%= @website.name%></h2>
							<p><%= @website.wsite_description_shop%></p>
						</header>
						<span class="image">
							<% if top_circle_image.blank? %>
								<img src="/assets/parallax_one/images/pic01.jpg" alt="" />
							<% else %>
								<% top_circle_image.photos.each do | photo | %>
									<img src="<%= photo.clip.url() %>">
								<% end %>
							<% end %>
						</span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main">
						<% if slide_photos.photos.blank? %>
							<img src="/assets/parallax_one/images/pic07.jpg" alt="" />
						<% else %>
							<% photos = slide_photos.photos.to_a %>
							<img src="<%= photos[0].clip.url()%>" alt="" />
						<% end %>
					</span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2><%= sec1_title.data_string unless sec1_title.blank? %></h2>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p><%= sec1_row1.data_text unless sec1_row1.blank? %></p>
								</div>
								<div class="col-4 col-12-medium">
									<p><%= sec1_row2.data_text unless sec1_row2.blank? %></p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main">
						<% if slide_photos.photos.blank? %>
							<img src="/assets/parallax_one/images/pic07.jpg" alt="" />
						<% else %>
							<% photos = slide_photos.photos.to_a %>
							<img src="<%= photos[1].clip.url()%>" alt="" />
						<% end %>
					</span>
					<div class="content">
						<header>
							<h2><%= sec2_title.data_string unless sec2_title.blank? %></h2>
						</header>
						<p><%= sec2_row.data_text unless sec2_row.blank? %></p>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom">
						<% if slide_photos.photos.blank? %>
							<img src="/assets/parallax_one/images/pic07.jpg" alt="" />
						<% else %>
							<% photos = slide_photos.photos.to_a %>
							<img src="<%= photos[2].clip.url()%>" alt="" />
						<% end %>
					</span>
					<div class="content">
						<header>
							<h2><%= sec3_title.data_string unless sec3_title.blank? %></h2>
						</header>
						<p><%= sec3_row.data_text unless sec3_row.blank? %></p>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2><%= sec4_title.data_string unless sec4_title.blank? %></h2>
							<p><%= sec4_row.data_text unless sec4_row.blank? %></p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-6 col-6-medium col-12-xsmall">
									<a href="<%= url_for(:action=>'news_index', :wkey=>@website.wsite_hash_key) %>">
										<span class="icon solid alt major fa-newspaper"></span>
										<h3>ニュース</h3>
									</a>
								</section>
								<section class="col-6 col-6-medium col-12-xsmall">
									<a href="<%= url_for(action: 'stream_index', wkey: @website.wsite_hash_key)%>">
										<span class="icon solid alt major fa-blog"></span>
										<h3>ブログ</h3>
									</a>
								</section>
								<section class="col-6 col-6-medium col-12-xsmall">
									<a href="<%= url_for(action: 'gallery_index', wkey: @website.wsite_hash_key)%>">
										<span class="icon solid alt major fa-images"></span>
										<h3>ギャラリー</h3>
									</a>
								</section>
								<section class="col-6 col-6-medium col-12-xsmall">
									<a href="<%= url_for(action: 'portfolio_index', wkey: @website.wsite_hash_key)%>">
										<span class="icon solid alt major fa-receipt"></span>
										<h3>価格表</h3>
									</a>
								</section>
							</div>
						</div>
					</div>
				</section>

			<!-- Five -->
				<% if @website.enable_inquiry? %>
					<section id="five" class="wrapper style2 special fade">
						<div class="container">
							<header>
								<h2>お問い合わせ</h2>
							</header>
							<form method="post" action="#" class="cta">
								<%= form_for Inquiry.new, url: inquiry_create_path, method: :post do |f| -%>
								<%= f.hidden_field :shop_id, value: @website.id %>
									<%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one_speed/form_inquiry_new", locals: {f: f} %>
								<% end %>
								<div class="alt-send-button">
									<input class="fit primary" id="submit" type="submit" value="送信">
								</div>
							</form>
						</div>
					</section>
				<% end %>

			<!-- Six -->
				<%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one/shop_info" %>

			<!-- Footer -->
				<%= render :partial=>"#{LayoutScheme.asset_root}/parallax_one_speed/footer" %>

		</div>

		<!-- Scripts -->
		<script src="/assets/parallax_one/js/jquery.min.js"></script>
		<script src="/assets/parallax_one/js/jquery.scrolly.min.js"></script>
		<script src="/assets/parallax_one/js/jquery.dropotron.min.js"></script>
		<script src="/assets/parallax_one/js/jquery.scrollex.min.js"></script>
		<script src="/assets/parallax_one/js/browser.min.js"></script>
		<script src="/assets/parallax_one/js/breakpoints.min.js"></script>
		<script src="/assets/parallax_one/js/util.js"></script>
		<script src="/assets/parallax_one/js/main.js"></script>
	</body>
</html>
