<!doctype html>
<html lang="ja">
<head prefix="og: http:http://ogp.me/ns# fb: http:http://ogp.me/ns/fb# article: http:http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<%
    if request.host == 'sr2.swifty.jp'
        fix_url = url_for(:action=>'fix', :id=>@seed, :wkey=>@website.wsite_hash_key)
    else
        fix_url = url_for(:action=>'fix', :id=>@seed)
    end
%>
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% fbappid = VisualWidget.search_widget_bag_for(@website, "5bc87a171252a65db055fc461c7ec491") %>
<% unless fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="http://<%= request.host + fix_url %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<!-- Twitter card も入れる？ -->
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/stylish_portfolio2/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- サイトヘッダー -->
<header id="header">
    <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/header" %>
    </div>
</header>
<nav id="nav">
    <ul>
<!-- ナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/navigation" %>
    </ul>
</nav>
<div id="main">
    <div class="scroller">
        <aside id="breadcrumbs">
            <div class="container">
<!-- パンくずリスト -->
                <ol>
<% if request.host == 'sr2.swifty.jp' %>
                    <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                    <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
                    <li><%= model_title(@seed) %></li>
                </ol>
            </div>
        </aside>
        <!--<![endif]-->
        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http:http://browsehappy.com/">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <div class="hback">
            <div class="container">
                <article id="article">
                    <header>
                        <h1><%= model_title(@seed) %></h1>
                    </header>
                    <div class="contents">
                        <% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
                    </div>
                </article>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/sns_btn" %>
            </div>
        </div>
<!-- SNS Links -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/sns_links" %>
<!-- フットナビ -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/foot_nav" %>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/footer" %>
    </div>
</main>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/stylish_portfolio2/common.js"></script>
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2/social_js" %>
<!-- google maps javascript -->
</body>
</html>
