<div class="container clearfix">
    <ul class="list-inline list-social pull-right">
    	<%
    		news_cat = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    		if news_cat.is_public
				url_feed = url_for(:controller=>"news_feed.rss", :only_path => false)
#				url_feed = url_feed+"?id="+ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS).id.to_s
		%>
			<%= raw("<a href=#{url_feed}><i class='icon-rss-sign  icon-2x'></i></a>") %>
		<% end %>

		<%= raw("<a href=#{@website.social_facebook_uri} target='_blank' 	title=#{@website.social_facebook_uri}>	<i class='icon-facebook-sign  icon-2x'></i></a>")		unless @website.social_facebook_uri.blank? %>
		<%= raw("<a href=#{@website.social_gplus_uri} target='_blank' 		title=#{@website.social_gplus_uri}>		<i class='icon-google-plus-sign  icon-2x'></i></a>")		unless @website.social_gplus_uri.blank? %>
		<%= raw("<a href=#{@website.social_twitter_uri} target='_blank' 	title=#{@website.social_twitter_uri}>	<i class='icon-twitter-sign  icon-2x'></i></a>")			unless @website.social_twitter_uri.blank? %>
		<%= raw("<a href=#{@website.social_instagram_uri} target='_blank' 	title=#{@website.social_instagram_uri}>	<i class='icon-instagram  icon-2x'></i></a>")			unless @website.social_instagram_uri.blank? %>
		<%= raw("<a href=#{@website.social_line_uri} target='_blank' 		title=#{@website.social_line_uri}>		<img src='/images/assets/line_icon.png' alt='LINE' /></a>")			unless @website.social_line_uri.blank? %>
		<%= raw("<a href=#{@website.social_pinterest_uri} target='_blank' 	title=#{@website.social_pinterest_uri}>	<i class='icon-pinterest-sign  icon-2x'></i></a>")		unless @website.social_pinterest_uri.blank? %>
		<%= raw("<a href=#{@website.social_tumblr_uri} target='_blank' 		title=#{@website.social_tumblr_uri}>	<i class='icon-tumblr-sign  icon-2x'></i></a>")			unless @website.social_tumblr_uri.blank? %>
    </ul>
    <div class="privacy pull-left">
		<strong><%= copyright_notice(@website) %></strong>
    </div>
</div>

<% siblings = @website.public_siblings %>
<% unless siblings.blank? %>
	<br/>
	<div class="container clearfix">
	<p>
		<% siblings.each do | sibling | %>
			<%= link_to( raw("<i class='icon-home'></i>&nbsp;"+model_name(sibling)), {:action=>'index', :wkey=>sibling.wsite_hash_key}, :class=>'btn btn-small btn-info') %>
		<% end %>
	</p>
	</div>
<% end %>
