<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%=model_name(@seed) %>- <%= @website.name %></title>
        <%= render :partial=>"#{LayoutScheme.asset_root}/DEMO-TEST/head_logic" %>
    </head>
    <body>
        <div class="spinner">
        </div>
        <!--============================== header =================================-->
        <header>
            <%= render :partial=>"#{LayoutScheme.asset_root}/DEMO-TEST/header" %>
        </header>
        <div class="bg-content">
            <div class="container">
                <div class="row">
                    <div class="box">
                        <%= yield %>
                    </div>
                </div>
            </div>
<% if (false) %>
            <!--============================== content =================================-->
            <div id="content" class="content-extra">
                <div class="ic">
                </div>
                <div class="row-1">
                    <div class="container">
                        <br/>
                        <div class="row">
                            <div class="span12">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="<%= url_for(:action=>'index', 												:wkey=>@website.wsite_hash_key) %>"><i class="icon-home"></i></a>
                                    </li>
								    <% unless @seed.my_type_root_category.has_only_a_public_bag? %>
	                                    <li>
	                                        <a href="<%= url_for(:action=>'news_index', :id=>@seed.my_type_root_category,	:wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a>
	                                    </li>
									<% end %>
                                    <% @seed.category_path.each do | category | %>
                                    <li>
                                        <%= link_to category.category_label, :action=>"news_list", :id=>category,	:wkey=>@website.wsite_hash_key %>
                                    </li>
                                    <% end %>
                                    <li class="active">
                                        <%=model_name(@seed) %>
                                    </li>
                                </ol>
                                <h1 class="page-header"><%=model_name(@seed.my_bag_root_category.content_bag) %>
                                    <small>
                                        <%=h @seed.my_bag_root_category.content_bag.description %>
                                    </small>
                                </h1>
                            </div>
                        </div>

                        <% if false %>
							<% unless @seed.content_leafs.blank? %>
		                        <% @bag_roots = [@seed.my_bag_root_category] %>
		                        <% unless @bag_roots.blank? %>
		                        <div class="row">
		                            <div class="span12">
		                                <div class="pull-right">
		                                    <%= form_tag({:action=>"stream_list", :id=>nil,	:wkey=>@website.wsite_hash_key}, :class=>"form-horizontal")  do %>
		                                    <div class="controls">
		                                        <%= tree_select_tag(@bag_roots, 'id', (@seed.blank?)? "": @seed.id) %>
		                                        <button type="submit" class="btn btn-small">
		                                            <i class="icon-ok"></i>&nbsp;&nbsp;選択
		                                        </button>
		                                    </div>
		                                    <%end %>
		                                </div>
		                            </div>
		                        </div>
		                        <%end %>
							<% end %>
						<% end %>

                        <div class="row">
                            <div class="span12">
                                <%
                                sons = @seed.sons
                                sons << @seed
                                @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)", sons).order(publish_from: :desc).order(created_at: :desc).paginate(:page => params[:page], :per_page=>PER_PAGE
                                #c = ContentLeaf.public_leafs_condition
                                #c.and "content_leafs.content_category_id", 'IN', sons
                                #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'publish_from desc') 
                                %>
                                <% @leafs.each do | leaf | @leaf = leaf %>
                                <%= render :partial=>"#{LayoutScheme.asset_root}/DEMO-TEST/item_news_list" %>
                                <% end %>
                                <div class="row">
                                    <div class="span12">
                                        <div class="pagination text-center">
                                            <%= will_paginate(@leafs, :params=> {:action=>'news_list', :id=>@seed, :page=>@page,	:wkey=>@website.wsite_hash_key }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% end %>
        </div>
        <!--============================== footer =================================-->
        <footer>
            <%= render :partial=>"#{LayoutScheme.asset_root}/DEMO-TEST/footer" %>
        </footer>
    </body>
</html>
