        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://browsehappy.com/">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <header id="header">
            <div class="container">
                <div id="header_img">
<% logomark = VisualWidget.search_widget_bag_for(@website, "4922ee6b245275b44dd375b1efc9b3f1") %>
<% if logomark.blank? || !logomark.is_valid? %>
    <% if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% else %>
                    <a href="/home" id="brand"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% end %>
<% else %>
    <% if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
    <% else %>
                    <a href="/home" id="brand"><img src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
    <% end %>
<% end %>
                    <a id="tnav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
                </div>
<% unless @website.wsite_telephone.blank? %>
                <div id="phone">
                    <address>TEL.<a href="tel:<%= @website.wsite_telephone %>"><%= @website.wsite_telephone %></a></address>
                </div>
<% end %>
            </div>
        </header>
