<!doctype html>
<html lang="ja">
<head prefix="og: http:http://ogp.me/ns# fb: http:http://ogp.me/ns/fb# article: http:http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="http://<%= request.host + url_for(:action=>'news_show', :id=>@seed) %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% key_photo = key_photo(@seed) %>
<% unless key_photo.blank? %>
<meta property="og:image"             content="http://<%= request.host + url_for_file_column(key_photo, :image) %>">
<% end %>
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<!-- Twitter card も入れる？ -->
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/pinky-hair.com/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav">
    <ul class="scrooler">
        <li>- MENU</li>
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/navigation" %>
    </ul>
</aside>
<!-- 主ウインドウ -->
<div id="body">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/header" %>
<!-- グローバルナビゲーション -->
        <nav id="gnav">
            <div class="container">
                <ul id="gnav_main">
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/navigation" %>
                </ul>
            </div>
        </nav>
        <div>
            <div class="container">
                <div class="content_box">
<!-- パンくずリスト -->
                    <aside id="breadcrumbs">
                        <ol>
<% if request.host == 'sr2.swifty.jp' %>
                            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                            <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.content_category.has_only_a_public_bag? %>
<%      if request.host == 'sr2.swifty.jp' %>
                            <li><a href="<%= url_for(:action=>'news_index', :id=>@seed.content_category.my_bag_root_category.parent, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      else %>
                            <li><a href="<%= url_for(:action=>'news_index', :id=>@seed.content_category.my_bag_root_category.parent) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      end %>
<% end %>
<% @seed.content_category.category_path(true).each do | category | %>
<%      if request.host == 'sr2.swifty.jp' %>
                            <li><%= link_to category.category_label, :action=>"news_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
<%      else %>
                            <li><%= link_to category.category_label, :action=>"news_list", :id=>category %></li>
<%      end %>
<% end %>
                            <li class="active">
                                <%= model_title(@seed) %>
                            </li>
                        </ol>
                    </aside>
                    <!-- <h1><%= model_title(@seed.content_category.my_bag_root_category.parent) %></h1> -->
                    <article id="article">
                        <header>
                            <h1><%= model_title(@seed) %></h1>
                            <p class="publish">
                                <i class="fa fa-calendar"></i> <%= publish_label(@seed) %>
                            </p>
                        </header>
                        <div id="contents">
<% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
                        </div>
                    </article>
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/sns_btn" %>
                </div>
            </div>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/pinky-hair.com/social_js" %>
<!-- google maps javascript -->
</body>
</html>
