<%  gmapcode = VisualWidget.search_widget_bag_for(@website, "85eea87a2223df201e15ec8d3539cd33") %>
                <div id="sidebar">
<!-- シェアボタン -->
                    <aside>
<% widget_bag = VisualWidget.search_widget_bag_for(@website, "c88689dfee9d91e3f5dfa8a4b27afc99") %>
<% if widget_bag.data_string.blank? %>
                        <h1>Share</h1>
<% else %>
                        <h1><%= widget_bag.data_string %></h1>
<% end %>
                        <ul class="share">
                            <li class="fblike"><div class="fb-like" data-width="80" data-layout="box_count" data-action="like" data-share="true"></div></li>
                            <li>
                                <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
                                <script type="text/javascript">
                                    new media_line_me.LineButton({"pc":true,"lang":"ja","type":"e"});
                                </script>
                            </li>
                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">ツイート</a></li>
                        </ul>
                    </aside>
<% unless @website.wsite_description_business.blank? %>
<!-- 店舗基本情報 -->
                    <aside>
<% widget_bag = VisualWidget.search_widget_bag_for(@website, "88f54a572728d18fb01dbb49a8138ed9") %>
<% if widget_bag.data_string.blank? %>
                        <h1>Salon</h1>
<% else %>
                        <h1><%= widget_bag.data_string %></h1>
<% end %>
                        <%=raw @website.wsite_description_business%>
                    </aside>
<% end %>
<% if @website.gps? %>
<!-- google maps -->
                    <aside>
<% widget_bag = VisualWidget.search_widget_bag_for(@website, "96b39da52c7c7327533bc4f88ee55bf4") %>
<% if widget_bag.data_string.blank? %>
                        <h1>Access</h1>
<% else %>
                        <h1><%= widget_bag.data_string %></h1>
<% end %>
<%  if !gmapcode.blank? && gmapcode.is_valid? %>
                        <div id="gmap">
                            <%= raw gmapcode.data_string %>
                        </div>
<%  else %>
                        <div id="gmap"></div>
                        <div class="text-right">
                            <a href="https://www.google.co.jp/maps/@<%= @website.lat %>,<%= @website.lng %>,16z?hl=ja" target="_blank">大きな地図で見る</a>
                        </div>
<%  end %>
                    </aside>
<% end %>
<%
widget_bag = VisualWidget.search_widget_bag_for(@website, "c3c9c4960a87c7696e2fa7bf95653668")
if widget_bag.blank?
    fblb = 0
else
    fblb = widget_bag.data_string.to_i
end
if fblb == 1
    unless @website.social_facebook_uri.blank?
%>
<!-- Facebook LikeBox -->
                    <aside>
                        <div class="fb-page" data-href="<%= @website.social_facebook_uri %>" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                    </aside>
<%
    end
end
%>
                </div>
