<% logo0 = VisualWidget.search_widget_bag_for(@website, "624fe990084dc4554bd872cf65399c8d") %>
<% logo1 = VisualWidget.search_widget_bag_for(@website, "f56d78a79943b8117eebc08bfdde11fc") %>
<% logo2 = VisualWidget.search_widget_bag_for(@website, "8bda0840801a7b257ed00c1cf52fb41d") %>
<% logo3 = VisualWidget.search_widget_bag_for(@website, "3ceb3cb2775aec3154a77f2eb33ebc68") %>
<% shop0 = VisualWidget.search_widget_bag_for(@website, "8d017996caeb86b54f40e207629ced47") %>
<% shop1 = VisualWidget.search_widget_bag_for(@website, "0e8647f1592753a954a0a4be419bd1f9") %>
<% shop2 = VisualWidget.search_widget_bag_for(@website, "5b87127cb0d556afff89e8cda78776ba") %>
<% shop3 = VisualWidget.search_widget_bag_for(@website, "e0dc66904e9fcd6d5d9dfe85c4a40dd4") %>
<article id="home_shop">
    <div class="container">
        <h1 class="page_head"><span>SALON</span></h1>
        <div class="wrapper">
            <div class="col-1p4m1p3">
<% if shop0.photos[0].blank? %>
                <img src="//placehold.it/240x240" alt="shop image">
<% else %>
                <img src="<%= shop0.photos[0].clip.url(:image) %>" alt="shop image">
<% end %>
            </div>
            <section class="col-1p4m2p3">
                <div class="shop_logo">
<% if logo0.photos[0].blank? %>
                    <img src="//placehold.it/240x60" alt="logomark">
<% else %>
                    <img src="<%= logo0.photos[0].clip.url(:image) %>" alt="logomark">
<% end %>
                </div>
                <h1 class="shop_info">
                    フルール デ リズ
                </h1>
                <ul>
                    <li>〒950-0088</li>
                    <li>新潟市中央区万代1-1-4</li>
                    <li>万代ファーストハイツ1F</li>
                    <li>Phone.025-374-4646</li>
                    <li>OPEN / 11:00-20:00</li>
                    <li>(土日祝日) 10:00-19:00</li>
                </ul>
            </section>
            <div class="col-1p4m1p3">
<% if shop1.photos[0].blank? %>
                <img src="//placehold.it/240x240" alt="shop image">
<% else %>
                <img src="<%= shop1.photos[0].clip.url(:image) %>" alt="shop image">
<% end %>
            </div>
            <section class="col-1p4m2p3">
                <div class="shop_logo">
<% if logo1.photos[0].blank? %>
                    <img src="//placehold.it/240x60" alt="logomark">
<% else %>
                    <img src="<%= logo1.photos[0].clip.url(:image) %>" alt="logomark">
<% end %>
                </div>
                <h1 class="shop_info">
                    アトリエ フルール デ リズ
                </h1>
                <ul>
                    <li>〒950-0088</li>
                    <li>新潟市中央区万代1-1-4</li>
                    <li>万代ファーストハイツ1F</li>
                    <li>Phone.025-374-4646</li>
                </ul>
            </section>
        </div>
        <div class="gmap_wrapper">
            <div id="gmap0" class="gmap"></div>
        </div>
        <div class="wrapper">
            <div class="col-1p4m1p3">
<% if shop2.photos[0].blank? %>
                <img src="//placehold.it/240x240" alt="shop image">
<% else %>
                <img src="<%= shop2.photos[0].clip.url(:image) %>" alt="shop image">
<% end %>
            </div>
            <section class="col-1p4m2p3">
                <div class="shop_logo">
<% if logo2.photos[0].blank? %>
                    <img src="//placehold.it/240x60" alt="logomark">
<% else %>
                    <img src="<%= logo2.photos[0].clip.url(:image) %>" alt="logomark">
<% end %>
                </div>
                <h1 class="shop_info">
                    ラパルトメント
                </h1>
                <ul>
                    <li>〒950-0912</li>
                    <li>新潟市中央区天神1-19-5</li>
                    <li>88ビル3F</li>
                    <li>Phone.025-278-3815</li>
                    <li>OPEN / 11:00-20:00</li>
                    <li>(土日祝日) 10:00-19:00</li>
                </ul>
            </section>
            <div class="col-1p2">
                <div class="gmap_wrapper">
                    <div id="gmap1" class="gmap"></div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="col-1p4m1p3">
<% if shop3.photos[0].blank? %>
                <img src="//placehold.it/240x240" alt="shop image">
<% else %>
                <img src="<%= shop3.photos[0].clip.url(:image) %>" alt="shop image">
<% end %>
            </div>
            <section class="col-1p4m2p3">
                <div class="shop_logo">
<% if logo3.photos[0].blank? %>
                    <img src="//placehold.it/240x60" alt="logomark">
<% else %>
                    <img src="<%= logo3.photos[0].clip.url(:image) %>" alt="logomark">
<% end %>
                </div>
                <h1 class="shop_info">
                    エンス
                </h1>
                <ul>
                    <li>〒950-0088</li>
                    <li>新潟市中央区万代2-4-16</li>
                    <li>カーサ万代1F</li>
                    <li>Phone.025-369-4606</li>
                    <li>OPEN / 11:00-20:00</li>
                    <li>(土日祝日) 10:00-19:00</li>
                </ul>
            </section>
            <div class="col-1p2">
                <div class="gmap_wrapper">
                    <div id="gmap2" class="gmap"></div>
                </div>
            </div>
        </div>
    </div>
</article>
