<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/assets/la-isla-bonita.jp/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/header" %>
<!-- グローバルナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/navigation" %>
<div>
    <div class="container">
        <div class="content_box">
<!-- パンくずリスト -->
            <aside id="breadcrumbs">
                <ol>
<% if true || request.host == 'staffroom.swifty.jp' %>
                    <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                    <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<% if true || request.host == 'staffroom.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'portfolio_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% else %>
                    <li><a href="<%= url_for(:action=>'portfolio_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% end %>
<% end %>
<% @seed.category_path.each do | category | %>
<% if true || request.host == 'staffroom.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'portfolio_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
<% else %>
                    <li><a href="<%= url_for(:action=>'portfolio_list', :id=>category) %>"><%= category.category_label %></a></li>
<% end %>
<% end %>
                    <li><%= model_name(@seed) %></li>
                </ol>
            </aside>
            <!-- <h1 class="page_head"><span><%= model_name(@seed) %></span></h1> -->
            <article id="menu">
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/portfolio_leafs", :locals=>{:seed=>@seed} %>
            </article>
        </div>
    </div>
</div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/footer" %>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/la-isla-bonita.jp/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
