<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= model_title(@seed) %> - <%= @website.name %></title>
    <%= render :partial=>"#{LayoutScheme.asset_root}/business-casual-speed/head_logic" %>
  </head>

  <body>
	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual-speed/must_head" %>  

	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual-speed/navigation" %>

    <div class="container">
		<div class="row">
			<div class="box">
				<ol class="breadcrumb">
					<li>
					<a href="<%= url_for(:action=>'index', :wkey=>@website.wsite_hash_key) %>"><i class="icon-home"></i></a>
					</li>
					<li class="active">
					<%= model_title(@seed) %>
					</li>
				</ol>
				<div class="row-fluid">			
					<% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
				</div>
	
				<div class="row-fluid">
					</br/>
					<%= render :partial=>'layouts/social_buttons' %>
				</div>
			</div>
		</div>
	</div>
    
	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual-speed/footer" %>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Make sure to add jQuery - download the most recent version at //jquery.com/ -->
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
