<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ホーム - <%= @website.name %></title>
    <%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/head_logic" %>
  </head>

  <body>
	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/must_head" %>  
  
	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/navigation" %>

    <div class="container">

	  <%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/home_carousel" %>
      
	  <%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/home_news_headline"%>
	  <%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/home_shop_info"%>

    </div><!-- /.container -->
    
	<%= render :partial=>"#{LayoutScheme.asset_root}/business-casual/footer" %>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Make sure to add jQuery - download the most recent version at //jquery.com/ -->
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script>
	  // Activates the Carousel
	  $('.carousel').carousel({
		interval: 5000
	  })
	</script>
  </body>
</html>