<%
	require 'date'
	require 'holidays'
%>
<%
	roster_timeline_classes = roster_timeline_classes(@shop, @probe_date,
											 (@shop.option_reservation_management)? @reservation_map[@probe_date]: [], @roster_map[@probe_date])
%>
<tr id="<%=@target_date.strftime('%Y-%m-%d')%>">
	<th class="head_date_label">
		<%= @probe_date.strftime("%m-%d") %>
		(<span class="<%=(is_holiday?(@probe_date) || @probe_date.wday==0)? 'holiday': 'flat'%>"><%=wday(@probe_date)%></span>)
		<%= "<i class='far fa-flag'></i>".html_safe if is_holiday?(@probe_date) %>
		<br/>
			<span class="float-right">
				<% if @shop.option_reservation_management %>
					<span class="btn-group">
					<%= link_to("<i class='fas fa-list'></i>".html_safe,
						{:controller=>"bs_reservation", :action=>"reservation", :target_date=>@probe_date}, 
						:class=>"btn btn-sm", :title=>"予約表") %>
					</span>
				<% end %>
				<span class="btn-group">
					<button class='btn btn-info btn-sm'  data-bs-toggle="modal" data-bs-target="#AttendancesStaffDayOn_<%= @probe_date%>">
						<i class='fas fa-circle'></i>
					</button>
					<button class='btn btn-light btn-sm'  data-bs-toggle="modal" data-bs-target="#AttendancesStaffDayOff_<%= @probe_date%>">
						<i class='fas fa-times'></i>
					</button>
					<% if false %>
					<%= link_to("<i class='fas fa-circle'></i>".html_safe,
							{:action=>"day_on", :id=>@staff, :target_date=>@probe_date},
							:confirm=>"#{@probe_date.strftime('%m-%d')}(#{wday(@probe_date)}) を「#{@shop.name}:全日出勤」とします。よろしいですか?", 
							:method=>'post',
							:class=>"btn btn-info btn-sm", :title=>"全日出勤") %>
					<%= link_to("<i class='fas fa-times'></i>".html_safe,
							{:action=>"day_off", :id=>@staff, :target_date=>@probe_date},
							:confirm=>"#{@probe_date.strftime('%m-%d')}(#{wday(@probe_date)}) を「全休」とします。よろしいですか?", 
							:method=>'post',
							:class=>"btn btn-error btn-sm", :title=>"全休") %>
					<% end %>
				</span>
				<span class="btn-group">
					<%= link_to("<i class='fas fa-cogs'></i>".html_safe,
						{:action=>"edit_business", :id=>@staff, :target_date=>@probe_date}, 
						:class=>"btn btn-success btn-sm") %>
				</span>
			</span>
	</th>
	<% for i in @shop.business_hour_from..(@shop.business_hour_until-1) %>
		<td class="<%=roster_timeline_classes[i*2]%>"></td>
		<td class="<%=roster_timeline_classes[i*2+1]%>"></td>
	<% end %>
</tr>

<%= render partial: 'dlg_day_off', locals: {target_date: @probe_date, staff: @staff} %>
<%= render partial: 'dlg_day_on', locals: { target_date: @probe_date, staff: @staff} %>
