<%
	require 'date'
	require 'holidays'
%>
<tr id="<%=@target_date.strftime('%Y-%m-%d')%>">
	<th class="head_date_label">
		<%= @probe_date.strftime("%m-%d") %>
		(<span class="<%=(is_holiday?(@probe_date) || @probe_date.wday==0)? 'holiday': 'flat'%>"><%=wday(@probe_date)%></span>)
		<%= "<i class='far fa-flag'></i>".html_safe if is_holiday?(@probe_date) %>

		<span class='float-right'>
			<% cm = calendar_mark_on(@probe_date, @staff) %>
			<% unless cm.blank? %>[ <%= calendar_mark_icon %> : <%= cm %> ]<% end %>
		</span>

		<div class='text-center'>
			<div class="dropdown">
				<button class="btn btn-sm btn-outline-primary dropdown-toggle xbtn-block" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					日別設定
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<% if @shop.option_reservation_management %>
						<li><a class="dropdown-item" href="<%= url_for(:controller=>"admin_reservation", :action=>"reservation", :target_date=>@probe_date) %>"><%= reservation_staff_icon %>&nbsp;予約表</a></li>
						<li><hr class="dropdown-divider"></li>
					<% end %>
					<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#AttendancesStaffDayOn_<%= @probe_date%>"><i class='fa-regular fa-circle fa-fw'></i>&nbsp;出勤（終日）に変更</a></li>
					<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#AttendancesStaffDayOff_<%= @probe_date%>"><i class='fas fa-times fa-fw'></i>&nbsp;全休に変更</a></li>
					<li><a class="dropdown-item" href="<%= url_for(:action=>"edit_business", :id=>@staff, :target_date=>@probe_date)%>"><i class='fas fa-cogs fa-fw'></i>&nbsp;詳細設定</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="<%= admin_attendance_set_calendar_mark_path(target_date: @probe_date, from_date: @probe_date, until_date: @probe_date, staff_id: @staff, calendar_mark_type: CalendarMark::TYPE_CIRCLE) %>" 	 data-method="post"><%= calendar_mark_type(CalendarMark::TYPE_CIRCLE) %> : <%= calendar_mark_title %></a></li>
					<li><a class="dropdown-item" href="<%= admin_attendance_set_calendar_mark_path(target_date: @probe_date, from_date: @probe_date, until_date: @probe_date, staff_id: @staff, calendar_mark_type: CalendarMark::TYPE_TRIANGLE) %>" data-method="post"><%= calendar_mark_type(CalendarMark::TYPE_TRIANGLE) %> : <%= calendar_mark_title %></a></li>
					<li><a class="dropdown-item" href="<%= admin_attendance_set_calendar_mark_path(target_date: @probe_date, from_date: @probe_date, until_date: @probe_date, staff_id: @staff, calendar_mark_type: CalendarMark::TYPE_BATSU) %>" 	 data-method="post"><%= calendar_mark_type(CalendarMark::TYPE_BATSU) %> : <%= calendar_mark_title %></a></li>
					<li><a class="dropdown-item" href="<%= admin_attendance_set_calendar_mark_path(target_date: @probe_date, from_date: @probe_date, until_date: @probe_date, staff_id: @staff, calendar_mark_type: CalendarMark::TYPE_NONE) %>" 	 data-method="post"><%= calendar_mark_type(CalendarMark::TYPE_NONE, true) %> : <%= calendar_mark_title %></a></li>
				</ul>
			</div>
		</div>
	</th>
	<td>
	</td>
</tr>

<%= render partial: 'dlg_day_off', locals: {target_date: @probe_date, staff: @staff} %>
<%= render partial: 'dlg_day_on', locals: { target_date: @probe_date, staff: @staff} %>
