<!-- modalInitRoster -->
<div class="modal fade" id="modalInitRoster" tabindex="-1" aria-labelledby="modalInitRoster" aria-hidden="true">
	<div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for @shop, url: admin_attendance_init_roster_path(id: @staff.id), method: :post do |f| -%>
				<%= hidden_field_tag "id", @staff.id %>
				<%= hidden_field_tag "shop_id", @shop.id %>
				<%= hidden_field_tag "target_date", @target_date %>
				<div class="modal-header">
					<h5 class="modal-title">
						<%= attendance_staff_icon %>
						勤怠一括設定
						:
						<%= model_name(@staff) %>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						勤怠情報を一括設定します。
						設定期間の勤怠情報は、全て上記設定で初期化されます。
					</p>
					<% 
						day_options = []
						for d in 1..((@target_date>>1)-1).day
							day_options << [ (@target_date+(d-1)).strftime("%m-%d")+"("+ wday(@target_date+(d-1)) + ")", (@target_date+(d-1)).strftime("%Y-%m-%d")]
						end
					%>
					<div class="mb-3 row">
						<label for="shop_alt_id" class="col-sm-3 col-form-label">設定期間</label>
						<div class="col-sm-9 form-inline">
							<%= select_tag("from_date", 	options_for_select(day_options, @target_date.strftime("%Y-%m-%d")), {include_blank:'選択してください', :required => true, class: 'form-control'})%>
							&nbsp;〜&nbsp;
							<%= select_tag("until_date", 	options_for_select(day_options, ((@target_date>>1)-1).strftime("%Y-%m-%d")), {include_blank:'選択してください', :required => true, class: 'form-control'})%>
						</div>
					</div>
					<% 
						base_time = Time.mktime(@target_date.year, @target_date.month, @target_date.day, 0, 0, 0)
						hour_options = []
						for h in @shop.business_hour_from..@shop.business_hour_until
							scope_time = base_time+(h*60*60)
							hour_options << [ scope_time.strftime("%l:%M %p"), h]
						end
					%>
					<div class="mb-3 row">
						<label for="name" class="col-sm-3 col-form-label">勤務時間</label>
						<div class="col-sm-9 form-inline">
							<%= select_tag("work_from", 	options_for_select(hour_options, @shop.business_hour_from), {include_blank:'選択してください', :required => true, class: 'form-control'})%>
							&nbsp;〜&nbsp;
							<%= select_tag("work_until", 	options_for_select(hour_options, @shop.business_hour_until), {include_blank:'選択してください', :required => true, class: 'form-control'})%>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="holiday" class="col-sm-3 col-form-label">休日</label>
						<div class="col-sm-9 form-check">
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox1" value="0"> 日
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox2" value="1"> 月
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox3" value="2"> 火
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox4" value="3"> 水
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox5" value="4"> 木
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox6" value="5"> 金
							</label>
							&nbsp;
							<label class="checkbox inline">
							<input type="checkbox" name="holidays[]" id="inlineCheckbox6" value="6"> 土
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="submit" class="btn btn-primary"><i class="fas fa-cogs"></i>&nbsp;設定</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
