<% unless @summary_array.blank? %>
	<% base_time = Time.mktime(@target_date.year,@target_date.month,@target_date.day, 0, 0, 0) %>
	<h4>
	<% rev 	 = (base_time.to_date)<<1 %>
	<% today = Time.zone.now.to_date.beginning_of_month %>
	<% fwd   = (base_time.to_date)>>1 %>
	<div class="btn-group">
			<%= link_to("<i class='fas fa-arrow-left'></i> 前月".html_safe, 	{:action=>'attendances_staff', :id=>@staff, :shop_id=>@shop, :year=>rev.year, :month=>rev.month }, :class=>"btn btn-sm btn-outline-primary") %>
			<%= link_to("今月", 										 		{:action=>'attendances_staff', :id=>@staff, :shop_id=>@shop, :year=>today.year, :month=>today.month}, :class=>"btn btn-sm btn-info") %>
			<%= link_to("次月 <i class='fas fa-arrow-right'></i>".html_safe, 	{:action=>'attendances_staff', :id=>@staff, :shop_id=>@shop, :year=>fwd.year, :month=>fwd.month }, :class=>"btn btn-sm  btn-outline-primary") %>
	</div>

	</h4>
	<table class="table table-condensed table-bordered">
	<tr>
		<th width='25%' style="background-color:#DFD;">当月日数 : <%= @target_date.strftime('%Y年%m月')%></th>
		<% if false %>
			<td width='15%' style="background-color:#DFD;">営業時間</td>
		<% end %>
		<td width='25%' style="background-color:#B69; color:#FFF;">出勤日数</td>
		<td width='25%' style="background-color:#B69; color:#FFF;">勤務時間</td>
		<td width='25%' style="background-color:#DDD">休暇日数</td>
		<% if false %>
			<td width='20%' style="background-color:#DDD">休暇時間</td>
		<% end %>
	</tr>

	<%
		service_mins = 0
		@my_reservations.each do |r|
			service_mins += r.min_period
		end
	%>

	<tr>
		<td style="text-align:right"><%= @summary_array[0]%>&nbsp;<small>日</small></td>
		<% if false %>
		<td style="text-align:right"><%= @summary_array[1]%>&nbsp;<small>時間</small></td>
		<% end %>
		<td style="text-align:right"><%= @summary_array[2]%>&nbsp;<small>日</small></td>
		<td style="text-align:right"><%= @summary_array[3]%>&nbsp;<small>時間</small></td>
		<td style="text-align:right"><%= @summary_array[4]%>&nbsp;<small>日</small></td>
		<% if false %>
		<td style="text-align:right"><%= @summary_array[5]%>&nbsp;<small>時間</small></td>
		<% end %>
	</tr>
	</table>
<% end %>
