<!-- === Masthead === -->
<header class="subhead" id="overview">
	<span class="float-right">
		<% if current_user.has_permission?(User::ROLE_MANAGER) %>
			<% roster_url = url_for(:controller=>"admin_roster", :action=>"index", target_date: @target_date)%>
			<a href="<%= roster_url %>" class="btn btn-outline-primary"><i class="fas fa-tasks"></i>&nbsp;シフト設定</a>
			|
		<% end %>
		<% calendar_url = url_for(:action=>"index", :year => @target_date.year)%>
		<a href="<%= calendar_url %>" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>&nbsp;スタッフ一覧へ</a>
	</span>
	<h3>
		<%= attendance_staff_icon %>
		勤怠管理
		:
		<%= model_name(@staff) %>
	</h3>
</header>

<%= render :partial=>"roster_summary" %>

<div style='margin-bottom: 10px;'>
	<span class='float-right'>
		<%= render partial: 'legend_timeline'%>
	</span>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInitRoster">
		<i class='fas fa-cog'></i>&nbsp;
		勤怠一括設定
	</button>
	|
	<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalInitCalendarMark">
		<%= calendar_mark_icon %>
		<%= calendar_mark_title %>一括設定
	</button>
</div>
<%= render partial: 'dlg_init_roster' %>
<%= render partial: 'dlg_init_calendar_mark' %>

<%= render :partial=>"attendances_staff" %>

