	<!-- === Masthead === -->
	<header class="subhead" id="overview">
		<h3>
		<%= attendance_staff_icon %>
		勤怠<div class='d-none d-md-inline'>管理</div>
		:
		<%= @target_date.year %>&nbsp;年
		</h3>
	</header>

	<p class="lead">
		<span class="btn-group btn-group-sm">
		    <% 
		        cur = Time.mktime(@target_date.year, 1,1).to_date
		        lst = cur<<12
		        nxt = cur>>12
		    %>
			<%= link_to(raw("<i class='fas fa-arrow-left'></i>"), 	{:action=>'index', :year => lst.year}, :class=>"btn btn-outline-primary") %>
			<%= link_to("今年", 								{:action=>'index'}, :class=>"btn btn-info") %>
			<%= link_to(raw("<i class='fas fa-arrow-right'></i>"), {:action=>'index', :year => nxt.year}, :class=>"btn btn-outline-primary") %>
		</span>
	</p>

	<%= render :partial=>"attendances" %>
