<% if current_user.has_permission?(User::ROLE_MANAGER) %>	
	<div class="control-group">
		<label class="control-label" for="item_reservation_range_from">役割</label>
		<div class="controls">
			<select name="user[role]" id="user_role">
				<option <% if @user.role==User::ROLE_MANAGER %>selected<% end %> value="<%=User::ROLE_MANAGER%>"><%= label_user_role(User::ROLE_MANAGER)%></option>
				<option <% if @user.role==User::ROLE_BLOGGER %>selected<% end %> value="<%=User::ROLE_BLOGGER%>"><%= label_user_role(User::ROLE_BLOGGER)%></option>
				<option <% if @user.role==User::ROLE_BLOCKED %>selected<% end %> value="<%=User::ROLE_BLOCKED%>"><%= label_user_role(User::ROLE_BLOCKED)%></option>
			</select>
		</div>
	</div>
<% end %>
<div class="control-group">
	<label class="control-label" for="login">表示名</label>
	<div class="controls">
		<%= text_field 'user', 'name', :placeholder=>"表示名を入力", :autocomplete => "off" %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="login">ログイン</label>
	<div class="controls">
		<%= text_field 'user', 'email', :placeholder=>"ログインIDを入力", :autocomplete => "off" %>
		<span class="help-block">3文字以上。システム全体で固有のログインIDを指定する必要があります。</span>
	</div>
</div>
<% if true %>
<div class="control-group">
	<label class="control-label" for="email">メールアドレス</label>
	<div class="controls">
		<%= text_field 'user', 'email_org', :placeholder=>"メールアドレスを入力", :autocomplete => "off" %>
	</div>
</div>
<% end %>
<div class="control-group">
	<label class="control-label" for="user[ui_version]">画面構成</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="user[ui_version]" name="user[ui_version]" value="1" <% if @user.ui_version.blank? %>checked<% end %>>
			従来画面
		</label>
		<label class="radio inline">
			<input type="radio" id="user[ui_version]" name="user[ui_version]" value="0" <% if !@user.ui_version.blank? %>checked<% end %>>
			新画面
		</label>
	</div>
</div>
