<style>
    #map {
        width: 100%;
        height: 277px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>


<ul class="nav nav-tabs">
	<li class="active">	<a href="<%= url_for(:action=>'company_show_shop') %>">店舗情報</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_staffs') %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_users') %>">ユーザー</a></li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>
		<li>				<a href="<%= url_for(:action=>'shop_show_website') %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a></li>
		<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>
			<li>				<a href="<%= url_for(:action=>'shop_site_navigation') %>">ナビゲーション</a></li>
		<% end %>
	<% end %>
</ul>

<div class="row">
	<div class="span12">
		<h4>
			<span class="pull-right">
				<a class="btn btn-small btn-success" href="<%= url_for(:action=>'company_show_shop') %>" data-turbolinks='false'>
					<i class="icon-arrow-left"></i>&nbsp;戻る
				</a>
			</span>
			店舗説明文
		</h4>
		<%= form_tag url_for(:action=>"company_update_shop", :id=>@shop), :class=>"form-horizontal well", method: :patch do -%>
			<fieldset>
				<%= render :partial=>"form_shop_description", locals:{shop: @shop} %>
				<div class="form-actions">
		        	<button type="submit" class="btn btn-small btn-success"><i class="icon-refresh"></i>&nbsp;&nbsp;更新</button>
					<% url_cancel = url_for(:action=>"company_show_shop", :id=>@item) %>
			  		<a class="btn btn-small" href="<%= url_cancel %>" data-turbolinks='false'><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</a>
		      	</div>
			</fieldset>
		<% end -%>
	</div>
</div>
