


<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>
	
<ul class="nav nav-tabs">
	<li>				<a href="<%= url_for(:action=>'company_show_shop') %>">店舗情報</a></li>
	<li class="active">	<a href="<%= url_for(:action=>'shop_list_staffs') %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_users') %>">店舗ユーザー</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_show_website') %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a></li>
	<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
		<li>				<a href="<%= url_for(:action=>'shop_site_navigation') %>">ナビゲーション</a></li>
	<% end %>
</ul>

<h4>
	<div class="pull-right">
		<p>
			<% url_back = url_for(:action=>"shop_show_staff", :id=>@item) %>
			<a class="btn btn-small" href="<%=url_back%>">
				<i class="icon-arrow-left"></i>&nbsp;
				戻る
			</a>
		</p>
	</div>
	写真追加
	:
	<%= model_name(@item) %>
</h4>

<%= form_for(Photo.new, url: root_path, html: {multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :photo_file_name, multiple: true %>
  </div>
<% end %>

<script>
  $(function() {
    // disable auto discover
    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
      maxFilesize: 1,
      addRemoveLinks: true
    });
  });
</script>
