<style>
    #map {
        width: 100%;
        height: 450px;
    }
</style>
<style>
	 #map img { max-width: none; }
</style>


<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>
	
<ul class="nav nav-tabs">
	<li class="active">	<a href="<%= url_for(:action=>'company_show_shop') %>">店舗情報</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_staffs') %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_users') %>">店舗ユーザー</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_show_website') %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a></li>
	<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>	
		<li>				<a href="<%= url_for(:action=>'shop_site_navigation') %>">ナビゲーション</a></li>
	<% end %>
</ul>

<div class="form-horizontal well">
	<fieldset>
		<legend>最寄りの地点を入力</legend>
		<div class="control-group">
			<label class="control-label" for="alt_id">住所/ランドマーク</label>
			<div class="controls">
				<i class="icon-search"></i>
				<input class="input-large search-query" type="text" id="address">
				<input class="btn btn-primary" type="button" value="検索" onclick="moveMap();">
				</div>
		</div>
	</fieldset>
</div>


<%= form_tag url_for(:action=>"shop_update_position", method: :patch), :class=>"form-horizontal" do -%>
	<%= hidden_field_tag 'lat', @shop.lat %>
	<%= hidden_field_tag 'lng', @shop.lng %>
	<table class="table table-bordered">
		<tbody>
			<tr class="warning">
				<td>
					<strong><%= model_name(@shop) %></strong>
					<span class="pull-right">
						<button type="submit" class="btn btn-success btn-small"><i class="icon-ok"></i>&nbsp;&nbsp;ピンの位置に設定</button>
					</span>
				</td>
			</tr>
			<tr>
				<td><div id="map"></div></td>
			</tr>
		</tbody>
	</table>
<% end %>

<div class="well">
	<a class="btn btn-middle btn-warn" href="<%= url_for(:action=>'index') %>" data-turbolinks='false'>
	<i class="icon-arrow-left"></i>&nbsp;
		戻る
	</a>
	
	<% if @shop.gps? %>
		&nbsp;<span class="divider">|</span>&nbsp;
		<a class="btn btn-middle btn-danger"  data-toggle="modal" href="#modalDeletePosition">
		<i class="icon-remove"></i>&nbsp;
			位置をクリア
		</a>
	<% end %>
</div>

<script>
  var map;
  var shop_marker;
	<% if @shop.gps? %>
	    var latlng = { lat: <%= @shop.lat %>, lng: <%= @shop.lng %> };
	<% else %>
	    var latlng = { lat: 35.681382, lng: 139.766084 };
	<% end %>
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: latlng,
			zoom: 16
		});
		shop_marker = new google.maps.Marker({
			position: latlng,
			map: map
		});
		google.maps.event.addListener(map, 'click', function(event) {
				if (shop_marker!=null) { shop_marker.setMap(null); }
				shop_marker = new google.maps.Marker({
					position: event.latLng,
					map: map
				});
				document.getElementById('lat').value = event.latLng.lat();	
				document.getElementById('lng').value = event.latLng.lng();	
		});
	}
	function moveMap() {
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({
				'address': document.getElementById('address').value
			}, function(result, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					map.panTo(result[0].geometry.location);
					/*
					var marker = new google.maps.Marker({
						position: result[0].geometry.location,
						map: map
					});
					*/
				} else {
					alert("見つかりませんでした。");
				}
			});
		}
	window.onload = function () {
		initMap();
		}
</script>

<!-- modalDeletePosition -->
<%= form_tag url_for(:action=>"shop_delete_position"), {:class=>"modal hide fade form-horizontal", :id=>"modalDeletePosition", method: :delete} do -%>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 id="myModalLabel">位置をクリア</h3>
	</div>
	<div class="modal-body">
		<p>
			「<%= model_name(@shop) %>」
			の位置情報（緯度、経度）をクリアします<br/>
			よろしいですか？
		</p>
	</div>
	<div class="modal-footer">
    	<button type="submit" class="btn btn-danger"><i class="icon-ok"></i>&nbsp;&nbsp;実行</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
	</div>
<% end %>

<% if false %>
<script>
	<% if @shop.gps? %>
	    var latlng = new google.maps.LatLng(<%= @shop.lat %>, <%= @shop.lng %>);
	<% else %>
	    var latlng = new google.maps.LatLng(35.681382, 139.766084);
	<% end %>
    var options = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map'), options);
	
	var shop_marker; 
	<% if @shop.gps? %>
	    shop_marker = new google.maps.Marker({
	        position:latlng,
	        map: map
	    });
	<% end %>
	
	google.maps.event.addListener(map, 'click', function(event) {
			if (shop_marker!=null) { shop_marker.setMap(null); }
            shop_marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });
			document.getElementById('lat').value = event.latLng.lat();	
			document.getElementById('lng').value = event.latLng.lng();	
    })
	
    function moveMap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': document.getElementById('address').value
        }, function(result, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.panTo(result[0].geometry.location);
				/*
                var marker = new google.maps.Marker({
                    position: result[0].geometry.location,
                    map: map
                });
                */
            } else {
                alert("見つかりませんでした。");
            }
        });
    }
</script>
<% end %>
