<!-- === Masthead === -->
<header class="subhead" id="overview">
	<h3>店舗設定</h3>
</header>

<ul class="nav nav-tabs">
	<li>				<a href="<%= url_for(:action=>'company_show_shop') %>">店舗情報</a></li>
	<li class="active">	<a href="<%= url_for(:action=>'shop_list_staffs') %>">店舗スタッフ</a></li>
	<li>				<a href="<%= url_for(:action=>'shop_list_users') %>">店舗ユーザー</a></li>
	<% if current_user.has_permission?(User::ROLE_MANAGER) %>
		<li>				<a href="<%= url_for(:action=>'shop_show_website') %>"><%= icon_site_status(@shop.wsite_run_mode) %>&nbsp;サイト設定</a></li>
		<% unless @shop.wsite_run_mode==Shop::WSITE_BLOCKED %>
			<li>				<a href="<%= url_for(:action=>'shop_site_navigation') %>">ナビゲーション</a></li>
		<% end %>
	<% end %>
</ul>

<ul class="breadcrumb">
  <li><%= link_to "一覧", url_for(:action=>'shop_list_staffs', :id=>@staff.shop)  %>&nbsp;<span class="divider">/</span></li>
  <li class="active"><%= model_name(@staff) %></li>
</ul>

<h4>
	<span class="pull-right">
		<a class="btn btn-small btn-success" href="<%= url_for(:action=>'shop_show_staff', :id=>@staff) %>" data-turbolinks='false'>
			<i class="icon-arrow-left"></i>&nbsp;戻る
		</a>
	</span>
	自己紹介
</h4>

<%= form_tag url_for(:action=>"shop_update_staff", :id=>@staff), :class=>"form-horizontal well", method: :patch do -%>
	<%= render :partial=>"layouts/tiny_mce", :locals=>{:target=>nil} if false %>
	<fieldset>
		<div class="control-group">
			<%= text_area 'staff', 'description', :class=>"tinymce input-block-level", :rows => 40, :autocomplete=>false, :placeholder=>"記事の本文を入力します。" %>
			<script type="text/javascript">
				tinyMCE.init({
					selector: 'textarea.tinymce',
					cache_suffix: "?v=5.10.2",
					theme_advanced_toolbar_location: "top",
					theme_advanced_statusbar_location: "bottom",
					theme_advanced_buttons3_add: ["tablecontrols"],
					plugins: "table,image",
					<% unless @staff.blank? %>
						<% unless @staff.photos.blank? %>
						image_list: [
							<%= photo_array(@staff.photos).html_safe %>
							],
						<% end %>
					<% end %>
					relative_urls : false,
					convert_urls: false,
					toolbar: ["undo redo | formatselect | fontselect | fontsizeselect | bold | italic | underline | alignleft | aligncenter | alignjustify | alignright"],
					language: 'ja'})
			</script>
		</div>
		<div class="form-actions">
        	<button type="submit" class="btn btn-small btn-success"><i class="icon-refresh"></i>&nbsp;&nbsp;更新</button>
			<% url_cancel = url_for(:action=>'shop_show_staff', :id=>@staff) %>
	  		<a class="btn btn-small" href="<%= url_cancel %>" data-turbolinks='false'><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</a>
      	</div>
	</fieldset>
<% end -%>
