<% if false %>
<div class="row">
    <% array = @leafs.in_groups_of(3, false)%>
    <% for i in 0..(array.size-1) %>
        <% @lines = array[i] %>
            <div class="col-sm-4">
                <%= render :partial=>"item_leaf", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %>
            </div>
            <div class="col-sm-4">
                <%= render :partial=>"item_leaf", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %>
            </div>
            <div class="col-sm-4">
                <%= render :partial=>"item_leaf", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %>
            </div>
    <% end %>
</div>
<% end %>

<div class="row row-cols-2 row-cols-md-4 g-4">
    <% @leafs.each do |leaf| %>
        <%= render partial: 'item_leaf_card', locals: {leaf: leaf} %>
    <% end %>
</div>
<%= paginate leafs, theme: 'bootstrap-5' %>
