<div class="col">
    <div class="card h-100">
        <%= image_tag photo.clip.url(:thumb), class: 'card-img-top' %>
        <div class="card-body">
            <small><%= photo.info unless photo.info.blank? %></small>
        </div>
        <div class="card-footer">
            <small>
                <%= (photo.first?)?	move_to_top_icon :	link_to(move_to_top_icon, :action=>"photo_to_bottom",	:id=>photo) %>
                <%= (photo.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"), :action=>"photo_higher",	:id=>photo) %>
                <%= photo.position %>
                <%= (photo.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"), 	:action=>"photo_lower",		:id=>photo) %>
                <%= (photo.last?)? 	move_to_bottom_icon : 	link_to(move_to_bottom_icon, 	:action=>"photo_to_top",	:id=>photo) %>
            </small>
            <span class='float-right'>
                <% if false %>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_photo_<%=photo.id%>">
                        <%= info_icon %>
                    </button>
                <% end %>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete_photo_<%=photo.id%>">
                    <%= trash_icon('削除確認') %>…
                </button>
            </span>
        </div>
    </div>
</div>
