<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to @bag_title, :action=>"content_root" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>


  <% ancs = @current_category.ancestors.reverse %>
  <% ancs.each do |cat| %>
    <% next if cat.category_type < 100 %>
    <li><%= link_to cat.category_label, :action=>"content_category_tree", :id=>cat %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <% end %>
  <li class="active"><%= @current_category.category_label%></li>
</ul>


<header class="subhead" id="overview">
	<span class='float-right'>
		<a class="btn btn-sm btn-outline-dark" href="<%=url_for(:action=>"content_category", :id=>@parent_category)%>">
			<%= backward_icon('戻る') %>&nbsp;戻る</a>
		<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalNew">
			<%= new_icon('登録') %>&nbsp;新規登録
		</button>
	</span>
	<h4>サブ・カテゴリー</h4>
</header>

<% unless @current_category.children.blank? %>
	<% if false %>
	<% array = @current_category.children.in_groups_of(3, false)%>
	<div class="row">
		<% for i in 0..(array.size-1) %>
			<% @lines = array[i] %>
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category_tree", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %>
				</div>		
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category_tree", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %>
				</div>		
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category_tree", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %>
				</div>
		<% end %>
	</div>
	<% end %>

	<br/>
	<div class="row row-cols-2 row-cols-md-3 g-4">
		<% @current_category.children.each do |cat| %>
			<%= render partial: 'item_cat_card', locals: {cat: cat} %>
		<% end %>
	</div>
	<% @current_category.children.each do |cat| %>
		<%= render partial: 'dlg_cat_edit', 	locals: {cat: cat} %>
		<%= render partial: 'dlg_cat_delete', 	locals: {cat: cat} %>
	<% end %>


<% else %>
	<div class='alert alert-info'>
		<%= info_icon %>
		<%=@bag_title %>にはサブ・カテゴリーが登録されていません。
	</div>
<% end %>

<div class="modal fade" id="modalNew" tabindex="-1" aria-labelledby="modalNew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%
				@content_category                 = ContentCategory.new
				@content_category.shop            = @shop
				@content_category.parent          = @current_category#@parent_category
				@content_category.web_page        = @parent_category.web_page 
				@content_category.category_type   = ContentCategory::TYPE_CATEGORY
			%>
			<%= form_for @content_category, url: admin_content_stream_content_category_create_path, method: :post do |f| %>
			<%= hidden_field 'content_category', 'shop_id' %>
			<%= hidden_field 'content_category', 'parent_id' %>
			<%= hidden_field 'content_category', 'web_page_id' %>
			<%= hidden_field 'content_category', 'category_type' %>
                <div class="modal-header">
                    <h5 class="modal-title">新規カテゴリー登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div class="mb-3 row">
						<label for="name" class="col-sm-4 col-form-label">カテゴリー</label>
						<div class="col-sm-8">
							<%= f.text_field :title,  {class: "form-control", placeholder: "カテゴリー名称を入力", :required => true, autofocus: true}  %>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-success"><%= new_icon('登録') %>&nbsp;登録</button>
                </div>
			<% end %>
        </div>
    </div>
</div>

<%
	e_cats = ContentCategory.where('shop_id IN (?) AND content_categories.id = content_categories.parent_id', @shop)
%>
<% if e_cats.size >= 1 %>
<h4>エラー・カテゴリー</h4>
<%= e_cats.size %>
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="table-dark">
				<th width='40%'>
					カテゴリー名
				</th>
				<th width='25%'>リーフネーム</th>
				<th width='25%'></th>
			</tr>
		<head>
		<tbody>
			<% e_cats.each do |e_cat| %>
				<tr>
					<td style="vertical-align: middle">
							<i class="fa-solid fa-chevron-right"></i>
							<%= model_name(e_cat) %>
					</td>
					<%
						leaf_name = e_cat.content_leafs.map{|l| l.name}.join(', ')
					%>
					<td style=" vertical-align: middle; text-align:right">
						<%= leaf_name %>
						<%= e_cat.content_leafs.size %>
					</td>
					<td style=" vertical-align: middle; text-align:center">
						<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_edit_<%=e_cat.id%>">
							<%= edit_icon('復活')%>&nbsp;復活
						</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<% e_cats.each do |e_cat| %>
	<div class="modal fade" id="modal_edit_<%=e_cat.id%>" tabindex="-1" aria-labelledby="modal_edit_<%=e_cat.id%>" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<%= form_for e_cat, url: admin_content_stream_content_category_update_path(id: e_cat.id), method: :patch do |f| -%>
					<%= hidden_field_tag 'content_category[parent_id]', @current_category.id %>
					<div class="modal-header">
						<h5 class="modal-title">カテゴリー復活</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							<%= e_cat.category_label %>を復活します。よろしいですか？
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
						<button type="submit" class="btn btn-sm btn-danger"><%= update_icon('復活') %>&nbsp;復活</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
