<% logo = VisualWidget.search_widget_bag_for(@website, "e93526dac54e497bb09c909681f0e0a0") %>
<% slid = VisualWidget.search_widget_bag_for(@website, "9750ff1868d3e2835c3fe7fe0b06100c") %>
<% shop = VisualWidget.search_widget_bag_for(@website, "0deba3cb437400f9052396a257a66bda") %>
<%  if !slid.blank? && slid.is_valid? %>
<aside id="homeCarousel">
    <ul>
<%      slid.photos.each do | photo | %>
	   <li><img src="<%= photo.clip.url() %>" alt=""></li>
<%      end %>
    </ul>
<%      if !logo.blank? && logo.is_valid? %>
    <h1 id="mainLogo">
        <img src="<%= logo.photos[0].clip.url() %>" alt="茶房やまだ屋ロゴ">
    </h1>
<%      end %>
<%      if !shop.blank? && shop.is_valid? %>
    <div id="mainShop">
        <a href="<%= shop.data_string %>" target="_blank">
            <span>ONLINE SHOP</span>
            茶房やまだ屋 オンラインショップ
        </a>
    </div>
<%      end %>
</aside>
<%  else %>
<aside id="homeVis">
<%      if !logo.blank? && logo.is_valid? %>
    <h1 id="mainLogo">
        <img src="<%= logo.photos[0].clip.url() %>" alt="茶房やまだ屋ロゴ">
    </h1>
<%      end %>
<%      if !shop.blank? && shop.is_valid? %>
    <div id="mainShop">
        <a href="<%= shop.data_string %>" target="_blank">
            <span>ONLINE SHOP</span>
            茶房やまだ屋 オンラインショップ
        </a>
    </div>
<%      end %>
</aside>
<%  end %>
