<!doctype html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'staffroom.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="https://<%= request.host + url_for(:action=>'gallery_show', :id=>@seed) %>">
<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% else %>
<meta property="article:publisher"    content="<%= model_name(@website.company) %>">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/sabouyamadaya.com/style" %>
</head>
<body id="gallery_show">
<%= render :partial=>"#{LayoutScheme.asset_root}/sabouyamadaya.com/header" %>
<article id="gallery">
    <h1>online Gallery 　<i class="fa-solid fa-caret-right"></i> 　<%= model_title(@seed) %></h1>
    <div id="carousel">
        <div class="img">
            
            <%  @photos = @seed.photos %>
            <% if @photos.blank? || @photos.size<2 %>
                <ul>
                    <li><img src="//placehold.jp/1024x683.png?text=No Photo"></li>
                </ul>
            <% else %>
                <ul>
                <% for i in 1..(@photos.size-1) %>
                    <li><img src="<%= @photos[i].clip.url() %>" alt=""></li>
                <% end %>
                </ul>
            <% end %>
            <ul class="nav">
            </ul>
        </div>
    </div>



<% if false #original code %>
    <div id="carousel">
        <div class="img">
<%  @photos.shift %>
<%  unless @photos.blank? %>
            <ul>
<%      @photos.each do | photo | %>
                <li><img src="<%= photo.clip.url() %>" alt=""></li>
<%      end %>
            </ul>
<%  else %>
            <ul>
                <li><img src="//placehold.jp/1024x683.png?text=No Photo"></li>
            </ul>
<%  end %>
        </div>
        <ul class="nav">
        </ul>
    </div>
<% end %>


    <div class="content">
<% unless @seed.description.blank? %>
        <%= raw @seed.description %>
        <% tag_cloud(@seed.tags.order(name: :asc), %w(css1 css2 css3 css4)) do |tag| %>
            <% @seed.content_category.category_path(true).each do | category | %>
            <% cat_url = url_for(:action=>'news_list', :id=>category, search_tags: [tag.name])%>
                <a href='<%= cat_url %>'>
                    <span class='badge badge-primary '>
                        #<%= tag3_icon %>&nbsp;<%= tag_name(tag) %>
                    </span>
                </a>
            <% end %>
        <% end %>
<% end %>
    </div>
</article>
<%= render :partial=>"#{LayoutScheme.asset_root}/sabouyamadaya.com/footer" %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/assets/sabouyamadaya.com/js/gallery.js"></script>
<% unless @website.analytics_code.blank? %>
<%= raw @website.analytics_code %>
<% end %>
</body>
</html>
