<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'staffroom.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3-speed/style" %>
</head>
<body id="stream_list">
<%= render :partial=>"#{LayoutScheme.asset_root}/sabouyamadaya.com/header" %>
<article id="galleryList" class="container">
    <h1><%= model_name(@seed) %></h1>
    <ul class="wrapper">
<%
    sons = @seed.sons
    sons << @seed
    @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)",sons).order(position: :asc).paginate(:page => params[:page], :per_page=>PER_PAGE)
    #c = ContentLeaf.public_leafs_condition
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'publish_from desc')
    @leafs.each do | leaf | @leaf = leaf
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.jp/640x480.png?text='+publish
            end
            if request.host == 'staffroom.swifty.jp'
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page)
            end
%>
        <li>
            <div><a href="<%= content_url %>"><img src="<%= image_url %>" alt="<%= h model_title(@leaf) %>"></a></div>
            <h2><a href="<%= content_url %>"><%= h model_title(@leaf) %></a></h2>
        </li>
<%  end %>
    </ul>
</article>
<aside class="text-center">
<% if request.host == 'staffroom.swifty.jp' %>
    <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, :renderer => BootstrapPagination::Rails, :previous_label=>'＜', :next_label=>'＞') %>
<% else %>
    <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page }, :renderer => BootstrapPagination::Rails, :previous_label=>'＜', :next_label=>'＞') %>
<% end %>
</aside>
<%= render :partial=>"#{LayoutScheme.asset_root}/sabouyamadaya.com/footer" %>
<% unless @website.analytics_code.blank? %>
<%= raw @website.analytics_code %>
<% end %>
</body>
</html>
