<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/picasso/style.css?v=2019073101">
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav">
    <ul id="scrooler">
        <li>- MENU</li>
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/navigation" %>
    </ul>
</aside>
<!-- 主ウインドウ -->
<div id="body">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/header" %>
<!-- グローバルナビゲーション -->
        <nav id="gnav">
            <div class="container">
                <div>
                    <i id="gnav_prev" class="fa fa-chevron-circle-left"></i>
                    <div id="gnav_wrapper">
                        <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/navigation" %>
                        </ul>
                    </div>
                    <i id="gnav_next" class="fa fa-chevron-circle-right"></i>
                </div>
            </div>
        </nav>
<!-- パンくずリスト -->
        <aside id="breadcrumbs">
            <div class="container">
                <ol>
<% if request.host == 'staffroom.swifty.jp' %>
                    <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                    <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
    <% if request.host == 'staffroom.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'portfolio_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
    <% else %>
                    <li><a href="<%= url_for(:action=>'portfolio_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
    <% end %>
<% end %>
<% @seed.category_path.each do | category | %>
    <% if request.host == 'staffroom.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'portfolio_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
    <% else %>
                    <li><a href="<%= url_for(:action=>'portfolio_list', :id=>category) %>"><%= category.category_label %></a></li>
    <% end %>
<% end %>
                    <li><%= model_name(@seed) %></li>
                </ol>
            </div>
        </aside>
<!-- メインコンテナ -->
        <div id="main_wrap" class="gallery">
            <div class="container">
<!-- 主エリア -->
<!--
                <main id="main">
-->
                    <h1><%= model_name(@seed) %></h1>
<!--
                    <article id="menu">
                        <section>
                            <h1>クーポン</h1>
                            <p style="margin-bottom:1em;"><img src="/photo/image/clip/8594/original/coupon320.png" alt="クーポン"></p>
                            <p>ご来店の際、受付時にこの画面をスタッフにご提示ください。割引料金にて施術させて頂きます。</p>
                            <p style="font-size:.8125em">※ 価格は、『通常価格 → 割引価格』と表記しています。</p>
                            <p style="font-size:.8125em">※ 価格はすべて税抜き価格です。別途消費税を頂きますのでご了承ください。</p>
                        </section>
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/portfolio_leafs", :locals=>{:seed=>@seed} %>
                    </article>
-->
<!--
                </main>
-->
<!-- サイドエリア -->
<%  if false %>
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/sidebar" %>
<%  end %>
            </div>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/social_js" %>
<!-- google maps javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/picasso/gmaps_js" %>
</body>
</html>
