<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">

<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>

<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/kin-hairstore.com/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- サイトヘッダー -->
<header id="header">
    <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/header" %>
    </div>
</header>
<nav id="nav">
    <ul>
<!-- ナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/navigation" %>
    </ul>
</nav>
<div id="main">
    <div class="scroller">
        <aside id="breadcrumbs">
            <div class="container">
                <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
                    <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                    <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<% if true || request.host == 'sr2.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% else %>
                    <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% end %>
<% end %>
<% @seed.category_path.each do | category | %>
<% if true || request.host == 'sr2.swifty.jp' %>
                    <li><a href="<%= url_for(:action=>'gallery_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
<% else %>
                    <li><a href="<%= url_for(:action=>'gallery_list', :id=>category) %>"><%= category.category_label %></a></li>
<% end %>
<% end %>
                    <li><%= model_name(@seed) %></li>
                </ol>
            </div>
        </aside>
        <!--<![endif]-->
        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http:http://browsehappy.com/">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <main>
            <article id="article" class="container">
                <h1><%= model_name(@seed) %></h1>
                <ul class="wrapper contents_list">
<%
    sons = @seed.sons
    sons << @seed
     @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)", sons).order(position: :asc).paginate(:page => params[:page], :per_page=>PER_PAGE)
    @leafs = (@search_tags.blank?)? @leafs.all: @leafs.tagged_with(@search_tags)
    #c = ContentLeaf.public_leafs
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'position')
    @leafs.each do | leaf |
        key_photo = key_photo(leaf)
        unless key_photo.blank?
            image_url = key_photo.clip.url(:panel)
        else
            image_url = '//placehold.jp/327x327.jpg?text=No Photo'
        end
        if true || request.host == 'sr2.swifty.jp'
            gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
        else
            gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page)
        end
%>
<%      if @seed.id == 2582 %>
                    <li class="col-m2p3">
                        <h1>
                            <%= model_title(leaf) %>
                        </h1>
                        <div class="imgbox32"><div style="background-image:url('<%= image_url %>');">
                            <img src="<%= image_url %>">
                        </div></div>
                    </li>
<%      else %>
                    <li class="col-m2p3">
                        <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                            <a href="<%= gallery_url %>"><img src="<%= image_url %>"></a>
                        </div></div>
                        <h1>
                            <a href="<%= gallery_url %>"><%= model_title(leaf) %></a>
                        </h1>
                    </li>
<%      end %>
<%  end %>
                </ul>
            </article>
            <aside class="pagination text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
                <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% else %>
                <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% end %>
            </aside>
        </main>
<!-- SNS Links -->
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/sns_links" %>
<!-- フットナビ -->
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/foot_nav" %>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/kin-hairstore.com/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/kin-hairstore.com/home.js"></script>
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
