<%
    logo1 = VisualWidget.search_widget_bag_for(@website, "2959f3bb79e0260e1c310ba1956fd9e6")
    logo2 = VisualWidget.search_widget_bag_for(@website, "b7e1e16c145391506a24f8cc06268eb1")
    logo3 = VisualWidget.search_widget_bag_for(@website, "5b186fcdf19ad6da7cb1dbb22eac1ed4")
    unless logo2.photos[0].blank?
        add2  = VisualWidget.search_widget_bag_for(@website, "a207e0ba0e137239dbd4d89c23a7e26f")
        tel2  = VisualWidget.search_widget_bag_for(@website, "7614fc4c2161722759ff51a822a5a934")
        mail2 = VisualWidget.search_widget_bag_for(@website, "d3aa3a99abcb9cbb8ed7bae0b120f370")
        fb2   = VisualWidget.search_widget_bag_for(@website, "69e11fba171c778b738f96409b946b5a")
        gp2   = VisualWidget.search_widget_bag_for(@website, "30121c345403c1d68e5996afa6a4b088")
        tw2   = VisualWidget.search_widget_bag_for(@website, "acea53d055ad978e5ae714269777f10f")
        ig2   = VisualWidget.search_widget_bag_for(@website, "2b3ad1cd0bdd86337218d84e28504b24")
        ln2   = VisualWidget.search_widget_bag_for(@website, "58f54f8f76671b41dc1f72c761ff0dd9")
        pl2   = VisualWidget.search_widget_bag_for(@website, "78fe5b421a6121dd150849d2256c211d")
        tb2   = VisualWidget.search_widget_bag_for(@website, "48a441a4210058c8c08e506031f3311d")
    end
    unless logo3.photos[0].blank?
        add3  = VisualWidget.search_widget_bag_for(@website, "952ce6985e1357b0e534868c49846a23")
        tel3  = VisualWidget.search_widget_bag_for(@website, "23d60df88b804028241d0510fd555fe8")
        mail3 = VisualWidget.search_widget_bag_for(@website, "1747ae3b96f92cbbb35870e6301ade0f")
        fb3   = VisualWidget.search_widget_bag_for(@website, "9a72a83bd9791bd94dc64d55a7b2289e")
        gp3   = VisualWidget.search_widget_bag_for(@website, "602494c9389e31762078982e7a583a62")
        tw3   = VisualWidget.search_widget_bag_for(@website, "f5fde8e215ac76d88afe2ed0520386b8")
        ig3   = VisualWidget.search_widget_bag_for(@website, "ed00b00b2c3860b3f488e04ea9afddfb")
        ln3   = VisualWidget.search_widget_bag_for(@website, "a86c36a2369e83646ee5a69b087c113a")
        pl3   = VisualWidget.search_widget_bag_for(@website, "908cd6d8da8c141cbd8a79fa6744a95b")
        tb3   = VisualWidget.search_widget_bag_for(@website, "38e0afb8656a1bca73acc4acd2d31e33")
    end
%>　
<% if logo2.photos[0].blank? && logo3.photos[0].blank? %>
<header id="header">
    <div class="container clearfix">
        <div class="header_shop">
            <div class="header_img">
                <% if logo1.photos[0].blank? %>
                    <% if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                    <% end %>
                <% else %>
                    <% if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% end %>
                <% end %>
            </div>
            <div class="sns_links">
                <% unless @website.wsite_telephone.blank? %>
                <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square"></i></a>
                <% end %>
                <% unless @website.wsite_email.blank? %>
                <a href="mailto:<%= @website.wsite_email %>"><i class="fa fa-envelope"></i></a>
                <% end %>
                <% unless @website.social_facebook_uri.blank? %>
                <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <% end %>
                <% unless @website.social_twitter_uri.blank? %>
                <a href="<%= @website.social_twitter_uri %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                <% end %>
                
                <% unless @website.social_instagram_uri.blank? %>
                <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fa fa-instagram"></i></a>
                <% end %>
                <% unless @website.social_line_uri.blank? %>
                <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                <% end %>
                <% unless @website.social_pinterest_uri.blank? %>
                <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                <% end %>
                <% unless @website.social_tumblr_uri.blank? %>
                <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                <% end %>
            </div>
            <div class="header_address">
            <% unless @website.address_1.blank? %>
                <div class="header_add"><%= @website.address_1 %></div>
            <% end %>
            <% unless @website.wsite_telephone.blank? %>
                <div><i class="fa fa-phone"></i> <a href="tel:<%= @website.wsite_telephone %>" class="header_tel"><%= @website.wsite_telephone %></a></div>
            <% end %>
            </div>
        </div>
        <div class="header_nav">
            <a id="nav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
        </div>
    </div>
</header>
<% elsif logo3.photos[0].blank? %>
<header id="header">
    <div class="container clearfix">
        <div class="header_shop2">
            <div class="header_img">
                <% if logo1.photos[0].blank? %>
                    <% if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                    <% end %>
                <% else %>
                    <% if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% else %>
                <a href="/home" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% end %>
                <% end %>
            </div>
            <div class="sns_links">
                <% unless @website.wsite_telephone.blank? %>
                <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square"></i></a>
                <% end %>
                <% unless @website.wsite_email.blank? %>
                <a href="mailto:<%= @website.wsite_email %>"><i class="fa fa-envelope"></i></a>
                <% end %>
                <% unless @website.social_facebook_uri.blank? %>
                <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <% end %>
                <% unless @website.social_twitter_uri.blank? %>
                <a href="<%= @website.social_twitter_uri %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                <% end %>
                
                <% unless @website.social_instagram_uri.blank? %>
                <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fa fa-instagram"></i></a>
                <% end %>
                <% unless @website.social_line_uri.blank? %>
                <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                <% end %>
                <% unless @website.social_pinterest_uri.blank? %>
                <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                <% end %>
                <% unless @website.social_tumblr_uri.blank? %>
                <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                <% end %>
            </div>
            <div class="header_address">
            <% unless @website.address_1.blank? %>
                <div class="header_add"><%= @website.address_1 %></div>
            <% end %>
            <% unless @website.wsite_telephone.blank? %>
                <div><i class="fa fa-phone"></i> <a href="tel:<%= @website.wsite_telephone %>" class="header_tel"><%= @website.wsite_telephone %></a></div>
            <% end %>
            </div>
        </div>
        <div class="header_shop2">
            <div class="header_img">
                <% if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo2.photos[0].clip.url() %>" alt="logo mark"></a>
                <% else %>
                <a href="/home" class="brand"><img src="<%= logo2.photos[0].clip.url() %>" alt="logo mark"></a>
                <% end %>
            </div>
            <div class="sns_links">
                <% unless tel2.data_string.blank? %>
                <a href="tel:<%= tel2.data_string %>"><i class="fa fa-phone-square"></i></a>
                <% end %>
                <% unless mail2.data_string.blank? %>
                <a href="mailto:<%= mail2.data_string %>"><i class="fa fa-envelope"></i></a>
                <% end %>
                <% unless fb2.data_string.blank? %>
                <a href="<%= fb2.data_string %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <% end %>
                <% unless tw2.data_string.blank? %>
                <a href="<%= tw2.data_string %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                <% end %>
                <% unless gp2.data_string.blank? %>
                <a href="<%= gp2.data_string %>" target="_blank"></a>
                <% end %>
                <% unless ig2.data_string.blank? %>
                <a href="<%= ig2.data_string %>" target="_blank"><i class="fa fa-instagram"></i></a>
                <% end %>
                <% unless ln2.data_string.blank? %>
                <a href="<%= ln2.data_string %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                <% end %>
                <% unless pl2.data_string.blank? %>
                <a href="<%= pl2.data_string %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                <% end %>
                <% unless tb2.data_string.blank? %>
                <a href="<%= tb2.data_string %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                <% end %>
            </div>
            <div class="header_address">
            <% unless add2.data_string.blank? %>
                <div class="header_add"><%= add2.data_string %></div>
            <% end %>
            <% unless tel2.data_string.blank? %>
                <div><i class="fa fa-phone"></i> <a href="tel:<%= tel2.data_string %>" class="header_tel"><%= tel2.data_string %></a></div>
            <% end %>
            </div>
        </div>
        <div class="header_nav">
            <a id="nav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
        </div>
    </div>
</header>
<% else %>
<header id="header">
    <div class="container clearfix">
        <div class="header_wrap3">
            <div class="header_shop3">
                <div class="header_img">
                    <% if logo1.photos[0].blank? %>
                        <% if true || request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                        <% else %>
                    <a href="/home" class="brand"><img src="//placehold.jp/260x120.jpg" alt="logo mark"></a>
                        <% end %>
                    <% else %>
                        <% if true || request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                        <% else %>
                    <a href="/home" class="brand"><img src="<%= logo1.photos[0].clip.url() %>" alt="logo mark"></a>
                        <% end %>
                    <% end %>
                </div>
                <div class="sns_links">
                    <% unless @website.wsite_telephone.blank? %>
                    <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square"></i></a>
                    <% end %>
                    <% unless @website.wsite_email.blank? %>
                    <a href="mailto:<%= @website.wsite_email %>"><i class="fa fa-envelope"></i></a>
                    <% end %>
                    <% unless @website.social_facebook_uri.blank? %>
                    <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <% end %>
                    <% unless @website.social_twitter_uri.blank? %>
                    <a href="<%= @website.social_twitter_uri %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                    <% end %>
                    
                    <% unless @website.social_instagram_uri.blank? %>
                    <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fa fa-instagram"></i></a>
                    <% end %>
                    <% unless @website.social_line_uri.blank? %>
                    <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                    <% end %>
                    <% unless @website.social_pinterest_uri.blank? %>
                    <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                    <% end %>
                    <% unless @website.social_tumblr_uri.blank? %>
                    <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                    <% end %>
                </div>
                <div class="header_address">
                <% unless @website.address_1.blank? %>
                    <div class="header_add"><%= @website.address_1 %></div>
                <% end %>
                <% unless @website.wsite_telephone.blank? %>
                    <div><i class="fa fa-phone"></i> <a href="tel:<%= @website.wsite_telephone %>" class="header_tel"><%= @website.wsite_telephone %></a></div>
                <% end %>
                </div>
            </div>
            <div class="header_shop3">
                <div class="header_img">
                    <% if true || request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo2.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% else %>
                    <a href="/home" class="brand"><img src="<%= logo2.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% end %>
                </div>
                <div class="sns_links">
                    <% unless tel2.data_string.blank? %>
                    <a href="tel:<%= tel2.data_string %>"><i class="fa fa-phone-square"></i></a>
                    <% end %>
                    <% unless mail2.data_string.blank? %>
                    <a href="mailto:<%= mail2.data_string %>"><i class="fa fa-envelope"></i></a>
                    <% end %>
                    <% unless fb2.data_string.blank? %>
                    <a href="<%= fb2.data_string %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <% end %>
                    <% unless tw2.data_string.blank? %>
                    <a href="<%= tw2.data_string %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                    <% end %>
                    <% unless gp2.data_string.blank? %>
                    <a href="<%= gp2.data_string %>" target="_blank"></a>
                    <% end %>
                    <% unless ig2.data_string.blank? %>
                    <a href="<%= ig2.data_string %>" target="_blank"><i class="fa fa-instagram"></i></a>
                    <% end %>
                    <% unless ln2.data_string.blank? %>
                    <a href="<%= ln2.data_string %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                    <% end %>
                    <% unless pl2.data_string.blank? %>
                    <a href="<%= pl2.data_string %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                    <% end %>
                    <% unless tb2.data_string.blank? %>
                    <a href="<%= tb2.data_string %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                    <% end %>
                </div>
                <div class="header_address">
                <% unless add2.data_string.blank? %>
                    <div class="header_add"><%= add2.data_string %></div>
                <% end %>
                <% unless tel2.data_string.blank? %>
                    <div><i class="fa fa-phone"></i> <a href="tel:<%= tel2.data_string %>" class="header_tel"><%= tel2.data_string %></a></div>
                <% end %>
                </div>
            </div>
            <div class="header_shop3">
                <div class="header_img">
                    <% if true || request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" class="brand"><img src="<%= logo3.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% else %>
                    <a href="/home" class="brand"><img src="<%= logo3.photos[0].clip.url() %>" alt="logo mark"></a>
                    <% end %>
                </div>
                <div class="sns_links">
                    <% unless tel3.data_string.blank? %>
                    <a href="tel:<%= tel3.data_string %>"><i class="fa fa-phone-square"></i></a>
                    <% end %>
                    <% unless mail3.data_string.blank? %>
                    <a href="mailto:<%= mail3.data_string %>"><i class="fa fa-envelope"></i></a>
                    <% end %>
                    <% unless fb3.data_string.blank? %>
                    <a href="<%= fb3.data_string %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <% end %>
                    <% unless tw3.data_string.blank? %>
                    <a href="<%= tw3.data_string %>" target="_blank"><img src="/images/assets/x-logo-black-32x32.jpeg" alt="X" /></a>
                    <% end %>
                    <% unless gp3.data_string.blank? %>
                    <a href="<%= gp3.data_string %>" target="_blank"></a>
                    <% end %>
                    <% unless ig3.data_string.blank? %>
                    <a href="<%= ig3.data_string %>" target="_blank"><i class="fa fa-instagram"></i></a>
                    <% end %>
                    <% unless ln3.data_string.blank? %>
                    <a href="<%= ln3.data_string %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                    <% end %>
                    <% unless pl3.data_string.blank? %>
                    <a href="<%= pl3.data_string %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                    <% end %>
                    <% unless tb3.data_string.blank? %>
                    <a href="<%= tb3.data_string %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
                    <% end %>
                </div>
                <div class="header_address">
                <% unless add3.data_string.blank? %>
                    <div class="header_add"><%= add3.data_string %></div>
                <% end %>
                <% unless tel3.data_string.blank? %>
                    <div><i class="fa fa-phone"></i> <a href="tel:<%= tel3.data_string %>" class="header_tel"><%= tel3.data_string %></a></div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="header_nav">
            <a id="nav_open_btn"><i class="fa fa-bars"></i><span>MENU</span></a>
        </div>
    </div>
</header>
<% end %>
