<nav id="nav">
    <div class="container scrooler">
        <ul id="nav_main">
<% @website.public_navigation_items.each do | nav_item | %>
            <li>
    <% if nav_item.page_type==WebPage::TYPE_LINK %>
                <a href="<%= nav_item.external_url %>" <% if nav_item.is_open_new %>target='_blank'<% end %>><%= model_name(nav_item) %></a>
    <% elsif nav_item.page_type==WebPage::TYPE_FIX %>
        <% fixed_leaf = ContentLeaf.find_by_hash_key(nav_item.content_key) %>
        <% unless fixed_leaf.blank? %>
            <% if true || request.host == 'sr2.swifty.jp' %>
            <%= link_to model_title(fixed_leaf), :action=>nav_item.action_name, :id=>fixed_leaf, :wkey=>@website.wsite_hash_key %>
            <% else %>
            <%= link_to model_title(fixed_leaf), :action=>nav_item.action_name, :id=>fixed_leaf %>
            <% end %>
        <% end %>
    <% else %>
        <% if nav_item.content_type.blank? %>
            <% if true || request.host == 'sr2.swifty.jp' %>
            <%= link_to model_name(nav_item), :action=>nav_item.action_name, :wkey=>@website.wsite_hash_key %>
            <% else %>
            <%= link_to model_name(nav_item), :action=>nav_item.action_name %>
            <% end %>
        <% else %>
            <% if true || request.host == 'sr2.swifty.jp' %>
            <%= link_to model_name(nav_item), :action=>nav_item.action_name, :id=>nav_item.content_category.id, :wkey=>@website.wsite_hash_key %>
            <% else %>
            <%= link_to model_name(nav_item), :action=>nav_item.action_name, :id=>nav_item.content_category.id %>
            <% end %>
        <% end %>
    <% end %>
            </li>
<% end %>
        <li>
            <% if @website.enable_inquiry %>
                <%= link_to "お問い合わせ".html_safe, inquiry_new_path %>
            <% end %>
        </li>
<% if @author_mode %>
    <% unless @website.wsite_layout_deploy.is_public.blank? %>
            <li><a href="<%= url_for(:action=>'list_layout_schemes') %>">デザイン</a></li>
            <li><a href="<%= url_for(:action=>'list_color_schemes') %>">カラー</a></li>
    <% end %>
            <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
            <% if current_user.ui_version.blank? %>
                <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
            <% else %>
                <li><a href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
            <% end %>
<% end %>
        </ul>
    </div>
</nav>
