<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to @bag_title, :action=>"content_root" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <% @item.category_path(true).each do | category | %>
	  <li><%= link_to category.category_label, :action=>"content_category", :id=>category %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <% end %>
  <li class="active">説明文編集</li>
</ul>

<%= form_tag url_for(:action=>"content_category_update_description", :id=>@item), :class=>"form-horizontal well", method: :patch do -%>
	<fieldset>
		<legend>カテゴリー説明文</legend>
		<div class="control-group">
			<%= text_area  'content_category', 'description', :class => "tinymce input-block-level", :rows => 20, :autocomplete=>false, :placeholder=>"説明文を入力します。" %>
			<script type="text/javascript">
				tinyMCE.init({
					selector: 'textarea.tinymce',
					theme_advanced_toolbar_location: "top",
					theme_advanced_statusbar_location: "bottom",
					theme_advanced_buttons3_add: ["tablecontrols"],
					plugins: "table,image,code,link,forecolor,backcolor,emoticons",
					<% unless @item.blank? %>
						<% unless @item.photos.blank? %>
						image_list: [ 
							<%= photo_array(@item.photos).html_safe %>
							],
						<% end %>
					<% end %>
					relative_urls : false,
    				convert_urls: false,
					content_style: 'img { max-width: 100%; height: auto; }' ,
			resize: 'both',
					toolbar: [" image emoticons | alignleft aligncenter alignjustify  alignright | forecolor backcolor | link | formatselect | fontselect | fontsizeselect | bold italic underline| blocks | outdent indent | table | undo redo | code |"],
					language: 'ja'})
			</script>
		</div>
		<br/>
		<div class="form-actions text-right">
			<% url_cancel = url_for(:action=>"content_category", :id=>@item) %>							
	  		<a class="btn btn-sm btn-secondary" href="<%= url_cancel %>"><%= cancel_icon('キャンセル')%>&nbsp;&nbsp;キャンセル</a>
			<button type="submit" class="btn btn-sm btn-primary"><%= new_icon('登録')%>&nbsp;&nbsp;更新</button>
      	</div>
	</fieldset>
<% end -%>
