<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to "トップ", :action=>"content_root" %>&nbsp;<span class="divider">/</span></li>
  <% @item.content_category.category_path(true).each do |category | %>
	  <li><%= link_to category.category_label, :action=>"content_category", :id=>category %>&nbsp;<span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= model_title(@item) %></li>
</ul>

<h4>
	<div class="float-right">
		<p>
			<% url_back = url_for(:action=>"content_category", :id=>@item.content_category, :page=>@page) %>
			<a class="btn btn-sm btn-secondary" href="<%=url_back%>">
				<%= backward_icon('戻る') %>&nbsp;
				戻る
			</a>
			<% url_new = url_for(:action=>"edit_leaf", :id=>@item) %>
			<a class="btn btn-primary btn-sm" href="<%=url_new%>">
				<%= edit_icon('編集')%>&nbsp;
				編集
			</a>
			<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_delete">
				<%= trash_icon('削除')%>&nbsp;
				削除確認
			</button>
		</p>
	</div>
	<%= leaf_state_icons(@item) %>
	<%= model_title(@item) %>
</h4>

<blockquote>
  <p>
  	¥
  	<% if false %>

		<%= (@item.integer_field.blank?)? "設定なし": commify(@item.integer_field.to_s)  if false %>
	<% end %>
	<%= raw @item.description_2 %>
  </p>
</blockquote>

<% if true %>
	<div class="row-fluid">
		<% unless @item.description.blank? %>
			<pre><%=  raw @item.description %></pre>
		<% end %>
	</div>
<% end %>

<hr/>
<div class="row-fluid">
	<h4>
		<p class="float-right">
			<a class="btn btn-info btn-sm" href="<%= url_for(:action=>'new_photo', :id=>@item) %>" data-turbolinks='false'>
				<i class="fa-solid fa-camera"></i>&nbsp;
				写真追加
			</a>
		</p>
		記事で使用する画像
	</h4>
	<p>
	  <small>記事で使用する画像は予め追加してください。先頭の写真が一覧表示の際の代表写真になります。</small>
	</p>
	<% array = @item.photos.order(position: :asc).in_groups_of(3, false)%>
	<% for i in 0..(array.size-1) %>
		<% @lines = array[i] %>
	    	<div class="col-sm-4">
	        	<% if @lines.size>=1 %>
					<%= render :partial=>"item_photo", :locals => {:photo => @lines[0]} %>
				<% end %>
			</div>
	        <div class="col-sm-4">
	        	<% if @lines.size>=2 %>
					<%= render :partial=>"item_photo", :locals => {:photo => @lines[1]} %>
				<% end %>
			</div>
	        <div class="col-sm-4">
	        	<% if @lines.size>=3 %>
					<%= render :partial=>"item_photo", :locals => {:photo => @lines[2]} %>
				<% end %>
			</div>
	<% end %>
	<p class="float-right">
		<a class="btn btn-info btn-sm" href="<%= url_for(:action=>'new_photo', :id=>@item) %>" data-turbolinks='false'>
			<i class="fa-solid fa-camera"></i>&nbsp;
			写真追加
		</a>
	</p>
</div>


<div class="modal fade" id="modal_delete" tabindex="-1" aria-labelledby="modal_delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @item, url: admin_content_portfolio_delete_leaf_path(id: @item.id), method: :delete do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">削除確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>記事を削除します。よろしいですか？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-sm btn-danger"><%=  trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
