<%  gmapcode = VisualWidget.search_widget_bag_for(@website, "1cba807c7183b76138326c6f44ba8fe0") %>
<%  if gmapcode.blank? || !gmapcode.is_valid? %>
<script src="//maps.google.com/maps/api/js?sensor=true&language=ja&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer>>
</script>
<%  end %>
<style>
    #map {
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }
</style>
<style>
    #map img {
        max-width: none;
    }
</style>
<h3><%= model_name(@website) %></h3>
<div class="wrapper">
<%  if !gmapcode.blank? && gmapcode.is_valid? %>
    <div id="map">
        <%= raw gmapcode.data_string %>
    </div>
<%  else %>
<%      if @website.gps? %>
    <div id="map">
    </div>
    <script>
	    var latlng = new google.maps.LatLng(<%= @website.lat %>, <%= @website.lng %>);
	    var options = {
	        zoom: 14,
	        center: latlng,
	        mapTypeId: google.maps.MapTypeId.ROADMAP
	    }
	    var map = new google.maps.Map(document.getElementById('map'), options);

		var shop_marker;
	    shop_marker = new google.maps.Marker({
	        position:latlng,
	        map: map
	    });
    </script>
<%      end %>
<%  end %>

	<div class="pull-right">
        <% unless @website.wsite_email.blank? %>
    		<a href="mailto:<%=@website.wsite_email %>?subject=問い合わせ&amp;body=ご記入ください" class="btn btn-info btn-mini"><i class="icon-envelope"></i></a>
        <% end %>
		<% unless @website.google_calendar_url.blank? %>
			<a href="<%=@website.google_calendar_url %>" class="btn btn-info btn-mini" target="_blank"><i class="icon-calendar"></i></a>
		<% end %>
	</div>
    <% unless @website.wsite_telephone.blank? %>
    <h4><i class="icon-phone-sign"></i>&nbsp;<a href="tel:<%=@website.wsite_telephone %>"><%=@website.wsite_telephone %></a></h4>
    <% end %>
	<% unless @website.wsite_description_business.blank? %><%=raw @website.wsite_description_business%><% end %>
</div>
