<% @staffs = @website.public_staffs %>

<% unless @staffs.blank? %>
                    <h1><a href="contact_us">Staff</a></h1>
                    <section id="streem_table" class="clearfix">
                        <ul class="wrapper">
<%
    @staffs.each do | staff | @staff = staff
        key_photo = key_photo(@staff)
        unless key_photo.blank?
            image_url = url_for_file_column(key_photo, :image, 'panel')
        else
            image_url = '//placehold.it/480x360/ffffff/cccccc&amp;text=No Photo'
        end
        if request.host == 'staffroom.swifty.jp'
            page_url  = url_for(:action=>'staff', :id=>@staff, :wkey=>@website.wsite_hash_key)
        else
            page_url  = url_for(:action=>'staff', :id=>@staff)
        end


%>
                            <li class="col-1p4">
                                <div class="imgbox"><div style="background-image:url('<%= image_url %>')">
                                    <a href="<%= page_url %>"><img src="<%= image_url %>" alt=""></a>
                                </div></div>
                                <h1><a href="<%= page_url %>"><%= model_name(@staff) %></a></h1>
                            </li>
<%  end %>
                        </ul>
                    </section>
<% end %>
