<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/assets/fac-et.com/style.css">
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav">
    <ul id="scrooler">
        <li>- MENU</li>
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/navigation" %>
    </ul>
</aside>
<!-- 主ウインドウ -->
<div id="body">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/header" %>
<!-- グローバルナビゲーション -->
        <nav id="gnav">
            <div class="container">
                <div>
                    <i id="gnav_prev" class="fa fa-chevron-circle-left"></i>
                    <div id="gnav_wrapper">
                        <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/navigation" %>
                        </ul>
                    </div>
                    <i id="gnav_next" class="fa fa-chevron-circle-right"></i>
                </div>
            </div>
        </nav>
<!-- パンくずリスト -->
        <aside id="breadcrumbs">
            <div class="container">
                <ol>
<% if true || request.host == 'staffroom.swifty.jp' %>
                    <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                    <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
                    <li><%= model_title(@seed) %></li>
                </ol>
            </div>
        </aside>
<!-- メインコンテナ -->
        <main id="contact" class="container">
            <h1><%= model_title(@seed) %></h1>
<% staff_img = VisualWidget.search_widget_bag_for(@website, "bef2c4ab7988c94d1870c6043ae77322") %>
<% if !staff_img.blank? && staff_img.is_valid? %>
            <aside style="margin-bottom: 2em;">
                <img src="<%= staff_img.photos[0].clip.url() %>" alt="">
            </aside>
<% end %>
<% unless @website.google_calendar_emb_frame_code.blank? %>
            <aside id="gcal">
<%= raw @website.google_calendar_emb_frame_code %>
            </aside>
<% end %>
            <section id="streem_table">
                <ul class="wrapper">
<%
    @staffs.each do | staff | @staff = staff
        key_photo = key_photo(@staff)
        unless key_photo.blank?
            image_url = key_photo.clip.url(:panel)
        else
            image_url = '//placehold.it/327x327&amp;text=No Photo'
        end
        if true || request.host == 'staffroom.swifty.jp'
            staff_url = url_for(:action=>'staff', :id=>@staff, :wkey=>@website.wsite_hash_key)
        else
            staff_url = url_for(:action=>'staff', :id=>@staff)
        end
%>
                    <li class="col-1p4">
                        <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                            <a href="<%= staff_url %>"><img src="<%= image_url %>"></a>
                        </div></div>
                        <h1>
                            <a href="<%= staff_url %>">
                                <%= model_name(@staff) %>
                                <span><%= h @staff.job_title %></span>
                            </a>
                        </h1>
                    </li>
<%  end %>
                </ul>
            </section>
        </main>
        <div class="container" id="sub">
<!-- サブエリア -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/sub" %>
        </div>
        <div class="container">
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/footer" %>
        </div>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/social_js" %>
<!-- google maps javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fac-et.com/gmaps_js" %>
</body>
</html>
