<aside id="footersnslinks">
    <ul class="snslinks">
<% unless @website.wsite_telephone.blank? %>
        <li><a href="tel:<%= @website.wsite_telephone %>"><i class="fas fa-phone-alt"></i></a></li>
<% end %>
<% unless @website.wsite_email.blank? %>
        <li><a href="mailto:<%= @website.wsite_email %>"><i class="far fa-envelope"></i></a></li>
<% end %>
<% unless @website.social_instagram_uri.blank? %>
        <li><a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
<% end %>
<% unless @website.social_line_uri.blank? %>
        <li><a href="<%= @website.social_line_uri %>" target="_blank"><i class="fab fa-line"></i></a></li>
<% end %>
<% unless @website.social_facebook_uri.blank? %>
        <li><a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fab fa-facebook"></i></a></li>
<% end %>
<% unless @website.social_twitter_uri.blank? %>
        <li><a href="<%= @website.social_twitter_uri %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
<% end %>
<% unless @website.social_pinterest_uri.blank? %>
        <li><a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fab fa-pinterest"></i></a></li>
<% end %>
<% unless @website.social_tumblr_uri.blank? %>
        <li><a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fab fa-tumblr"></i></a></li>
<% end %>
<% unless @website.social_gplus_uri.blank? %>
        <li><a href="<%= @website.social_gplus_uri %>" target="_blank"><i class="fab fa-google-plus"></i></a></li>
<% end %>
    </ul>
</aside>
<footer id="footer">
  <div class="footer">
    <h1>noël <span class="">ノエル</span></h1>
    <p class="address">〒<%= @website.postal %> <%= @website.address_1 %></p>
    <p class="phone">TEL： <a href="tel:<%= @website.wsite_telephone %>"><%= @website.wsite_telephone %></a></p>
  </div>
  <div class="copy">
    <%= copyright_notice(@website) %>
  </div>
</footer>
