<!doctype html>　
<html lang="ja">
<head prefix="og: http:http://ogp.me/ns# fb: http:http://ogp.me/ns/fb# article: http:http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<%
    contact_category = ContentCategory.type_root(@website, ContentCategory::TYPE_INFO)
    if request.host == 'sr2.swifty.jp'
        staff_url = url_for(:action=>'staff', :id=>@seed, :wkey=>@website.wsite_hash_key)
    else
        staff_url = url_for(:action=>'staff', :id=>@seed)
    end
%>
<title><%= model_name(@seed) %> - STAFF - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<meta property="og:type"              content="article">
<meta property="og:url"               content="http://<%= request.host + staff_url %>">
<meta property="og:title"             content="<%= model_name(contact_category.web_page) + model_name(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/noel.jp.net/css" %>
</head>
<body>
<!-- グローバルナビ -->
<header id="header" class="wrapper">
  <nav id="gNav" class="tablet">
    <ul class="gNav">
<%= render :partial=>"#{LayoutScheme.asset_root}/noel.jp.net/navigation" %>
    </ul>
  </nav>
  <div id="mNavOpener">
    <span>MENU</span>
  </div>
  <h1><span>STAFF</span></h1>
</header>
<article id="saff" class="wrapper2">
  <div class="staff-photo">
    <div class="hdBox">
<%  @photos = @seed.photos %>
<%  unless @photos.blank? %>
      <img src="<%= @photos[0].clip.url(:panel) %>" alt="<%= model_name(@seed) %>">
<%  else %>
      <img src="//placehold.jp/f8f8f8/999999/306x165.png?text=PHOTO" alt="<%= model_name(@seed) %>">
<%  end %>
    </div>
    <div class="staff-position"><%= h @seed.job_title %></div>
  </div>
  <div class="staff-name">
    <h2><%= model_name(@seed) %></h2>
    <ul>
<% unless @seed.social_gplus_uri.blank? %>
      <li><a href="<%= @seed.social_gplus_uri %>" target="_blank"><img src="../../photo/image/clip/22281/ameba48.png" alt="アメブロ"></a></li>
<% end %>
<% unless @seed.social_instagram_uri.blank? %>
      <li><a href="<%= @seed.social_instagram_uri %>" target="_blank"><img src="../../photo/image/clip/22282/insta.png" alt="Instagram" /></a></li>
<% end %>
<% unless @seed.social_line_uri.blank? %>
      <li><a href="<%= @seed.social_line_uri %>" target="_blank"><img src="../../photo/image/clip/22283/line.png" alt="LINE" /></a></li>
<% end %>
    </ul>
  </div>
<% unless @seed.description.blank? %>
  <p>
    <%= raw @seed.description %>
  </p>
<% end %>
<% unless @seed.social_line_uri.blank? %>
  <p class="line-reserve">
    <a href="<%= @seed.social_line_uri %>" target='_blank' class="infoButton">LINE 予約</a>
  </p>
<% end %>
</article>
<!-- フッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/noel.jp.net/footer" %>
<!-- モバイルナビ -->
<div id="mNav" class="mobile">
  <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/noel.jp.net/navigation" %>
  </ul>
</div><!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/noel.jp.net/common_js" %>
</body>
</html>
