<aside id="wecando">
	<div class="container">
		<div class="text-center">
			<span class="icon icon-auto-whatwecando">&nbsp;</span>
			<h1>わたしたちにできること</h1>
		</div>
		<ul class="wrapper">
			<li class="m1p2 management">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/management.jpg" alt="マネジメントサポート">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32296&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32296">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-management">&nbsp;</span>
					<h2>マネジメントサポート</h2>
				</a>
			</li>
			<li class="m1p2 openconsultation">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/openconsultation.jpg" alt="オープンコンサルテーション">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32297&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32297">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-openconsultation">&nbsp;</span>
					<h2>オープンコンサルテーション</h2>
				</a>
			</li>
			<li class="m1p2 salespromotion">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/salespromotion.jpg" alt="プロモーションサポート">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32298&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32298">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-salespromotion">&nbsp;</span>
					<h2>プロモーションサポート</h2>
				</a>
			</li>
			<li class="m1p2 merchandising">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/merchandising.jpg" alt="マーチャンダイジングサポート">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32299&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32299">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-merchandising">&nbsp;</span>
					<h2>マーチャンダイジングサポート</h2>
				</a>
			</li>
			<li class="m1p2 education">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/education.jpg" alt="教育サポート">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32300&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32300">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-education">&nbsp;</span>
					<h2>教育サポート</h2>
				</a>
			</li>
			<li class="m1p2 degitalmedia">
				<div>
					<img src="//<%= request.host %>/assets/kum/img/degitalmedia.jpg" alt="デジタルメディアサポート">
				</div>
<%  if request.host == 'staffroom.swifty.jp' %>
				<a href="//staffroom.swifty.jp/fix?id=32301&wkey=<%= @website.wsite_hash_key %>">
<%  else %>
				<a href="//<%= request.host %>/fix?id=32301">
<%  end %>
					<span class="icon icon-chevron-right">&nbsp;</span>
					<span class="icon icon-zedo-degitalmedia">&nbsp;</span>
					<h2>デジタルメディアサポート</h2>
				</a>
			</li>
		</ul>
	</div>
</aside>
