<!doctype html>
<% hptitle = VisualWidget.search_widget_bag_for(@website, "19b3ff993ce2372560d66d40e59c9761") %>
<% og_img  = VisualWidget.search_widget_bag_for(@website, "c1aa7f640f3c54cea09ae4c5e91347a5") %>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% if hptitle.blank? || !hptitle.is_valid? %>
<title><%= @website.name %></title>
<% else %>
<title><%= hptitle.data_string %></title>
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta name="description"              content="<%= @website.wsite_description_shop %>">
<% end %>
<% unless @website.wsite_keywords.blank? %>
<meta name="keywords"                 content="<%= @website.wsite_keywords %>">
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'staffroom.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<meta property="og:type"              content="website">
<% if request.host == 'staffroom.swifty.jp' %>
<meta property="og:url"               content="https://<%= request.host %>/home?wkey=<%= @website.wsite_hash_key %>">
<% else %>
<meta property="og:url"               content="https://<%= request.host %>/home">
<% end %>
<% if hptitle.blank? || !hptitle.is_valid? %>
<meta property="og:title"             content="<%= @website.name %>">
<% else %>
<meta property="og:title"             content="<%= hptitle.data_string %>">
<% end %>
<% if !og_img.blank? && og_img.is_valid? %>
<meta property="og:image"             content="<%= og_img.photos[0].clip.url() %>">
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta property="og:description"       content="<%= @website.wsite_description_shop %>">
<% end %>
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/css" %>
</head>
<body id="home">
<main id="main">
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/home_concept" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/wecando" %>
<%  if false %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/home_news" %>
<%  end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/home_blog" %>
</main>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/inquiry" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/footer" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/header" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/js" %>
</body>
</html>
