<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'staffroom.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/css" %>
</head>
<body id="works">
<main id="main">
<h1>
	<div class="container">
		<span class="icon icon-chevron-right"></span>
		<a href="/streams?id=4316">
    		<span class="icon icon-zedo-works"></span>
    	</a>
	</div>
</h1>
<article id="workslist">
	<div class="container">
		<div class="text-center">
			<span class="icon icon-auto-caseforsupport"></span>
			<h2>サポート事例</h2>
		</div>
		<div class="container2">
			<ul id="newsmenu" class="wrapper">
				<li class="m2p3">
					<a href="#">
						<%= model_name(@seed) %>
					</a>
				</li>
			</ul>
		</div>
		<ul id="works-list" class="wrapper">
<%
    sons = @seed.sons
    sons << @seed
    c = ContentLeaf.public_leafs_condition
    c.and "content_leafs.content_category_id", 'IN', sons
    @leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'publish_from desc')
    @leafs.each do | leaf | @leaf = leaf
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = url_for_file_column(key_photo, :image, 'panel')
            else
                image_url = '//placehold.jp/480x270.png?text=NoImage'
            end
            if request.host == 'staffroom.swifty.jp'
                page_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                page_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page)
            end
%>
			<li class="m2p3">
				<div class="imgbox169"><div>
					<a href="<%= page_url %>">
						<img src="<%= image_url %>" alt="<%= h model_title(@leaf) %>">
					</a>
				</div></div>
				<div class="header">
					<h2><%= h model_title(@leaf) %></h2>
					<a href="<%= page_url %>" class="linkbutton">
				        <span class="icon icon-chevron-right">&nbsp;</span>
						<span>view more</span>
					</a>
				</div>
<%              unless leaf.staff.blank? || leaf.staff.staff_status==Staff::STAFF_BLOCKED %>
				<p class="staff"><span><%= h model_name(leaf.staff) %></span></p>
<%              end %>
				<p class="stream"><span><%= h model_name(leaf.content_bag) %></span></p>
			</li>
<%  end %>
		</ul>
        <aside class="pagination text-center">
<% if request.host == 'staffroom.swifty.jp' %>
            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, :renderer => BootstrapPagination::Rails, :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% else %>
            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page }, :renderer => BootstrapPagination::Rails, :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% end %>
        </aside>
	</div>
</article>
</main>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/inquiry" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/footer" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/header" %>
<%= render :partial=>"#{LayoutScheme.asset_root}/kum/js" %>
</body>
</html>
