    <div class="brand">
      	<% widget_bag = VisualWidget.search_widget_bag_for(@website, "c2f0419ca1dd69a31990dc1c272935d9") %>
		<% if widget_bag.blank? || !widget_bag.is_valid? %>
			<img src="https://placehold.jp/18/cfcfcf/ffffff/250x75.png?text=Logo-S%0A">
		<% else %>
			<%= image_tag widget_bag.photos[0].clip.url(:thumb), title: model_name(@website) %>
			<% if false %>
				<img src="<%= widget_bag.photos[0].clip.url() %>" title=<%=model_name(@website) %>>
			<% end %>
		<% end %>			
	</div>
	<% unless @website.wsite_telephone.blank? %>
	    <div class="address-bar">
	    	<h4>
				<i class="icon-phone-sign"></i>&nbsp;<a href="tel:<%=@website.wsite_telephone %>"><%=@website.wsite_telephone %></a>
			</h4>
		</div>
	<% end %>
