<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% hptitle = VisualWidget.search_widget_bag_for(@website, "0fd6a493aea7098599e5e4c824a0c4d9") %>
<% if hptitle.blank? || !hptitle.is_valid? %>
<title><%= @website.name %></title>
<% else %>
<title><%= hptitle.data_string %></title>
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta name="description"              content="<%= @website.wsite_description_shop %>">
<% end %>
<% unless @website.wsite_keywords.blank? %>
<meta name="keywords"                 content="<%= @website.wsite_keywords %>">
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% fbappid = VisualWidget.search_widget_bag_for(@website, "9955262d741673163aae417a497c3666") %>
<% unless fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="website">
<% if true || request.host == 'staffroom.swifty.jp' %>
<meta property="og:url"               content="https://<%= request.host %>/home?wkey=<%= @website.wsite_hash_key %>">
<% else %>
<meta property="og:url"               content="https://<%= request.host %>/home">
<% end %>
<meta property="og:title"             content="<%= @website.name %>">
<% og_img = VisualWidget.search_widget_bag_for(@website, "b44aa8371c7316171b7af74ea02b2799") %>
<% if !og_img.blank? && og_img.is_valid? %>
<meta property="og:image"             content="<%= og_img.photos[0].clip.url() %>">
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta property="og:description"       content="<%= @website.wsite_description_shop %>">
<% end %>
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/assets/fleurdelis.jp/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body id="home">
<!--<![endif]-->
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/header" %>
<!-- グローバルナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/navigation" %>
<!-- パンくずリスト -->
<!-- カルーセル -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/corousel" %>
<!-- 最新のNews -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/news_list" %>
<!-- 最新のBLOG -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/blog_list" %>
<!-- 最新のStyle -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/gallery_list" %>
<!-- Instagram -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/home_instagram" %>
<!-- 店舗説明文と地図 -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/home_shop" %>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/footer" %>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/fleurdelis.jp/carousel.js"></script>
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/social_js" %>
<!-- google maps javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/fleurdelis.jp/gmaps_js" %>
</body>
</html>
