<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'staffroom.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/style" %>
</head>
<body id="gallery_list">
<!-- header area dummy height. -->
<div id="top">
</div>
<aside id="breadcrumbs">
    <div class="container">
<!-- パンくずリスト -->
        <ol>
<% if request.host == 'staffroom.swifty.jp' %>
            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="pico-home"></i></a></li>
<% else %>
            <li><a href="/home"><i class="pico-home"></i></a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<% if request.host == 'staffroom.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% else %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% end %>
<% end %>
<% @seed.category_path.each do | category | %>
<% if request.host == 'staffroom.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'gallery_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
<% else %>
            <li><a href="<%= url_for(:action=>'gallery_list', :id=>category) %>"><%= category.category_label %></a></li>
<% end %>
<% end %>
            <li><%= model_name(@seed) %></li>
        </ol>
    </div>
</aside>
<main>
    <div class="container">
        <h1><%= model_name(@seed) %></h1>
        <article id="style-list">
            <ul class="wrapper gallery-list">
<%
    sons = @seed.sons
    sons << @seed
    @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)",sons).order(position: :asc).paginate(:page => params[:page], :per_page=>PER_PAGE)
    #c = ContentLeaf.public_leafs_condition
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'position')
    @leafs.each do | leaf |
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.jp/327x327.png?text=No Photo'
            end
            if request.host == 'staffroom.swifty.jp'
                gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page)
            end
%>
                <li class="m3p3">
                    <div class="imgbox">
                        <div>
                            <a href="<%= gallery_url %>">
                                <img src="<%= image_url %>">
								<span class="arrowbutton"></span>
                            </a>
                        </div>
                    </div>
<!--
                    <h2>
                        <a href="<%= gallery_url %>"><%= model_title(leaf) %></a>
                    </h2>
-->
                </li>
<%  end %>
            </ul>
        </article>
        <aside class="text-center">
<% if request.host == 'staffroom.swifty.jp' %>
            <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, :renderer => BootstrapPagination::Rails, :previous_label=>'＜', :next_label=>'＞') %>
<% else %>
            <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page }, :renderer => BootstrapPagination::Rails, :previous_label=>'＜', :next_label=>'＞') %>
<% end %>
        </aside>
    </div>
</main>
<!-- Footer sns links -->
<aside id="footsns">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/sns_links" %>
</aside>
<!-- Footer nav -->
<aside id="footnav">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/navigation" %>
</aside>
<!-- Footer -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/footer" %>
<!-- Header -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/header" %>
<div id="gotop"><a href="#top"></a></div>
<!-- Navigation -->
<div id="gnav" class="">
    <div class="container">
	    <h1>- site navigation -</h1>
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/navigation" %>
	    <div id="navcloser"></div>
		<div id="scguide">SCROLL</div>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio3_speed/common_js" %>
<!-- page specific javascript -->
<!-- Instafeed js -->
</body>
</html>
