<div>
    <!-- 記事へのリンク -->
    <a href="<%= url_for(:action=>'news_show', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>">
        <!-- 最初の写真 -->
<% key_photo = key_photo(temp_local) %>
<% unless key_photo.blank? %>
        <div class="latest_imgbox"><div><%= image_tag(url_for_file_column(key_photo, :image, 'panel')) %></div></div>
<% else %>
        <div class="latest_imgbox"><div><img src="//placehold.it/480x360/ffffff/cccccc&amp;text=<%=temp_local.publish_from.strftime('%Y-%m-%d')%>"></div></div>
<% end %>
    </a>
    <!-- 記事タイトル -->
    <a href="<%= url_for(:action=>'news_show', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>">
        <h2 class="latest_h2"><%= model_title(temp_local) %></h2>
    </a>
    <div class="latest_item_heder">
        <!-- 投稿日 -->
        <i class="icon-calendar"></i> <%= temp_local.publish_from.strftime("%Y-%m-%d") %>
    </div>
</div>