<% link_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key) %>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="<%= link_url %>">
                <% key_photo = key_photo(@leaf) %>
                <% unless key_photo.blank? %>
                            <div class="latest_imgbox"><div><%= image_tag key_photo.clip.url(:panel) %></div></div>
                <% else %>
                            <div class="latest_imgbox"><div><img src="//placehold.it/480x360/ffffff/cccccc&amp;text=<%=@leaf.publish_from.strftime('%Y-%m-%d')%>"></div></div>
                <% end %>
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="headline_h2">
                            <a href="<%= link_url %>">
                                <%= h model_title(@leaf) %>
                            </a>
                        </h2>
                        <div class="latest_item_heder">
                            <i class="icon-calendar"></i> <%= publish_label(@leaf) %>
                <% unless @leaf.staff.blank?  || @leaf.staff.staff_status==Staff::STAFF_BLOCKED %>
                            <i class="icon-user"></i> <a href="<%=url_for(:action=>'staff', :id=>@leaf.staff) %>"><%= h model_name(@leaf.staff) %></a>
                <% end %>
                        </div>
                        <p class="headline_text">
                            <%= h truncate(strip_tags(@leaf.description).gsub('&nbsp;', ' '), :length=>200) %>
                        </p>
                    </div>
                </div>
