<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= model_name(@seed) %> - HURRAH / HURRAH AND THINGS</title>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/head_logic" %>
</head>
<body>
<div id="smart_tablet_nav">
    <ul id="smart_tablet_nav_inner">
        <li>Menu<span>メニュー</span></li>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/navigation" %>
    </ul>
</div>
<div id="body">
    <div id="body_inner">
        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://windows.microsoft.com/ja-jp/internet-explorer/download-ie">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <header id="header">
            <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/header" %>
            </div>
        </header>
        <nav id="nav">
            <div class="container">
                <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/navigation" %>
                </ul>
            </div>
        </nav>
        <main id="staff">
            <article class="container">


                <div class="row">
                    <div class="col-lg-12">
<% contact_category = ContentCategory.type_root(@website, ContentCategory::TYPE_INFO)%>
<% unless contact_category.blank? %>
                        <h1 class="latest_h1"><%= model_name(contact_category.web_page) %></h1>
<% end %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
<% key_photo = key_photo(@seed) %>
<% unless key_photo.blank? %>
                        <%= image_tag key_photo.clip.url(:panel) %>
<% else %>
                        <img src="//placehold.it/480x360&amp;text=No Face Photo">
<% end %>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="latest_h2"><%= model_name(@seed) %> <small><%= h @seed.job_title %></small></h2>
<% unless @seed.description.blank? %>
                        <%= raw @seed.description %>
<% end %>
                        <ul class="list-inline list-social text-right">
<% unless @seed.social_facebook_uri.blank? %>
                                <li class="tooltip-social facebook-link">
                                    <a href="<%= @seed.social_facebook_uri%>" data-toggle="tooltip" data-placement="top" title="Facebook" target='_blank'><i class="icon-facebook-sign icon-2x"></i></a>
                                </li>
<% end %>

<% unless @seed.social_twitter_uri.blank? %>
                                <li class="tooltip-social twitter-link">
                                    <a href="<%= @seed.social_twitter_uri %>" data-toggle="tooltip" data-placement="top" title="Twitter" target='_blank'><i class="icon-twitter-sign icon-2x"></i></a>
                                </li>
<% end %>
<% unless @seed.social_instagram_uri.blank? %>
                                <li class="tooltip-social instagram-link">
                                    <a href="<%= @seed.social_instagram_uri %>" data-toggle="tooltip" data-placement="top" title="Instagram" target='_blank'><i class="icon-instagram icon-2x"></i></a>
                                </li>
<% end %>
<% unless @seed.social_line_uri.blank? %>
							    <li class="tooltip-social line-link">
							        <a href="<%= @seed.social_line_uri %>" data-toggle="tooltip" data-placement="top" title="LINE" target='_blank'><img src="/images/assets/line_icon.png" alt="LINE" /></a>
							    </li>
<% end %>
<% unless @seed.social_pinterest_uri.blank? %>
                                <li class="tooltip-social pinterest-link">
                                    <a href="<%= @seed.social_pinterest_uri %>" data-toggle="tooltip" data-placement="top" title="Pinterest" target='_blank'><i class="icon-pinterest-sign icon-2x"></i></a>
                                </li>
<% end %>
<% unless @seed.social_tumblr_uri.blank? %>
                                <li class="tooltip-social tumblr-link">
                                    <a href="<%= @seed.social_tumblr_uri %>" data-toggle="tooltip" data-placement="top" title="Tumblr" target='_blank'><i class="icon-tumblr-sign icon-2x"></i></a>
                                </li>
<% end %>
                                <%= hotpepper_staff_banner(@seed, true, 'vertical-align: top; padding-top: 1px;') %>
                                <%= youtube_staff_banner(@seed, true) %>
                        </ul>
                    </div>
                </div>
<%  @photos = @seed.photos %>
<%  @photos.to_a.shift unless @photos.blank? %>
<%  unless @photos.blank? %>
                <div class="row">
<%      @photos.each do | photo |  %>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <%= image_tag photo.clip.url(:panel) %>
<%          unless photo.info.blank? %>
						<p><%=h photo.info%></p>
<%          end %>
                    </div>
<%      end %>
                </div>
<%  end %>
            </article>
        </main>
        <footer id="footer">
            <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/footer" %>
            </div>
        </footer>
    </div>
</div>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/footer_logic" %>
</body>
</html>
