<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <title><%= model_title(@seed) %> - HURRAH / HURRAH AND THINGS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="copyright" content="<%= model_name(@website.company) %>">

    <meta property="og:type"              content="article">
    <meta property="og:url"               content="http://<%= request.host + url_for(:action=>'stream_show', :id=>@seed) %>">
    <meta property="og:title"             content="<%= model_title(@seed) %>">
<% key_photo = key_photo(@seed) %>
<% unless key_photo.blank? %>
    <meta property="og:image"             content="http://<%= request.host + key_photo.clip.url(:image) %>">
<% end %>
    <meta property="og:site_name"         content="<%= @website.name %>">
<!--
<% unless @seed.staff.blank?  || @seed.staff.staff_status==Staff::STAFF_BLOCKED %>
<% unless @seed.staff.social_facebook_uri.blank? %>
    <meta property="article:author"       content="<%= @seed.staff.social_facebook_uri %>" />
<% end %>
<% end %>
-->
	<% unless @website.custom_metas.blank? %>
		<%= raw @website.custom_metas %>
	<% end %>


	<%
		@favicon = @website.favicon
		@webclip = @website.apple_touch_icon
	%>
	<% unless @favicon.blank? %>
		<link href="<%= @favicon.clip.url(:image) %>" rel="icon" type="image/vnd.microsoft.icon"/>
		<link href="<%= @favicon.clip.url(:image) %>" rel="shortcut icon" type="image/x-icon"/>
	<% end %>
	<% unless @webclip.blank? %>
		<link rel="apple-touch-icon-precomposed" href="<%= @webclip.clip.url(:image) %>">
	<% end %>

    <!-- Bootstrap core CSS -->
<!--
	<%= fuga_colors_stylesheets_link(@website, @author_mode)%>
-->
    <!-- Add custom CSS here -->
    <%= stylesheet_link_tag "/stylesheets/assets/hurrah/hurrah.css" %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!--[if IE 7]>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

	<style type="text/css">
	<!--
		body {

	      	<% widget_bag = VisualWidget.search_widget_bag_for(@website, "ed68a7eb9e70521ddfe020472a6432b0") %>
			<% if widget_bag.blank? || !widget_bag.is_valid? %>
				  background-image: none;
			<% else %>
				  background: url(<%= widget_bag.photos[0].clip.url(:image) %>) no-repeat center top fixed;
                  -webkit-background-size: cover;
                     -moz-background-size: cover;
                       -o-background-size: cover;
                          background-size: cover;
			<% end %>
		}
		footer {padding-top: 60px;}
		#myTab {margin-bottom:30px;}
	-->
	</style>


	<% unless @website.analytics_code.blank? %>
		<%= raw @website.analytics_code %>
	<% end %>

	<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => model_name(@website) %>
<style>
h1.page-header {font-family: 'Dosis', sans-serif;}
</style>
</head>
<body>
<div id="smart_tablet_nav">
    <ul id="smart_tablet_nav_inner">
        <li>Menu<span>メニュー</span></li>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/navigation" %>
    </ul>
</div>
<div id="body">
    <div id="body_inner">
        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://windows.microsoft.com/ja-jp/internet-explorer/download-ie">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <header id="header">
            <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/header" %>
            </div>
        </header>
        <nav id="nav">
            <div class="container">
                <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/navigation" %>
                </ul>
            </div>
        </nav>
        <main>
            <article class="container">


                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="latest_h1"><%= model_title(@seed) %></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="latest_item_heder">
                            <i class="icon-calendar"></i> <%= publish_label(@seed) %>
<% unless @seed.staff.blank?  || @seed.staff.staff_status==Staff::STAFF_BLOCKED %>
                            <i class="icon-user"></i>
                                <a href="<%=url_for(:action=>'staff', :id=>@seed.staff, :wkey=>@website.wsite_hash_key) %>">
                                    <%= h model_name(@seed.staff) %>
                                </a>
<% end %>
                        </div>
<% unless @seed.description.blank? %>
                        <%= raw @seed.description %>
<% end %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <hr><%= render :partial=>'layouts/social_buttons' %>
                    </div>
                </div>

<% if @website.disqus? %>
                <div class="row">
                    <div class="col-lg-12">
                        <%= raw @website.disqus_code %>
                    </div>
                </div>
<% end %>


            </article>
        </main>
        <footer id="footer">
            <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/footer" %>
            </div>
        </footer>
    </div>
</div>
<%= render :partial=>"#{LayoutScheme.asset_root}/hurrah/footer_logic" %>
</body>
</html>
