<%= form_for item, url: admin_reservation_create_reservation_path, method: :post do |f| %>
<p class="lead"><%= target_date%>&nbsp;(<%=wday(target_date)%>)【<%=@item.shop.name%>】</p>
	<fieldset>
		<% if target_date < Time.now.to_date %>
			<div class="alert alert-info">
				<span class="stext-error"><%= info_icon %>&nbsp;過去の日付に対する予約登録画面です。</span>
			</div>
		<% end %>

		<%= render :partial=>"form_reservation", locals: {f: f, item: item} %>
		<%= f.hidden_field 	:shop_id %>
		<div class="form-actions">
			<% if @shop.option_customer_management %>
			<p class="help-block">
				予約とお客様との関連付けは、予約を登録した後で行うことができます。
			</p>
			<br/>
			<% end %>
			<span class="float-right">
				<%= link_to("<i class='fas fa-arrow-left'></i>&nbsp;戻る".html_safe,
					{:action=>"reservation", :target_date=>target_date}, :class=>"btn btn-sm btn-secondary") %>
				<button type="submit" class="btn btn-sm btn-success"><%= new_icon('登録') %>&nbsp;&nbsp;登録</button>
			</span>
      	</div>
	</fieldset>
<% end -%>
