<%= stylesheet_link_tag "timeline" %>
<header class="subhead" id="overview">
	<span class='float-right'>
		<% calendar_url = url_for(:action=>"reservation_calendar", :target_date=>@target_date)%>
		<a href="<%= calendar_url %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;カレンダー</a>
	</span>

	<h4>
		<%= reservation_staff_icon %>
		予約<div class='d-none d-md-inline'>管理</div>
		:
		<%= @target_date%>&nbsp;(<%=wday(@target_date)%>)
	</h4>
</header>

<div id="sandbox"></div>

<p class="lead">
	<span class="btn-group">
		<span class="btn-toolbar" style="margin: 0;">
		  <span class="btn-group">
		  	<% prev_url = url_for(:action=>"reservation", :target_date=>(@target_date-1))%>
		    <a href="<%= prev_url %>" class="btn btn-sm btn-outline-primary"><i class="fas fa-arrow-left" aria-hidden="true"></i>&nbsp;前日</a>
		  	<% today_url = url_for(:action=>"reservation")%>
		    <a href="<%= today_url %>" class="btn btn-sm btn-info">今日</a>
		  	<% next_url = url_for(:action=>"reservation", :target_date=>(@target_date+1))%>
		    <a href="<%= next_url %>" class="btn btn-sm btn-outline-primary">翌日&nbsp;<i class="fas fa-arrow-right" aria-hidden="true"></i></a>
		  </span>
		</span>
	</span>
</p>

<% if @target_date < Time.now.to_date %>
	<div class="alert alert-danger">
		<span xxxclass="text-danger"><%= info_icon('注意') %>&nbsp;表示情報は過去の日付のものです。</span>
	</div>
<% end %>


<div class='d-none d-md-block'>
	<%= render :partial=>"timelines_quarter"%>
	<div class='text-right'>
		<%= render partial: 'admin_attendance/legend_timeline', locals: {shop: @shop} %>
	</div>
</div>

<div class='d-lg-none'>
	<%= render :partial=>"timelines_sm"%>
</div>


<% staffs = @shop.staffs.where("staffs.staff_status >=?", Staff::STAFF_HELPER).order(position: :asc, alt_id: :asc) %>
<% staffs.each do | staff | %>
	<%= render partial: 'dlg_new_reservation', locals: {shop: @shop, staff: staff, target_date: @target_date}%>
<% end %>
<%= render partial: 'dlg_new_reservation', locals: {shop: @shop, staff: nil, target_date: @target_date}%>

