<header class="subhead" id="overview">
	<h3><%= reservation_staff_icon %>&nbsp;予約管理</h3>
</header>

<% if false %>
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li class="nav-item">
			<a class="nav-link  active" href="<%= url_for(:controller=>'admin_reservation', :action=>'reservation',:target_date=>@target_date, :id=>@item) %>"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;予約</a>
		</li>
		<li  class="nav-item">
			<a class="nav-link" href="<%= url_for(:controller=>'admin_reservation', :action=>'birthday',:target_date=>@target_date, :id=>@item) %>"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;誕生日</a>
		</li>
	</ul>
<% end %>

<div class="row">
	<div class="span3">
		<%= stylesheet_link_tag "calendar_bs" %>
		
		<div class="letterMonth"><%= (@target_date.to_date.month) %></div>
		<div class="letterYear">
			<%= link_to('<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, 	{:action=>'reservation_calendar', :target_date=>(@target_date.to_date)<<12, :shop_id=>@shop}) %>
			<%= (@target_date.to_date.year) %>
			<%= link_to('<i class="fa fa-angle-double-right" aria-hidden="true"></i>'.html_safe, 	{:action=>'reservation_calendar', :target_date=>(@target_date.to_date)>>12, :shop_id=>@shop}) %>
		</div>
		<br/>
		<div style="text-align:center;">
			<div class="btn-group">
					<%= link_to('<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, 	{:action=>'reservation_calendar', :shop_id=>@shop, :target_date=>(@target_date.to_date)<<1}, :class=>"btn btn-sm btn-outline-primary") %>
					<%= link_to("今月", 								{:action=>'reservation_calendar', :shop_id=>@shop}, :class=>"btn btn-sm btn-info") %>
					<%= link_to('<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, {:action=>'reservation_calendar', :shop_id=>@shop, :target_date=>(@target_date.to_date)>>1}, :class=>"btn btn-sm  btn-outline-primary") %>
			</div>		
		</div>		

		<hr/>
	</div>
	<div class="span9">
		<%= render :partial=>"reservation_calendar"%>
	</div>

	<div class='text-right'>
		<span class='text-info'>■</span> : 予約件数
		,
		<span style='color: #CFC'>■</span> : 当日
		,
		<span style='color: #CCC'>■</span> : 過去の日付
		,
		<span style='color: #FEE'>■</span> : 日曜日、祝祭日
	</div>

</div>
