<header class="subhead" id="overview">
	<h3><%= reservation_staff_icon %>&nbsp;予約管理</h3>
</header>

<p class="lead">
	<span class='float-right'>
		<% back_url = url_for(:action=>"reservation", :target_date=>(@target_date))%>
		<a href="<%= back_url %>" class="btn btn-sm btn-outline-dark"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;戻る</a>
	</span>
	<%= @target_date%>&nbsp;(<%=wday(@target_date)%>)
</p>


<table class='table table-bordered'>
	<tr>
		<th class='table-info' width='25%'>担当</td>
		<td width='75%'><%= (@item.staff.blank?)? "-- 指定無し --": model_name(@item.staff) %></td>
	</tr>
	<tr>
		<th class='table-info'>予約時間</td>
		<td>
			<%= @item.reserved_on.strftime("%l:%M %p") %>
			〜
			<%= @item.reserved_until.strftime("%l:%M %p") %>
		</td>
	</tr>
	<tr>
		<th class='table-info'>予約受付メモ</td>
		<td><% unless @item.memo_1.blank? %><pre><%=@item.memo_1%></pre><% end %></td>
	</tr>
</table>


<div>
	<button type="button" class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
		<%= trash_icon('削除確認')%>&nbsp;
		削除確認…
	</button>

	<span class="float-right">
		<button type="button" class="btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditReservation_<%= @item.id %>">
			<%= edit_icon %>&nbsp;編集…
		</button>
	</span>

</div>

<%= render partial: 'dlg_edit_reservation', locals: {item: @item, target_date: @target_date} %>

<% if false %>
	<div class="well">
		<span class="float-right">
			<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
				<%= trash_icon('削除確認')%>&nbsp;
				削除確認
			</button>
		</span>

		<fieldset class="form-horizontal">
			<%= render :partial=>"reservation_view" %>
			<div class="form-actions">
				<% back_url = url_for(:action=>"reservation", :target_date=>(@target_date))%>
				<a href="<%= back_url %>" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;戻る</a>
				<%= link_to('<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;編集'.html_safe, 
					{:action=>"edit_reservation", :id=>@item}, 
					{:class=>"btn btn-sm btn-warning"})%>
			</div>
		</fieldset>
	</div>
<% end %>

<!-- modaldelete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<%= form_for @item, url: admin_reservation_delete_reservation_path(id: @item), method: :delete do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title"><%= reservation_staff_icon %>&nbsp;予約削除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<p>
						この予約を削除します。<br/>
						よろしいですか？
					</p>
                </div>
                <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-danger"><%= trash_icon('削除') %>&nbsp;削除</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
