        <!-- このサイトはIE9未満では正しく表示されません。 -->
        <!--[if lt IE 9]>
        <p id="browserupgrade">あなたは<strong>古いブラウザ</strong>をご利用のようです。安心してインターネットをお楽しみいただくために<a href="http://windows.microsoft.com/ja-jp/internet-explorer/download-ie">最新のブラウザにアップグレード</a>してください。このサイトは古いブラウザでは正しく表示されません。</p>
        <![endif]-->
        <header id="header">
            <div class="container">
                <div id="header_main" >
                    <div id="header_logomark">
<% logo_mark = VisualWidget.search_widget_bag_for(@website, "e136ec25fe73176aa320b596142d443e") %>
                        <a href="/home?wkey=<%= @website.wsite_hash_key %>">
<% if logo_mark.blank? || !logo_mark.is_valid? %>
                            <img src="//placehold.it/200x53&amp;text=Enshant MAG">
<% else %>
                            <img src="<%= logo_mark.photos[0].clip.url() %>" alt="logomark">
<% end %>
                        </a>
                    </div>
                    <div id="smart_nav_opener">
                        <button id="smart_nav_opener_btn"><i class="fa fa-bars"></i><div>MENU</div></button>
                    </div>
                    <div id="header_summary">
<% site_summary = VisualWidget.search_widget_bag_for(@website, "e74c193ff382af507ab2d18d304fcc8d") %>
<% if site_summary.blank? || !site_summary.is_valid? %>
                        <p>長岡市ホリスティックビューティENCHANTがお届けする ビューティ情報WEBマガジン</p>
<% else %>
                        <p><%= site_summary.data_string %></p>
<% end %>
                    </div>
                </div>
                <div id="header_side">
                    <div id="header_link">
                        <a href="http://www.enchant-hair.com/"><i class='fa fa-home'></i></a>
                        <%= raw("<a href=#{@website.social_facebook_uri} target='_blank'    title=#{@website.social_facebook_uri}>  <i class='fa fa-facebook-official'></i></a>")       unless @website.social_facebook_uri.blank? %>
                        
                        <%= raw("<a href=#{@website.social_twitter_uri} target='_blank'     title=#{@website.social_twitter_uri}>   <i class='fa fa-twitter-square'></i></a>")        unless @website.social_twitter_uri.blank? %>
                        <%= raw("<a href=#{@website.social_instagram_uri} target='_blank'   title=#{@website.social_instagram_uri}> <i class='fa fa-instagram'></i></a>")           unless @website.social_instagram_uri.blank? %>
						<%= raw("<a href=#{@website.social_line_uri} target='_blank' 		title=#{@website.social_line_uri}>		<img src='/images/assets/line_icon.png' alt='LINE' /></a>")			unless @website.social_line_uri.blank? %>
                        <%= raw("<a href=#{@website.social_pinterest_uri} target='_blank'   title=#{@website.social_pinterest_uri}> <i class='fa fa-pinterest-square'></i></a>")      unless @website.social_pinterest_uri.blank? %>
                        <%= raw("<a href=#{@website.social_tumblr_uri} target='_blank'      title=#{@website.social_tumblr_uri}>    <i class='fa fa-tumblr-square'></i></a>")         unless @website.social_tumblr_uri.blank? %>
                        <%= hotpepper_shop_banner(@website, false, 'vertical-align: top; padding-top: 1px;') %>
                        <%= youtube_shop_banner(@website, false) %>
                    </div>
<% unless @website.wsite_telephone.blank? %>
                    <div id="header_call">TEL. <address><%=@website.wsite_telephone %></address></div>
<% end %>
                </div>
            </div>
        </header>
