<% latests = temp_local.public_leafs %>
<% unless latests.blank? %>
    <% link_url = url_for(:action=>'news_list', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>
    <% key_photo = key_photo(latests[0]) %>
    <% unless key_photo.blank? %>
                        <div class="imgbox"><div style="background-image: url('<%= key_photo.clip.url(:panel) %>')">
                            <a href="<%= link_url %>">
                                <img src="<%= key_photo.clip.url(:panel) %>">
                            </a>
    <% else %>
                        <div class="imgbox"><div style="background-image: url('//placehold.it/480x360/ffffff/cccccc&amp;text=<%=temp_local.publish_from.strftime('%Y-%m-%d')%>')">
                            <a href="<%= link_url %>">
                                <img src="//placehold.it/480x360/ffffff/cccccc&amp;text=<%=temp_local.publish_from.strftime('%Y-%m-%d')%>">
                            </a>
    <% end %>
                        </div></div>
                        <h2><a href="<%= link_url %>"><%= truncate(model_name(temp_local)) %></a></h2>
<% end %>
