<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport" content="initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="application-name" content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator" content="fuga">
<meta name="author" content="<%= model_name(@website) %>">

<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>

<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon"/>
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon"/>
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<%= stylesheet_link_tag "/stylesheets/assets/enchant/swifty.css" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<aside id="smart_nav">
    <ul id="smart_nav_inner">
        <li>Enchant magazine - MENU</li>
        <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">Home</a></li>
<%= render :partial=>"#{LayoutScheme.asset_root}/enchant/navigation" %>
        <li><a href="tel:0258-77-7217">お電話</a></li>
    </ul>
</aside>
<div id="body">
    <div id="body_inner">
<%= render :partial=>"#{LayoutScheme.asset_root}/enchant/header" %>
        <nav id="nav">
            <h1>サイトナビゲーション</h1>
            <ul class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/enchant/navigation" %>
            </ul>
        </nav>
        <aside id="breadcrumbs">
            <ol class="container">
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="<%= url_for(:action=>'index', :wkey=>@website.wsite_hash_key) %>"><span itemprop="title"><i class="fa fa-home"></i> <%= model_name(@website) %></span></a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title"><%= model_title(@seed) %></span>
                </li>
            </ol>
        </aside>
        <div id="news_index">
            <div id="wrapper" class="container">
                <main id="main">
                    <article id="article">
                        <header>
                            <h1><%= model_title(@seed) %></h1>
                        </header>
<% @public_bag =  @seed.public_bags %>
<% unless @public_bag.blank? %>
                        <div class="container">
                            <ul class="wrapper">
    <% @public_bag.each do | bag |  %>
                                <li class="col-1p3">
        <%= render :partial=>"#{LayoutScheme.asset_root}/enchant/item_news_bag", :locals => {:temp_local => bag}  %>
                                </li>
    <% end %>
                            </ul>
                        </div>
<% end %>
                    </article>
                </main>
                <div id="sidebar">
                    <aside>
<% unless @website.wsite_description_business.blank? %><%=raw @website.wsite_description_business%><% end %>
                    </aside>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <small><%= copyright_notice(@website) %></small>
            </div>
        </footer>
    </div>
</div>
<%= render :partial=>"#{LayoutScheme.asset_root}/enchant/footer"%>
</body>
</html>
