<header id="header">
    <div class="container">
        <div id="hwrap">
            <div id="brand">
<%  logomark = VisualWidget.search_widget_bag_for(@website, "4352e985f864dc10049914ced4427386") %>
<%  if logomark.blank? || !logomark.is_valid? %>
<%      if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img id="logomark" src="//placehold.jp/107x68.jpg" alt="logo mark"></a>
<%      else %>
                <a href="/home"><img id="logomark" src="//placehold.jp/107x68.jpg" alt="logo mark"></a>
<%      end %>
<%  else %>
<%      if true || request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>"><img id="logomark" src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
<%      else %>
                <a href="/home"><img id="logomark" src="<%= logomark.photos[0].clip.url() %>" alt="logo mark"></a>
<%      end %>
<%  end %>
            </div>
            <div id="hnav">
                <div id="m_sns">
                    <a href="https://www.instagram.com/mori_wedding/?hl=ja" target="_blank"><i class="fa fa-instagram"></i></a>
                    <div id="tnav_open"><i class="fa fa-bars"></i><span>MENU</span></div>
                </div>
                <div id="corp">
<%      if true || request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=08ebd0bbcad881d718362fef54ee81e8">
<%      else %>
                    <a href="http://www.mori-bc.co.jp/">
<%      end %>
                        MORI BEAUTY CORPORATION <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                </div>
                <nav id="nav">
                    <ul class="clearfix">
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/shop/navigation" %>
                    </ul>
                    <div id="h_sns">
                        <a href="https://www.instagram.com/mori_wedding/?hl=ja" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
