<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/wedding/css" %>
</head>
<body>
<div id="body" class="scroolwrap">
    <div class="scrooler">
        <div id="main" class="container" role="main">
                    <h1 class="en"><%= model_title(@seed) %> <span>スタッフ紹介</span></h1>
                    <section id="streem_table">
                        <ul>
<%
    @staffs.each do | staff | @staff = staff
        key_photo = key_photo(@staff)
        unless key_photo.blank?
            image_url = key_photo.clip.url(:panel)
        else
            image_url = '//placehold.jp/327x327.jpg?text=No Photo'
        end
%>
                            <li class="wrapper">
                                <div class="col-1p4f">
                                    <div class="col-in">
                                        <img src="<%= image_url %>" alt="<%= model_name(@staff) %>">
                                    </div>
                                </div>
                                <div class="col-3p4f">
                                    <div class="col-in">
                                        <header id="staff_head">
                                            <h2><%= model_name(@staff) %> <span><%= h @staff.job_title %></span></h2>
                                        </header>
<%      unless @staff.description.blank? %>
                                        <div id="contents">
                                            <%= raw @staff.description %>
                                        </div>
<%      end %>
                                        <footer>
                                            <ul class="sns_links">
<%      unless @staff.social_facebook_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_facebook_uri%>" target='_blank'><i class="fa fa-facebook-official"></i></a>
                                                </li>
<%      end %>
<%      unless @staff.social_twitter_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_twitter_uri %>" target='_blank'><i class="fa fa-twitter-square"></i></a>
                                                </li>
<%      end %>
<%      unless @staff.social_gplus_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_gplus_uri %>" target='_blank'><i class="fa fa-google-plus-square"></i></a>
                                                </li>
<%      end %>
<%      unless @staff.social_instagram_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_instagram_uri %>" target='_blank'><i class="fa fa-instagram"></i></a>
                                                </li>
<%      end %>
<%      unless @staff.social_line_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_line_uri %>" target='_blank'><img src="/images/assets/line_icon.png" alt="LINE" /></a>
                                                </li>
<%      end %>
<%      unless @staff.social_pinterest_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_pinterest_uri %>" target='_blank'><i class="fa fa-pinterest-square"></i></a>
                                                </li>
<%      end %>
<%      unless @staff.social_tumblr_uri.blank? %>
                                                <li>
                                                    <a href="<%= @staff.social_tumblr_uri %>" target='_blank'><i class="fa fa-tumblr-square"></i></a>
                                                </li>
<%      end %>
                                            </ul>
                                        </footer>
                                    </div>
                                </div>
                            </li>
<%  end %>
                        </ul>
                    </section>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/wedding/footer" %>
    </div>
</div>
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/wedding/header" %>
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav" class="scroolwrap">
    <div class="scrooler">
<% logomark = VisualWidget.search_widget_bag_for(@website, "4352e985f864dc10049914ced4427386") %>
<% if !logomark.blank? && logomark.is_valid? %>
        <div id="tnav_logo">
            <img src="//<%= request.host %><%= logomark.photos[0].clip.url() %>" alt="logomark">
        </div>
<% end %>
        <ul>
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/wedding/navigation" %>
            <li>
<%      if request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=08ebd0bbcad881d718362fef54ee81e8">MORI<span> BEAUTY CORPORATION</span></a>
<%      else %>
                <a href="http://www.mori-bc.co.jp/">MORI<span> BEAUTY CORPORATION</span></a>
<%      end %>
            </li>
        </ul>
    </div>
</aside>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/mori-bc.co.jp/wedding/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
