<div class="col">
    <div class="card h-100">
		<a href="<%= url_for(:action=>'show_leaf', :id=>leaf, :page=>@page) %>">
			<% key_photo = key_photo(leaf) %>
			<% unless key_photo.blank? %>
				<%= image_tag key_photo.clip.url(:thumb), class: "card-img-top" %>
			<% else %>
				<img class="card-img-top" src="https://placehold.jp/22/cfcfcf/ffffff/180.png?text=No%20Photo%0A">
	    	<% end %>
		</a>

        <div class="card-body">
            <h5 class="card-title">
                <%= truncate(model_title(leaf), :length=>30) %>
            </h5>
            <p class="card-text">
                <% unless leaf.description_3.blank? %>
                    <%= h leaf.description_3 %>
                    <br/>
                <% else %>
                    <%= (leaf.description.blank?)? '': h(truncate(html_content_text(leaf).gsub('&nbsp;', ' '), :length=>50)) %>
                    <br/>
                <% end %>

                <%= leaf_state_6_icons(leaf) %>
                <small>
                    <% unless leaf.staff.blank? %>
                        <br/>
                        <strong><%= model_name(leaf.staff) %></strong>
                    <% end %>
                </small>
            </p>
        </div>
        <div class="card-footer">
			<%= (leaf.first?)?	move_to_top_icon :	link_to(move_to_top_icon, :action=>"move_to_top",	:id=>leaf) %>
			<%= (leaf.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"), :action=>"leaf_higher",	:id=>leaf) %>
			<%= leaf.position %>
			<%= (leaf.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"), 	:action=>"leaf_lower",	:id=>leaf) %>
			<%= (leaf.last?)? 	move_to_bottom_icon : 	link_to(move_to_bottom_icon, 	:action=>"move_to_bottom",	:id=>leaf) %>
			<span class='float-right'>
				<a href="<%= url_for(:action=>'show_leaf', :id=>leaf, :page=>@page) %>" class="btn btn-sm btn-outline-primary">表示&nbsp;<%= link_to_6_icon %></a>
			</span>
        </div>
    </div>
</div>