<div class="card">
	<div class="card-body">
		<p class="wewll" style="text-align:center;">
			<%= (temp_local.first?)?	raw("<i class='fa-solid fa-backward fa-lg'></i>"):	link_to(raw("<i class='fa-solid fa-backward fa-lg'></i>"), :action=>"leaf_higher",	:id=>temp_local) %>
			<%= temp_local.position %>
			<%= (temp_local.last?)? 	raw("<i class='fa-solid fa-forward fa-lg'></i>"): 	link_to(raw("<i class='fa-solid fa-forward fa-lg'></i>"), 	:action=>"leaf_lower",	:id=>temp_local) %>				
		</p>
	</div>
	<div class="card-body" style="text-align:center;">
		<a href="<%= url_for(:action=>'show_leaf', :id=>temp_local, :page=>@page) %>">
			<% key_photo = key_photo(temp_local) %>
			<% unless key_photo.blank? %>
				<%= image_tag key_photo.clip.url(:thumb) %>
			<% else %>
				<img src="https://placehold.jp/22/cfcfcf/ffffff/320x240.png?text=No%20Photo%0A">
	    	<% end %>
		</a>
	</div>
    <div class="card-body">
        <h4>
        	<span class='float-right'><span class="badge badge-success"><%=temp_local.content_category.category_label%></span></span>
        	<%= leaf_state_icons(temp_local) %>
        	<%= truncate(model_title(temp_local), :length=>20) %>
		</h4>
		<p>
			<% unless temp_local.description_3.blank? %>
 	           <%= h temp_local.description_3 %>
        	<% else %>
 	           <%= (temp_local.description.blank?)? '': h(truncate(strip_tags(temp_local.description).gsub('&nbsp;', ' '), :length=>50)) %>
           	<% end %>
		</p>
        <p>
			<% unless temp_local.staff.blank? %>
				<strong><%= model_name(temp_local.staff) %></strong>
			<% end %>
		</p>
    </div>
</div>
