<!-- === Masthead === -->
<ul class="breadcrumb">
  <li><%= link_to @bag_title, :action=>"content_root" %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <% @parent_category.category_path.each do | category | %>
	  <li><%= link_to category.category_label, :action=>"content_category", :id=>category %>&nbsp;<span class="divider">&nbsp;/&nbsp;</span></li>
  <% end %>
  <li class="active"><%= @parent_category.category_label %></li>
</ul>
<header class="subhead" id="overview">
	<div class="float-right">
		<% @bag_roots = [@parent_category.my_bag_root_category] %>
		<% unless @bag_roots.blank? %>
			<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_category_select">
				<i class="fa-solid fa-folder-open"></i>
				切替
			</button>
		<%end%>
		<% if @parent_category.category_type==ContentCategory::TYPE_BAG_ROOT %>
			<% url_edit = url_for(:action=>"content_category_tree", :id=>@parent_category) %>
			<a class="btn btn-warning btn-sm" href="<%=url_edit%>">
				<%= setting_icon('カテゴリー')%>&nbsp;
				設定
			</a>
		<% end %>
		|
		<% bag = ContentBag.type_root(@shop, ContentBag::TYPE_GALLERY) %>
		<% url_new = url_for(:action=>"new_leaf", :content_category=>@parent_category, content_bag: bag) %>
		<a class="btn btn-success btn-sm" href="<%=url_new%>" data-turbolinks='false'>
			<%= new_icon('登録')%>&nbsp;
			項目登録
		</a>
	</div>
	<h3><%= @parent_category.category_label %>項目一覧</h3>
</header>

<% if @parent_category.my_bag_root_category.content_bag.is_public==false  %>
	<div class="alert alert-warning">
		 <%= info_icon %> 非公開ストリームです。
	</div>
<% end %>

<% unless @items.blank? %>
	<% array = @items.in_groups_of(3, false)%>
	<div class="row">
		<% for i in 0..(array.size-1) %>
			<% @lines = array[i] %>
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category", :locals => {:temp_local => @lines[0]}  if @lines.size>=1 %>
				</div>		
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category", :locals => {:temp_local => @lines[1]}  if @lines.size>=2 %>
				</div>		
		        <div class="col-sm-4">
		        	<%= render :partial=>"item_category", :locals => {:temp_local => @lines[2]}  if @lines.size>=3 %>
				</div>
		<% end %>
	</div>
<% end %>

<% if @leafs.blank? %>
	<% if @parent_category.children.blank? %>
		<div class="alert alert-info">
			 <%= info_icon %> 項目がありません。
		</div>
	<% end %>
<% else %>
	<div class="row">
		<%
			@total_size = @parent_category.content_leafs.size
			leafs = reorder_by_position(@leafs, false)
		%>
		<div class='d-none d-md-block'>
			<br/>
			<%= render partial: "category_box_leaf", locals: { leafs: leafs } %>
		</div>
		<div class='d-md-none'>
			<%= render partial: "category_list_leaf", locals: { leafs: leafs } %>
		</div>
	</div>
<% end %>



<% unless @bag_roots.blank? %>
	<div class="modal fade" id="modal_category_select" tabindex="-1" aria-labelledby="modal_category_select" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<%= form_tag({:action=>"content_category", :id=>nil}, :class=>"form-horizontal", method: :patch)  do %>
					<div class="modal-header">
						<h5 class="modal-title">カテゴリー選択</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3 row">
							<label for="wsite_keywords" class="col-sm-4 col-form-label">カテゴリー</label>
							<div class="col-sm-8">
								<%= tree_select_tag(@bag_roots, 'id', (@parent_category.blank?)? "": @parent_category.id)   %> 
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">キャンセル</button>
						<button type="submit" class="btn btn-sm btn-success"><i class="fa-solid fa-share-from-square"></i>&nbsp;移動</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<% if false %>
		<%= form_tag({:action=>"content_category", :id=>nil}, :class=>"form-horizontal", method: :patch)  do %>
			<div id="modal_category_select" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">カテゴリー選択</h3>
				</div>
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="wsite_keywords">カテゴリー</label>
						<div class="controls">
							<%= tree_select_tag(@bag_roots, 'id', (@parent_category.blank?)? "": @parent_category.id)   %> 
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><i class="icon-ok"></i>&nbsp;&nbsp;移動</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;&nbsp;キャンセル</button>
				</div>
			</div>
		<%end%>  	
	<% end %>
<%end%>  	
