<div class="salon-list">
    <ul>

        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-aria.jpg" width="1200" height="670" alt="ARIA">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-aria.svg" height="38" alt="ARIA">
                    ARIA <a href="https://www.instagram.com/lenahc.aria/?hl=ja" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="ARIA インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市青葉区中央3-1-1ほうげつビル 3F-4F(受付)<br>
                    営業時間：10：00 - 19：00（18:30 カラー/パーマ）<br>
                    定休日：毎週月曜日 </span>
                <a href="tel:0120-135-098">tel.0120-135-098</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'aria_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>


        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-ist.jpg" width="1200" height="670" alt="ist">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-ist.svg" height="38" alt="ist">
                    ist <a href="https://www.instagram.com/lenahc_ist8431/" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="ist インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市青葉区中央2-3-18クリスロード阿部蒲鉾2F <br>
                    営業時間：0：00 - 19：00（18:30 カラー/パーマ）<br>
                    定休日：毎週月曜日 </span>
                <a href="tel:0120-979-431">tel.0120-979-431</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'ist_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>


        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-soin.jpg" width="1200" height="670" alt="SOIN">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-soin.svg" height="38" alt="SOIN">
                    SOIN <a href="https://www.instagram.com/lenahcsoin/?hl=ja" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="SOIN インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市青葉区一番町 4-3-22 スマイルホテル仙台国分町 2F<br>
                    営業時間：10：00 - 19：00（18:30 カラー/パーマ）<br>
                    定休日：毎週月曜日 </span>
                <a href="tel:0120-079-041">tel.0120-079-041</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'soin_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>


        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-legrand.jpg" width="1200" height="670"
                    alt="Le grand">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-legrand.svg" height="38" alt="Le grand">
                    Le grand <a href="https://www.instagram.com/lenahc_legrand/" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="Le grand インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市太白区長町7-20-3 ザ・モール仙台長町Part1<br>
                    営業時間：10:00 - 19:30 （18:30 カラー/パーマ）モール営業時間によって異なります。<br>
                    定休日： 無休  </span>
                <a href="tel:0120-880-882">tel.0120-880-882</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'legrand_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>


        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-with.jpg" width="1200" height="670" alt="With">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-with.svg" height="38" alt="With">
                    With <a href="https://www.instagram.com/lenahcwith/?hl=ja" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="With インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市泉区上谷刈4-11-36Acs(アクス) 2F<br>
                    営業時間：10:00 - 19:00 （18:30 カラー/パーマ）<br>
                    定休日：毎週月曜日 </span>
                <a href="tel:0120-979-698">tel.0120-979-698</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'with_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>


        <li class="inview-fadeIn">
            <figure>
                <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-coffret.jpg" width="1200" height="670"
                    alt="Coffret">
            </figure>
            <div class="address-salon">
                <h3>
                    <img src="/assets/lenahc.co.jp.new/images/common/logo-coffret.svg" height="38" alt="Coffret">
                    Coffret <a href="https://www.instagram.com/lenahc.coffret/" target="_blank">
                        <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                            alt="Coffret インスタグラム">
                    </a>
                </h3>
                <span>
                    仙台市泉区高森1-1-189 高森ショッピングプラザ南館<br>
                    営業時間：9:30 - 18:00<br>
                    定休日：毎週月曜日 </span>
                <a href="tel:0120-074-843">tel.0120-074-843</a>
            </div>
            <a class="readmore" href="<%= url_for(action: 'kick', name: 'coffret_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
        </li>

    </ul>
</div>
