<div class="post-list container-news-list">
    <ul>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-aria.png" width="521" height="200"
                        alt="レナーク　アリア">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'ARIA').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-ist.png" width="521" height="200"
                        alt="レナーク イスト">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'ist').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-soin.png" width="521" height="200"
                        alt="レナーク ソワン">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'SOIN').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-legrand.png" width="521" height="200"
                        alt="レナーク ルグラン">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'Le grand').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-with.png" width="521" height="200"
                        alt="レナーク ウィズ">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'With').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
        <li class="inview-fadeIn">
            <div class="img-box">
                <figure>
                    <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-cofflet.png" width="521" height="200"
                        alt="レナーク コフレ">
                </figure>
            </div>
            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'Coffret').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.first
            %>
            <% unless latest.blank? %>
                <div class="txt">
                    <time><%= latest.publish_from.strftime('%Y.%m.%d') %></time>
                    <h3>
                        <%= model_title(latest) %>
                    </h3>
                </div>
                <a href="<%= url_for(action: 'kick', name: 'coffret_news-list', stream_id: (stream.blank?)? nil: stream.id, wkey: @website.wsite_hash_key)%>">READ MORE</a>
            <% end %>
        </li>
    </ul>
</div>
