<!DOCTYPE html>
<html lang="ja">
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>
<body class="aboutus default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    ABOUT US </h1>
            </header>
            <section id="color">
                <header class="sect-header">
                    <h3>こだわりのカラー</h3>
                </header>
                <ol>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-1">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/sect-aboutus.jpg" width="1000"
                                    height="1000" alt="ABOUT US">
                                <div class="inview-fadeIn txt">
                                    <h4>① ゼロテク</h4>
                                    <p>
                                        頭皮に薬液がつかないようにギリギリのラインをせめて塗布する<br>
                                        「ゼロテク」を全スタッフが習得し、敏感な頭皮にも対応できるよう努めています。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-2">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/maeshori.jpg" width="1000" height="1000"
                                    alt="前処理">
                                <div class="inview-fadeIn txt">
                                    <h4>② 前処理</h4>
                                    <p>
                                        髪の状態を均一に整え、その後の浸透をサポート。<br>
                                        毛髪強度をケアしハリ弾力のあるしなやかな髪に導きます。<br>
                                        ダメージレスで髪質が変わったような扱いやすい髪に。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-3">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/nuriwake.jpg" width="1000" height="1000"
                                    alt="塗り分け">
                                <div class="inview-fadeIn txt">
                                    <h4>② 塗り分け</h4>
                                    <p>
                                        プロの目でダメージレベルを判断し、<br>
                                        髪の状態に合わせてカラー剤を塗り分けています。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>

            <section id="cut">
                <header class="sect-header">
                    <h3>こだわりのカット</h3>
                </header>
                <ol>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-4">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/cut-1.jpg" width="1000" height="1000"
                                    alt="Peek a Boo">
                                <div class="inview-fadeIn txt">
                                    <h4>① Peek a Boo</h4>
                                    <p>
                                        カミカリスマ受賞講師のテクニカル講習を年２回定期受講。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-1">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/cut.jpg" width="1000" height="1000"
                                    alt="カリキュラム理">
                                <div class="inview-fadeIn txt">
                                    <h4>② カリキュラム</h4>
                                    <p>
                                        カットは一番の髪質改善と考え、厳しい社内検定をクリアしたスタッフがスタイリストとしてデビューしています。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>
            <section id="care">
                <header class="sect-header">
                    <h3>こだわりの頭皮ケア</h3>
                </header>
                <ol>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-2">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/shampoo.jpg" width="1000" height="1000"
                                    alt="カリキュラム">
                                <div class="inview-fadeIn txt">
                                    <h4>① シャンプー選び</h4>
                                    <p>
                                        髪質に合わせてケラスターゼのシャンプー剤をお選びしております。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-3">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/marp.jpg" width="1000" height="1000"
                                    alt="炭酸泉やマーブを導入">
                                <div class="inview-fadeIn txt">
                                    <h4>② 炭酸泉やマーブを導入</h4>
                                    <p>
                                        髪や頭皮の汚れを落とし、リセットすることにより専用の薬剤の浸透効果を高めます。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box-style-1">
                            <div class="container-s bk-sect-about-4">
                                <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/aboutus/spa.jpg" width="1000" height="1000"
                                    alt="ヘッドスパ">
                                <div class="inview-fadeIn txt">
                                    <h4>② ヘッドスパ</h4>
                                    <p>
                                        今では当たり前のヘッドスパ。レナークでは30年以上前から人気メニューです。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>

            <section id="benefits">
                <header class="sect-header">
                    <h3>会員特典</h3>
                </header>
                <div class="container">
                    <ul>
                        <li>
                            <h4>★ メンバーズポイント ★</h4>
                            <div class="txt">
                                <p><strong>100円</strong>（税抜）につき<strong>1pt</strong>付与<br>
                                    <strong>1pt➡1円</strong>としてご利用いただけます。<br>
                                    （レナークグループ系列店舗どこでも<br>ご利用いただけます）
                                </p>
                            </div>
                        </li>
                        <li>
                            <h4>★ バースデー特典 ★</h4>
                            <div class="txt">
                                <p>お誕生日月にご来店で施術料金<strong>30％OFF</strong></p>
                            </div>
                        </li>
                        <li>
                            <h4>★ 技術保証 ★</h4>
                            <div class="txt">
                                <p>ヘアスタイルやお手入れに<br>気になるところがございましたら<br><strong>責任をもって無料で<br>お直しさせていただきます</strong>。<br>
                                    （2週間以内のご連絡をお願いいたします）</p>
                            </div>
                        </li>
                        <li>
                            <h4>★ ご紹介割 ★</h4>
                            <div class="txt">
                                <p>ご紹介新規様　施術料金<strong>20％OFF</strong><br>
                                    ご紹介メンバーズ様　<strong>1,000円OFF</strong></p>
                            </div>
                        </li>
                        <li>
                            <h4>★ 学生特典 ★</h4>
                            <div class="txt">
                                <p>学生の方に<strong>お得な特典</strong>がございます。<br>
                                    （各店にお問い合わせください。）</p>
                            </div>
                        </li>
                        <li>
                            <h4>★ アフターチェック ★</h4>
                            <div class="txt">
                                <p>初めてメンバーズにご登録いただきましたお客様は、アフターチェックさせていただくため<br>
                                    <strong>施術後2週間以内にご来店で、シャンプーブローをサービスさせていただきます</strong>。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
