<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="salon-detail coffret">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <div class="container-slick-salon">
                <div class="slick-salon" class="ls-none">
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-coffret-1.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-coffret-2.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                </div>
            </div>
            <section>
                <div class="container-ss">
                    <div class="outline">
                        <p>アットホームな空間で、幅広い年齢層の方に美と癒しのひとときを</p>
                        <p>アットホームで居心地の良い雰囲気。<br>
                            スタッフとお客様の距離の近さが、ヘアスタイルのことも髪の悩みも気軽に聞けてしまう</p>
                        <p>そんな空間で、ヘアスタイルをはじめ<br>
                            ヘアケアやコスメまで 確かな技術を実感してください。</p>
                    </div>
                </div>
            </section>
            <section id="sect-staff">
                <div class="container">
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Coffret').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section id="sect-map">
                <div class="container-address">
                    <address>
                        <h3>
                            <img src="/assets/lenahc.co.jp.new/images/common/logo-coffret.svg" height="38" alt="Coffret">
                            Coffret <a href="https://www.instagram.com/lenahc.coffret/" target="_blank">
                                <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                    alt="Coffret インスタグラム">
                            </a>
                        </h3>
                        <span>
                            仙台市泉区高森1-1-189 高森ショッピングプラザ南館<br>
                            営業時間：9:30 - 18:00<br>
                            定休日：毎週月曜日 </span>
                        <a href="tel:0120-074-843">tel.0120-074-843</a>
                        </div>
                    </address>
                    <div class="container-map">





                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.5666883491785!2d140.84145557675103!3d38.3358639718495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f898100e8ccb179%3A0xa908715684333df1!2z44Os44OK44O844Kv44Kz44OV44Os!5e0!3m2!1sja!2sjp!4v1706874306501!5m2!1sja!2sjp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
