<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>
<body class="company default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    COMPANY </h1>
            </header>
            <section id="sect-intro">
                <div class="container-ss">
                    <p>レナーク・グループ　株式会社　和田商は、<br>
                        企業理念である「美を通し、すべての人をしあわせにします」を基本に企業経営を行い、<br>
                        会社はスタッフの幸せを、スタッフはお客様の幸せを追求することで、<br>
                        スタッフ、お客様、地域、お取引様から愛されるサロンを創ってゆきます。</p>
                </div>
            </section>
            <section id="sect-outline">
                <div class="container-ss">
                    <h2>会社概要</h2>
                    <table>
                        <tr>
                            <th>商号</th>
                            <td>株式会社和田商</td>
                        </tr>
                        <tr>
                            <th>略号</th>
                            <td>レナーク・グループ</td>
                        </tr>
                        <tr>
                            <th>略歴</th>
                            <td>昭和39年5月8日 シャネル美容室として開業<br> 昭和49年1月 有限会社 シャネル<br> 昭和63年5月 株式会社 和田商<br> 平成8年3月6日 認定職業訓練校
                                レナークビューティースクール開設 普通職業訓練短期課程美容科22コース認定</td>
                        </tr>
                        <tr>
                            <th>資本金</th>
                            <td>1000万円</td>
                        </tr>
                        <tr>
                            <th>年商</th>
                            <td>8億2千3百86万円（平成27年6月現在）</td>
                        </tr>
                        <tr>
                            <th>代表者</th>
                            <td>和田 達雄</td>
                        </tr>
                        <tr>
                            <th>従業員</th>
                            <td>117名</td>
                        </tr>
                        <tr>
                            <th>技術顧問</th>
                            <td>PEEK-A-BOO</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="sect-branches">
                <div class="container-ss">
                    <h2>レナーク・グループ各店</h2>
                    <table>
                        <tr>
                            <th>レナーク イスト</th>
                            <td>平成13年7月開設<br>
                                <span class="small">※ 昭和39年シャネル美容室として開店したレナーク広瀬町店は、レナークイストとして、平成13年移転オープン。</span>
                            </td>
                            <td>青葉区中央2丁目3-18 阿部蒲鉾本店 2F</td>
                        </tr>
                        <tr>
                            <th>レナーク ソワン</th>
                            <td>平成16年6月開設</td>
                            <td>青葉区一番町4-3-22（スマイルホテル 2F）</td>
                        </tr>
                        <tr>
                            <th>レナーク コフレ</th>
                            <td>昭和56年7月開設</td>
                            <td>仙台市泉区高森1-1-189</td>
                        </tr>
                        <tr>
                            <th>レナーク ウィズ</th>
                            <td>平成17年11月開設</td>
                            <td>仙台市泉区上谷刈4-11-36 Acs 2F</td>
                        </tr>
                        <tr>
                            <th>レナーク アリア</th>
                            <td>昭和63年12月開設</td>
                            <td>青葉区中央3-1-1（ほうげつビル 3･4F）</td>
                        </tr>
                        <tr>
                            <th>レナーク ルグラン</th>
                            <td>平成10年9月開設</td>
                            <td>太白区長町7-20-3 ザモール仙台長町 1F</td>
                        </tr>
                        <tr>
                            <th>ヴィヴィアン</th>
                            <td>平成12年12月開設</td>
                            <td>ザ・モール仙台長町Part2 2F</td>
                        </tr>
                        <tr>
                            <th>レナーク レンタルコレクション</th>
                            <td>平成16年16月開設</td>
                            <td>青葉区一番町4-3-22（スマイルホテル 2F）</td>
                        </tr>
                        <tr>
                            <th>レナークビューティースクール</th>
                            <td>平成8年11月開設</td>
                            <td>本社事務所併設</td>
                        </tr>
                        <tr>
                            <th>㈱和田商 本部</th>
                            <td>昭和48年11月開設</td>
                            <td>青葉区旭ヶ丘4-30-15</td>
                        </tr>
                    </table>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
