<!DOCTYPE html>
<html lang="ja">
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>
<body class="index default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <main id="page-main">
        <article id="pageArticle">
            <div id="mv">
                <ul id="slick-mv">
                    <li style="background-image: url(./images/top/bk_mv1.jpg);">
                        <img id="mv11" src="/assets/lenahc.co.jp.new/images/top/mv11.jpg" alt="レナークイメージ" width="908" height="908">
                        <img id="mv12" src="/assets/lenahc.co.jp.new/images/top/mv12.jpg" alt="レナークイメージ" width="908" height="908">
                    </li>
                    <li style="background-image: url(./images/top/bk_mv2.jpg);">
                        <img id="mv21" src="/assets/lenahc.co.jp.new/images/top/mv21.jpg" alt="レナークイメージ" width="908" height="908">
                        <img id="mv22" src="/assets/lenahc.co.jp.new/images/top/mv22.jpg" alt="レナークイメージ" width="908" height="908">
                    </li>
                </ul>
                <div class="btn-recruit container-l">
                    <a href="https://recruit.lenahc.co.jp/" target="_blank"><img src="/assets/lenahc.co.jp.new/images/top/btn-recruit_2.png"
                            width="311" height="392" alt="求人情報"></a>
                </div>
            </div>

            <%
                stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_NEWS, 'INFORMATION').first
                latest = (stream.blank?)? nil: stream.content_category.public_leafs.order(publish_from: :desc).first
            %>
            <section id="sect-information">
                <div class="container">
                    <h2 class="inview-fadeUp">INFORMATION</h2>
                    <% unless latest.blank? %>
                        <div class="post-list information-list container-s">
                            <ul class="inview-fadeIn">
                                <li>
                                    <a href="<%= url_for(action: 'kick', name: 'information-single', leaf_id: (latest.blank?)? nil: latest.id, wkey: @website.wsite_hash_key)%>">
                                        <span><%= latest.publish_from.strftime('%Y.%m.%d') %></span>
                                        <span><%= model_title(latest) %></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </section>
            <section id="sect-news">
                <div class="container">
                    <h2 class="inview-fadeUp">NEWS</h2>
                    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/streams" %>
                </div>
            </section>
            <section id="sect-salon">
                <div class="container-s">
                    <h2 class="inview-fadeUp">SALON</h2>
                    <div class="salon-list">
                        <ul>

                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-aria.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-aria.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=aria_salon-detail.html">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-ist.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-ist.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=ist_salon-detail.html">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-soin.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-soin.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=soin_salon-detail.html">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-legrand.jpg" width="1200" height="670"
                                        alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-legrand.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=legrand_salon-detail.html">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-with.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-with.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=with_salon-detail.html">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-coffret.jpg" width="1200" height="670"
                                        alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-coffret.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="./Psalon=coffret_salon-detail.html">READ MORE</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </section>
            <section id="sect-aboutus" class="box-style-1">
                <div class="container-s bk-sect-about-1">
                    <h2 class="inview-fadeUp">ABOUT US</h2>
                    <img class="inview-fadeL" src="/assets/lenahc.co.jp.new/images/top/sect-aboutus.jpg" width="1000" height="1000"
                        alt="ABOUT US">
                    <div class="inview-fadeIn txt">
                        <h4>レナークのこだわり</h4>
                        <p>
                            いつまでも自分の髪とともに日々を楽しんでいただきたい・・・<br>
                            髪を一瞬で美しくする方法あないからこそ、<br>
                            私たちは“care”にこだわっています。<br>
                            頭皮から身体や肌の不調の原因を読み取りながらアドバイスできるのが私たちの役目。<br>
                            長く通っていただくためのレナークのこだわりはこちらです。
                        </p>
                        <ul>
                            <li><a href="<%= url_for(action: 'kick', name: 'aboutus', anchor: 'color', wkey: @website.wsite_hash_key)%>">カラー</a></li>
                            <li><a href="<%= url_for(action: 'kick', name: 'aboutus', anchor: 'care', wkey: @website.wsite_hash_key)%>">頭皮ケア</a></li>
                            <li><a href="<%= url_for(action: 'kick', name: 'aboutus', anchor: 'cut', wkey: @website.wsite_hash_key)%>">カット</a></li>
                            <li><a href="<%= url_for(action: 'kick', name: 'aboutus', anchor: 'benefits', wkey: @website.wsite_hash_key)%>">会員特典</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="sect-staff">
                <div class="container">
                    <h2 class="inview-fadeUp">STAFF</h2>
                </div>
                <div id="slick-staff" class="inview-fadeIn">
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--表示サンプル-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/yuta-ikeda.jpg" width="600" height="600">
                                <dl>
                                    <dt><span class="dept">レナーク</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 裕太</dd>
                                </dl>
                                <a href="./Pstaff=yuta-ikeda_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                    <div>
                        <div class="staff-salon">
                            <!--サンプルとしてARIAの内容の一部を記載します-->
                            <!--ダミー用-->
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <div class="staff-staff">
                                <img src="/assets/lenahc.co.jp.new/images/staff/staff-default.jpg" alt="staff-default">
                                <dl>
                                    <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                    <dd>池田 祐太</dd>
                                </dl>
                                <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                            </div>
                            <!--ダミー用ここまで-->
                        </div>
                    </div>
                </div>
                <div class="text-center inview-fadeIn">
                    <p class="d-inline-block">
                        <a class="btn-style-1" href="<%= url_for(action: 'kick', name: 'staff', wkey: @website.wsite_hash_key)%>">VIEW ALL</a>
                    </p>
                </div>
            </section>
            <section id="sect-menu">
                <div class="container">
                    <h2 class="inview-fadeUp">MENU</h2>
                </div>
                <ul class="inview-fadeC">
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'cut', wkey: @website.wsite_hash_key)%>">CUT</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'color', wkey: @website.wsite_hash_key)%>">COLOR</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'perm', wkey: @website.wsite_hash_key)%>">PERM</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'hair-esthe', wkey: @website.wsite_hash_key)%>">HAIR ESTHE</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'spa', wkey: @website.wsite_hash_key)%>">SPA</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'beauty-musts', wkey: @website.wsite_hash_key)%>">BEAUTY MUSTS</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'nail', wkey: @website.wsite_hash_key)%>">NAIL</a>
                    </li>
                    <li>
                        <a href="<%= url_for(action: 'kick', name: 'menu', anchor: 'extra', wkey: @website.wsite_hash_key)%>">EXTRA</a>
                    </li>
                </ul>
                <div class="text-center inview-fadeIn">
                    <p class="d-inline-block">
                        <a class="btn-style-1" href="<%= url_for(action: 'kick', name: 'menu', wkey: @website.wsite_hash_key)%>">VIEW</a>
                    </p>
                </div>
            </section>
            <section id="sect-recruit">
                <div class="container">
                    <h2 class="inview-fadeUp">RECRUIT</h2>
                    <p class="inview-fadeIn">
                        レナークグループでは、店舗拡大期をともに歩む、新しい仲間を募集します。<br>
                        自分自身も成長しながら、仕事もプライベートも充実した美容師ライフを一緒に送りませんか？
                    </p>
                    <p class="d-inline-block inview-fadeIn">
                        <a class="btn-style-1" href="https://recruit.lenahc.co.jp/" target="_blank">VIEW</a>
                    </p>
                </div>
            </section>


        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
<% #navigation内にbodyの始まりがあるのでbody閉じは消さないこと %>
