<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="information-single default">
	<div id="body-cover"></div>
	<a id="page-top"></a>
	<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
	<main id="page-main">
		<article id="pageArticle">
			<header id="pageTitle">
				<h1>
					INFORMATION </h1>
			</header>
            <% leaf = @website.content_leafs.find_by(id: params[:leaf_id] ) %>
            <% unless leaf.blank? %>
				<section>
					<div class="container-ss">
						<header>
							<h1>LENAHCからのお知らせ</h1>
							<h2><%= model_title(leaf) %></h2>
							<time><%= leaf.publish_from.strftime('%Y.%m.%d') %></time>
						</header>
						<main>
							<%= raw leaf.description %>
						</main>
					</div>
				</section>
			<% end %>
		</article>
	</main>
	<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
	<div id="gotop"><a href="#page-top"></a></div>
	<div id="body-cover"></div>
</body>

</html>
