<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="salon-detail legrand">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <div class="container-slick-salon">
                <div class="slick-salon" class="ls-none">
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-legrand-1.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-legrand-2.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-legrand-3.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                </div>
            </div>
            <section>
                <div class="container-ss">
                    <div class="outline">
                        <p>ライフスタイル、髪質を考慮した、再現性の高いヘアスタイルへ</p>
                        <p>フレンチカットをベースに、動きや軽さを演出するヘアカラーバリエーションと、<br>
                            髪に負担の少ないパーマなど、最高のヘアスタイルをプロデュース。</p>
                        <p>ヘアスタイルをより美しく、扱いやすくする、ヘアエステメニューも取り揃えております。</p>
                    </div>
                </div>
            </section>
            <section id="sect-staff">
                <div class="container">
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Le grand').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section id="sect-map">
                <div class="container-address">
                    <address>
                        <div class="address-salon">
                            <h3>
                                <img src="/assets/lenahc.co.jp.new/images/common/logo-legrand.svg" height="38" alt="Le grand">
                                Le grand <a href="https://www.instagram.com/lenahc_legrand/" target="_blank">
                                    <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                        alt="Le grand インスタグラム">
                                </a>
                            </h3>
                            <span>
                                仙台市太白区長町7-20-3 ザ・モール仙台長町Part1<br>
                                営業時間：10:00 - 19:30 （18:30 カラー/パーマ）モール営業時間によって異なります。<br>
                                定休日： 無休  </span>
                            <a href="tel:0120-880-882">tel.0120-880-882</a>
                        </div>
                    </address>
                    <div class="container-map">



                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3134.283152158839!2d140.87183129678954!3d38.22653640000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a26347b6b4613%3A0x24eec346193a8d65!2z44Os44OK44O844Kv44O744Or44Kw44Op44Oz!5e0!3m2!1sja!2sjp!4v1706874237590!5m2!1sja!2sjp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>



                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
