<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="menu default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    MENU </h1>
            </header>
            <section id="cut">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>CUT</h2>
                        <p>※ シャンプー・ブロー込</p>
                    </header>
                    <table>
                        <tr>
                            <th>スタイリスト</th>
                            <td>[S] ¥5,500<br>[M, L] ¥6,050<br>※ コフレ店のみ一律￥6,050</td>
                        </tr>
                        <tr>
                            <th>トップスタイリストカット</th>
                            <td>¥6,600</td>
                        </tr>
                        <tr>
                            <th>前髪カット<br><span class="small">シャンプー・ブロー別</span></th>
                            <td>¥1,320</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="color">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Color</h2>
                        <p>※ 記載メニュー以外にも、豊富なカラーメニューがございます。<br> ※カラーのみ施術の方にはシャンプー・ブロー料金が別途かかります。</p>
                    </header>
                    <table>
                        <tr>
                            <th>リタッチカラー<br><span class="small">根元（2cm以内）のカラーです。</span></th>
                            <td>¥4,400〜</td>
                        </tr>
                        <tr>
                            <th>フルカラー<br><span class="small">アルカリ・弱アルカリカラーを使い分け、ツヤのある髪色に仕上げます</span></th>
                            <td>¥4,950〜</td>
                        </tr>
                        <tr>
                            <th>ヘアマニキュア<br><span class="small">酸性カラーでダメージレスなツヤのある髪に仕上げます。</span></th>
                            <td>¥5,500～</td>
                        </tr>
                        <tr>
                            <th>ホイルデザイン<br><span class="small">短時間で少ないポイントに入れ、立体感を出します。</span></th>
                            <td>+¥2,200〜</td>
                        </tr>
                        <tr>
                            <th>ウィービング<br><span class="small">ウィービング（細いライン）を入れることで動きや立体感を出します。</span></th>
                            <td>[ハーフ]¥5,500〜<br>[フル]¥7,700〜</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="perm">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Perm</h2>
                        <p>※ シャンプー・カット・ブロー込 ※M+ ¥550 / L+¥1,100 / トップスタイリスト+¥1,100</p>
                    </header>
                    <table>
                        <tr>
                            <th>クリニックパーマ<br><span class="small">カットを生かしカールやウェーブで動きをプラスします。</span></th>
                            <td>¥11,000～</td>
                        </tr>
                        <tr>
                            <th>エクストラクリニックパーマ<br><span class="small">毛髪を保護しながらパーマをかけていきます。</span></th>
                            <td>¥13,200〜</td>
                        </tr>
                        <tr>
                            <th>エアウェーブ<br><span class="small">形状記憶パーマ</span></th>
                            <td>¥16,500〜</td>
                        </tr>
                        <tr>
                            <th>ポイントパーマ<br><span class="small">（シャンプー・カット・ブロー別）短時間で前髪やトップにボリュームを出します。</span></th>
                            <td>¥2,200～</td>
                        </tr>
                        <tr>
                            <th>クリニックストレートパーマ<br><span class="small">自然な仕上がりのストレートパーマです。</span></th>
                            <td>¥11,000～</td>
                        </tr>
                        <tr>
                            <th>縮毛矯正<br><span class="small">（シャンプー・カット・ブロー別） 強いくせもしっかり伸ばします。</span></th>
                            <td>¥17,600〜</td>
                        </tr>
                        <tr>
                            <th>ポイント矯正<br><span class="small">（シャンプー・カット・ブロー別）前髪など気になる部分をストレートにします。</span></th>
                            <td>¥3,850〜</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="hair-esthe">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Hair Esthe</h2>
                        <p>※ 記載メニュー以外にも、頭皮と髪の美しさを引き出す豊富なメニューがございます。各店舗にてご確認ください。<br>※ヘアエステのみ施術の方にはシャンプー・ブロー料金が別途かかります。
                        </p>
                    </header>
                    <table>
                        <tr>
                            <th>ケラスターゼマスクトリートメント<br><span class="small">髪質・ダメージに合わせた栄養を与えます。</span></th>
                            <td>¥2,530～</td>
                        </tr>
                        <tr>
                            <th>ケラスターゼサロン専用カクテルトリートメント<br><span class="small">１人ひとりの複合的な髪の悩みにアプローチします。</span></th>
                            <td>¥3,630</td>
                        </tr>
                        <tr>
                            <th>ピーリングシャンプー<br><span class="small">頭皮の毛穴に詰まった汚れを洗浄します。</span></th>
                            <td>¥1,100</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="spa">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Spa</h2>
                    </header>
                    <table>
                        <tr>
                            <th>クロノロジストスパ<br><span class="small">頭皮と髪の状態を生まれたての美しさに導きます。</span></th>
                            <td>¥11,550</td>
                        </tr>
                        <tr>
                            <th>ケラスターゼヘッドスパ<br><span class="small">頭皮環境を整え、健康的な頭皮へ。</span></th>
                            <td>¥4,730</td>
                        </tr>
                        <tr>
                            <th>強髪プログラム<br><span class="small">幹細胞培養液を用いた毛根の活性化、頭皮のターンオーバーの正常化を促進するプログラムです。</span></th>
                            <td>¥3,850</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="beauty-musts">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>The Beauty Musts</h2>
                    </header>
                    <table>
                        <tr>
                            <th>フェイシャル<br><span class="small">クイックエステからパック付までご用意しています。</span></th>
                            <td>¥3,850〜</td>
                        </tr>
                        <tr>
                            <th>メイク<br><span class="small">シーンに合わせてメイクいたします、シュウウエムラ・アレクサンドルのを使用いたします。</span></th>
                            <td>[ポイント] ¥2,200<br>[フル] ¥4,400</td>
                        </tr>
                        <tr>
                            <th>眉カット<br><span class="small">お客様の印象に合わせてご提案します。</span></th>
                            <td>¥1,100</td>
                        </tr>
                        <tr>
                            <th>振袖着付<br><span class="small">成人式・卒業式の場合は料金が異なります。</span></th>
                            <td>¥11,000～</td>
                        </tr>
                        <tr>
                            <th>留袖着付<br><span class="small">変わり結び+¥1,100</span></th>
                            <td>¥7,700～</td>
                        </tr>
                        <tr>
                            <th>ゆかた着付<br><span class="small">変わり結び+¥1,100</span></th>
                            <td>¥3,300〜</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="nail">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Nail</h2>
                    </header>
                    <table>
                        <tr>
                            <th>クイックケアコース<br><span class="small">ファイリング＋キューティクルケア＋つや出し＋コラーゲンハンドパック</span></th>
                            <td>¥3,003</td>
                        </tr>
                        <tr>
                            <th>ジェルネイル（ハンド）<br><span class="small">アート代別途／アート込の定額デザイン（6,600円）もございます。</span></th>
                            <td>¥6,600〜</td>
                        </tr>
                        <tr>
                            <th>ジェルネイル（フット）<br><span class="small">アート代別途／アート込の定額デザイン（7,700円）もございます。</span></th>
                            <td>¥7,700〜</td>
                        </tr>
                        <tr>
                            <th>ジェルオフ</th>
                            <td>1本 ¥220</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section id="extra">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Extra</h2>
                    </header>
                    <table>
                        <tr>
                            <th>個室利用<br><span class="small">ARIA店のみ</span></th>
                            <td>30min ¥1,100</td>
                        </tr>
                    </table>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
