<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="menu default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    MENU </h1>
            </header>
            <section id="cut">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>CUT</h2>
                        <p>※ シャンプー・ブロー込</p>
                    </header>
                    <%
                        st_bag = @website.content_bags.where('content_bags.content_type=?', ContentBag::TYPE_PORTFOLIO).first
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Cut')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="color">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Color</h2>
                        <p>※ 記載メニュー以外にも、豊富なカラーメニューがございます。<br> ※カラーのみ施術の方にはシャンプー・ブロー料金が別途かかります。</p>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Color')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="perm">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Perm</h2>
                        <p>※ シャンプー・カット・ブロー込 ※M+ ¥550 / L+¥1,100 / トップスタイリスト+¥1,100</p>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Perm')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="hair-esthe">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Hair Esthe</h2>
                        <p>※ 記載メニュー以外にも、頭皮と髪の美しさを引き出す豊富なメニューがございます。各店舗にてご確認ください。<br>※ヘアエステのみ施術の方にはシャンプー・ブロー料金が別途かかります。
                        </p>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Hair Esthe')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="spa">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Spa</h2>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Spa')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="beauty-musts">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>The Beauty Musts</h2>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'The Beauty Musts')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="nail">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Nail</h2>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Nail')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>
            <section id="extra">
                <div class="container-ss">
                    <header class="sect-header">
                        <h2>Extra</h2>
                    </header>
                    <%
                        st_cat = (st_bag.blank?)? nil: @website.content_categories.find_by(parent_id: st_bag.content_category, title: 'Extra')
                        leaves = (st_cat.blank?)? []: st_cat.public_leafs.order(position: :asc)
                    %>
                    <table>
                        <% leaves.each do |leaf| %>
                            <tr>
                                <th><%= model_title(leaf) %></th>
                                <td><%= leaf.description_2 %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
