<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="news default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    NEWS </h1>
            </header>
            <section>
                <div class="container">
                    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/streams" %>
                </div>
            </section>
        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
