<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="news-single legrand">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    NEWS </h1>
            </header> <!--各店NEWS個別記事共通フォーマット-->
            <% leaf = @website.content_leafs.find_by(id: params[:leaf_id] ) %>
            <% unless leaf.blank? %>
                <section>
                    <div class="container-ss">
                        <header>
                            <h2><%= model_title(leaf) %></h2>
                            <time><%= leaf.publish_from.strftime('%Y.%m.%d') %></time>
                        </header>
                        <main>
                            <%= raw leaf.description %>
                        </main>
                        <% prev_leaf = leaf.prev_leaf(leaf) %>
                        <% next_leaf = leaf.next_leaf(leaf) %>
                        <footer>
                            <ul>
                                <% unless prev_leaf.blank? %>
                                    <li>
                                        <a href="<%= url_for(action: 'kick', name: 'news-single-legrand', leaf_id: prev_leaf.id, wkey: @website.wsite_hash_key) %>"><%= model_title(prev_leaf) %></a>
                                    </li>
                                <% end %>
                                <% unless next_leaf.blank? %>
                                    <li>
                                        <a href="<%= url_for(action: 'kick', name: 'news-single-legrand', leaf_id: next_leaf.id, wkey: @website.wsite_hash_key) %>"><%= model_title(next_leaf) %></a>
                                    </li>
                                <% end %>
                            </ul>
                        </footer>
                    </div>
                </section>
            <% end %>
        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
