<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="news default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    NEWS </h1>
            </header>
            <section>
                <div class="container">
                    <div class="post-list container-news-list">
                        <ul>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-aria.png" width="521" height="200"
                                            alt="レナーク　アリア">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        冬のキャンペーンのお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=aria_news-list.html">READ MORE</a>
                            </li>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-ist.png" width="521" height="200"
                                            alt="レナーク イスト">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        新商品のお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=ist_news-list.html">READ MORE</a>
                            </li>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-soin.png" width="521" height="200"
                                            alt="レナーク ソワン">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        受付時間の変更についてのお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=soin_news-list.html">READ MORE</a>
                            </li>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-legrand.png" width="521" height="200"
                                            alt="レナーク ルグラン">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        受付時間の変更についてのお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=legrand_news-list.html">READ MORE</a>
                            </li>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-with.png" width="521" height="200"
                                            alt="レナーク ウィズ">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        受付時間の変更についてのお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=with_news-list.html">READ MORE</a>
                            </li>
                            <li class="inview-fadeIn">
                                <div class="img-box">
                                    <figure>
                                        <img src="/assets/lenahc.co.jp.new/images/common/news-bnr-cofflet.png" width="521" height="200"
                                            alt="レナーク コフレ">
                                    </figure>
                                </div>
                                <div class="txt">
                                    <time>2023.10.16</time>
                                    <h3>
                                        受付時間の変更についてのお知らせ
                                    </h3>
                                </div>
                                <a href="./Psalon=coffret_news-list.html">READ MORE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
