<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="salon default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    SALON </h1>
            </header>
            <section>
                <div class="container-s">
                    <div class="salon-list">
                        <ul>

                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-aria.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-aria.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'aria_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-ist.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-ist.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'ist_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-soin.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-soin.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'soin_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-legrand.jpg" width="1200" height="670"
                                        alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-legrand.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'legrand_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-with.jpg" width="1200" height="670" alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-with.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'with_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>


                            <li class="inview-fadeIn">
                                <figure>
                                    <img src="/assets/lenahc.co.jp.new/images/top/sect-salon-coffret.jpg" width="1200" height="670"
                                        alt="サロンの店名">
                                </figure>
                                <div class="address-salon">
                                    <h3>
                                        <img src="/assets/lenahc.co.jp.new/images/common/logo-coffret.svg" height="38" alt="店名が入ります">
                                        店名が入ります <a href="https://www.instagram.com/" target="_blank">
                                            <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                                alt="店名が入ります インスタグラム">
                                        </a>
                                    </h3>
                                    <span>
                                        所在地が入ります。所在地が入ります。<br>
                                        営業時間：00:00 - 00:00<br>
                                        定休日：定休日が入ります </span>
                                    <a href="tel:0120000000">tel.0120-000-000</a>
                                </div>
                                <a class="readmore" href="<%= url_for(action: 'kick', name: 'coffret_salon-detail', wkey: @website.wsite_hash_key)%>">READ MORE</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
