<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="salon-detail soin">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <div class="container-slick-salon">
                <div class="slick-salon" class="ls-none">
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-soin-1.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-soin-2.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                </div>
            </div>
            <section>
                <div class="container-ss">
                    <div class="outline">
                        <p>仕事帰りに立ち寄れる人気のヘッドスパ…心地良い時間を過ごせる贅沢空間で癒しを堪能♪</p>
                        <p>ゆったり寛げて優雅に、私だけの特別な空間…と感じて頂けるように、そしてゲストが一番輝けるように…<br>
                            と作られた贅沢な空間にはこだわりが沢山詰まっています。</p>
                    </div>
                </div>
            </section>
            <section id="sect-staff">
                <div class="container">
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'SOIN').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section id="sect-map">
                <div class="container-address">
                    <address>
                        <div class="address-salon">
                            <h3>
                                <img src="/assets/lenahc.co.jp.new/images/common/logo-soin.svg" height="38" alt="SOIN">
                                SOIN <a href="https://www.instagram.com/lenahcsoin/?hl=ja" target="_blank">
                                    <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                        alt="SOIN インスタグラム">
                                </a>
                            </h3>
                            <span>
                                仙台市青葉区一番町 4-3-22 スマイルホテル仙台国分町 2F<br>
                                営業時間：10：00 - 19：00（18:30 カラー/パーマ）<br>
                                定休日：毎週月曜日 </span>
                            <a href="tel:0120-079-041">tel.0120-079-041</a>
                        </div>
                    </address>
                    <div class="container-map">


                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.6958325744376!2d140.8680947767484!3d38.26335997186641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a283ad88af08f%3A0xee3e45cd2cb5db73!2zTEVOQUhDIFNPSU7jgJDjg6zjg4rjg7zjgq_jgr3jg6_jg7PjgJE!5e0!3m2!1sja!2sjp!4v1706874193019!5m2!1sja!2sjp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>




                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
