<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="staff-detail default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    STAFF </h1>
            </header>
            <% leaf = @website.content_leafs.find_by(id: params[:leaf_id] ) %>
            <% unless leaf.blank? %>
                <section id="sect-profile">
                    <div class="container">
                        <div class="staff-detail-container">
                            <div class="photo staff-salon">
                                <% key_photo = (key_photo(leaf).blank?)? '/assets/lenahc.co.jp.new/images/staff/staff-default.jpg': key_photo(leaf).clip.url %>
                                <figure>
                                    <img src="<%= key_photo %>" alt="<%= model_title(leaf) %>">
                                </figure>
                            </div>
                            <% hash = (leaf.description_3.blank?)? Hash.new: JSON.parse(leaf.description_3) %>
                            <div class="txt">
                                <h2>
                                    <span class="staffNameJa"><%= model_title(leaf) %></span>
                                    <span class="staffNameEn"><%= hash['signature']%></span>
                                </h2>
                                <h3><%= hash['catch']%></h3>
                                <table>
                                    <tr>
                                        <th>職種</th>
                                        <td><%= hash['position']%></td>
                                    </tr>
                                    <tr>
                                        <th>出身地</th>
                                        <td><%= hash['born']%></td>
                                    </tr>
                                    <tr>
                                        <th>得意技術</th>
                                        <td><%= hash['speciality']%></td>
                                    </tr>
                                    <tr>
                                        <th>趣味・マイブーム</th>
                                        <td><%= hash['hobby']%></td>
                                    </tr>
                                    <tr>
                                        <th>自店について</th>
                                        <td><%= raw hash['aboutus'] %></td>
                                    </tr>
                                </table>
                                <div class="message">
                                    <h4>Message</h4>
                                    <p><%= raw hash['message'] %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btnsRsrv container">
                        <ul>
                            <% unless hash["url"].blank? %>
                                <li>
                                    <a class="btn-style-1" href="<%= hash["url"] %>">指名してWEB予約</a>
                                </li>
                            <% end %>
                            <% unless hash["telephone"].blank? %>
                                <li>
                                    <a class="btn-style-1" href="tel:<%= hash["telephone"] %>">Tel.<%= hash["telephone"] %></a>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </section>
            <% end %>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-aria-white.svg" alt="aria"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'ARIA').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-ist-white.svg" alt="ist"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'ist').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-soin-white.svg" alt="soin"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'SOIN').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-legrand-white.svg" alt="legrand"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Le grand').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-with-white.svg" alt="with"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'With').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-coffret-white.svg" alt="coffret"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Coffret').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
