<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="staff default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    STAFF </h1>
            </header>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-aria-white.svg" alt="aria"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'ARIA').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-ist-white.svg" alt="ist"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'ist').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-soin-white.svg" alt="soin"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'soin').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-legrand-white.svg" alt="legrand"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Le grand').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-with-white.svg" alt="with"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'With').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2><img src="/assets/lenahc.co.jp.new/images/common/logo-coffret-white.svg" alt="coffret"></h2>
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'Coffret').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
