<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="salon-detail with">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <div class="container-slick-salon">
                <div class="slick-salon" class="ls-none">
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-with-1.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                    <div><img src="/assets/lenahc.co.jp.new/images/salon/slide-with-2.jpg" alt="レナークイメージ" width="2412" height="594"></div>
                </div>
            </div>
            <section>
                <div class="container-ss">
                    <div class="outline">
                        <p>ビューティ・リラクゼーション</p>
                        <p>日常から少し離れて、ゆったりとした時間を過ごしてみませんか？<br>
                            丁寧なカウンセリングと技術、保育士を備えたキッズサロンなど、美しさを心おきなく楽しむための空間。</p>
                        <p>オンとオフの中間、プライベートな”3番目の場所”上質なリラックスとビューティをいつでも、ゆっくりと、お楽しみください。</p>
                    </div>
                </div>
            </section>
            <section id="sect-staff">
                <div class="container">
                    <div class="staff-salon">
                        <%
                            stream = @website.content_bags.where('content_type=? AND name = ?', ContentBag::TYPE_STREAM, 'With').first
                            staffs = (stream.blank?)? []: stream.content_category.public_leafs.order(publish_from: :desc)
                        %>
                        <%= render partial: "#{LayoutScheme.asset_root}/lenahc.co.jp.new/staff_cards", locals: {staffs: staffs} %>
                    </div>
                </div>
            </section>
            <section id="sect-map">
                <div class="container-address">
                    <address>
                        <div class="address-salon">
                            <h3>
                                <img src="/assets/lenahc.co.jp.new/images/common/logo-with.svg" height="38" alt="With">
                                With <a href="https://www.instagram.com/" target="_blank">
                                    <img src="/assets/lenahc.co.jp.new/images/common/icon-instagram.svg" width="21" height="21"
                                        alt="With インスタグラム">
                                </a>
                            </h3>
                            <span>
                                仙台市泉区上谷刈4-11-36Acs(アクス) 2F<br>
                                営業時間：10:00 - 19:00 （18:30 カラー/パーマ）<br>
                                定休日：毎週月曜日 </span>
                            <a href="tel:0120-979-698">tel.0120-979-698</a>
                        </div>
                    </address>
                    <div class="container-map">




                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.469078939728!2d140.86910629086077!3d38.314966999282646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f89812a7bb7feab%3A0x937f79c0f06059f0!2z44Os44OK44O844Kv44O744Km44Kj44K6KExFTkFIQyBXaXRoKQ!5e0!3m2!1sja!2sjp!4v1706874273931!5m2!1sja!2sjp"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>


                    </div>
                </div>
            </section>

        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
