<!DOCTYPE html>
<html lang="ja">

<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/header" %>

<body class="staff-detail default">
    <div id="body-cover"></div>
    <a id="page-top"></a>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/navigation" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/btn_menu" %>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/nav" %>
    <main id="page-main">
        <article id="pageArticle">
            <header id="pageTitle">
                <h1>
                    STAFF </h1>
            </header>
            <section id="sect-profile">
                <div class="container">
                    <div class="staff-detail-container">
                        <div class="photo staff-salon">
                            <figure>
                                <img src="./images/staff/yuta-ikeda.jpg" alt="yuta-ikeda">
                            </figure>
                        </div>
                        <div class="txt">
                            <h2>
                                <span class="staffNameJa">池田 祐太</span>
                                <span class="staffNameEn">Yuta Ikeda</span>
                            </h2>
                            <h3>カット・カラーが大好きです！あなたにぴったりなスタイルを一緒に探しましょう！</h3>
                            <table>
                                <tr>
                                    <th>職種</th>
                                    <td>カットの講師</td>
                                </tr>
                                <tr>
                                    <th>出身地</th>
                                    <td>秋田県</td>
                                </tr>
                                <tr>
                                    <th>得意技術</th>
                                    <td>カット+カラー+髪質改善</td>
                                </tr>
                                <tr>
                                    <th>趣味・マイブーム</th>
                                    <td>ドライブ・温泉巡り・サウナ</td>
                                </tr>
                                <tr>
                                    <th>自店について</th>
                                    <td>レナークアリア へぜひいらして下さい。<br>
                                        個性豊かなスタッフがご来店おお待ちいたしております。</td>
                                </tr>
                            </table>
                            <div class="message">
                                <h4>Message</h4>
                                <p>レナークアリアは一人ひとりの髪の悩みを解決、よりよくしていくサロンです。<br>
                                    皆様のご来店をお待ちしています。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnsRsrv container">
                    <ul>
                        <li>
                            <a class="btn-style-1" href="https://beauty.hotpepper.jp/">指名してWEB予約</a>
                        </li>
                        <li>
                            <a class="btn-style-1" href="tel:0120000000">Tel.0120-000-000</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-aria-white.svg" alt="aria"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--表示サンプル-->
                        <div class="staff-staff">
                            <img src="./images/staff/yuta-ikeda.jpg" width="600" height="600">
                            <dl>
                                <dt><span class="dept">レナーク</span><span class="position">カットの講師</span></dt>
                                <dd>池田 裕太</dd>
                            </dl>
                            <a href="./Pstaff=yuta-ikeda_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-ist-white.svg" alt="ist"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-soin-white.svg" alt="soin"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-legrand-white.svg" alt="legrand"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-with-white.svg" alt="with"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>
            <section>
                <div class="container-s">
                    <h2><img src="./images/common/logo-coffret-white.svg" alt="coffret"></h2>
                    <div class="staff-salon">
                        <!--サンプルとしてARIAの内容の一部を記載します-->
                        <!--ダミー用-->
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <div class="staff-staff">
                            <img src="./images/staff/staff-default.jpg" alt="staff-default">
                            <dl>
                                <dt><span class="dept">レナーク アリア</span><span class="position">カットの講師</span></dt>
                                <dd>池田 祐太</dd>
                            </dl>
                            <a href="./Pstaff=staff-default_staff-detail.html">&nbsp;</a>
                        </div>
                        <!--ダミー用ここまで-->
                    </div>
                </div>
            </section>


        </article>
    </main>
    <%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp.new/footer" %>
    <div id="gotop"><a href="#page-top"></a></div>
    <div id="body-cover"></div>
</body>

</html>
