<%
    widget_bag = VisualWidget.search_widget_bag_for(@website, "851ee4491e949b108b904fe913dfde3c")
    if widget_bag.blank?
        cmax = 1
    else
        cmax = widget_bag.data_string.to_i
    end
    if cmax < 0 || cmax > 32
        cmax = 1
    end
    if cmax != 0

        @max = cmax
        type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_GALLERY)
        navigation = type_root.web_page
        bag_categories = type_root.children.where('is_public=?', true)

        public_categories  = []
        bag_categories.each do | cat |
            public_categories.concat(cat.sons)
            public_categories << cat
        end
        latest_leafs = @website.public_leafs.where("content_category_id IN (?)", public_categories).order(publish_from: :desc).limit(@max)
        #c = ContentLeaf.public_leafs_condition
        #c.and "content_category_id", public_categories
        #latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<%      unless latest_leafs.blank? %>
                    <h1><%= link_to model_name(navigation), :action=>navigation.action_name, :id=>navigation.content_category.id %></h1>
                    <section id="streem_table">
                        <ul class="wrapper">
<%
            latest_leafs.each do | leaf |
                if true || request.host == 'sr2.swifty.jp'
                    page_url  = url_for(:action=>'gallery_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
                else
                    page_url  = url_for(:action=>'gallery_show', :id=>leaf)
                end
                key_photo = key_photo(leaf)
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.it/327x327/ffffff/cccccc&amp;text=No Photo'
                end
%>
                            <li class="col-1p2">
                                <div class="imgbox"><div style="background-image:url('<%= image_url %>')">
                                    <a href="<%= page_url %>"><img src="<%= image_url %>" alt=""></a>
                                </div></div>
                                <h1><a href="<%= page_url %>"><%= model_title(leaf) %></a></h1>
                            </li>
<%          end %>
                        </ul>
                    </section>
<%      end %>
<%
    end
%>
