<%= render :partial=>"layouts/tiny_mce", :locals=>{:target=>@item} if false %>

<div class="control-group">
	<%= text_field  'item', 'title', :class=>"input-block-level", :placeholder=>"項目のタイトルを入力します。", :autocomplete=>false%>
</div>
<div class="control-group">
	<%= text_area  'item', 'description', :class => "tinymce input-block-level", rows: 40, :placeholder=>"項目の本文を入力します。" %>
	<%= tinymce if false%>
	<script type="text/javascript">
		tinyMCE.init({
			selector: 'textarea.tinymce',
			theme_advanced_toolbar_location: "top",
			theme_advanced_statusbar_location: "bottom",
			theme_advanced_buttons3_add: ["tablecontrols"],
			plugins: "table,image,code,link,forecolor,backcolor,emoticons",
			<% unless @item.blank? %>
				<% unless @item.photos.blank? %>
				image_list: [ 
					<%= photo_array(@item.photos).html_safe %>
					],
				<% end %>
    		<% end %>
			relative_urls : false,
    		convert_urls: false,
			content_style: 'img { max-width: 100%; height: auto; }' ,
			resize: 'both',
			toolbar: ["undo redo | blocks | formatselect | fontselect | fontsizeselect | bold italic underline| forecolor backcolor | image emoticons | table | code link | outdent indent | alignleft aligncenter alignjustify  alignright"],
			language: 'ja'})
	</script>
</div>

<% 
	bag_roots = ContentCategory.type_root(@shop, ContentCategory::TYPE_GALLERY).children
%>
<% if bag_roots.size==1 %>
	<% @item.content_bag 		= bag_roots[0].content_bag %>
	<%= hidden_field 'item', 'content_bag_id' %>
<% else %>
	<div class="control-group">
		<label class="control-label" for="in_charge">ストリーム</label>
			<div class="controls">
				<%= collection_select(:item, :content_bag_id, bag_roots.map{ | s | [ s.content_bag.id, s.content_bag.name] }, :first, :last) %>
			</div>
	</div>
<% end %>

<div class="control-group">
	<label class="control-label" for="item[is_public]">公開設定</label>
	<div class="controls">
		<label class="radio inline">
			<input type="radio" id="item[is_public]" name="item[is_public]" value="1" <% if @item.is_public %>checked<% end %>>
			公開
		</label>
		<label class="radio inline">
			<input type="radio" id="item[is_public]" name="item[is_public]" value="0" <% if !@item.is_public %>checked<% end %>>
			非公開
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="item_alt_id">カテゴリー</label>
	<div class="controls">
		<%
		cat_options = Array.new
		cat_options << @item.content_category.category_path(true)[0]
		%>
	    <%= tree_select(cat_options, 'item', 'content_category_id', @item.content_category.id) %> 
	</div>
</div>

<% 
	@staffs = @shop.staffs.where("staffs.staff_status",'!=', Staff::STAFF_BLOCKED)
		options = @staffs.map{ | s | [ s.name, s.id] }
	options.unshift(["-- 指定なし --　", '']) 
%>
<div class="control-group">
	<label class="control-label" for="item_staff_id">スタッフ</label>
	<div class="controls">
		<%= collection_select(:item, :staff_id, options, :last, :first)%>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="item_telephone">公開開始日</label>
	<div class="controls controls-row">
		<input class="span2" type="date" id="datepicker_from", name="item[publish_from]", value="<%= @item.publish_from %>", placeholder="yyyy-mm-dd">
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="item_telephone">公開終了日</label>
	<div class="controls controls-row">
		<input class="span2" type="date" id="datepicker_until", name="item[publish_until]", value="<%= @item.publish_until %>", placeholder="yyyy-mm-dd">
	</div>
</div>
