<% if true || request.host == 'staffroom.swifty.jp' %>
        <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">HOME</a></li>
        <li><a href="/news_list?id=1518&wkey=<%= @website.wsite_hash_key %>">NEWS</a></li>
        <li><a href="/streams?id=1519&wkey=<%= @website.wsite_hash_key %>">BLOG</a></li>
        <li><a href="/fix?id=30159&wkey=<%= @website.wsite_hash_key %>">メソッド</a></li>
        <li><a href="/fix?id=30858&wkey=<%= @website.wsite_hash_key %>">ご挨拶・入校の流れ</a></li>
        <li><a href="/fix?id=30706&wkey=<%= @website.wsite_hash_key %>">スクール生特典</a></li>
        <li><a href="/fix?id=30160&wkey=<%= @website.wsite_hash_key %>">コース</a></li>
        <li><a href="/fix?id=7986&wkey=<%= @website.wsite_hash_key %>">ネイリスト優待生コース</a></li>
        <li><a href="/contact_us?wkey=<%= @website.wsite_hash_key %>">講 師</a></li>
        <li><a href="/fix?id=30161&wkey=<%= @website.wsite_hash_key %>">生徒さんの声</a></li>
<% else %>
        <li><a href="/home">HOME</a></li>
        <li><a href="/news_list?id=1518">NEWS</a></li>
        <li><a href="/streams?id=1519">BLOG</a></li>
        <li><a href="/fix?id=30159">メソッド</a></li>
        <li><a href="/fix?id=30858">ご挨拶・入校の流れ</a></li>
        <li><a href="/fix?id=30706">スクール生特典</a></li>
        <li><a href="/fix?id=30160">コース</a></li>
        <li><a href="/fix?id=7986">ネイリスト優待生コース</a></li>
        <li><a href="/fix?id=26417">コース診断</a></li>
        <li><a href="/contact_us">講 師</a></li>
        <li><a href="/fix?id=30161">生徒さんの声</a></li>
<% end %>
        <li>
                <% if @website.enable_inquiry %>
                <%= link_to "お問い合わせ".html_safe, inquiry_new_path %>
                <% end %>
        </li>
<% if @author_mode %>
    <% unless @website.wsite_layout_deploy.is_public.blank? %>
        <li><a href="<%= url_for(:action=>'list_layout_schemes') %>">デザイン</a></li>
        <li><a href="<%= url_for(:action=>'list_color_schemes') %>">カラー</a></li>
    <% end %>
        <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
        <% if current_user.is_fuga_3? %>
            <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
        <% else %>
            <li><a href="<%= url_for(:controller=>'admin_config', :action=>'shop_show_website')%>"><i class="icon-off"></i>&nbsp;サイト編集終了</a></li>
        <% end %>
<% end %>
