<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% hptitle = VisualWidget.search_widget_bag_for(@website, "08e5b2950308fe8ffee496978e72ebf4") %>
<% if hptitle.blank? || !hptitle.is_valid? %>
<title><%= @website.name %></title>
<% else %>
<title><%= hptitle.data_string %></title>
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta name="description"              content="<%= @website.wsite_description_shop %>">
<% end %>
<% unless @website.wsite_keywords.blank? %>
<meta name="keywords"                 content="<%= @website.wsite_keywords %>">
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>
<% fbappid = VisualWidget.search_widget_bag_for(@website, "d5e14b6504c9cb57c6a50c4d037ed2ca") %>
<% unless fbappid.blank? || fbappid.data_string.blank? %>
<meta property="fb:app_id"            content="<%= fbappid.data_string %>">
<% end %>
<meta property="og:type"              content="website">
<% if false %>
    <% if true || request.host == 'staffroom.swifty.jp' %>
    <meta property="og:url"               content="https://<%= request.host %>/home?wkey=<%= @website.wsite_hash_key %>">
    <% else %>
    <meta property="og:url"               content="https://<%= request.host %>/home">
    <% end %>
<% end %>
<meta property="og:title"             content="<%= @website.name %>">
<% og_img = VisualWidget.search_widget_bag_for(@website, "39066e3d4d9e54327f9426648c76d139") %>
<% if !og_img.blank? && og_img.is_valid? %>
<meta property="og:image"             content="<%= og_img.photos[0].clip.url() %>">
<% end %>
<% unless @website.wsite_description_shop.blank? %>
<meta property="og:description"       content="<%= @website.wsite_description_shop %>">
<% end %>
<meta property="og:site_name"         content="<%= @website.name %>">
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% end %>
<!-- Twitter card も入れる？ -->
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/assets/sae/style.css">
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav">
    <ul class="scrooler">
        <li>- MENU</li>
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/navigation" %>
    </ul>
</aside>
<!-- 主ウインドウ -->
<div id="body">
    <div class="scrooler">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/header" %>
<!-- グローバルナビゲーション -->
        <nav id="gnav">
            <div class="container">
                <ul id="gnav_main">
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/navigation" %>
                </ul>
            </div>
        </nav>
<!-- パンくずリスト -->
<!-- カルーセル -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/corousel" %>
<!-- メインコンテナ -->
        <div id="main_wrap" class="home">
            <div class="container">
<!-- 主エリア -->
                <main id="main">
<!-- 最新のNews -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/news_list" %>
<!-- 最新のBLOG -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/blog_list" %>
<!-- 最新のStyle -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/gallery_list" %>
                </main>
<!-- サイドエリア -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/sidebar" %>
            </div>
        </div>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/sae/carousel.js"></script>
<!-- social net javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/social_js" %>
<!-- google maps javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/sae/gmaps_js" %>
</body>
</html>
