<div class="thumbnail">
<% latests = temp_local.public_leafs %>
	<% unless latests.blank? %>
	<% key_photo = key_photo(latests[0]) %>
	<% unless key_photo.blank? %>
		<%= image_tag key_photo.clip.url(:panel) %>
		<%= image_tag(url_for_file_column(key_photo, :image, 'panel')) if false%>
	<% else %>
		<img src="http://placehold.it/800x500&amp;text=<%=latests[0].publish_from.strftime('%Y-%m-%d')%>">
	<% end %>
<% else %>
		<img src="http://placehold.it/800x500&amp;text=No Article">
<% end %>
<div class="caption">
  <h3><%= truncate(model_name(temp_local), :length=>50) %></h3>
  <% unless temp_local.description.blank? %><p><%= h temp_local.description %></p><% end %>
  <p><a href="<%= url_for(:action=>'stream_list', :id=>temp_local, :wkey=>@website.wsite_hash_key) %>" class="btn btn-primary">Read</a></p>
</div>
</div>
