<% link_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key) %>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="thumbnail">
            <% key_photo = key_photo(@leaf) %>
            <% unless key_photo.blank? %>
		        <%= image_tag key_photo.clip.url(:panel), :class=>"img-responsive" %>
	            <%= image_tag key_photo.clip.url(:panel), :class=>"img-responsive") if false%>
            <% else %>
    	        <a href="#"><img class="img-responsive" src="http://placehold.it/700x300&amp;text=<%=@leaf.publish_from.strftime('%Y-%m-%d')%>"></a>
			<% end %>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <h3><a href="<%= link_url %>"><%= h model_title(@leaf) %></a></h3>
        <h4><% unless @leaf.staff.blank?  || @leaf.staff.staff_status==Staff::STAFF_BLOCKED %>
            <p class="lead">
                by <%= h model_name(@leaf.staff) %>
            </p>
            <% end %>
        </h4>
        <p>
            <i class="icon-time"></i>&nbsp;<%= publish_label(@leaf) %>
        </p>
        <p>
        	<% unless @leaf.description_3.blank? %>
 	           <%= h @leaf.description_3 %>
        	<% else %>
 	           <%= h truncate(strip_tags(@leaf.description).gsub('&nbsp;', ' '), :length=>50) %>
           <% end %>
        </p>
        <a class="btn btn-primary" href="<%= link_url %>">Read More <i class="icon-angle-right"></i></a>
    </div>
</div>
<hr>
