<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="<%= url_for(:action=>'index', 												:wkey=>@website.wsite_hash_key) %>"><i class="icon-home"></i></a></li>
		  <% unless @seed.my_type_root_category.has_only_a_public_bag? %>
	          <li><a href="<%= url_for(:action=>'stream_index', :id=>@seed.my_type_root_category,	:wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
		  <% end %>
		  <% @seed.category_path.each do | category | %>
			  <li><%= link_to category.category_label, :action=>"stream_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
		  <% end %>
		  <li class="active"><%=model_name(@seed) %></li>
        </ol>

        <h1 class="page-header">
        	<%=model_name(@seed.my_bag_root_category.content_bag) %>
            <small>
                <%=h @seed.my_bag_root_category.content_bag.description %>
            </small>
        </h1>

		<% if false %>
			<% unless @seed.content_leafs.blank? %>
				<% @bag_roots = [@seed.my_bag_root_category] %>
				<% unless @bag_roots.blank? %>
					<div class="text-right">
						<%= form_tag({:action=>"news_list", :id=>nil}, :class=>"form-horizontal")  do %>
							<%= hidden_field_tag 'wkey', @website.wsite_hash_key %>
							<div class="controls">
							<label class="control-label" for="wsite_keywords">カテゴリー : </label>
						    <%= tree_select_tag(@bag_roots, 'id', (@seed.blank?)? "": @seed.id)   %>
							<button type="submit" class="btn btn-mini"><i class="icon-ok"></i>&nbsp;&nbsp;選択</button>
							</div>
						<%end%>
					</div>
				<%end%>
			<% end %>
		<% end %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%
		    sons = @seed.sons
		    sons << @seed
		    items = ContentLeaf.public_leafs
		    items = items.where("content_leafs.content_category_id IN (?)", sons).order(position: :desc)
		    @leafs = items.paginate(:page => params[:page], :per_page=>PER_PAGE)
		%>

		<% @leafs.each do | leaf | @leaf = leaf%>
			<%= render :partial=>'bs_renderer/item_news_list' %>
		<% end %>

        <div class="row text-center">
            <div class="col-lg-12">
		        <div class="pagination">
					<%= will_paginate(@leafs, :params=> {:action=>'news_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, :renderer => BootstrapPagination::Rails, :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
				</div>
			</div>
		</div>
    </div>
</div>
