<%
    widget_bag = VisualWidget.search_widget_bag_for(@website, "e82674690dcd1f64c60a193a8b454345")
    if widget_bag.blank? || !widget_bag.is_valid?
        cmax = 1
    else
        cmax = widget_bag.data_string.to_i
    end
    if cmax < 0 || cmax > 32
        cmax = 1
    end
    if cmax != 0

        @max = cmax
        type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_STREAM)
        navigation = type_root.web_page
        bag_categories = type_root.children.find(:all, :conditions=>["is_public=?", true])

        public_categories  = []
        bag_categories.each do | cat |
            public_categories.concat(cat.sons)
            public_categories << cat
        end
        c = ContentLeaf.public_leafs_condition
        c.and "content_category_id", public_categories
        latest_leafs =  @website.content_leafs.find(:all, :limit=>@max, :conditions=>c.where, :order=>'publish_from desc')
%>
<%      unless latest_leafs.blank? %>
<aside id="home_blogList">
    <div class="container">
https://sr2.swifty.jp/streams?id=161&wkey=439c5977a6ea6e40dd38b2f518797b9d        <h1>
<%          if request.host == 'sr2.swifty.jp' %>
            <a href="/streams?id=161&wkey=<%= @website.wsite_hash_key %>">
<%          else %>
            <a href="/streams?id=161">
<%          end %>
                <div>スタッフブログ</div>STAFF BLOG
            </a>
        </h1>
        <ul class="nonStyle">
<%
            latest_leafs.each do | leaf |
                if request.host == 'sr2.swifty.jp'
                    page_url  = url_for(:action=>'stream_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
                else
                    page_url  = url_for(:action=>'stream_show', :id=>leaf)
                end
                publish   = leaf.publish_from.strftime("%Y-%m-%d")
                key_photo = key_photo(leaf)
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.jp/ffffff/cccccc/392x392.jpg?text='+publish
                end
%>
            <li class="wrapper">
                <div class="col-1p3">
                    <div class="imgbox">
                        <div style="background-image:url('<%= image_url %>')">
                            <a href="<%= page_url %>">
                                <span class="more">More <i class="fas fa-arrow-alt-circle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2p3">
                    <h2><a href="<%= page_url %>"><%= model_title(leaf) %></a></h1>
                    <p class="publish">
<% unless leaf.staff.blank? || leaf.staff.staff_status==Staff::STAFF_BLOCKED %>
    <% if request.host == 'sr2.swifty.jp' %>
                        <a href="<%=url_for(:action=>'staff', :id=>leaf.staff, :wkey=>@website.wsite_hash_key) %>"><i class="fas fa-user-edit"></i> <%= h model_name(leaf.staff) %></a>
    <% else %>
                        <a href="<%=url_for(:action=>'staff', :id=>leaf.staff) %>"><i class="fas fa-user-edit"></i> <%= h model_name(leaf.staff) %></a>
    <% end %>
<% end %>
                        <i class="far fa-calendar-alt"></i> <time><%= publish %></time>
                    </p>
                    <p>
                        <%= raw truncate(strip_tags(leaf.description), :length=>200) %>
                    </p>
                    <div class="text-center">
                        <a href="<%= page_url %>">
                            <span class="more">More <i class="fas fa-arrow-alt-circle-right"></i></span>
                        </a>
                    </div>
                </div>
            </li>
<%          end %>
        </ul>
    </div>
</aside>
<%      end %>
<%  end %>
