<aside id="carousel">
    <div id="carouselBox">
        <ul id="carouselUl" class="nonStyle">
            <li>
                <div class="carouselBox">
                    <div style="background-image: url('/images/assets/enchant-hair.com/carousel/carousel03.jpg');">
<% if true || request.host == 'sr2.swifty.jp' %>
                        <a href="/fix?id=5505&wkey=<%= @website.wsite_hash_key %>#holistic">
<% else %>
                        <a href="/fix?id=5505#holistic">
<% end %>
                            <div class="carouselText">
                                <h1>Holistic Beauty</h1>
                                <p>
                                    『美しい人生』を送ること、美容を通して外見、内面、心面の<br>
                                    バランスを整える美容生活です。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="carouselBox">
                    <div style="background-image: url('/images/assets/enchant-hair.com/carousel/carousel04.jpg');">
<% if true || request.host == 'sr2.swifty.jp' %>
                        <a href="/fix?id=5506&wkey=<%= @website.wsite_hash_key %>#hairEsthe">
<% else %>
                        <a href="/fix?id=5506#hairEsthe">
<% end %>
                            <div class="carouselText">
                                <h1>Hair Esthe</h1>
                                <p>
                                    エイジングケアは予防美容。 <br>傷んだ髪の修復から、傷まない髪へ。<br>
                                    そして「修復」から「予防」へ !
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="carouselBox">
                    <div style="background-image: url('/images/assets/enchant-hair.com/carousel/carousel05.jpg');">
<% if true || request.host == 'sr2.swifty.jp' %>
                        <a href="/fix?id=5506&wkey=<%= @website.wsite_hash_key %>#nail">
<% else %>
                        <a href="/fix?id=5506#nail">
<% end %>
                            <div class="carouselText">
                                <h1>Nail</h1>
                                <p>
                                    爪先も健康で安心安全、高品質な材料と器具を使用し、<br>
                                    ストレスフリーなネイルライフをご提案します。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="carouselBox">
                    <div style="background-image: url('/images/assets/enchant-hair.com/carousel/carousel06.jpg');">
<% if true || request.host == 'sr2.swifty.jp' %>
                        <a href="/fix?id=5506&wkey=<%= @website.wsite_hash_key %>#wellness">
<% else %>
                        <a href="/fix?id=5506#wellness">
<% end %>
                            <div class="carouselText">
                                <h1>Wellness</h1>
                                <p>
                                    肌 体 心 の疲れを取り除き、<br>
                                    内側からエネルギーを作り出すします。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="carouselBox">
                    <div style="background-image: url('/images/assets/enchant-hair.com/carousel/carousel07.jpg');">
<% if true || request.host == 'sr2.swifty.jp' %>
                        <a href="/fix?id=5506&wkey=<%= @website.wsite_hash_key %>#eyelash">
<% else %>
                        <a href="/fix?id=5506#eyelash">
<% end %>
                            <div class="carouselText">
                                <h1>Eyelash</h1>
                                <p>
                                    安心安全... お客様の満足と安全を第一に考えます。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="carousel_pos">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</aside>
