<%  reserve = VisualWidget.search_widget_bag_for(@website, "5d8f71b16f892ef6e5cfa900650ba5d8") %>
<header id="header" class="show">
    <div class="container">
        <div id="bland">
            <div id="logo">
<%  if request.host == 'sr2.swifty.jp' %>
                <a href="/home?wkey=<%= @website.wsite_hash_key %>">
<%  else %>
                <a href="/home">
<%  end %>
                    <img src="/images/assets/enchant-hair.com/logo280w.png" alt="アンシャンテ ロゴ">
                </a>
            </div>
            <div id="mNavOpener">
                <div id="mNavOpenButton">
                    <i class="fas fa-bars"></i>
                </div>
                <div id="mNavOpenText">MENU</div>
            </div>
            <div id="contactLinks">
<%  unless @website.wsite_telephone.blank? %>
                <a href="tel:<%= @website.wsite_telephone %>">
                    <div><i class="fas fa-phone"></i></div>
                    <div><%= @website.wsite_telephone %></div>
                </a>
<%  end %>
<%  if !reserve.blank? && reserve.is_valid? %>
<!--
                <a href="<%= raw reserve.data_string %>" target="_blank">
                    <div><i class="far fa-comment"></i></div>
                    <div>ご予約</div>
                </a>
-->
<%  end %>
            </div>
        </div>
        <nav id="gNav">
            <ul class="nonStyle">
<%  if request.host == 'sr2.swifty.jp' %>
                <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">HOME<div>ホーム</div></a></li>
<!--
                <li><a href="/news_list?id=160&wkey=<%= @website.wsite_hash_key %>">INFO<div>お知らせ</div></a></li>
-->
                <li><a href="/fix?id=5505&wkey=<%= @website.wsite_hash_key %>">SALON<div>サロン</div></a></li>
                <li><a href="/fix?id=5506&wkey=<%= @website.wsite_hash_key %>">BEAUTY<div>ビューティー</div></a></li>
<!--
                <li><a href="/collcetions?id=162&wkey=<%= @website.wsite_hash_key %>">STYLE<div>スタイル</div></a></li>
-->
                <li><a href="/contact_us?wkey=<%= @website.wsite_hash_key %>">STAFF<div>スタッフ</div></a></li>
                <li><a href="/menu_list?id=163&wkey=<%= @website.wsite_hash_key %>">PRICE<div>料金表</div></a></li>
                <li><a href="/fix?id=5612&wkey=<%= @website.wsite_hash_key %>">ANNIVERSARY<div>記念日</div></a></li>
<!--
                <li><a href="/streams?id=161&wkey=<%= @website.wsite_hash_key %>">BLOG<div>ブログ</div></a></li>
-->
                <li><a href="/fix?id=4017&wkey=<%= @website.wsite_hash_key %>">RECRUIT<div>求人案内</div></a></li>
                <li>
                    <% if @website.enable_inquiry %>
                        <%= link_to "お問い合わせ".html_safe, inquiry_new_path %>
                    <% end %>
                </li>
<%      if @author_mode %>
                <li><a href="<%= url_for(:action=>'list_layout_schemes') %>">デザイン</a></li>
                <li><a href="<%= url_for(:action=>'manage_widget')%>">表示設定</a></li>
                <li><a href="<%= url_for(:controller=>'bs_config', :action=>'shop_show_website')%>">サイト編集終了</a></li>
<%      end %>
<%  else %>
                <li><a href="/home">HOME<div>ホーム</div></a></li>
<!--
                <li><a href="/news_list?id=160">INFO<div>お知らせ</div></a></li>
-->
                <li><a href="/fix?id=5505">SALON<div>サロン</div></a></li>
                <li><a href="/fix?id=5506">BEAUTY<div>ビューティー</div></a></li>
<!--
                <li><a href="/collcetions?id=162">STYLE<div>スタイル</div></a></li>
-->
                <li><a href="/contact_us">STAFF<div>スタッフ</div></a></li>
                <li><a href="/menu_list?id=163">PRICE<div>料金表</div></a></li>
                <li><a href="/fix?id=5612">ANNIVERSARY<div>記念日</div></a></li>
<!--
                <li><a href="/streams?id=161">BLOG<div>ブログ</div></a></li>
-->
                <li><a href="/fix?id=4017">RECRUIT<div>求人案内</div></a></li>
<%  end %>
            </ul>
        </nav>
    </div>
</header>
