        <footer id="footer">
            <div class="container">
                <div id="sns_links">
<% unless @website.wsite_telephone.blank? %>
                    <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square"></i></a>
<% end %>
<% unless @website.wsite_email.blank? %>
                    <a href="/mail-form/index.php"><i class="fa fa-envelope"></i></a>
<% end %>
<% unless @website.social_facebook_uri.blank? %>
                    <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
<% end %>
<% unless @website.social_twitter_uri.blank? %>
                    <a href="<%= @website.social_twitter_uri %>" target="_blank"><i class="fa fa-twitter-square"></i></a>
<% end %>
<% unless @website.social_gplus_uri.blank? %>
                    <a href="<%= @website.social_gplus_uri %>" target="_blank"><i class="fa fa-google-plus-square"></i></a>
<% end %>
<% unless @website.social_instagram_uri.blank? %>
                    <a href="<%= @website.social_instagram_uri %>" target="_blank"><i class="fa fa-instagram"></i></a>
<% end %>
<% unless @website.social_line_uri.blank? %>
                    <a href="<%= @website.social_line_uri %>" target="_blank"><img src="/images/assets/line_icon.png" alt="LINE" /></a>
<% end %>
<% unless @website.social_pinterest_uri.blank? %>
                    <a href="<%= @website.social_pinterest_uri %>" target="_blank"><i class="fa fa-pinterest-square"></i></a>
<% end %>
<% unless @website.social_tumblr_uri.blank? %>
                    <a href="<%= @website.social_tumblr_uri %>" target="_blank"><i class="fa fa-tumblr-square"></i></a>
<% end %>
                    <%= hotpepper_shop_banner(@website, false, 'vertical-align: top; padding-top: 1px;') %>
                <%= youtube_shop_banner(@website, false) %>
                    <a id="staffs" href="/contact_us"><i class="fa fa-user-circle"></i> STAFF</a>
                </div>
                <div id="addr"><strong>一般社団法人 BKC</strong> 東京都港区芝3丁目3-12 2階 TEL. 03-6699-9127</div>
                <div id="copy"><small><%= copyright_notice(@website) %></small></div>
            </div>
        </footer>
