<% logo = VisualWidget.search_widget_bag_for(@website, "2f4d584a991c23e38f292aa2ba5aefbf") %>
        <header id="header">
            <div class="container">
<!-- ロゴマーク -->
                <div id="header_img">
<% if logo.blank? || !logo.is_valid? %>
    <% if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% else %>
                    <a href="/home" id="brand"><img src="//placehold.jp/240x120.jpg" alt="logo mark"></a>
    <% end %>
<% else %>
    <% if request.host == 'sr2.swifty.jp' %>
                    <a href="/home?wkey=<%= @website.wsite_hash_key %>" id="brand"><img src="<%= logo.photos[0].clip.url() %>" alt="logo"></a>
    <% else %>
                    <a href="/home" id="brand"><img src="<%= logo.photos[0].clip.url() %>" alt="logo"></a>
    <% end %>
<% end %>
                </div>
<!-- グローバルナビゲーション -->
                <nav id="gnav">
                    <ul id="gnav_main" class="clear_fix">
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/navigation" %>
                    </ul>
                </nav>
<!-- sns icon -->
                <div id="header_sns">
<% unless @website.wsite_telephone.blank? %>
                    <a href="tel:<%= @website.wsite_telephone %>"><i class="fa fa-phone-square"></i></a>
<% end %>
<% unless @website.wsite_email.blank? %>
                    <a href="/mail-form/index.php"><i class="fa fa-envelope"></i></a>
<% end %>
<% unless @website.social_facebook_uri.blank? %>
                    <a href="<%= @website.social_facebook_uri %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
<% end %>
                    <span id="tnav_open_btn"><i class="fa fa-bars"></i></span>
                </div>
            </div>
        </header>
