<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<meta name="author"                   content="<%= model_name(@website.company) %>">
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= url_for_file_column(@favicon, :image) %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= url_for_file_column(@webclip, :image) %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/vendor/sanitize-5.0.0.css">
<link rel="stylesheet" href="/stylesheets/assets/bkc.tokyo/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/style" %>
</head>
<body>
<!-- 主ウインドウ -->
<main id="main" class="scroollwrap">
    <div class="scrooller">
<!-- サイトヘッダー -->
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/header" %>
        <article>
            <div class="container">
                <h1 class="none-margin-bottom"><%= model_title(@seed) %></h1>
                <section id="streem_table">
                    <ul class="wrapper">
<%
    @public_bag =  @seed.public_bags
    unless @public_bag.blank?
        @public_bag.each do | leaf |
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = url_for_file_column(key_photo, :image, 'panel')
            else
                image_url = '//placehold.jp/ffffff/cccccc/326x326.jpg?text=No Photo'
            end
            if request.host == 'sr2.swifty.jp'
                gallery_url = url_for(:action=>'gallery_list', :id=>leaf, :wkey=>@website.wsite_hash_key)
            else
                gallery_url = url_for(:action=>'gallery_list', :id=>leaf)
            end
%>
                        <li class="col-1p3">
                            <div>
                                <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                                    <a href="<%= gallery_url %>"><img src="<%= image_url %>"></a>
                                </div></div>
                                <h1 class="none-margin-top">
                                    <a href="<%= gallery_url %>"><%= model_name(leaf) %></a>
                                </h1>
                            </div>
                        </li>
<%      end %>
<%  end %>
                    </ul>
                </section>
            </div>
        </article>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/footer" %>
    </div>
</main>
<!-- タッチデバイス用ナビゲーション -->
<aside id="tnav" class="scroollwrap">
    <ul class="scrooller">
        <li>
            <i class="fa fa-times" aria-hidden="true"></i> 閉じる
        </li>
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/navigation" %>
    </ul>
</aside>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/bkc.tokyo/common_js" %>
<!-- page specific javascript -->
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
