<%
    type_root = ContentCategory.type_root(@website, ContentCategory::TYPE_NEWS)
    navigation = type_root.web_page
    bag_categories = type_root.children.where("is_public=?", true) #type_root.children.find(:all, :conditions=>["is_public=?", true])
    today = Date.today.strftime("%Y-%m-%d")
    latest_leafs = []
    bag_categories.each do | cat |
        con = ["is_public = ? AND ((publish_from IS NULL AND publish_until IS NULL) OR (publish_from <= ? AND publish_until IS NULL) OR (publish_from <= ? AND publish_until >= ?)) AND content_category_id = ?",true,today,today,today,cat.id]
        latest_leafs <<  @website.content_leafs.find(:first, :conditions=>con, :order=>'position desc')
    end
    unless latest_leafs.blank?
%>
<aside id="infolist02">
    <div class="container">
        <h1><%= link_to model_name(navigation), :action=>navigation.action_name, :id=>navigation.content_category.id %></h1>
        <ul class="infolist02">
<%
        latest_leafs.each do | leaf |
            if request.host == 'sr2.swifty.jp'
                page_url  = url_for(:action=>'news_show', :id=>leaf, :wkey=>@website.wsite_hash_key)
            else
                page_url  = url_for(:action=>'news_show', :id=>leaf)
            end
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.jp/352x264.png?text='+publish
            end
%>
            <li>
                <div class="infolist02logo">
<%          if leaf.content_category_id == 3731 %>
                    <img src="/assets/lenahc.co.jp/img/logo_ist_b.png" alt="ist">
<%          elsif leaf.content_category_id == 3732 %>
                    <img src="/assets/lenahc.co.jp/img/logo_soin_b.png" alt="SOIN">
<%          elsif leaf.content_category_id == 3733 %>
                    <img src="/assets/lenahc.co.jp/img/logo_vivian_b.png" alt="Vivian">
<%          elsif leaf.content_category_id == 3734 %>
                    <img src="/assets/lenahc.co.jp/img/logo_legrand_b.png" alt="Le grand">
<%          elsif leaf.content_category_id == 3735 %>
                    <img src="/assets/lenahc.co.jp/img/logo_with_b.png" alt="With">
<%          elsif leaf.content_category_id == 3736 %>
                    <img src="/assets/lenahc.co.jp/img/logo_coffret_b.png" alt="Coffret">
<%          elsif leaf.content_category_id == 3737 %>
                    <img src="/assets/lenahc.co.jp/img/logo_rental_b.png" alt="RENTAL COLLECTION">
<%          else %>
                    <img src="/assets/lenahc.co.jp/img/logo_aria_b.png" alt="ARIA">
<%          end %>
                </div>
<!--
                <div class="imgbox">
                    <div>
                        <a href="<%= page_url %>">
                            <img src="<%= image_url %>" alt="<%= model_title(leaf) %>">
                        </a>
                    </div>
                </div>
-->
                <div class="infolist02date"><%= publish %></div>
                <h2><%= model_title(leaf) %></h2>
            </li>
<%      end %>
		</ul>
	</div>
</aside>
<%  end %>
