<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host == 'sr2.swifty.jp' %>
<meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/style" %>
</head>
<body id="gallery_list">
<div id="top">
</div>
<aside id="breadcrumb">
    <div class="container">
        <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">HOME</a></li>
<% else %>
            <li><a href="/home">HOME</a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% else %>
            <li><a href="<%= url_for(:action=>'gallery_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% end %>
<% end %>
<% @seed.category_path.each do | category | %>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'gallery_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
<% else %>
            <li><a href="<%= url_for(:action=>'gallery_list', :id=>category) %>"><%= category.category_label %></a></li>
<% end %>
<% end %>
            <li><%= model_name(@seed) %></li>
        </ol>
    </div>
</aside>
<article>
    <div class="container">
        <h1><%= model_name(@seed) %></h1>
        <ul class="infolist">
<%
    sons = @seed.sons
    sons << @seed
    @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)", sons).order(position: :asc).paginate(:page => params[:page], :per_page=>PER_PAGE)
    #c = ContentLeaf.public_leafs
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'position')
    @leafs.each do | leaf |
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.jp/352x264.png?text=No Photo'
            end
            if true || request.host == 'sr2.swifty.jp'
                gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                gallery_url = url_for(:action=>'gallery_show', :id=>leaf, :page=>@page)
            end
%>
            <li>
                <div class="imgbox">
                    <div>
                        <a href="<%= gallery_url %>">
                            <img src="<%= image_url %>" alt="<%= model_title(leaf) %>">
                        </a>
                    </div>
                </div>
                <h2><%= model_title(leaf) %></h2>
            </li>
<%  end %>
        </ul>
    </div>
</article>
<aside class="text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
    <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, class: 'pagination', :previous_label=>'＜', :next_label=>'＞') %>
<% else %>
    <%= will_paginate(@leafs, :params=> {:action=>'gallery_list', :id=>@seed, :page=>@page }, class: 'pagination', :previous_label=>'＜', :next_label=>'＞') %>
<% end %>
</aside>
<!-- salon list -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/salon_list" %>
<!-- footer -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/footer" %>
<!-- header -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/header" %>
<!-- nav -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/navigation" %>
<!-- reserve -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/reserve" %>
<!-- script -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/common_js" %>
</body>
</html>
