<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="author"                   content="<%= model_name(@website.company) %>">

<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>

<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/style" %>
</head>
<body id="portfolio_index">
<div id="top">
</div>
<aside id="breadcrumb">
    <div class="container">
        <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">HOME</a></li>
<% else %>
            <li><a href="/home">HOME</a></li>
<% end %>
            <li><%= model_title(@seed) %></li>
        </ol>
    </div>
</aside>
<article>
    <div class="container">
        <h1><%= model_title(@seed) %></h1>
        <ul class="infolist">
<%
    @public_bag =  @seed.public_bags
    unless @public_bag.blank?
        @public_bag.each do | bag |
            unless bag.blank?
                key_photo = bag.photos.first
                unless key_photo.blank?
                    image_url = key_photo.clip.url(:panel)
                else
                    image_url = '//placehold.jp/327x327.png?text=No Photo'
                end
                if true || request.host == 'sr2.swifty.jp'
                    content_url = url_for(:action=>'portfolio_list', :id=>bag, :wkey=>@website.wsite_hash_key)
                else
                    content_url = url_for(:action=>'portfolio_list', :id=>bag)
                end
%>
            <li>
                <a href="<%= content_url %>">
                    <img src="<%= image_url %>" alt="<%= truncate(model_name(bag)) %>">
                </a>
                <h2><%= truncate(model_name(bag)) %></h2>
            </li>
<%          end %>
<%      end %>
<%  end %>
        </ul>
    </div>
</article>
<!-- salon list -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/salon_list" %>
<!-- footer -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/footer" %>
<!-- header -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/header" %>
<!-- nav -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/navigation" %>
<!-- reserve -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/reserve" %>
<!-- script -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/common_js" %>
</body>
</html>
