<!doctype html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<title><%= model_title(@seed) %> - <%= @website.name %></title>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">

<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>

<meta property="og:type"              content="article">

<% if false %>
    <meta property="og:url"               content="https://<%= request.host + url_for(:action=>'stream_show', :id=>@seed) %>">
<% end %>

<meta property="og:title"             content="<%= model_title(@seed) %> - <%= @website.name %>">
<meta property="og:site_name"         content="<%= @website.name %>">
<% key_photo = key_photo(@seed) %>
<% unless key_photo.blank? %>
<meta property="og:image"             content="https://<%= request.host + key_photo.clip.url() %>">
<% end %>
<% unless @website.social_facebook_uri.blank? %>
<meta property="article:publisher"    content="<%= @website.social_facebook_uri %>">
<% else %>
<meta property="article:publisher"    content="<%= model_name(@website.company) %>">
<% end %>
<% unless @website.custom_metas.blank? %>
<%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%= auto_discovery_link_tag :rss, "/stream_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/style" %>
</head>
<body id="stream_show">
<div id="top">
</div>
<aside id="breadcrumb">
    <div class="container">
        <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>">HOME</a></li>
<% else %>
            <li><a href="/home">HOME</a></li>
<% end %>
<% unless @seed.content_category.has_only_a_public_bag? %>
<%      if true || request.host == 'sr2.swifty.jp' %>
            <li><a href="<%= url_for(:action=>'stream_index', :id=>@seed.content_category.my_bag_root_category.parent, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      else %>
            <li><a href="<%= url_for(:action=>'stream_index', :id=>@seed.content_category.my_bag_root_category.parent) %>"><%= model_title(@seed.content_category.my_bag_root_category.parent) %></a></li>
<%      end %>
<% end %>
<% @seed.content_category.category_path(true).each do | category | %>
<%      if true || request.host == 'sr2.swifty.jp' %>
            <li><%= link_to category.category_label, :action=>"stream_list", :id=>category, :wkey=>@website.wsite_hash_key %></li>
<%      else %>
            <li><%= link_to category.category_label, :action=>"stream_list", :id=>category %></li>
<%      end %>
<% end %>
            <li class="active">
                <%= model_title(@seed) %>
            </li>
        </ol>
    </div>
</aside>
<article>
    <div class="container">
<!--
        <h1><%= model_title(@seed) %></h1>
        <p class="publish">
            <i class="fas fa-calendar-alt"></i> <%= publish_label(@seed) %>
<% unless @seed.staff.blank? || @seed.staff.staff_status==Staff::STAFF_BLOCKED %>
<%      if true || request.host == 'sr2.swifty.jp' %>
            <i class="fas fa-pencil-alt"></i> <a href="<%=url_for(:action=>'staff', :id=>@seed.staff, :wkey=>@website.wsite_hash_key) %>"><%= h model_name(@seed.staff) %></a>
<%      else %>
            <i class="fas fa-pencil-alt"></i> <a href="<%=url_for(:action=>'staff', :id=>@seed.staff) %>"><%= h model_name(@seed.staff) %></a>
<%      end %>
<% end %>
        </p>
-->
        <div class="content">
 <% unless @seed.description.blank? %><%= raw @seed.description %><% end %>
                            <% tag_cloud(@seed.tags.order(name: :asc), %w(css1 css2 css3 css4)) do |tag| %>
                                <% @seed.content_category.category_path(true).each do | category | %>
                                <% cat_url = url_for(:action=>'news_list', :id=>category, search_tags: [tag.name])%>
                                    <a href='<%= cat_url %>'>
                                        <span class='badge badge-primary '>
                                            #<%= tag3_icon %>&nbsp;<%= tag_name(tag) %>
                                        </span>
                                    </a>
                                <% end %>
                            <% end %>
        </div>
    </div>
    <%= leaf_navigation(@seed) %>
</article>
<!-- salon list -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/salon_list" %>
<!-- footer -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/footer" %>
<!-- header -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/header" %>
<!-- nav -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/navigation" %>
<!-- reserve -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/reserve" %>
<!-- script -->
<%= render :partial=>"#{LayoutScheme.asset_root}/lenahc.co.jp/common_js" %>
</body>
</html>
