<p>
	&copy; <%=Time.now.year%>  <%= BRAND_NAME %><br/>
	<% unless current_user.blank? %>
		<small>
			[
			<%= label_user_role(current_user.role)%>
			<% unless current_user.shop.blank? %>
				@
				<%= model_name(current_user.shop) %>
			<% end %>
			<% unless current_user.company.blank? %>
				<%= ('. '+model_name(current_user.company)) %>
			<% end %>
			]
			<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalUIEdit">
				<%= edit_icon('編集') %>&nbsp;旧バージョン…
			</button>
			<% if false %>
				<%= link_to 'Back To Original I/F', root_path, data: {"turbolinks" => false} %>
			<% end %>
		</small>
	<% end %>
</p>
<% unless current_user.blank? %>
<div class="modal fade" id="modalUIEdit" tabindex="-1" aria-labelledby="modalUIEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<%= form_for current_user, url: admin_shop_update_user_ui_path(id: current_user.id), method: :patch do |f| -%>
                <div class="modal-header">
                    <h5 class="modal-title">バージョン設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div class="form-group row">
						<div class="col-sm-4">
							<%= f.label :ui_version, 'バージョン選択', {class: 'form-label'} %>
						</div>
						<div class="col-sm-8 btn-group btn-group-toggle" data-toggle='buttons' role="group">
							<input type="radio" class="btn-check" name="user[ui_version]" id="btnradio30" value='' checked>
							<label class="btn btn-outline-primary" for="btnradio30">旧バージョン</label>

							<input type="radio" class="btn-check" name="user[ui_version]" id="btnradio31" value='6'>
							<label class="btn btn-outline-primary" for="btnradio31">新バージョン</label>

						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
					<button type="submit" class="btn btn-success btn-sm"><%= update_icon('更新') %>&nbsp;更新</button>
                </div>
			<% end %>
        </div>
    </div>
</div>
<% end  %>
