<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
        	<%= BRAND_NAME %>
			<% unless current_user.blank? %>
				<% if !current_user.shop.blank? %>
					:
					<%= model_name(current_user.shop) %>
				<% elsif !current_user.company.blank? %>
					:
					<%= model_name(current_user.company) %>
				<% end %>
			<% end %>
		</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		
		<!-- hikaru -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "main.css" if false %>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if IE 7]>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->
        <%= stylesheet_link_tag "pagination.css" if false  %>
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />

		<%= stylesheet_link_tag "ajax-tooltip/ajax-tooltip.css"  if false  %>
		<%= stylesheet_link_tag "jstree/style.min.css"  if false %>


		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "main.js"  if false %>
		<%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min.js"  if false %>	
		
		<%= javascript_include_tag "ajax-tooltip/ajax-dynamic-content.js"  if false  %>	
		<%= javascript_include_tag "ajax-tooltip/ajax-alt.js"  if false  %>	
		<%= javascript_include_tag "ajax-tooltip/ajax-tooltip.js"  if false %>	

		<%= javascript_include_tag "tinymce_4_7_6/tinymce.min.js"  if false %>
		<%= javascript_include_tag "jstree/jstree.min.js"  if false %>	

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->



        <div class="container">
			<% unless current_user.blank? %>
				<% if !current_user.shop.blank? %>
					<% @shop = current_user.shop unless @shop.blank? %>
					<%= render :partial=>"layouts/user_navigation" %>
				<% elsif !current_user.company.blank? %>
					<%= render :partial=>"layouts/owner_navigation" %>
				<% elsif 		current_user.role==User::ROLE_SALES %>
					<%= render :partial=>"layouts/sales_navigation" %>
				<% elsif 		current_user.role>=User::ROLE_REGISTRAR %>
					<%= render :partial=>"layouts/super_navigation" %>
				<% end %>
			<% end %>

        	<%= yield %>

            <hr>

            <footer>
            	<%= render :partial=>'layouts/fuga_footer' %>
            </footer>

        </div> <!-- /container -->
    </body>
</html>
