<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
        	<%= BRAND_NAME %>
		</title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" async defer></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"></script>

        <script src="/lang/summernote-ja-JP.js"></script>

        <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
        <script type="text/javascript" src="/richtexteditor/rte.js"></script>
        <script type="text/javascript" src="/richtexteditor/lang/rte-lang-ja.js"></script>
        <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>

        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <script src="/image-resize.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
		<script src="https://cdn.tiny.cloud/1/yerya6mf6et2fghc0fw6ngz1saqim8j6xh4scv7bud1wu2lm/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <style type="text/css">
            <!--
            .container-fluid {
                font-size: 1.0rem;
            }
            -->
        </style>
    </head>
    <body class="gradient04">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

        <div class='container-fluid' style="padding-top:77px;">
            <% unless current_user.blank? %>
                <% @shop = current_user.shop %>
                <% if !@shop.blank? %>
                    <%= render :partial=>"layouts/fuga5_user_navigation" %>
                <% elsif 		current_user.role==User::ROLE_SALES %>
                    <%= render :partial=>"layouts/fuga5_sales_navigation" %>
                <% elsif 		current_user.role>=User::ROLE_OPERATOR %>
                    <%= render :partial=>"layouts/fuga5_navigation" %>
                <% end %>
            <% end %>
            <% unless flash[:alert].blank? %>
				<p class='alert alert-danger'><%= flash[:alert] %></p>
			<% end %>
        	<%= yield %>

            <hr>

            <footer>
            	<%= render :partial=>'layouts/fuga_footer_5' %>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
