<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"    content="IE=edge">
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<title><%= model_title(@seed.my_type_root_category) %> <%= model_name(@seed) %> - <%= @website.name %></title>
<% else %>
<title><%= model_name(@seed) %> - <%= @website.name %></title>
<% end %>
<meta name="viewport"                 content="initial-scale=1">
<meta name="format-detection"         content="telephone=no">
<meta name="format-detection"         content="address=no">
<meta name="application-name"         content="swifty2">
<meta name="Targeted Geographic Area" content="Japan">
<meta name="generator"                content="fuga">
<meta name="copyright"                content="<%= model_name(@website.company) %>">
<% if request.host.include?('swifty.jp') || request.host.include?('956.jp') %>
    <meta name="robots"                   content="noindex,nofollow">
<% end %>
<% unless @website.custom_metas.blank? %>
    <%= raw @website.custom_metas %>
<% end %>
<%= auto_discovery_link_tag :rss, "/news_feed.rss", :title => @website.name %>
<%
    @favicon = @website.favicon
    @webclip = @website.apple_touch_icon
%>
<% unless @favicon.blank? %>
<link href="<%= @favicon.clip.url() %>" rel="icon" type="image/vnd.microsoft.icon">
<link href="<%= @favicon.clip.url() %>" rel="shortcut icon" type="image/x-icon">
<% end %>
<% unless @webclip.blank? %>
<link rel="apple-touch-icon" href="<%= @webclip.clip.url() %>">
<% end %>
<script src="https://use.fontawesome.com/9e789611aa.js"></script>
<link rel="stylesheet" href="/stylesheets/assets/stylish_portfolio2-speed/style.css">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/style" %>
</head>
<!-- このサイトはIE9未満では正しく表示されません。 -->
<!--[if lt IE 9]>
<body class="ie8">
<![endif]-->
<!--[if IE 9]>
<body class="ie9">
<![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<body>
<!--<![endif]-->
<!-- サイトヘッダー -->
<header id="header">
    <div class="container">
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/header" %>
    </div>
</header>
<nav id="nav">
    <ul>
<!-- ナビゲーション -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/navigation" %>
    </ul>
</nav>
<!-- main -->
<%
    serif = VisualWidget.search_widget_bag_for(@website, "2334d0af16e576431dc71f245a9dfe0f")
    if serif.blank? || !serif.is_valid?
        serif = 0
    else
        serif = serif.data_string.to_i
    end
%>
<%  if serif == 1 %>
<main id="main" class="serif">
<%  else %>
<main id="main">
<%  end %>
    <div class="scroller">
        <aside id="breadcrumbs">
            <div class="container">
                <ol>
<% if true || request.host == 'sr2.swifty.jp' %>
                            <li><a href="/home?wkey=<%= @website.wsite_hash_key %>"><i class="fa fa-home"></i></a></li>
<% else %>
                            <li><a href="/home"><i class="fa fa-home"></i></a></li>
<% end %>
<% unless @seed.my_type_root_category.has_only_a_public_bag? %>
<% if true || request.host == 'sr2.swifty.jp' %>
                            <li><a href="<%= url_for(:action=>'stream_index', :id=>@seed.my_type_root_category, :wkey=>@website.wsite_hash_key) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% else %>
                            <li><a href="<%= url_for(:action=>'stream_index', :id=>@seed.my_type_root_category) %>"><%= model_title(@seed.my_type_root_category) %></a></li>
<% end %>
<% end %>
<% @seed.category_path.each do | category | %>
<% if true || request.host == 'sr2.swifty.jp' %>
                            <li><a href="<%= url_for(:action=>'stream_list', :id=>category, :wkey=>@website.wsite_hash_key) %>"><%= category.category_label %></a></li>
<% else %>
                            <li><a href="<%= url_for(:action=>'stream_list', :id=>category) %>"><%= category.category_label %></a></li>
<% end %>
<% end %>
                            <li><%= model_name(@seed) %></li>
                </ol>
            </div>
        </aside>
        <main>
            <article id="article" class="container">
                <h1><%= model_name(@seed) %></h1>
                <ul class="contents_list">
<%
    sons = @seed.sons
    sons << @seed
     @leafs = @seed.public_leafs.where("content_leafs.content_category_id IN (?)",sons).order(publish_from: :desc).order(created_at: :desc).paginate(:page => params[:page], :per_page=>PER_PAGE)
     @leafs = (@search_tags.blank?)? @leafs.all: @leafs.tagged_with(@search_tags)
    #c = ContentLeaf.public_leafs_condition
    #c.and "content_leafs.content_category_id", 'IN', sons
    #@leafs = ContentLeaf.paginate(:page => params[:page], :per_page=>PER_PAGE, :conditions=>c.where, :order=>'publish_from desc')
    @leafs.each do | leaf | @leaf = leaf
            publish   = leaf.publish_from.strftime("%Y-%m-%d")
            key_photo = key_photo(leaf)
            unless key_photo.blank?
                image_url = key_photo.clip.url(:panel)
            else
                image_url = '//placehold.it/256x256/ffffff/cccccc&amp;text='+publish
            end
            if true || request.host == 'sr2.swifty.jp'
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page, :wkey=>@website.wsite_hash_key)
            else
                content_url = url_for(:action=>'stream_show', :id=>@leaf, :page=>@page)
            end
%>
                            <li class="wrapper">
                                <div class="col-1p3">
                                    <div class="imgbox"><div style="background-image:url('<%= image_url %>');">
                                        <a href="<%= content_url %>"><img src="<%= image_url %>" alt=""></a>
                                    </div></div>
                                </div>
                                <div class="col-2p3">
                                    <h1><a href="<%= content_url %>"><%= h model_title(@leaf) %></a></h1>
                                    <p class="publish"><i class="fa fa-calendar"></i> <%= publish_label(@leaf) %></p>
                                    <p class="plain"><%= raw truncate(strip_tags(@leaf.description), :length=>150) unless @leaf.description.blank? %></p>
                                </div>
                            </li>
<%  end %>
                </ul>
            </article>
        </main>
        <aside class="pagination text-center">
<% if true || request.host == 'sr2.swifty.jp' %>
            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page, :wkey=>@website.wsite_hash_key }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% else %>
            <%= will_paginate(@leafs, :params=> {:action=>'stream_list', :id=>@seed, :page=>@page }, class: 'pagination', :previous_label=>'&#171;前', :next_label=>'次&#187;') %>
<% end %>
        </aside>
<!-- SNS Links -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/sns_links" %>
<!-- フットナビ -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/foot_nav" %>
<!-- サイトフッター -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/footer" %>
    </div>
</div>
<!-- common javascript -->
<%= render :partial=>"#{LayoutScheme.asset_root}/stylish_portfolio2-speed/common_js" %>
<!-- page specific javascript -->
<script src="/javascripts/assets/stylish_portfolio2-speed/common.js"></script>
<!-- social net javascript -->
<!-- google maps javascript -->
</body>
</html>
